Repository apache/lucene, changes with the labels that .github/labeler.yml gives for each.
All labels: module:analysis, module:benchmark, module:classification, module:core/codecs, module:core/FSTs, module:core/hnsw, module:core/index, module:core/search, module:core/store, module:demo, module:expressions, module:facet, module:grouping, module:highlighter, module:join, module:luke, module:misc, module:monitor, module:queries, module:queryparser, module:replicator, module:sandbox, module:spatial, module:spatial3d, module:suggest, module:test-framework

.github/labeler.yml:

# This file defines module label mappings for the Lucene project.
# Each module is associated with a set of file globs that, when matched,
# will trigger the corresponding label to be applied to pull requests.
#
# This configuration is used by the workflow defined in .github/workflows/label-pull-request.yml.
# If we are adding new labels or refactoring modules, we will need to modify this file globs here to ensure that the correct labels are applied.

# For more information on how to define globs, visit: https://github.com/actions/labeler

module:analysis:
  - changed-files:
      - any-glob-to-any-file: 'lucene/analysis/**'

module:benchmark:
  - changed-files:
      - any-glob-to-any-file: 'lucene/benchmark/**'

module:classification:
  - changed-files:
      - any-glob-to-any-file: 'lucene/classification/**'

module:core/codecs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/codecs/**', 'lucene/core/src/test/org/apache/lucene/codecs/**']

module:core/FSTs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/fst/**', 'lucene/core/src/test/org/apache/lucene/util/fst/**']

module:core/hnsw:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/hnsw/**', 'lucene/core/src/test/org/apache/lucene/util/hnsw/**']

module:core/index:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/index/**', 'lucene/core/src/test/org/apache/lucene/index/**']

module:core/search:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/search/**', 'lucene/core/src/test/org/apache/lucene/search/**']

module:core/store:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/store/**', 'lucene/core/src/test/org/apache/lucene/store/**']

module:core/other:
  - all:
      - changed-files:
          - any-glob-to-any-file: ['lucene/core/**']
          - all-globs-to-all-files:
              - '!lucene/core/src/java/org/apache/lucene/codecs/**'
              - '!lucene/core/src/test/org/apache/lucene/codecs/**'
              - '!lucene/core/src/java/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/test/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/java/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/test/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/java/org/apache/lucene/index/**'
              - '!lucene/core/src/test/org/apache/lucene/index/**'
              - '!lucene/core/src/java/org/apache/lucene/search/**'
              - '!lucene/core/src/test/org/apache/lucene/search/**'
              - '!lucene/core/src/java/org/apache/lucene/store/**'
              - '!lucene/core/src/test/org/apache/lucene/store/**'

module:demo:
  - changed-files:
      - any-glob-to-any-file: 'lucene/demo/**'

module:expressions:
  - changed-files:
      - any-glob-to-any-file: 'lucene/expressions/**'

module:facet:
  - changed-files:
      - any-glob-to-any-file: 'lucene/facet/**'

module:grouping:
  - changed-files:
      - any-glob-to-any-file: 'lucene/grouping/**'

module:highlighter:
  - changed-files:
      - any-glob-to-any-file: 'lucene/highlighter/**'

module:join:
  - changed-files:
      - any-glob-to-any-file: 'lucene/join/**'

module:luke:
  - changed-files:
      - any-glob-to-any-file: 'lucene/luke/**'

module:misc:
  - changed-files:
      - any-glob-to-any-file: 'lucene/misc/**'

module:monitor:
  - changed-files:
      - any-glob-to-any-file: 'lucene/monitor/**'

module:queries:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queries/**'

module:queryparser:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queryparser/**'

module:replicator:
  - changed-files:
      - any-glob-to-any-file: 'lucene/replicator/**'

module:sandbox:
  - changed-files:
      - any-glob-to-any-file: 'lucene/sandbox/**'

module:spatial:
  - changed-files:
      - any-glob-to-any-file: ['lucene/spatial-extras/**', 'lucene/spatial-test-fixtures/**']

module:spatial3d:
  - changed-files:
      - any-glob-to-any-file: 'lucene/spatial3d/**'

module:suggest:
  - changed-files:
      - any-glob-to-any-file: 'lucene/suggest/**'

module:test-framework:
  - changed-files:
      - any-glob-to-any-file: 'lucene/test-framework/**'

Add test
  lucene/core/src/java/org/apache/lucene/search/BooleanScorerSupplier.java
  lucene/core/src/test/org/apache/lucene/search/TestBoolean2ScorerSupplier.java
Labels: module:core/search

CHANGES
  lucene/CHANGES.txt
Labels: none

Allow docID == NO_MORE_DOCS in AssertingDocValues#intoBitSet (#14555)
  lucene/test-framework/src/java/org/apache/lucene/tests/index/AssertingLeafReader.java
Labels: module:test-framework

Allow docID == NO_MORE_DOCS in AssertingDocValues#intoBitSet (#14555)
  lucene/test-framework/src/java/org/apache/lucene/tests/index/AssertingLeafReader.java
Labels: module:test-framework

fix
  lucene/core/src/java/org/apache/lucene/index/DocValuesFieldUpdates.java
Labels: module:core/index

Update lucene/core/src/java/org/apache/lucene/search/BooleanScorerSupplier.java
  lucene/core/src/java/org/apache/lucene/search/BooleanScorerSupplier.java
Labels: module:core/search

Fix test failures.
  lucene/core/src/test/org/apache/lucene/search/TestBoolean2ScorerSupplier.java
Labels: module:core/search

comment
  lucene/core/src/test/org/apache/lucene/search/TestBoolean2ScorerSupplier.java
Labels: module:core/search

refactor
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsReader.java
  lucene/core/src/java/org/apache/lucene/index/SlowImpactsEnum.java
Labels: module:core/codecs, module:core/index

Fixed failing checkIndex tests
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsReader.java
  lucene/core/src/java/org/apache/lucene/index/SlowImpactsEnum.java
Labels: module:core/codecs, module:core/index

Addressed comments
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsReader.java
Labels: module:core/codecs

Ensuring skip list is read for fields indexed with only DOCS
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsReader.java
Labels: module:core/codecs

Fixed formatting
  lucene/core/src/java/org/apache/lucene/index/SlowImpactsEnum.java
Labels: module:core/index

Moved change log to 10.2.1
  lucene/CHANGES.txt
Labels: none

Add changes entry
  lucene/CHANGES.txt
Labels: none

check pass
  lucene/core/src/java/org/apache/lucene/index/DocValuesFieldUpdates.java
Labels: module:core/index

Rebased and moved to 10.2.1
  lucene/CHANGES.txt
Labels: none

Rebased and moved to 10.2.1
  lucene/CHANGES.txt
Labels: none

Same bug fix for 101PostingsReader
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene101/Lucene101PostingsReader.java
Labels: none

Same bug fix for 101PostingsReader
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene101/Lucene101PostingsReader.java
Labels: none

iter
  lucene/core/src/java/org/apache/lucene/index/DocValuesFieldUpdates.java
Labels: module:core/index

Formatting
  lucene/CHANGES.txt
Labels: none

Provide better impacts for fields indexed with IndexOptions.DOCS (#14511)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/Lucene101PostingsReader.java
Labels: module:core/codecs

Provide better impacts for fields indexed with IndexOptions.DOCS (#14511)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/Lucene101PostingsReader.java
Labels: module:core/codecs

Fix leadCost calculation in BooleanScorerSupplier.requiredBulkScorer (#14543)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/BooleanScorerSupplier.java
  lucene/core/src/test/org/apache/lucene/search/TestBoolean2ScorerSupplier.java
Labels: module:core/search

Fix leadCost calculation in BooleanScorerSupplier.requiredBulkScorer (#14543)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/BooleanScorerSupplier.java
  lucene/core/src/test/org/apache/lucene/search/TestBoolean2ScorerSupplier.java
Labels: module:core/search

Fix leadCost calculation in BooleanScorerSupplier.requiredBulkScorer (#14543)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/BooleanScorerSupplier.java
  lucene/core/src/test/org/apache/lucene/search/TestBoolean2ScorerSupplier.java
Labels: module:core/search

Provide better impacts for fields indexed with IndexOptions.DOCS (#14511)
  lucene/CHANGES.txt
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene101/Lucene101PostingsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsReader.java
Labels: module:core/codecs

Provide better impacts for fields indexed with IndexOptions.DOCS (#14558)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/Lucene101PostingsReader.java
Labels: module:core/codecs

Provide better impacts for fields indexed with IndexOptions.DOCS (#14511)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/Lucene101PostingsReader.java
Labels: module:core/codecs

Fix stopwords.txt: Alphabetical order corrected, malformed entries normalized
  lucene/analysis/common/src/resources/org/apache/lucene/analysis/tr/stopwords.txt
Labels: module:analysis

Enabling point tree collector for point range queries
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/HistogramCollector.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/PointTreeBulkCollector.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/facet/plain/histograms/TestHistogramCollectorManager.java
Labels: module:sandbox

Enabling point range collector if doc values not indexed
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/HistogramCollector.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/facet/plain/histograms/TestHistogramCollectorManager.java
Labels: module:sandbox

Minor correctness changes
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/HistogramCollector.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/PointTreeBulkCollector.java
Labels: module:sandbox

Fixing unit test issue
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/PointTreeBulkCollector.java
Labels: module:sandbox

Set Faiss to v1.11.0
  .github/workflows/run-special-checks-sandbox.yml
  lucene/sandbox/src/java/org/apache/lucene/sandbox/codecs/faiss/LibFaissC.java
Labels: module:sandbox

Minor fix
  lucene/sandbox/src/java/org/apache/lucene/sandbox/codecs/faiss/FaissKnnVectorsReader.java
Labels: module:sandbox

Clarifying comment
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/PointTreeBulkCollector.java
Labels: module:sandbox

simplify
  lucene/core/src/java/org/apache/lucene/index/DocValuesFieldUpdates.java
  lucene/core/src/java/org/apache/lucene/index/NumericDocValuesFieldUpdates.java
  lucene/core/src/java/org/apache/lucene/index/ReadersAndUpdates.java
Labels: module:core/index

iter
  lucene/core/src/java/org/apache/lucene/index/DocValuesFieldUpdates.java
  lucene/core/src/java/org/apache/lucene/index/NumericDocValuesFieldUpdates.java
Labels: module:core/index
