Repository apache/lucene, changes with the labels that .github/labeler.yml gives for each.
All labels: module:analysis, module:benchmark, module:classification, module:core/codecs, module:core/FSTs, module:core/hnsw, module:core/index, module:core/search, module:core/store, module:demo, module:expressions, module:facet, module:grouping, module:highlighter, module:join, module:luke, module:misc, module:monitor, module:queries, module:queryparser, module:replicator, module:sandbox, module:spatial, module:spatial3d, module:suggest, module:test-framework

.github/labeler.yml:

# This file defines module label mappings for the Lucene project.
# Each module is associated with a set of file globs that, when matched,
# will trigger the corresponding label to be applied to pull requests.
#
# This configuration is used by the workflow defined in .github/workflows/label-pull-request.yml.
# If we are adding new labels or refactoring modules, we will need to modify this file globs here to ensure that the correct labels are applied.

# For more information on how to define globs, visit: https://github.com/actions/labeler

module:analysis:
  - changed-files:
      - any-glob-to-any-file: 'lucene/analysis/**'

module:benchmark:
  - changed-files:
      - any-glob-to-any-file: 'lucene/benchmark/**'

module:classification:
  - changed-files:
      - any-glob-to-any-file: 'lucene/classification/**'

module:core/codecs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/codecs/**', 'lucene/core/src/test/org/apache/lucene/codecs/**']

module:core/FSTs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/fst/**', 'lucene/core/src/test/org/apache/lucene/util/fst/**']

module:core/hnsw:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/hnsw/**', 'lucene/core/src/test/org/apache/lucene/util/hnsw/**']

module:core/index:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/index/**', 'lucene/core/src/test/org/apache/lucene/index/**']

module:core/search:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/search/**', 'lucene/core/src/test/org/apache/lucene/search/**']

module:core/store:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/store/**', 'lucene/core/src/test/org/apache/lucene/store/**']

module:core/other:
  - all:
      - changed-files:
          - any-glob-to-any-file: ['lucene/core/**']
          - all-globs-to-all-files:
              - '!lucene/core/src/java/org/apache/lucene/codecs/**'
              - '!lucene/core/src/test/org/apache/lucene/codecs/**'
              - '!lucene/core/src/java/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/test/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/java/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/test/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/java/org/apache/lucene/index/**'
              - '!lucene/core/src/test/org/apache/lucene/index/**'
              - '!lucene/core/src/java/org/apache/lucene/search/**'
              - '!lucene/core/src/test/org/apache/lucene/search/**'
              - '!lucene/core/src/java/org/apache/lucene/store/**'
              - '!lucene/core/src/test/org/apache/lucene/store/**'

module:demo:
  - changed-files:
      - any-glob-to-any-file: 'lucene/demo/**'

module:expressions:
  - changed-files:
      - any-glob-to-any-file: 'lucene/expressions/**'

module:facet:
  - changed-files:
      - any-glob-to-any-file: 'lucene/facet/**'

module:grouping:
  - changed-files:
      - any-glob-to-any-file: 'lucene/grouping/**'

module:highlighter:
  - changed-files:
      - any-glob-to-any-file: 'lucene/highlighter/**'

module:join:
  - changed-files:
      - any-glob-to-any-file: 'lucene/join/**'

module:luke:
  - changed-files:
      - any-glob-to-any-file: 'lucene/luke/**'

module:misc:
  - changed-files:
      - any-glob-to-any-file: 'lucene/misc/**'

module:monitor:
  - changed-files:
      - any-glob-to-any-file: 'lucene/monitor/**'

module:queries:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queries/**'

module:queryparser:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queryparser/**'

module:replicator:
  - changed-files:
      - any-glob-to-any-file: 'lucene/replicator/**'

module:sandbox:
  - changed-files:
      - any-glob-to-any-file: 'lucene/sandbox/**'

module:spatial:
  - changed-files:
      - any-glob-to-any-file: ['lucene/spatial-extras/**', 'lucene/spatial-test-fixtures/**']

module:spatial3d:
  - changed-files:
      - any-glob-to-any-file: 'lucene/spatial3d/**'

module:suggest:
  - changed-files:
      - any-glob-to-any-file: 'lucene/suggest/**'

module:test-framework:
  - changed-files:
      - any-glob-to-any-file: 'lucene/test-framework/**'

MIGRATE
  lucene/MIGRATE.md
Labels: none

experimental
  lucene/core/src/java/org/apache/lucene/util/OffHeapAccountable.java
Labels: none

PointInSetQuery early exit on non-matching segments (#14268)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/PointInSetQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestPointQueries.java
Labels: module:core/search

PointInSetQuery early exit on non-matching segments (#14268)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/PointInSetQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestPointQueries.java
Labels: module:core/search

itr
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene90/Lucene90HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene91/Lucene91HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene92/Lucene92HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene94/Lucene94HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene95/Lucene95HnswVectorsReader.java
  lucene/codecs/src/java/org/apache/lucene/codecs/simpletext/SimpleTextKnnVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/KnnVectorsFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene102/Lucene102BinaryQuantizedVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99HnswVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99ScalarQuantizedVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/perfield/PerFieldKnnVectorsFormat.java
  lucene/core/src/java/org/apache/lucene/index/SlowCodecReaderWrapper.java
  lucene/core/src/java/org/apache/lucene/index/SlowCompositeCodecReaderWrapper.java
  lucene/core/src/java/org/apache/lucene/index/SortingCodecReader.java
  lucene/core/src/java/org/apache/lucene/util/OffHeapAccountable.java
  lucene/test-framework/src/java/org/apache/lucene/tests/codecs/asserting/AssertingKnnVectorsFormat.java
Labels: module:core/codecs, module:core/index, module:test-framework

itr
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99FlatVectorsReader.java
Labels: module:core/codecs

use tailSet for reduce lookups fix equality test
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/SortedNumericDocValuesMultiRangeQuery.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/search/TestSortedDvMultiRangeQuery.java
Labels: module:sandbox

expose nextVectorsBlock in KnnStrategy, no new KnnCollector/Decorator APIs
  lucene/core/src/java/org/apache/lucene/search/HnswQueueSaturationCollector.java
  lucene/core/src/java/org/apache/lucene/search/KnnCollector.java
  lucene/core/src/java/org/apache/lucene/search/TimeLimitingKnnCollectorManager.java
  lucene/core/src/java/org/apache/lucene/search/knn/KnnSearchStrategy.java
  lucene/core/src/java/org/apache/lucene/search/knn/MultiLeafKnnCollector.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/FilteredHnswGraphSearcher.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphSearcher.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/OrdinalTranslatedKnnCollector.java
  lucene/core/src/test/org/apache/lucene/search/TestHnswQueueSaturationCollector.java
  lucene/core/src/test/org/apache/lucene/search/TestSeededKnnByteVectorQuery.java
Labels: module:core/hnsw, module:core/search

review iter
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/Lucene90BlockTreeTermsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/TrieBuilder.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene90/blocktree/TestTrie.java
Labels: module:core/codecs

javadoc fix
  lucene/core/src/java/org/apache/lucene/search/knn/KnnSearchStrategy.java
Labels: module:core/search

javadoc fix
  lucene/core/src/java/org/apache/lucene/search/knn/KnnSearchStrategy.java
Labels: module:core/search

ecjLintMain
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/SortedNumericDocValuesMultiRangeQuery.java
Labels: module:sandbox

tidy
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/SortedNumericDocValuesMultiRangeQuery.java
Labels: module:sandbox

java doc
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/Lucene90BlockTreeTermsWriter.java
Labels: module:core/codecs

tidy fix
  lucene/core/src/java/org/apache/lucene/search/knn/KnnSearchStrategy.java
Labels: module:core/search

move comment
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/TrieBuilder.java
Labels: module:core/codecs

move to lucene103
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/ForDeltaUtil.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/ForUtil.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene101Codec.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene101PostingsFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene101PostingsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene101PostingsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/PForUtil.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/PostingIndexInput.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/PostingsUtil.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/CompressionAlgorithm.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/FieldReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/IntersectTermsEnum.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/IntersectTermsEnumFrame.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/Lucene90BlockTreeTermsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/Lucene90BlockTreeTermsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/SegmentTermsEnum.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/SegmentTermsEnumFrame.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/Stats.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/TrieBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/TrieReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/package-info.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/gen_ForDeltaUtil.py
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/gen_ForUtil.py
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/package-info.java
Labels: module:core/codecs

restore
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/ForDeltaUtil.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/ForUtil.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/Lucene101Codec.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/Lucene101PostingsFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/Lucene101PostingsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/Lucene101PostingsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/PForUtil.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/PostingIndexInput.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/PostingsUtil.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/gen_ForDeltaUtil.py
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/gen_ForUtil.py
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/package-info.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/CompressionAlgorithm.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/FieldReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/IntersectTermsEnum.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/IntersectTermsEnumFrame.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/Lucene90BlockTreeTermsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/Lucene90BlockTreeTermsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/SegmentTermsEnum.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/SegmentTermsEnumFrame.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/Stats.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/TrieBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/TrieReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/package-info.java
Labels: module:core/codecs

move tests
  lucene/core/src/test/org/apache/lucene/codecs/lucene103/TestForDeltaUtil.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene103/TestForUtil.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene103/TestLucene101PostingsFormat.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene103/TestLucene101PostingsFormatV0.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene103/TestPForUtil.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene103/TestPostingsUtil.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene103/blocktree/TestTrie.java
Labels: module:core/codecs

restore
  lucene/core/src/test/org/apache/lucene/codecs/lucene101/TestForDeltaUtil.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene101/TestForUtil.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene101/TestLucene101PostingsFormat.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene101/TestLucene101PostingsFormatV0.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene101/TestPForUtil.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene101/TestPostingsUtil.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene90/blocktree/TestTrie.java
Labels: module:core/codecs

rename to lucene103
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/ForDeltaUtil.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/ForUtil.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103Codec.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/PForUtil.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/PostingIndexInput.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/PostingsUtil.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/CompressionAlgorithm.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/FieldReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/IntersectTermsEnum.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/IntersectTermsEnumFrame.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/Lucene103BlockTreeTermsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/Lucene103BlockTreeTermsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/SegmentTermsEnum.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/SegmentTermsEnumFrame.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/Stats.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/TrieBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/TrieReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/package-info.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/gen_ForDeltaUtil.py
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/gen_ForUtil.py
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/package-info.java
  lucene/core/src/java/org/apache/lucene/internal/vectorization/VectorizationProvider.java
  lucene/core/src/resources/META-INF/services/org.apache.lucene.codecs.PostingsFormat
  lucene/core/src/test/org/apache/lucene/codecs/lucene103/TestForDeltaUtil.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene103/TestForUtil.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene103/TestLucene101PostingsFormatV0.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene103/TestLucene103PostingsFormat.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene103/TestPForUtil.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene103/TestPostingsUtil.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene103/blocktree/TestTrie.java
Labels: module:core/codecs

Reduce the number of comparisons when lowerPoint is equal to upperPoint
  lucene/core/src/java/org/apache/lucene/search/PointRangeQuery.java
Labels: module:core/search

code format and add test
  lucene/core/src/java/org/apache/lucene/search/PointRangeQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestPointQueries.java
Labels: module:core/search

add change
  lucene/CHANGES.txt
Labels: none

code refactoring
  lucene/core/src/java/org/apache/lucene/search/PointRangeQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestPointQueries.java
Labels: module:core/search

restore lucene90 block tree
  lucene/core/src/java/module-info.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/FieldReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/IntersectTermsEnum.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/IntersectTermsEnumFrame.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/Lucene90BlockTreeTermsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/Lucene90BlockTreeTermsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/SegmentTermsEnum.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/SegmentTermsEnumFrame.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/TrieBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/TrieReader.java
  lucene/core/src/resources/META-INF/services/org.apache.lucene.codecs.Codec
  lucene/core/src/test/org/apache/lucene/codecs/lucene103/TestLucene103PostingsFormat.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene90/blocktree/TestMSBVLong.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene90/blocktree/TestTrie.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/RandomCodec.java
Labels: module:core/codecs, module:test-framework

Separating query timers at global/slice level
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QueryProfilerBreakdown.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QueryProfilerTimingType.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QuerySliceProfilerBreakdown.java
Labels: module:sandbox

more typo fix
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103Codec.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/IntersectTermsEnumFrame.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/Lucene103BlockTreeTermsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/Stats.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/package-info.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/package-info.java
Labels: module:core/codecs

add a change log
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/package-info.java
Labels: module:core/codecs

CHANGES entry
  lucene/CHANGES.txt
Labels: none

no need to have lucene103 codec
  lucene/core/src/resources/META-INF/services/org.apache.lucene.codecs.Codec
Labels: none

provide Lucene103PostingsFormat
  lucene/core/src/java/module-info.java
Labels: none

export blocktree
  lucene/core/src/java/module-info.java
Labels: none

Follow-up to Faiss PRs
  .github/workflows/run-special-checks-sandbox.yml
  gradle/testing/randomization.gradle
  lucene/sandbox/src/java/org/apache/lucene/sandbox/codecs/faiss/FaissKnnVectorsWriter.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/codecs/faiss/LibFaissC.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/codecs/faiss/TestFaissKnnVectorsFormat.java
Labels: module:sandbox

fix doc
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/Lucene103BlockTreeTermsWriter.java
Labels: module:core/codecs

Disable the query cache by default. (#14187)
  lucene/CHANGES.txt
  lucene/MIGRATE.md
  lucene/core/src/java/org/apache/lucene/search/IndexSearcher.java
Labels: module:core/search

Add a HNSW collector that exits early when nearest neighbor queue saturates (#14094)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/HnswQueueSaturationCollector.java
  lucene/core/src/java/org/apache/lucene/search/PatienceKnnVectorQuery.java
  lucene/core/src/java/org/apache/lucene/search/knn/KnnSearchStrategy.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/FilteredHnswGraphSearcher.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphSearcher.java
  lucene/core/src/test/org/apache/lucene/search/TestHnswQueueSaturationCollector.java
  lucene/core/src/test/org/apache/lucene/search/TestPatienceByteVectorQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestPatienceFloatVectorQuery.java
Labels: module:core/hnsw, module:core/search

Add a HNSW collector that exits early when nearest neighbor queue saturates (#14094)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/HnswQueueSaturationCollector.java
  lucene/core/src/java/org/apache/lucene/search/PatienceKnnVectorQuery.java
  lucene/core/src/java/org/apache/lucene/search/knn/KnnSearchStrategy.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/FilteredHnswGraphSearcher.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphSearcher.java
  lucene/core/src/test/org/apache/lucene/search/TestHnswQueueSaturationCollector.java
  lucene/core/src/test/org/apache/lucene/search/TestPatienceByteVectorQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestPatienceFloatVectorQuery.java
Labels: module:core/hnsw, module:core/search

Add a HNSW collector that exits early when nearest neighbor queue saturates (#14094)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/HnswQueueSaturationCollector.java
  lucene/core/src/java/org/apache/lucene/search/PatienceKnnVectorQuery.java
  lucene/core/src/java/org/apache/lucene/search/knn/KnnSearchStrategy.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/FilteredHnswGraphSearcher.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphSearcher.java
  lucene/core/src/test/org/apache/lucene/search/TestHnswQueueSaturationCollector.java
  lucene/core/src/test/org/apache/lucene/search/TestPatienceByteVectorQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestPatienceFloatVectorQuery.java
Labels: module:core/hnsw, module:core/search

major refactor - move to per-field metrics
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene90/Lucene90HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene91/Lucene91HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene92/Lucene92HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene94/Lucene94HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene95/Lucene95HnswVectorsReader.java
  lucene/codecs/src/java/org/apache/lucene/codecs/simpletext/SimpleTextKnnVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/KnnVectorsFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/KnnVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene102/Lucene102BinaryQuantizedVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99FlatVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99HnswVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99ScalarQuantizedVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/perfield/PerFieldKnnVectorsFormat.java
  lucene/core/src/java/org/apache/lucene/index/SlowCodecReaderWrapper.java
  lucene/core/src/java/org/apache/lucene/index/SlowCompositeCodecReaderWrapper.java
  lucene/core/src/java/org/apache/lucene/index/SortingCodecReader.java
  lucene/core/src/java/org/apache/lucene/util/OffHeapAccountable.java
  lucene/test-framework/src/java/org/apache/lucene/tests/codecs/asserting/AssertingKnnVectorsFormat.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseKnnVectorsFormatTestCase.java
Labels: module:core/codecs, module:core/index, module:test-framework
