Repository apache/lucene, changes with the labels that .github/labeler.yml gives for each.
All labels: module:analysis, module:benchmark, module:classification, module:core/codecs, module:core/FSTs, module:core/hnsw, module:core/index, module:core/search, module:core/store, module:demo, module:expressions, module:facet, module:grouping, module:highlighter, module:join, module:luke, module:misc, module:monitor, module:queries, module:queryparser, module:replicator, module:sandbox, module:spatial, module:spatial3d, module:suggest, module:test-framework

Numerics Multi-Range query
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/DocValuesMultiRangeQuery.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/SortedNumericDocValuesMultiRangeQuery.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/search/TestSsDvMultiRangeQuery.java
Labels: module:sandbox

javadoc
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/DocValuesMultiRangeQuery.java
Labels: module:sandbox

tidy
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/SortedNumericDocValuesMultiRangeQuery.java
Labels: module:sandbox

ecjLintMain
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/SortedNumericDocValuesMultiRangeQuery.java
Labels: module:sandbox

use tailSet for reduce lookups fix equality test
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/SortedNumericDocValuesMultiRangeQuery.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/search/TestSortedDvMultiRangeQuery.java
Labels: module:sandbox

Rename constants to be in line with Classfile library's ConstantDescs; wrap ParseExceptions using helper method
  lucene/expressions/src/java/org/apache/lucene/expressions/js/JavascriptCompiler.java
Labels: module:expressions

Add CHANGES.txt
  lucene/CHANGES.txt
Labels: none

Rewrite expressions module with Java 24 classfile API (#14597)
  gradle/libs.versions.toml
  lucene/CHANGES.txt
  lucene/expressions/build.gradle
  lucene/expressions/src/java/module-info.java
  lucene/expressions/src/java/org/apache/lucene/expressions/js/JavascriptCompiler.java
  lucene/licenses/asm-9.8.jar.sha1
  lucene/licenses/asm-LICENSE-BSD_LIKE.txt
  lucene/licenses/asm-NOTICE.txt
  lucene/licenses/asm-commons-9.8.jar.sha1
  lucene/licenses/asm-commons-LICENSE-BSD_LIKE.txt
  lucene/licenses/asm-commons-NOTICE.txt
  lucene/licenses/asm-tree-9.8.jar.sha1
  versions.lock
Labels: module:expressions

Initial update to google's 'official' version. Removed annotation processor configuration from versions.lock - it does not seem to be relevant to us.
  gradle/libs.versions.toml
  gradle/validation/dependencies.gradle
  lucene/spatial-extras/src/java/module-info.java
  lucene/spatial-extras/src/java/org/apache/lucene/spatial/prefix/tree/S2PrefixTree.java
  lucene/spatial-extras/src/test/org/apache/lucene/spatial/prefix/tree/TestS2PrefixTree.java
  versions.lock
Labels: module:spatial

changes
  lucene/CHANGES.txt
Labels: none

Changes for API to allow updating indexCreatedVersionMajor for SegmentsInfos under the right conditions
  lucene/core/src/java/org/apache/lucene/index/IndexWriter.java
  lucene/core/src/java/org/apache/lucene/index/SegmentInfos.java
Labels: module:core/index

An attempt to make jenkins pass with the currently installed jdk24-ea. To be reverted later. #14600
  gradle/java/javac.gradle
  gradle/testing/alternative-jdk-support.gradle
Labels: none

Use types directly using describeConstable().orElseThrow() like the official documentation of classfile API recommends (#14597)
  lucene/expressions/src/java/org/apache/lucene/expressions/js/JavascriptCompiler.java
Labels: module:expressions

Add the required dependencies, licenses and exclude ecj linter.
  lucene/licenses/failureaccess-1.0.3.jar.sha1
  lucene/licenses/failureaccess-LICENSE-ASL.txt
  lucene/licenses/failureaccess-NOTICE.txt
  lucene/licenses/guava-33.4.8-jre.jar.sha1
  lucene/licenses/guava-LICENSE-ASL.txt
  lucene/licenses/guava-NOTICE.txt
  lucene/licenses/s2-geometry-2.0.0.jar.sha1
  lucene/licenses/s2-geometry-LICENSE-ASL.txt
  lucene/licenses/s2-geometry-NOTICE.txt
  lucene/licenses/s2-geometry-library-java-1.0.0.jar.sha1
  lucene/spatial-extras/build.gradle
  lucene/spatial-extras/src/java/module-info.java
  lucene/spatial-extras/src/java/org/apache/lucene/spatial/prefix/tree/S2PrefixTree.java
  lucene/spatial-extras/src/test/org/apache/lucene/spatial/prefix/tree/TestS2PrefixTree.java
Labels: module:spatial

Move guava to libs.versions.toml.
  gradle/libs.versions.toml
  lucene/spatial-extras/build.gradle
  versions.lock
Labels: module:spatial

Revert "An attempt to make jenkins pass with the currently installed jdk24-ea. To be reverted later. #14600"
  gradle/java/javac.gradle
  gradle/testing/alternative-jdk-support.gradle
Labels: none

review iter and change counter to AtomicInterger
  lucene/core/src/test/org/apache/lucene/index/TestForTooMuchCloning.java
Labels: module:core/index

Disallow EA versions to run Gradle
  gradle/validation/check-environment.gradle
Labels: none

Be more strict like message says
  gradle/validation/check-environment.gradle
Labels: none

DOAP changes for release 10.2.1
  dev-tools/doap/lucene.rdf
Labels: none

DOAP changes for release 10.2.1
  dev-tools/doap/lucene.rdf
Labels: none

DOAP changes for release 10.2.1
  dev-tools/doap/lucene.rdf
Labels: none

Add Lucene 10.2.1 version constant
  lucene/core/src/java/org/apache/lucene/util/Version.java
Labels: none

Add back-compat indices for 10.2.1
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/index.10.2.1-cfs.zip
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/index.10.2.1-nocfs.zip
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/int7_hnsw.10.2.1.zip
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/sorted.10.2.1.zip
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/versions.txt
Labels: none

Add back-compat indices for 10.2.1
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/index.10.2.1-cfs.zip
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/index.10.2.1-nocfs.zip
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/int7_hnsw.10.2.1.zip
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/sorted.10.2.1.zip
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/versions.txt
Labels: none

Add back-compat indices for 10.2.1
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/index.10.2.1-cfs.zip
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/index.10.2.1-nocfs.zip
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/int7_hnsw.10.2.1.zip
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/sorted.10.2.1.zip
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/versions.txt
Labels: none

Refactors the Expressions compiler to use the official ClassData BSM for indexed lookup
  lucene/expressions/src/java/org/apache/lucene/expressions/js/JavascriptCompiler.java
  lucene/expressions/src/test/org/apache/lucene/expressions/js/TestCustomFunctions.java
Labels: module:expressions

tidy & CHANGES.txt
  lucene/CHANGES.txt
  lucene/expressions/src/test/org/apache/lucene/expressions/js/TestCustomFunctions.java
Labels: module:expressions

Disallow EA versions to run Gradle (#14601)
  gradle/validation/check-environment.gradle
Labels: none

Disallow EA versions to run Gradle (#14601)
  gradle/validation/check-environment.gradle
Labels: none

Refactor the expressions compiler to use official ClassData BSM with indexed lookup (#14602)
  lucene/CHANGES.txt
  lucene/expressions/src/java/org/apache/lucene/expressions/js/JavascriptCompiler.java
  lucene/expressions/src/test/org/apache/lucene/expressions/js/TestCustomFunctions.java
Labels: module:expressions

BACKPORT: Refactor the expressions compiler to use official ClassData BSM with indexed lookup (#14602)
  lucene/CHANGES.txt
  lucene/expressions/src/java/org/apache/lucene/expressions/js/JavascriptCompiler.java
  lucene/expressions/src/test/org/apache/lucene/expressions/js/TestCustomFunctions.java
Labels: module:expressions

Remove duplicate test (#14602)
  lucene/expressions/src/test/org/apache/lucene/expressions/js/TestCustomFunctions.java
  lucene/expressions/src/test/org/apache/lucene/expressions/js/TestJavascriptFunction.java
Labels: module:expressions

Remove duplicate test (#14602)
  lucene/expressions/src/test/org/apache/lucene/expressions/js/TestCustomFunctions.java
  lucene/expressions/src/test/org/apache/lucene/expressions/js/TestJavascriptFunction.java
Labels: module:expressions

Remove expressions module deprecations and use java 21 apis (followup of #14602)
  lucene/expressions/src/java/org/apache/lucene/expressions/js/JavascriptCompiler.java
Labels: module:expressions

Remove RANDOM_PRELOAD read advice, which is not actually used (#14593)
  lucene/MIGRATE.md
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene90/blocktree/Lucene90BlockTreeTermsReader.java
  lucene/codecs/src/java/org/apache/lucene/codecs/memory/FSTTermsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/Lucene103BlockTreeTermsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90PointsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/compressing/FieldsIndexReader.java
  lucene/core/src/java/org/apache/lucene/store/PosixNativeAccess.java
  lucene/core/src/java/org/apache/lucene/store/ReadAdvice.java
  lucene/core/src/test/org/apache/lucene/index/TestDefaultCodecParallelizesIO.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/SerialIOCountingDirectory.java
Labels: module:core/codecs, module:core/index, module:core/store, module:test-framework

Remove RANDOM_PRELOAD read advice, which is not actually used (#14593)
  lucene/MIGRATE.md
  lucene/codecs/src/java/org/apache/lucene/codecs/memory/FSTTermsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90PointsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/Lucene90BlockTreeTermsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/compressing/FieldsIndexReader.java
  lucene/core/src/java/org/apache/lucene/store/ReadAdvice.java
  lucene/core/src/java21/org/apache/lucene/store/PosixNativeAccess.java
  lucene/core/src/test/org/apache/lucene/index/TestDefaultCodecParallelizesIO.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/SerialIOCountingDirectory.java
Labels: module:core/codecs, module:core/index, module:core/store, module:test-framework

MultiRange query for SortedNumeric DocValues (#14404)
  lucene/CHANGES.txt
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/DocValuesMultiRangeQuery.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/SortedNumericDocValuesMultiRangeQuery.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/search/TestSortedDvMultiRangeQuery.java
Labels: module:sandbox

MultiRange query for SortedNumeric DocValues (#14404)
  lucene/CHANGES.txt
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/DocValuesMultiRangeQuery.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/SortedNumericDocValuesMultiRangeQuery.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/search/TestSortedDvMultiRangeQuery.java
Labels: module:sandbox

MultiRange query for SortedNumeric DocValues (#14404) (#14605)
  lucene/CHANGES.txt
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/DocValuesMultiRangeQuery.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/SortedNumericDocValuesMultiRangeQuery.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/search/TestSortedDvMultiRangeQuery.java
Labels: module:sandbox

.github/labeler.yml:

# This file defines module label mappings for the Lucene project.
# Each module is associated with a set of file globs that, when matched,
# will trigger the corresponding label to be applied to pull requests.
#
# This configuration is used by the workflow defined in .github/workflows/label-pull-request.yml.
# If we are adding new labels or refactoring modules, we will need to modify this file globs here to ensure that the correct labels are applied.

# For more information on how to define globs, visit: https://github.com/actions/labeler

module:analysis:
  - changed-files:
      - any-glob-to-any-file: 'lucene/analysis/**'

module:benchmark:
  - changed-files:
      - any-glob-to-any-file: 'lucene/benchmark/**'

module:classification:
  - changed-files:
      - any-glob-to-any-file: 'lucene/classification/**'

module:core/codecs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/codecs/**', 'lucene/core/src/test/org/apache/lucene/codecs/**']

module:core/FSTs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/fst/**', 'lucene/core/src/test/org/apache/lucene/util/fst/**']

module:core/hnsw:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/hnsw/**', 'lucene/core/src/test/org/apache/lucene/util/hnsw/**']

module:core/index:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/index/**', 'lucene/core/src/test/org/apache/lucene/index/**']

module:core/search:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/search/**', 'lucene/core/src/test/org/apache/lucene/search/**']

module:core/store:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/store/**', 'lucene/core/src/test/org/apache/lucene/store/**']

module:core/other:
  - all:
      - changed-files:
          - any-glob-to-any-file: ['lucene/core/**']
          - all-globs-to-all-files:
              - '!lucene/core/src/java/org/apache/lucene/codecs/**'
              - '!lucene/core/src/test/org/apache/lucene/codecs/**'
              - '!lucene/core/src/java/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/test/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/java/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/test/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/java/org/apache/lucene/index/**'
              - '!lucene/core/src/test/org/apache/lucene/index/**'
              - '!lucene/core/src/java/org/apache/lucene/search/**'
              - '!lucene/core/src/test/org/apache/lucene/search/**'
              - '!lucene/core/src/java/org/apache/lucene/store/**'
              - '!lucene/core/src/test/org/apache/lucene/store/**'

module:demo:
  - changed-files:
      - any-glob-to-any-file: 'lucene/demo/**'

module:expressions:
  - changed-files:
      - any-glob-to-any-file: 'lucene/expressions/**'

module:facet:
  - changed-files:
      - any-glob-to-any-file: 'lucene/facet/**'

module:grouping:
  - changed-files:
      - any-glob-to-any-file: 'lucene/grouping/**'

module:highlighter:
  - changed-files:
      - any-glob-to-any-file: 'lucene/highlighter/**'

module:join:
  - changed-files:
      - any-glob-to-any-file: 'lucene/join/**'

module:luke:
  - changed-files:
      - any-glob-to-any-file: 'lucene/luke/**'

module:misc:
  - changed-files:
      - any-glob-to-any-file: 'lucene/misc/**'

module:monitor:
  - changed-files:
      - any-glob-to-any-file: 'lucene/monitor/**'

module:queries:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queries/**'

module:queryparser:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queryparser/**'

module:replicator:
  - changed-files:
      - any-glob-to-any-file: 'lucene/replicator/**'

module:sandbox:
  - changed-files:
      - any-glob-to-any-file: 'lucene/sandbox/**'

module:spatial:
  - changed-files:
      - any-glob-to-any-file: ['lucene/spatial-extras/**', 'lucene/spatial-test-fixtures/**']

module:spatial3d:
  - changed-files:
      - any-glob-to-any-file: 'lucene/spatial3d/**'

module:suggest:
  - changed-files:
      - any-glob-to-any-file: 'lucene/suggest/**'

module:test-framework:
  - changed-files:
      - any-glob-to-any-file: 'lucene/test-framework/**'
