Repository apache/lucene, changes with the labels that .github/labeler.yml gives for each.
All labels: module:analysis, module:benchmark, module:classification, module:core/codecs, module:core/FSTs, module:core/hnsw, module:core/index, module:core/search, module:core/store, module:demo, module:expressions, module:facet, module:grouping, module:highlighter, module:join, module:luke, module:misc, module:monitor, module:queries, module:queryparser, module:replicator, module:sandbox, module:spatial, module:spatial3d, module:suggest, module:test-framework

Adding jmh benchmark for histogram collection
  lucene/benchmark-jmh/build.gradle
  lucene/benchmark-jmh/src/java/module-info.java
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/HistogramCollectorBenchmark.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/facet/plain/histograms/TestHistogramCollectorManager.java
Labels: module:sandbox

Fixing forbidden class error
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/HistogramCollectorBenchmark.java
Labels: none

Fixing unused parameter error
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/HistogramCollectorBenchmark.java
Labels: none

Advance doc instead of offset in competitive iterator (#14530)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/comparators/TermOrdValComparator.java
Labels: module:core/search

Advance doc instead of offset in competitive iterator (#14530)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/comparators/TermOrdValComparator.java
Labels: module:core/search

Advance doc instead of offset in competitive iterator (#14530)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/comparators/TermOrdValComparator.java
Labels: module:core/search

Remove unused variable
  lucene/core/src/java/org/apache/lucene/search/comparators/TermOrdValComparator.java
Labels: module:core/search

fix test failure
  lucene/core/src/java/org/apache/lucene/search/comparators/DocComparator.java
Labels: module:core/search

make sparse simple
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/IndexedDISI.java
Labels: module:core/codecs

clear sparse buffer
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/IndexedDISI.java
Labels: module:core/codecs

unused var
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/IndexedDISI.java
Labels: module:core/codecs

clean some more unnecessary diff
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/IndexedDISI.java
Labels: module:core/codecs

iter
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/IndexedDISI.java
Labels: module:core/codecs

iter
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/IndexedDISI.java
Labels: module:core/codecs

Initial set of updates to gradle 8.14-rc-2. Minimum Java bumped to Java 24.
  .github/workflows/run-checks-gradle-upgrade.yml
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/WrapperDownloader.java
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
Labels: module:core/store

No ECJ version supports Java 24 yet.
  gradle/validation/ecj-lint.gradle
Labels: none

Bump Java to 24 in gh workflows.
  .github/actions/prepare-for-build/action.yml
  .github/workflows/run-checks-all.yml
  .github/workflows/run-nightly-smoketester.yml
Labels: none

Upgrade groovy to work with java 24.
  gradle/libs.versions.toml
Labels: none

./gradlew regenerate --rerun-tasks (update TLDs).
  lucene/analysis/common/src/generated/checksums/generateTlds.json
  lucene/analysis/common/src/generated/checksums/generateUAX29URLEmailTokenizer.json
  lucene/analysis/common/src/java/org/apache/lucene/analysis/email/ASCIITLD.jflex
  lucene/analysis/common/src/test/org/apache/lucene/analysis/email/TLDs.txt
Labels: module:analysis

Added conventions applicable to all projects.
  build-tools/build-infra/src/main/groovy/conventionplugins/lucene.allprojects.conventions.gradle
  build-tools/build-infra/src/main/groovy/conventionplugins/validation/lucene.validation.spotless-groovy.gradle
  build.gradle
  gradle/_to-remove/globals.gradle
Labels: none

Ported buildoptions plugin to Lucene and applied it to all projects.
  build-tools/build-infra/src/main/groovy/conventionplugins/lucene.allprojects.conventions.gradle
  build-tools/build-infra/src/main/groovy/conventionplugins/validation/lucene.validation.spotless-groovy.gradle
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/buildoptions/BuildOption.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/buildoptions/BuildOptionValue.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/buildoptions/BuildOptionValueSource.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/buildoptions/BuildOptionsExtension.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/buildoptions/BuildOptionsPlugin.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/buildoptions/BuildOptionsTask.java
  gradle/conventions.gradle
Labels: none

Moved lucene base version to gradle/libs.versions.toml. Added build options: version.release and version.suffix.
  build-tools/build-infra/build.gradle
  build-tools/build-infra/src/main/groovy/conventionplugins/lucene.allprojects.conventions.gradle
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/buildoptions/BuildOptionsPlugin.java
  build-tools/missing-doclet/build.gradle
  build.gradle
  gradle/libs.versions.toml
Labels: none

Improve user-facing docs for geo
  lucene/core/src/java/org/apache/lucene/geo/Circle.java
  lucene/core/src/java/org/apache/lucene/geo/GeoUtils.java
  lucene/core/src/java/org/apache/lucene/geo/Rectangle.java
  lucene/core/src/java/org/apache/lucene/geo/package-info.java
Labels: none

Tidying the code
  lucene/core/src/java/org/apache/lucene/geo/Circle.java
  lucene/core/src/java/org/apache/lucene/geo/GeoUtils.java
  lucene/core/src/java/org/apache/lucene/geo/Rectangle.java
  lucene/core/src/java/org/apache/lucene/geo/package-info.java
Labels: none

Addressing review comments and adding changes entry
  lucene/CHANGES.txt
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/PointTreeBulkCollector.java
Labels: module:sandbox

Revert "Improve user-facing docs for geo"
  lucene/core/src/java/org/apache/lucene/geo/Circle.java
  lucene/core/src/java/org/apache/lucene/geo/GeoUtils.java
  lucene/core/src/java/org/apache/lucene/geo/Rectangle.java
  lucene/core/src/java/org/apache/lucene/geo/package-info.java
Labels: none

Adding changelog entry
  lucene/CHANGES.txt
Labels: none

Adding @lucene.experimental annotation to PointTreeBulkCollector
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/PointTreeBulkCollector.java
Labels: module:sandbox

Fix leadCost calculation in BooleanScorerSupplier.requiredBulkScorer
  lucene/core/src/java/org/apache/lucene/search/BooleanScorerSupplier.java
Labels: module:core/search

deps: set pip/actions to monthly, unbottleneck
  .github/dependabot.yml
Labels: none

./gradlew writeLocks && ./gradlew updateLicenses
  lucene/licenses/assertj-core-3.21.0.jar.sha1
  lucene/licenses/assertj-core-3.27.3.jar.sha1
  lucene/licenses/byte-buddy-1.15.11.jar.sha1
  versions.lock
Labels: none

add licenses for byte-buddy: newly introduced dep of assertj
  lucene/licenses/byte-buddy-LICENSE-ASL.txt
  lucene/licenses/byte-buddy-NOTICE.txt
Labels: none

deps: bump limit to 25 as we actually have more than 20 pending updates
  .github/dependabot.yml
Labels: none

Adding accuracy bound and test for sloppySin
  lucene/core/src/java/org/apache/lucene/util/SloppyMath.java
  lucene/core/src/test/org/apache/lucene/util/TestSloppyMath.java
Labels: none

Add changelog entry
  lucene/CHANGES.txt
Labels: none

Fix dependency resolution, lock file and new dependencies.
  lucene/benchmark/build.gradle
  lucene/licenses/commons-compress-1.19.jar.sha1
  lucene/licenses/commons-compress-1.27.1.jar.sha1
  lucene/licenses/commons-io-2.16.1.jar.sha1
  lucene/licenses/commons-io-LICENSE-ASL.txt
  lucene/licenses/commons-io-NOTICE.txt
  lucene/licenses/commons-lang3-3.16.0.jar.sha1
  lucene/licenses/commons-lang3-LICENSE-ASL.txt
  lucene/licenses/commons-lang3-NOTICE.txt
  versions.lock
Labels: module:benchmark

Make TestIndexWriterDelete.testDeleteAllRepeated a monster test and force FSDirectory to prevent OOM. #14508 (#14526)
  lucene/core/src/test/org/apache/lucene/index/TestIndexWriterDelete.java
Labels: module:core/index

Make TestIndexWriterDelete.testDeleteAllRepeated a monster test and force FSDirectory to prevent OOM. #14508 (#14526)
  lucene/core/src/test/org/apache/lucene/index/TestIndexWriterDelete.java
Labels: module:core/index

Temporarily enable debug mode
  .github/workflows/mark-stale-PRs.yml
Labels: none

Add javadocs
  lucene/core/src/java/org/apache/lucene/store/DataAccessHint.java
  lucene/core/src/java/org/apache/lucene/store/Directory.java
  lucene/core/src/java/org/apache/lucene/store/FileDataHint.java
  lucene/core/src/java/org/apache/lucene/store/FileTypeHint.java
Labels: module:core/store

.github/labeler.yml:

# This file defines module label mappings for the Lucene project.
# Each module is associated with a set of file globs that, when matched,
# will trigger the corresponding label to be applied to pull requests.
#
# This configuration is used by the workflow defined in .github/workflows/label-pull-request.yml.
# If we are adding new labels or refactoring modules, we will need to modify this file globs here to ensure that the correct labels are applied.

# For more information on how to define globs, visit: https://github.com/actions/labeler

module:analysis:
  - changed-files:
      - any-glob-to-any-file: 'lucene/analysis/**'

module:benchmark:
  - changed-files:
      - any-glob-to-any-file: 'lucene/benchmark/**'

module:classification:
  - changed-files:
      - any-glob-to-any-file: 'lucene/classification/**'

module:core/codecs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/codecs/**', 'lucene/core/src/test/org/apache/lucene/codecs/**']

module:core/FSTs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/fst/**', 'lucene/core/src/test/org/apache/lucene/util/fst/**']

module:core/hnsw:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/hnsw/**', 'lucene/core/src/test/org/apache/lucene/util/hnsw/**']

module:core/index:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/index/**', 'lucene/core/src/test/org/apache/lucene/index/**']

module:core/search:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/search/**', 'lucene/core/src/test/org/apache/lucene/search/**']

module:core/store:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/store/**', 'lucene/core/src/test/org/apache/lucene/store/**']

module:core/other:
  - all:
      - changed-files:
          - any-glob-to-any-file: ['lucene/core/**']
          - all-globs-to-all-files:
              - '!lucene/core/src/java/org/apache/lucene/codecs/**'
              - '!lucene/core/src/test/org/apache/lucene/codecs/**'
              - '!lucene/core/src/java/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/test/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/java/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/test/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/java/org/apache/lucene/index/**'
              - '!lucene/core/src/test/org/apache/lucene/index/**'
              - '!lucene/core/src/java/org/apache/lucene/search/**'
              - '!lucene/core/src/test/org/apache/lucene/search/**'
              - '!lucene/core/src/java/org/apache/lucene/store/**'
              - '!lucene/core/src/test/org/apache/lucene/store/**'

module:demo:
  - changed-files:
      - any-glob-to-any-file: 'lucene/demo/**'

module:expressions:
  - changed-files:
      - any-glob-to-any-file: 'lucene/expressions/**'

module:facet:
  - changed-files:
      - any-glob-to-any-file: 'lucene/facet/**'

module:grouping:
  - changed-files:
      - any-glob-to-any-file: 'lucene/grouping/**'

module:highlighter:
  - changed-files:
      - any-glob-to-any-file: 'lucene/highlighter/**'

module:join:
  - changed-files:
      - any-glob-to-any-file: 'lucene/join/**'

module:luke:
  - changed-files:
      - any-glob-to-any-file: 'lucene/luke/**'

module:misc:
  - changed-files:
      - any-glob-to-any-file: 'lucene/misc/**'

module:monitor:
  - changed-files:
      - any-glob-to-any-file: 'lucene/monitor/**'

module:queries:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queries/**'

module:queryparser:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queryparser/**'

module:replicator:
  - changed-files:
      - any-glob-to-any-file: 'lucene/replicator/**'

module:sandbox:
  - changed-files:
      - any-glob-to-any-file: 'lucene/sandbox/**'

module:spatial:
  - changed-files:
      - any-glob-to-any-file: ['lucene/spatial-extras/**', 'lucene/spatial-test-fixtures/**']

module:spatial3d:
  - changed-files:
      - any-glob-to-any-file: 'lucene/spatial3d/**'

module:suggest:
  - changed-files:
      - any-glob-to-any-file: 'lucene/suggest/**'

module:test-framework:
  - changed-files:
      - any-glob-to-any-file: 'lucene/test-framework/**'
