Repository apache/lucene, changes with the labels that .github/labeler.yml gives for each.
All labels: module:analysis, module:benchmark, module:classification, module:core/codecs, module:core/FSTs, module:core/hnsw, module:core/index, module:core/search, module:core/store, module:demo, module:expressions, module:facet, module:grouping, module:highlighter, module:join, module:luke, module:misc, module:monitor, module:queries, module:queryparser, module:replicator, module:sandbox, module:spatial, module:spatial3d, module:suggest, module:test-framework

.github/labeler.yml:

# This file defines module label mappings for the Lucene project.
# Each module is associated with a set of file globs that, when matched,
# will trigger the corresponding label to be applied to pull requests.
#
# This configuration is used by the workflow defined in .github/workflows/label-pull-request.yml.
# If we are adding new labels or refactoring modules, we will need to modify this file globs here to ensure that the correct labels are applied.

# For more information on how to define globs, visit: https://github.com/actions/labeler

module:analysis:
  - changed-files:
      - any-glob-to-any-file: 'lucene/analysis/**'

module:benchmark:
  - changed-files:
      - any-glob-to-any-file: 'lucene/benchmark/**'

module:classification:
  - changed-files:
      - any-glob-to-any-file: 'lucene/classification/**'

module:core/codecs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/codecs/**', 'lucene/core/src/test/org/apache/lucene/codecs/**']

module:core/FSTs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/fst/**', 'lucene/core/src/test/org/apache/lucene/util/fst/**']

module:core/hnsw:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/hnsw/**', 'lucene/core/src/test/org/apache/lucene/util/hnsw/**']

module:core/index:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/index/**', 'lucene/core/src/test/org/apache/lucene/index/**']

module:core/search:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/search/**', 'lucene/core/src/test/org/apache/lucene/search/**']

module:core/store:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/store/**', 'lucene/core/src/test/org/apache/lucene/store/**']

module:core/other:
  - all:
      - changed-files:
          - any-glob-to-any-file: ['lucene/core/**']
          - all-globs-to-all-files:
              - '!lucene/core/src/java/org/apache/lucene/codecs/**'
              - '!lucene/core/src/test/org/apache/lucene/codecs/**'
              - '!lucene/core/src/java/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/test/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/java/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/test/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/java/org/apache/lucene/index/**'
              - '!lucene/core/src/test/org/apache/lucene/index/**'
              - '!lucene/core/src/java/org/apache/lucene/search/**'
              - '!lucene/core/src/test/org/apache/lucene/search/**'
              - '!lucene/core/src/java/org/apache/lucene/store/**'
              - '!lucene/core/src/test/org/apache/lucene/store/**'

module:demo:
  - changed-files:
      - any-glob-to-any-file: 'lucene/demo/**'

module:expressions:
  - changed-files:
      - any-glob-to-any-file: 'lucene/expressions/**'

module:facet:
  - changed-files:
      - any-glob-to-any-file: 'lucene/facet/**'

module:grouping:
  - changed-files:
      - any-glob-to-any-file: 'lucene/grouping/**'

module:highlighter:
  - changed-files:
      - any-glob-to-any-file: 'lucene/highlighter/**'

module:join:
  - changed-files:
      - any-glob-to-any-file: 'lucene/join/**'

module:luke:
  - changed-files:
      - any-glob-to-any-file: 'lucene/luke/**'

module:misc:
  - changed-files:
      - any-glob-to-any-file: 'lucene/misc/**'

module:monitor:
  - changed-files:
      - any-glob-to-any-file: 'lucene/monitor/**'

module:queries:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queries/**'

module:queryparser:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queryparser/**'

module:replicator:
  - changed-files:
      - any-glob-to-any-file: 'lucene/replicator/**'

module:sandbox:
  - changed-files:
      - any-glob-to-any-file: 'lucene/sandbox/**'

module:spatial:
  - changed-files:
      - any-glob-to-any-file: ['lucene/spatial-extras/**', 'lucene/spatial-test-fixtures/**']

module:spatial3d:
  - changed-files:
      - any-glob-to-any-file: 'lucene/spatial3d/**'

module:suggest:
  - changed-files:
      - any-glob-to-any-file: 'lucene/suggest/**'

module:test-framework:
  - changed-files:
      - any-glob-to-any-file: 'lucene/test-framework/**'

Reduce polymorphism of DocIdSetIterator#docID(). (#14453)
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/IndexedDISI.java
  lucene/core/src/java/org/apache/lucene/search/AbstractDocIdSetIterator.java
  lucene/core/src/java/org/apache/lucene/search/BlockMaxConjunctionScorer.java
  lucene/core/src/java/org/apache/lucene/search/ConjunctionDISI.java
  lucene/core/src/java/org/apache/lucene/search/DisjunctionDISIApproximation.java
  lucene/core/src/java/org/apache/lucene/search/DocIdSetIterator.java
  lucene/core/src/java/org/apache/lucene/search/DocValuesRangeIterator.java
  lucene/core/src/java/org/apache/lucene/search/FilteredDocIdSetIterator.java
  lucene/core/src/java/org/apache/lucene/search/ImpactsDISI.java
  lucene/core/src/java/org/apache/lucene/search/IndexSortSortedNumericDocValuesRangeQuery.java
  lucene/core/src/java/org/apache/lucene/search/ReqOptSumScorer.java
  lucene/core/src/java/org/apache/lucene/search/TwoPhaseIterator.java
  lucene/core/src/java/org/apache/lucene/search/comparators/DocComparator.java
  lucene/core/src/java/org/apache/lucene/search/comparators/MinDocIterator.java
  lucene/core/src/java/org/apache/lucene/search/comparators/NumericComparator.java
  lucene/core/src/java/org/apache/lucene/search/comparators/TermOrdValComparator.java
  lucene/core/src/java/org/apache/lucene/util/BitSetIterator.java
  lucene/core/src/java/org/apache/lucene/util/DocBaseBitSetIterator.java
  lucene/core/src/java/org/apache/lucene/util/IntArrayDocIdSet.java
  lucene/core/src/java/org/apache/lucene/util/NotDocIdSet.java
  lucene/core/src/java/org/apache/lucene/util/RoaringDocIdSet.java
  lucene/core/src/java/org/apache/lucene/util/bkd/BKDReader.java
  lucene/core/src/test/org/apache/lucene/search/IntArrayDocIdSet.java
  lucene/facet/src/java/org/apache/lucene/facet/FacetUtils.java
  lucene/join/src/test/org/apache/lucene/search/join/TestToParentJoinKnnResults.java
  lucene/queries/src/test/org/apache/lucene/queries/spans/AssertingSpans.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QueryProfilerScorer.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingLeafCollector.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingScorer.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/RandomApproximationQuery.java
Labels: module:core/codecs, module:core/search, module:facet, module:join, module:queries, module:sandbox, module:test-framework

Reduce polymorphism of DocIdSetIterator#docID(). (#14453)
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/IndexedDISI.java
  lucene/core/src/java/org/apache/lucene/search/AbstractDocIdSetIterator.java
  lucene/core/src/java/org/apache/lucene/search/BlockMaxConjunctionScorer.java
  lucene/core/src/java/org/apache/lucene/search/ConjunctionDISI.java
  lucene/core/src/java/org/apache/lucene/search/DisjunctionDISIApproximation.java
  lucene/core/src/java/org/apache/lucene/search/DocIdSetIterator.java
  lucene/core/src/java/org/apache/lucene/search/DocValuesRangeIterator.java
  lucene/core/src/java/org/apache/lucene/search/FilteredDocIdSetIterator.java
  lucene/core/src/java/org/apache/lucene/search/ImpactsDISI.java
  lucene/core/src/java/org/apache/lucene/search/IndexSortSortedNumericDocValuesRangeQuery.java
  lucene/core/src/java/org/apache/lucene/search/ReqOptSumScorer.java
  lucene/core/src/java/org/apache/lucene/search/TwoPhaseIterator.java
  lucene/core/src/java/org/apache/lucene/search/comparators/DocComparator.java
  lucene/core/src/java/org/apache/lucene/search/comparators/MinDocIterator.java
  lucene/core/src/java/org/apache/lucene/search/comparators/NumericComparator.java
  lucene/core/src/java/org/apache/lucene/search/comparators/TermOrdValComparator.java
  lucene/core/src/java/org/apache/lucene/util/BitSetIterator.java
  lucene/core/src/java/org/apache/lucene/util/DocBaseBitSetIterator.java
  lucene/core/src/java/org/apache/lucene/util/IntArrayDocIdSet.java
  lucene/core/src/java/org/apache/lucene/util/NotDocIdSet.java
  lucene/core/src/java/org/apache/lucene/util/RoaringDocIdSet.java
  lucene/core/src/java/org/apache/lucene/util/bkd/BKDReader.java
  lucene/core/src/test/org/apache/lucene/search/IntArrayDocIdSet.java
  lucene/facet/src/java/org/apache/lucene/facet/FacetUtils.java
  lucene/join/src/test/org/apache/lucene/search/join/TestToParentJoinKnnResults.java
  lucene/queries/src/test/org/apache/lucene/queries/spans/AssertingSpans.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QueryProfilerScorer.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingLeafCollector.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingScorer.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/RandomApproximationQuery.java
Labels: module:core/codecs, module:core/search, module:facet, module:join, module:queries, module:sandbox, module:test-framework

Fix TestIndexWriterWithThreads#testIOExceptionDuringAbortWithThreadsOnlyOnce (#14424)
  lucene/core/src/test/org/apache/lucene/index/TestIndexWriterWithThreads.java
Labels: module:core/index

Fix TestIndexWriterWithThreads#testIOExceptionDuringAbortWithThreadsOnlyOnce (#14424)
  lucene/core/src/test/org/apache/lucene/index/TestIndexWriterWithThreads.java
Labels: module:core/index

Add TestInt7HnswBackwardsCompatibility index for 10.2.0
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/int7_hnsw.10.2.0.zip
Labels: none

Add TestInt7HnswBackwardsCompatibility index for 10.2.0
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/int7_hnsw.10.2.0.zip
Labels: none

Add TestInt7HnswBackwardsCompatibility index for 10.2.0
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/int7_hnsw.10.2.0.zip
Labels: none

Configure dependabot for python deps, fix linter issues
  .github/dependabot.yml
  dev-tools/scripts/buildAndPushRelease.py
  dev-tools/scripts/githubPRs.py
  dev-tools/scripts/releaseWizard.py
  dev-tools/scripts/requirements.txt
  dev-tools/scripts/scriptutil.py
  dev-tools/scripts/smokeTestRelease.py
Labels: none

Add another test for zero commits
  lucene/CHANGES.txt
  lucene/core/src/test/org/apache/lucene/index/TestDeletionPolicy.java
Labels: module:core/index

Add an IndexDeletion policy that retains the last N commits (#14458)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/index/KeepLastNCommitsDeletionPolicy.java
  lucene/core/src/test/org/apache/lucene/index/TestDeletionPolicy.java
Labels: module:core/index

Add an IndexDeletion policy that retains the last N commits (#14458)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/index/KeepLastNCommitsDeletionPolicy.java
  lucene/core/src/test/org/apache/lucene/index/TestDeletionPolicy.java
Labels: module:core/index

Introduce approximate and sketch based bin distribution, benchmarks and bin distribution quality metrics
  lucene/benchmark-jmh/src/java/DocBinningCostBenchmark.java
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/IndexingLatencyBenchmark.java
  lucene/core/src/java/org/apache/lucene/codecs/ApproximateDocBinner.java
  lucene/core/src/java/org/apache/lucene/codecs/ApproximateDocGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/BinQualityMetrics.java
  lucene/core/src/java/org/apache/lucene/codecs/DocBinningGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/DocGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/Lucene101PostingsFormat.java
  lucene/core/src/test/org/apache/lucene/codecs/TestBinQualityMetrics.java
Labels: module:core/codecs

Configure dependabot for python deps, fix linter issues (#14462)
  .github/dependabot.yml
  dev-tools/scripts/buildAndPushRelease.py
  dev-tools/scripts/githubPRs.py
  dev-tools/scripts/releaseWizard.py
  dev-tools/scripts/requirements.txt
  dev-tools/scripts/scriptutil.py
  dev-tools/scripts/smokeTestRelease.py
Labels: none

Configure dependabot for python deps, fix linter issues (#14462)
  .github/dependabot.yml
  dev-tools/scripts/buildAndPushRelease.py
  dev-tools/scripts/githubPRs.py
  dev-tools/scripts/releaseWizard.py
  dev-tools/scripts/requirements.txt
  dev-tools/scripts/scriptutil.py
  dev-tools/scripts/smokeTestRelease.py
Labels: none

deps: fix dependabot failure
  .github/dependabot.yml
Labels: none

deps: remove package grouping
  .github/dependabot.yml
Labels: none

fix failures from new checks in the upgraded linter
  dev-tools/scripts/githubPRs.py
  dev-tools/scripts/pyproject.toml
  dev-tools/scripts/releaseWizard.py
Labels: none

deps: remove unused python 'six' dependency
  dev-tools/scripts/requirements.txt
Labels: none

Update benchmarks, introduce approx and add near duplicate detection
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/BinningIndexingLatencyBenchmark.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/Lucene101PostingsFormat.java
  lucene/core/src/java/org/apache/lucene/search/DuplicateCluster.java
  lucene/core/src/java/org/apache/lucene/search/NearDuplicateFinder.java
  lucene/core/src/test/org/apache/lucene/search/TestNearDuplicateFinder.java
Labels: module:core/codecs, module:core/search

Tidy
  lucene/benchmark-jmh/src/java/DocBinningCostBenchmark.java
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/AnytimeRankingBenchmark.java
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/AnytimeSLARelevanceBenchmark.java
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/BinningIndexingLatencyBenchmark.java
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/IndexingLatencyBenchmark.java
  lucene/core/src/java/org/apache/lucene/codecs/ApproximateDocBinner.java
  lucene/core/src/java/org/apache/lucene/codecs/ApproximateDocGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/BinQualityMetrics.java
  lucene/core/src/java/org/apache/lucene/codecs/DocBinningGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/DocGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/Lucene101PostingsFormat.java
  lucene/core/src/java/org/apache/lucene/index/BinScoreUtil.java
  lucene/core/src/java/org/apache/lucene/search/DuplicateCluster.java
  lucene/core/src/java/org/apache/lucene/search/NearDuplicateFinder.java
  lucene/core/src/test/org/apache/lucene/codecs/TestBinQualityMetrics.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene101/TestLucene101PostingsFormat.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingNDCG.java
  lucene/core/src/test/org/apache/lucene/search/TestNearDuplicateFinder.java
Labels: module:core/codecs, module:core/index, module:core/search

deps: configure dependabot to run weekly instead of daily
  .github/dependabot.yml
Labels: none

Minor refactoring in ComponentTree
  lucene/core/src/java/org/apache/lucene/geo/ComponentTree.java
Labels: none

deps: remove unused python 'six' dependency (#14472)
  dev-tools/scripts/requirements.txt
Labels: none

deps: remove unused python 'six' dependency (#14472)
  dev-tools/scripts/requirements.txt
Labels: none

deps: configure dependabot to run weekly instead of daily (#14473)
  .github/dependabot.yml
Labels: none

Addressing review comments
  lucene/core/src/java/org/apache/lucene/geo/ComponentTree.java
Labels: none

Adding CHANGELOG entry
  lucene/CHANGES.txt
Labels: none

Remove needless judgement (node.numArcs == 0).
  lucene/core/src/java/org/apache/lucene/util/fst/FSTCompiler.java
Labels: module:core/FSTs

fix 103 -> 90
  lucene/backward-codecs/src/test/org/apache/lucene/backward_codecs/lucene101/Lucene101RWPostingsFormat.java
Labels: none

Minor refactoring in ComponentTree (#14474)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/geo/ComponentTree.java
Labels: none

Minor refactoring in ComponentTree (#14474)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/geo/ComponentTree.java
Labels: none

iter
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/TrieBuilder.java
Labels: module:core/codecs

Removing unnecessary splitX in ComponentTree
  lucene/core/src/java/org/apache/lucene/geo/ComponentTree.java
Labels: none

Rename to norm
  lucene/core/src/java/org/apache/lucene/search/similarities/Similarity.java
  lucene/queries/src/java/org/apache/lucene/queries/function/IndexReaderFunctions.java
  lucene/queries/src/test/org/apache/lucene/queries/function/TestIndexReaderFunctions.java
Labels: module:core/search, module:queries

Adding CHANGELOG entry
  lucene/CHANGES.txt
Labels: none

Removing unnecessary splitX in ComponentTree (#14476)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/geo/ComponentTree.java
Labels: none

Removing unnecessary splitX in ComponentTree (#14476)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/geo/ComponentTree.java
Labels: none

Init.
  lucene/core/src/java/org/apache/lucene/util/fst/BytesRefFSTEnum.java
  lucene/core/src/java/org/apache/lucene/util/fst/FSTEnum.java
  lucene/core/src/java/org/apache/lucene/util/fst/IntsRefFSTEnum.java
Labels: module:core/FSTs

Update LICENSE.txt
  LICENSE.txt
Labels: none

Adding interface for plugging in different leaf level breakdown aggregations
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/AggregatedQueryLeafProfilerResult.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QueryLeafProfilerAggregator.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QueryLeafProfilerBreakdown.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QueryLeafProfilerThreadAggregator.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QueryProfilerBreakdown.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QueryProfilerResult.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QueryProfilerTimingType.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/search/TestQueryProfilerIndexSearcher.java
Labels: module:sandbox
