Repository apache/lucene, changes with the labels that .github/labeler.yml gives for each.
All labels: module:analysis, module:benchmark, module:classification, module:core/codecs, module:core/FSTs, module:core/hnsw, module:core/index, module:core/search, module:core/store, module:demo, module:expressions, module:facet, module:grouping, module:highlighter, module:join, module:luke, module:misc, module:monitor, module:queries, module:queryparser, module:replicator, module:sandbox, module:spatial, module:spatial3d, module:suggest, module:test-framework

Allow read advice to be overridden
  lucene/test-framework/src/test/org/apache/lucene/tests/store/TestSerializedIOCountingDirectory.java
Labels: module:test-framework

cleanup and add licenses
  lucene/core/src/java/org/apache/lucene/codecs/BinQualityMetrics.java
  lucene/core/src/java/org/apache/lucene/index/BinScoreUtil.java
  lucene/core/src/java/org/apache/lucene/search/AnytimeRankingCollector.java
  lucene/core/src/java/org/apache/lucene/search/AnytimeRankingCollectorManager.java
  lucene/core/src/java/org/apache/lucene/search/AnytimeRankingSearcher.java
  lucene/core/src/java/org/apache/lucene/search/DuplicateCluster.java
  lucene/core/src/test/org/apache/lucene/codecs/TestBinQualityMetrics.java
  lucene/core/src/test/org/apache/lucene/codecs/TestDocBinningGraphBuilder.java
  lucene/core/src/test/org/apache/lucene/codecs/TestDocGraphBuilder.java
Labels: module:core/codecs, module:core/index, module:core/search

More cleanup
  lucene/core/src/test/org/apache/lucene/index/TestBinScoreUtil.java
Labels: module:core/index

More cleanup and tidy output
  lucene/core/src/java/org/apache/lucene/codecs/BinMapReader.java
  lucene/core/src/java/org/apache/lucene/search/BinBoostCalculator.java
Labels: module:core/codecs, module:core/search

More cleanup
  lucene/core/src/java/org/apache/lucene/codecs/BinMapReader.java
  lucene/core/src/java/org/apache/lucene/codecs/BinMapWriter.java
Labels: module:core/codecs

Change several test assertions to use assertThat
  lucene/core/src/test/org/apache/lucene/document/TestDocument.java
  lucene/core/src/test/org/apache/lucene/index/TestAddIndexes.java
  lucene/core/src/test/org/apache/lucene/search/TestBooleanScorer.java
  lucene/core/src/test/org/apache/lucene/util/TestArrayUtil.java
  lucene/core/src/test/org/apache/lucene/util/TestPriorityQueue.java
  lucene/core/src/test/org/apache/lucene/util/TestRadixSelector.java
  lucene/core/src/test/org/apache/lucene/util/automaton/TestIntSet.java
  lucene/core/src/test/org/apache/lucene/util/automaton/TestRegExp.java
  lucene/test-framework/src/java/module-info.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseCompressingDocValuesFormatTestCase.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/BaseDirectoryTestCase.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/LuceneTestCase.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/TestUtil.java
  lucene/test-framework/src/test/org/apache/lucene/tests/store/TestSerializedIOCountingDirectory.java
Labels: module:core/index, module:core/search, module:test-framework

Cache preset dict in LZ4WithPresetDictDecompressor
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/codecs/compressing/Decompressor.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/LZ4WithPresetDictCompressionMode.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/compressing/Lucene90CompressingStoredFieldsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/compressing/Lucene90CompressingTermVectorsReader.java
Labels: module:core/codecs

Do not close twice
  lucene/core/src/java/org/apache/lucene/codecs/BinMapWriter.java
Labels: module:core/codecs

Do not close if prior write failed
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/Lucene101PostingsFormat.java
Labels: module:core/codecs

simplify OptimisticKnnVectorQuery to 2 rounds only
  lucene/core/src/java/org/apache/lucene/search/OptimisticKnnVectorQuery.java
Labels: module:core/search

intermittent commit
  lucene/core/src/java/org/apache/lucene/codecs/BinMapWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/Lucene101PostingsFormat.java
Labels: module:core/codecs

fix for postings force merge regression
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene90/blocktree/Lucene90BlockTreeTermsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/FieldsConsumer.java
  lucene/core/src/java/org/apache/lucene/codecs/FieldsProducer.java
Labels: module:core/codecs

Initial commit without triggering changes
  lucene/core/src/java/org/apache/lucene/codecs/ApproximateDocBinner.java
  lucene/core/src/java/org/apache/lucene/codecs/ApproximateDocGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/BinMapReader.java
  lucene/core/src/java/org/apache/lucene/codecs/BinMapWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/BinQualityMetrics.java
  lucene/core/src/java/org/apache/lucene/codecs/DocBinningGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/DocGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/FieldsLeafReader.java
  lucene/core/src/java/org/apache/lucene/codecs/InMemorySparseEdgeGraph.java
  lucene/core/src/java/org/apache/lucene/codecs/SparseEdgeGraph.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsFormat.java
  lucene/core/src/java/org/apache/lucene/index/BinScoreLeafReader.java
  lucene/core/src/java/org/apache/lucene/index/BinScoreReader.java
  lucene/core/src/java/org/apache/lucene/index/BinScoreUtil.java
  lucene/core/src/java/org/apache/lucene/search/AnytimeRankingCollector.java
  lucene/core/src/java/org/apache/lucene/search/AnytimeRankingCollectorManager.java
  lucene/core/src/java/org/apache/lucene/search/AnytimeRankingSearcher.java
  lucene/core/src/java/org/apache/lucene/search/BinBoostCalculator.java
  lucene/core/src/java/org/apache/lucene/util/HeuristicSLAEstimator.java
  lucene/core/src/java/org/apache/lucene/util/SLAEstimator.java
Labels: module:core/codecs, module:core/index, module:core/search

More stuff without wiring
  lucene/core/src/test/org/apache/lucene/codecs/TestBinMapReaderWriter.java
  lucene/core/src/test/org/apache/lucene/codecs/TestBinQualityMetrics.java
  lucene/core/src/test/org/apache/lucene/codecs/TestDocBinningGraphBuilder.java
  lucene/core/src/test/org/apache/lucene/codecs/TestDocGraphBuilder.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene103/TestLucene103PostingsFormat.java
  lucene/core/src/test/org/apache/lucene/index/TestBinScoreUtil.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingNDCG.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingRelevanceMatch.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingRelevanceSearch.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingSearch.java
  lucene/core/src/test/org/apache/lucene/search/TestBinningRelevanceBoost.java
  lucene/core/src/test/org/apache/lucene/util/TestHeuristicSLAEstimator.java
Labels: module:core/codecs, module:core/index, module:core/search

move OptimisticKnnVectorQuery into AbstractKnnVectorQuery
  lucene/core/src/java/org/apache/lucene/search/AbstractKnnVectorQuery.java
  lucene/core/src/java/org/apache/lucene/search/OptimisticKnnVectorQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestKnnFloatVectorQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestOptimisticKnnVectorQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestSeededKnnByteVectorQuery.java
Labels: module:core/search

Update tests and wire in
  lucene/core/src/java/org/apache/lucene/codecs/BinMapWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsFormat.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingNDCG.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingRelevanceMatch.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingSearch.java
Labels: module:core/codecs, module:core/search

Tidy output
  lucene/core/src/java/org/apache/lucene/codecs/ApproximateDocGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/BinMapReader.java
  lucene/core/src/java/org/apache/lucene/codecs/BinMapWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/DocGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/FieldsLeafReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsFormat.java
  lucene/core/src/java/org/apache/lucene/index/BinScoreLeafReader.java
  lucene/core/src/java/org/apache/lucene/index/BinScoreReader.java
  lucene/core/src/java/org/apache/lucene/index/BinScoreUtil.java
  lucene/core/src/java/org/apache/lucene/search/AnytimeRankingCollector.java
  lucene/core/src/java/org/apache/lucene/search/AnytimeRankingCollectorManager.java
  lucene/core/src/java/org/apache/lucene/search/AnytimeRankingSearcher.java
  lucene/core/src/java/org/apache/lucene/search/BinBoostCalculator.java
  lucene/core/src/java/org/apache/lucene/util/HeuristicSLAEstimator.java
  lucene/core/src/java/org/apache/lucene/util/SLAEstimator.java
  lucene/core/src/test/org/apache/lucene/codecs/TestBinMapReaderWriter.java
  lucene/core/src/test/org/apache/lucene/codecs/TestBinQualityMetrics.java
  lucene/core/src/test/org/apache/lucene/codecs/TestDocBinningGraphBuilder.java
  lucene/core/src/test/org/apache/lucene/codecs/TestDocGraphBuilder.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene103/TestLucene103PostingsFormat.java
  lucene/core/src/test/org/apache/lucene/index/TestBinScoreUtil.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingNDCG.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingRelevanceSearch.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingSearch.java
  lucene/core/src/test/org/apache/lucene/search/TestBinningRelevanceBoost.java
  lucene/core/src/test/org/apache/lucene/util/TestHeuristicSLAEstimator.java
Labels: module:core/codecs, module:core/index, module:core/search

Remove redundant variable
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsFormat.java
Labels: module:core/codecs

Upgrade to gradle 8.14-rc-2
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
Labels: none

Make AnytimeRankingSearcher clean its own input and tidy output
  lucene/core/src/java/org/apache/lucene/search/AnytimeRankingSearcher.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingNDCG.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingRelevanceMatch.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingRelevanceSearch.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingSearch.java
  lucene/core/src/test/org/apache/lucene/search/TestBinningRelevanceBoost.java
Labels: module:core/search

Debug statements
  lucene/core/src/java/org/apache/lucene/search/AnytimeRankingCollector.java
  lucene/core/src/test/org/apache/lucene/search/TestBinningRelevanceBoost.java
Labels: module:core/search

tidy
  lucene/core/src/java/org/apache/lucene/search/AbstractKnnVectorQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestKnnFloatVectorQuery.java
Labels: module:core/search

Intermittent commit
  lucene/core/src/java/org/apache/lucene/index/BinScoreUtil.java
  lucene/core/src/java/org/apache/lucene/search/AnytimeRankingCollector.java
  lucene/core/src/java/org/apache/lucene/search/AnytimeRankingSearcher.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingRelevanceSearch.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingSearch.java
Labels: module:core/index, module:core/search

Addressing review comments
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/HistogramCollector.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/HistogramCollectorManager.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/PointTreeBulkCollector.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/facet/plain/histograms/TestHistogramCollectorManager.java
Labels: module:sandbox

Handling intra segment better using concurrent map instead of static synchronized
  lucene/core/src/java/org/apache/lucene/util/ArrayUtil.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/HistogramCollector.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/HistogramCollectorManager.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/PointTreeBulkCollector.java
Labels: module:sandbox

Tidying the code
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/HistogramCollector.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/PointTreeBulkCollector.java
Labels: module:sandbox

Running small performance test on existing vs new approach
  lucene/sandbox/src/test/org/apache/lucene/sandbox/facet/plain/histograms/TestHistogramCollectorManager.java
Labels: module:sandbox

Closing resources
  lucene/core/src/java/org/apache/lucene/index/BinScoreLeafReader.java
  lucene/core/src/java/org/apache/lucene/index/BinScoreUtil.java
  lucene/core/src/java/org/apache/lucene/search/AnytimeRankingSearcher.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingNDCG.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingSearch.java
Labels: module:core/index, module:core/search

Add JMH benchmarks and tidy output
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/AnytimeMultiSegmentBenchmark.java
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/AnytimeQueryLatencyVarianceBenchmark.java
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/AnytimeRankingBenchmark.java
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/BinningIndexingLatencyBenchmark.java
  lucene/core/src/java/org/apache/lucene/index/BinScoreLeafReader.java
  lucene/core/src/java/org/apache/lucene/index/BinScoreUtil.java
  lucene/core/src/java/org/apache/lucene/search/AnytimeRankingCollector.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingRelevanceSearch.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingSearch.java
  lucene/core/src/test/org/apache/lucene/search/TestBinningRelevanceBoost.java
Labels: module:core/index, module:core/search

Codec fixes and tidy output
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/AnytimeMultiSegmentBenchmark.java
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/AnytimeQueryLatencyVarianceBenchmark.java
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/AnytimeRankingBenchmark.java
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/BinningIndexingLatencyBenchmark.java
Labels: none

Updates for system out and tidy output
  lucene/core/src/java/org/apache/lucene/codecs/BinMapWriter.java
  lucene/core/src/java/org/apache/lucene/search/AnytimeRankingCollector.java
Labels: module:core/codecs, module:core/search

output and tidy output
  lucene/core/src/java/org/apache/lucene/index/BinScoreUtil.java
Labels: module:core/index

Fix closing in tests
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingRelevanceSearch.java
  lucene/core/src/test/org/apache/lucene/search/TestBinningRelevanceBoost.java
Labels: module:core/search

Add disconnected nodes and tidy output
  lucene/core/src/java/org/apache/lucene/codecs/ApproximateDocGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/DocGraphBuilder.java
Labels: module:core/codecs

Update closeable in tests
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingSearch.java
Labels: module:core/search

Add baseline test
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/BinningIndexingLatencyBenchmark.java
Labels: none

Forbidden api
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/BinningIndexingLatencyBenchmark.java
Labels: none

Update closing in tests
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingRelevanceSearch.java
Labels: module:core/search

Fix DISIDocIdStream::count so that is does not try to count beyond max
  lucene/core/src/java/org/apache/lucene/search/DISIDocIdStream.java
  lucene/core/src/test/org/apache/lucene/search/TestDISIDocIdStream.java
Labels: module:core/search

changelog
  lucene/CHANGES.txt
Labels: none

.github/labeler.yml:

# This file defines module label mappings for the Lucene project.
# Each module is associated with a set of file globs that, when matched,
# will trigger the corresponding label to be applied to pull requests.
#
# This configuration is used by the workflow defined in .github/workflows/label-pull-request.yml.
# If we are adding new labels or refactoring modules, we will need to modify this file globs here to ensure that the correct labels are applied.

# For more information on how to define globs, visit: https://github.com/actions/labeler

module:analysis:
  - changed-files:
      - any-glob-to-any-file: 'lucene/analysis/**'

module:benchmark:
  - changed-files:
      - any-glob-to-any-file: 'lucene/benchmark/**'

module:classification:
  - changed-files:
      - any-glob-to-any-file: 'lucene/classification/**'

module:core/codecs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/codecs/**', 'lucene/core/src/test/org/apache/lucene/codecs/**']

module:core/FSTs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/fst/**', 'lucene/core/src/test/org/apache/lucene/util/fst/**']

module:core/hnsw:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/hnsw/**', 'lucene/core/src/test/org/apache/lucene/util/hnsw/**']

module:core/index:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/index/**', 'lucene/core/src/test/org/apache/lucene/index/**']

module:core/search:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/search/**', 'lucene/core/src/test/org/apache/lucene/search/**']

module:core/store:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/store/**', 'lucene/core/src/test/org/apache/lucene/store/**']

module:core/other:
  - all:
      - changed-files:
          - any-glob-to-any-file: ['lucene/core/**']
          - all-globs-to-all-files:
              - '!lucene/core/src/java/org/apache/lucene/codecs/**'
              - '!lucene/core/src/test/org/apache/lucene/codecs/**'
              - '!lucene/core/src/java/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/test/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/java/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/test/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/java/org/apache/lucene/index/**'
              - '!lucene/core/src/test/org/apache/lucene/index/**'
              - '!lucene/core/src/java/org/apache/lucene/search/**'
              - '!lucene/core/src/test/org/apache/lucene/search/**'
              - '!lucene/core/src/java/org/apache/lucene/store/**'
              - '!lucene/core/src/test/org/apache/lucene/store/**'

module:demo:
  - changed-files:
      - any-glob-to-any-file: 'lucene/demo/**'

module:expressions:
  - changed-files:
      - any-glob-to-any-file: 'lucene/expressions/**'

module:facet:
  - changed-files:
      - any-glob-to-any-file: 'lucene/facet/**'

module:grouping:
  - changed-files:
      - any-glob-to-any-file: 'lucene/grouping/**'

module:highlighter:
  - changed-files:
      - any-glob-to-any-file: 'lucene/highlighter/**'

module:join:
  - changed-files:
      - any-glob-to-any-file: 'lucene/join/**'

module:luke:
  - changed-files:
      - any-glob-to-any-file: 'lucene/luke/**'

module:misc:
  - changed-files:
      - any-glob-to-any-file: 'lucene/misc/**'

module:monitor:
  - changed-files:
      - any-glob-to-any-file: 'lucene/monitor/**'

module:queries:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queries/**'

module:queryparser:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queryparser/**'

module:replicator:
  - changed-files:
      - any-glob-to-any-file: 'lucene/replicator/**'

module:sandbox:
  - changed-files:
      - any-glob-to-any-file: 'lucene/sandbox/**'

module:spatial:
  - changed-files:
      - any-glob-to-any-file: ['lucene/spatial-extras/**', 'lucene/spatial-test-fixtures/**']

module:spatial3d:
  - changed-files:
      - any-glob-to-any-file: 'lucene/spatial3d/**'

module:suggest:
  - changed-files:
      - any-glob-to-any-file: 'lucene/suggest/**'

module:test-framework:
  - changed-files:
      - any-glob-to-any-file: 'lucene/test-framework/**'
