Repository apache/lucene, changes with the labels that .github/labeler.yml gives for each.
All labels: module:analysis, module:benchmark, module:classification, module:core/codecs, module:core/FSTs, module:core/hnsw, module:core/index, module:core/search, module:core/store, module:demo, module:expressions, module:facet, module:grouping, module:highlighter, module:join, module:luke, module:misc, module:monitor, module:queries, module:queryparser, module:replicator, module:sandbox, module:spatial, module:spatial3d, module:suggest, module:test-framework

.github/labeler.yml:

# This file defines module label mappings for the Lucene project.
# Each module is associated with a set of file globs that, when matched,
# will trigger the corresponding label to be applied to pull requests.
#
# This configuration is used by the workflow defined in .github/workflows/label-pull-request.yml.
# If we are adding new labels or refactoring modules, we will need to modify this file globs here to ensure that the correct labels are applied.

# For more information on how to define globs, visit: https://github.com/actions/labeler

module:analysis:
  - changed-files:
      - any-glob-to-any-file: 'lucene/analysis/**'

module:benchmark:
  - changed-files:
      - any-glob-to-any-file: 'lucene/benchmark/**'

module:classification:
  - changed-files:
      - any-glob-to-any-file: 'lucene/classification/**'

module:core/codecs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/codecs/**', 'lucene/core/src/test/org/apache/lucene/codecs/**']

module:core/FSTs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/fst/**', 'lucene/core/src/test/org/apache/lucene/util/fst/**']

module:core/hnsw:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/hnsw/**', 'lucene/core/src/test/org/apache/lucene/util/hnsw/**']

module:core/index:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/index/**', 'lucene/core/src/test/org/apache/lucene/index/**']

module:core/search:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/search/**', 'lucene/core/src/test/org/apache/lucene/search/**']

module:core/store:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/store/**', 'lucene/core/src/test/org/apache/lucene/store/**']

module:core/other:
  - all:
      - changed-files:
          - any-glob-to-any-file: ['lucene/core/**']
          - all-globs-to-all-files:
              - '!lucene/core/src/java/org/apache/lucene/codecs/**'
              - '!lucene/core/src/test/org/apache/lucene/codecs/**'
              - '!lucene/core/src/java/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/test/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/java/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/test/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/java/org/apache/lucene/index/**'
              - '!lucene/core/src/test/org/apache/lucene/index/**'
              - '!lucene/core/src/java/org/apache/lucene/search/**'
              - '!lucene/core/src/test/org/apache/lucene/search/**'
              - '!lucene/core/src/java/org/apache/lucene/store/**'
              - '!lucene/core/src/test/org/apache/lucene/store/**'

module:demo:
  - changed-files:
      - any-glob-to-any-file: 'lucene/demo/**'

module:expressions:
  - changed-files:
      - any-glob-to-any-file: 'lucene/expressions/**'

module:facet:
  - changed-files:
      - any-glob-to-any-file: 'lucene/facet/**'

module:grouping:
  - changed-files:
      - any-glob-to-any-file: 'lucene/grouping/**'

module:highlighter:
  - changed-files:
      - any-glob-to-any-file: 'lucene/highlighter/**'

module:join:
  - changed-files:
      - any-glob-to-any-file: 'lucene/join/**'

module:luke:
  - changed-files:
      - any-glob-to-any-file: 'lucene/luke/**'

module:misc:
  - changed-files:
      - any-glob-to-any-file: 'lucene/misc/**'

module:monitor:
  - changed-files:
      - any-glob-to-any-file: 'lucene/monitor/**'

module:queries:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queries/**'

module:queryparser:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queryparser/**'

module:replicator:
  - changed-files:
      - any-glob-to-any-file: 'lucene/replicator/**'

module:sandbox:
  - changed-files:
      - any-glob-to-any-file: 'lucene/sandbox/**'

module:spatial:
  - changed-files:
      - any-glob-to-any-file: ['lucene/spatial-extras/**', 'lucene/spatial-test-fixtures/**']

module:spatial3d:
  - changed-files:
      - any-glob-to-any-file: 'lucene/spatial3d/**'

module:suggest:
  - changed-files:
      - any-glob-to-any-file: 'lucene/suggest/**'

module:test-framework:
  - changed-files:
      - any-glob-to-any-file: 'lucene/test-framework/**'

./gradlew writeLocks && ./gradlew updateLicenses
  lucene/licenses/jts-core-1.17.0.jar.sha1
  lucene/licenses/jts-core-1.20.0.jar.sha1
  versions.lock
Labels: none

Create file open hints on IOContext to replace ReadAdvice (#14482)
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene50/Lucene50CompoundReader.java
  lucene/codecs/src/java/org/apache/lucene/codecs/simpletext/SimpleTextCompoundFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90CompoundReader.java
  lucene/core/src/java/org/apache/lucene/index/DocumentsWriterPerThread.java
  lucene/core/src/java/org/apache/lucene/index/IndexWriter.java
  lucene/core/src/java/org/apache/lucene/index/ReadersAndUpdates.java
  lucene/core/src/java/org/apache/lucene/index/SortingTermVectorsConsumer.java
  lucene/core/src/java/org/apache/lucene/index/TermVectorsConsumer.java
  lucene/core/src/java/org/apache/lucene/store/DataAccessHint.java
  lucene/core/src/java/org/apache/lucene/store/DefaultIOContext.java
  lucene/core/src/java/org/apache/lucene/store/FileDataHint.java
  lucene/core/src/java/org/apache/lucene/store/FileTypeHint.java
  lucene/core/src/java/org/apache/lucene/store/IOContext.java
  lucene/core/src/java/org/apache/lucene/store/IndexInput.java
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
  lucene/core/src/java21/org/apache/lucene/store/MemorySegmentIndexInput.java
  lucene/core/src/java21/org/apache/lucene/store/MemorySegmentIndexInputProvider.java
  lucene/core/src/test/org/apache/lucene/index/TestDoc.java
  lucene/core/src/test/org/apache/lucene/index/TestSegmentMerger.java
  lucene/core/src/test/org/apache/lucene/index/TestStoredFieldsConsumer.java
  lucene/core/src/test/org/apache/lucene/store/TestNRTCachingDirectory.java
  lucene/misc/src/test/org/apache/lucene/misc/store/TestByteWritesTrackingDirectoryWrapper.java
  lucene/misc/src/test/org/apache/lucene/misc/store/TestDirectIODirectory.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseCompoundFormatTestCase.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseIndexFileFormatTestCase.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/RandomPostingsTester.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/MockDirectoryWrapper.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/MockIndexInputWrapper.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/SerialIOCountingDirectory.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/SlowClosingMockIndexInputWrapper.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/SlowOpeningMockIndexInputWrapper.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/LuceneTestCase.java
Labels: module:core/codecs, module:core/index, module:core/store, module:misc, module:test-framework

Create file open hints on IOContext to replace ReadAdvice (#14482)
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene50/Lucene50CompoundReader.java
  lucene/codecs/src/java/org/apache/lucene/codecs/simpletext/SimpleTextCompoundFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90CompoundReader.java
  lucene/core/src/java/org/apache/lucene/index/DocumentsWriterPerThread.java
  lucene/core/src/java/org/apache/lucene/index/IndexWriter.java
  lucene/core/src/java/org/apache/lucene/index/ReadersAndUpdates.java
  lucene/core/src/java/org/apache/lucene/index/SortingTermVectorsConsumer.java
  lucene/core/src/java/org/apache/lucene/index/TermVectorsConsumer.java
  lucene/core/src/java/org/apache/lucene/store/DataAccessHint.java
  lucene/core/src/java/org/apache/lucene/store/DefaultIOContext.java
  lucene/core/src/java/org/apache/lucene/store/FileDataHint.java
  lucene/core/src/java/org/apache/lucene/store/FileTypeHint.java
  lucene/core/src/java/org/apache/lucene/store/IOContext.java
  lucene/core/src/java/org/apache/lucene/store/IndexInput.java
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
  lucene/core/src/java21/org/apache/lucene/store/MemorySegmentIndexInput.java
  lucene/core/src/java21/org/apache/lucene/store/MemorySegmentIndexInputProvider.java
  lucene/core/src/test/org/apache/lucene/index/TestDoc.java
  lucene/core/src/test/org/apache/lucene/index/TestSegmentMerger.java
  lucene/core/src/test/org/apache/lucene/index/TestStoredFieldsConsumer.java
  lucene/core/src/test/org/apache/lucene/store/TestNRTCachingDirectory.java
  lucene/misc/src/test/org/apache/lucene/misc/store/TestByteWritesTrackingDirectoryWrapper.java
  lucene/misc/src/test/org/apache/lucene/misc/store/TestDirectIODirectory.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseCompoundFormatTestCase.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseIndexFileFormatTestCase.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/RandomPostingsTester.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/MockDirectoryWrapper.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/MockIndexInputWrapper.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/SerialIOCountingDirectory.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/SlowClosingMockIndexInputWrapper.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/SlowOpeningMockIndexInputWrapper.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/LuceneTestCase.java
Labels: module:core/codecs, module:core/index, module:core/store, module:misc, module:test-framework

Bump expected base Java version to 24. #14533
  dev-tools/scripts/smokeTestRelease.py
Labels: none

fix up conflicts
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
  lucene/core/src/java21/org/apache/lucene/store/MemorySegmentIndexInputProvider.java
Labels: module:core/store

Add Lucene 10.2.1 version constant
  lucene/core/src/java/org/apache/lucene/util/Version.java
Labels: none

Upgrade to gradle 8.14 on branch_10x (backport).
  .github/workflows/run-checks-gradle-upgrade.yml
  gradle/wrapper/gradle-wrapper.jar.sha256
  gradle/wrapper/gradle-wrapper.jar.version
  gradle/wrapper/gradle-wrapper.properties
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
  versions.toml
Labels: module:core/store

Correct the wrapper script.
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/WrapperDownloader.java
Labels: none

Remove abstractions of MMapDirectory and its "fake" MR-JAR support and move it to main sourceSet (vectors untouched) (#14564)
  gradle/generation/extract-jdk-apis.gradle
  gradle/generation/extract-jdk-apis/ExtractJdkApis.java
  gradle/java/core-mrjar.gradle
  lucene/CHANGES.txt
  lucene/core/src/generated/jdk/jdk21.apijar
  lucene/core/src/generated/jdk/jdk24.apijar
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
  lucene/core/src/java/org/apache/lucene/store/MemorySegmentAccessInput.java
  lucene/core/src/java/org/apache/lucene/store/MemorySegmentIndexInput.java
  lucene/core/src/java/org/apache/lucene/store/NativeAccess.java
  lucene/core/src/java/org/apache/lucene/store/PosixNativeAccess.java
  lucene/core/src/java/org/apache/lucene/store/RefCountedSharedArena.java
  lucene/core/src/java21/org/apache/lucene/store/MemorySegmentIndexInputProvider.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/Lucene99MemorySegmentByteVectorScorer.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/Lucene99MemorySegmentByteVectorScorerSupplier.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/Lucene99MemorySegmentFlatVectorsScorer.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/MemorySegmentPostingDecodingUtil.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/PanamaVectorConstants.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/PanamaVectorUtilSupport.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/PanamaVectorizationProvider.java
  lucene/core/src/test/org/apache/lucene/store/TestMMapDirectory.java
  lucene/distribution.tests/src/test/org/apache/lucene/distribution/TestModularLayer.java
Labels: module:core/store

Overwrite gradlew scripts with up-to-date ones and apply Lucene customizations.
  gradlew
  gradlew.bat
Labels: none

Upgrade groovy to 4.0.26
  versions.toml
Labels: none

Remove changes to MMapDirectory.
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
Labels: module:core/store

Remove RANDOM_PRELOAD ReadAdvice
  lucene/MIGRATE.md
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene90/blocktree/Lucene90BlockTreeTermsReader.java
  lucene/codecs/src/java/org/apache/lucene/codecs/memory/FSTTermsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/Lucene103BlockTreeTermsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90PointsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/compressing/FieldsIndexReader.java
  lucene/core/src/java/org/apache/lucene/store/PosixNativeAccess.java
  lucene/core/src/java/org/apache/lucene/store/ReadAdvice.java
  lucene/core/src/test/org/apache/lucene/index/TestDefaultCodecParallelizesIO.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/SerialIOCountingDirectory.java
Labels: module:core/codecs, module:core/index, module:core/store, module:test-framework

Overwrite gradlew scripts with up-to-date ones and apply Lucene customizations. (#14592)
  gradlew
  gradlew.bat
Labels: none

Upgrade to gradle 8.14 on branch_10x (backport). (#14591)
  .github/workflows/run-checks-gradle-upgrade.yml
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/WrapperDownloader.java
  gradle/wrapper/gradle-wrapper.jar.sha256
  gradle/wrapper/gradle-wrapper.jar.version
  gradle/wrapper/gradle-wrapper.properties
  versions.toml
Labels: none

Overwrite gradlew scripts with up-to-date ones and apply Lucene customizations. (#14592)
  gradlew
  gradlew.bat
Labels: none

add change log and change the init value
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/util/hnsw/NeighborArray.java
Labels: module:core/hnsw

Correct shebang in gradlew. #14592
  gradlew
Labels: none

Use matchers that report the actual failures
  lucene/core/src/test/org/apache/lucene/index/TestDefaultCodecParallelizesIO.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/SerialIOCountingDirectory.java
Labels: module:core/index, module:test-framework

tidy
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene90/blocktree/Lucene90BlockTreeTermsReader.java
  lucene/codecs/src/java/org/apache/lucene/codecs/memory/FSTTermsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/Lucene103BlockTreeTermsReader.java
  lucene/core/src/test/org/apache/lucene/index/TestDefaultCodecParallelizesIO.java
Labels: module:core/codecs, module:core/index

Fix ECJ compiler config for Java 24 (also affects Eclipse IDE)
  gradle/validation/ecj-lint/ecj.javadocs.prefs
Labels: none

Remove ReadAdvice from IOContext
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene101/Lucene101PostingsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene50/Lucene50CompoundReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene90/blocktree/Lucene90BlockTreeTermsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene912/Lucene912PostingsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene99/Lucene99PostingsReader.java
  lucene/codecs/src/java/org/apache/lucene/codecs/memory/FSTTermsReader.java
  lucene/codecs/src/java/org/apache/lucene/codecs/simpletext/SimpleTextCompoundFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene102/Lucene102BinaryQuantizedVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/Lucene103BlockTreeTermsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90CompoundReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90DocValuesProducer.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90NormsProducer.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90PointsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/compressing/FieldsIndexReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/compressing/Lucene90CompressingStoredFieldsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/compressing/Lucene90CompressingTermVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99FlatVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99FlatVectorsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99HnswVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99ScalarQuantizedVectorsReader.java
  lucene/core/src/java/org/apache/lucene/store/DefaultIOContext.java
  lucene/core/src/java/org/apache/lucene/store/FileDataHint.java
  lucene/core/src/java/org/apache/lucene/store/IOContext.java
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
  lucene/core/src/java/org/apache/lucene/store/MemorySegmentIndexInput.java
  lucene/core/src/test/org/apache/lucene/store/TestMMapDirectory.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/SerialIOCountingDirectory.java
  lucene/test-framework/src/test/org/apache/lucene/tests/store/TestSerializedIOCountingDirectory.java
Labels: module:core/codecs, module:core/store, module:test-framework

add comments around how dependencies are used
  dev-tools/scripts/requirements.txt
  gradle/libs.versions.toml
Labels: none

add comments around how dependencies are used (#14594)
  dev-tools/scripts/requirements.txt
  gradle/libs.versions.toml
Labels: none

./gradlew writeLocks
  versions.lock
Labels: none

disable existing checks with TODO that are now failing. several are cosmetic.
  gradle/validation/error-prone.gradle
Labels: none

add new checks, disable the ones with failures
  gradle/validation/error-prone.gradle
Labels: none

Fix tests: too many calls to IndexInput.clone during merging
  lucene/core/src/test/org/apache/lucene/index/TestForTooMuchCloning.java
Labels: module:core/index

simplify rootCodeFp
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/FieldReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/IntersectTermsEnum.java
Labels: module:core/codecs

Rewrite expressions module with Java 24 classfile API
  gradle/libs.versions.toml
  lucene/expressions/build.gradle
  lucene/expressions/src/java/module-info.java
  lucene/expressions/src/java/org/apache/lucene/expressions/js/JavascriptCompiler.java
  lucene/licenses/asm-9.8.jar.sha1
  lucene/licenses/asm-LICENSE-BSD_LIKE.txt
  lucene/licenses/asm-NOTICE.txt
  lucene/licenses/asm-commons-9.8.jar.sha1
  lucene/licenses/asm-commons-LICENSE-BSD_LIKE.txt
  lucene/licenses/asm-commons-NOTICE.txt
  lucene/licenses/asm-tree-9.8.jar.sha1
  versions.lock
Labels: module:expressions

Remove ACC_SUPER from class modifier (that was ASM internal)
  lucene/expressions/src/java/org/apache/lucene/expressions/js/JavascriptCompiler.java
Labels: module:expressions

Rollback 9af63bf680b30a0 and use com.gradle.develocity in version 3.19, otherwise builds don't pass.
  settings.gradle
Labels: none

cleanup constants for descriptors
  lucene/expressions/src/java/org/apache/lucene/expressions/js/JavascriptCompiler.java
Labels: module:expressions

rename lambda parameter to be consistent with others
  lucene/expressions/src/java/org/apache/lucene/expressions/js/JavascriptCompiler.java
Labels: module:expressions

Rewrite ClassDesc constants by using the correct java.lang.Class method describeConstable(). For normal types the optional can never be empty
  lucene/expressions/src/java/org/apache/lucene/expressions/js/JavascriptCompiler.java
Labels: module:expressions

int long
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/DocValuesMultiRangeQuery.java
Labels: module:sandbox

int long
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/DocValuesMultiRangeQuery.java
Labels: module:sandbox

check
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/SortedNumericDocValuesMultiRangeQuery.java
Labels: module:sandbox

fix nightly test on sorted index
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/SortedNumericDocValuesMultiRangeQuery.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/search/TestSortedDvMultiRangeQuery.java
Labels: module:sandbox

check
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/SortedNumericDocValuesMultiRangeQuery.java
Labels: module:sandbox
