Repository apache/lucene, changes with the labels that .github/labeler.yml gives for each.
All labels: module:analysis, module:benchmark, module:classification, module:core/codecs, module:core/FSTs, module:core/hnsw, module:core/index, module:core/search, module:core/store, module:demo, module:expressions, module:facet, module:grouping, module:highlighter, module:join, module:luke, module:misc, module:monitor, module:queries, module:queryparser, module:replicator, module:sandbox, module:spatial, module:spatial3d, module:suggest, module:test-framework

.github/labeler.yml:

# This file defines module label mappings for the Lucene project.
# Each module is associated with a set of file globs that, when matched,
# will trigger the corresponding label to be applied to pull requests.
#
# This configuration is used by the workflow defined in .github/workflows/label-pull-request.yml.
# If we are adding new labels or refactoring modules, we will need to modify this file globs here to ensure that the correct labels are applied.

# For more information on how to define globs, visit: https://github.com/actions/labeler

module:analysis:
  - changed-files:
      - any-glob-to-any-file: 'lucene/analysis/**'

module:benchmark:
  - changed-files:
      - any-glob-to-any-file: 'lucene/benchmark/**'

module:classification:
  - changed-files:
      - any-glob-to-any-file: 'lucene/classification/**'

module:core/codecs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/codecs/**', 'lucene/core/src/test/org/apache/lucene/codecs/**']

module:core/FSTs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/fst/**', 'lucene/core/src/test/org/apache/lucene/util/fst/**']

module:core/hnsw:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/hnsw/**', 'lucene/core/src/test/org/apache/lucene/util/hnsw/**']

module:core/index:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/index/**', 'lucene/core/src/test/org/apache/lucene/index/**']

module:core/search:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/search/**', 'lucene/core/src/test/org/apache/lucene/search/**']

module:core/store:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/store/**', 'lucene/core/src/test/org/apache/lucene/store/**']

module:core/other:
  - all:
      - changed-files:
          - any-glob-to-any-file: ['lucene/core/**']
          - all-globs-to-all-files:
              - '!lucene/core/src/java/org/apache/lucene/codecs/**'
              - '!lucene/core/src/test/org/apache/lucene/codecs/**'
              - '!lucene/core/src/java/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/test/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/java/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/test/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/java/org/apache/lucene/index/**'
              - '!lucene/core/src/test/org/apache/lucene/index/**'
              - '!lucene/core/src/java/org/apache/lucene/search/**'
              - '!lucene/core/src/test/org/apache/lucene/search/**'
              - '!lucene/core/src/java/org/apache/lucene/store/**'
              - '!lucene/core/src/test/org/apache/lucene/store/**'

module:demo:
  - changed-files:
      - any-glob-to-any-file: 'lucene/demo/**'

module:expressions:
  - changed-files:
      - any-glob-to-any-file: 'lucene/expressions/**'

module:facet:
  - changed-files:
      - any-glob-to-any-file: 'lucene/facet/**'

module:grouping:
  - changed-files:
      - any-glob-to-any-file: 'lucene/grouping/**'

module:highlighter:
  - changed-files:
      - any-glob-to-any-file: 'lucene/highlighter/**'

module:join:
  - changed-files:
      - any-glob-to-any-file: 'lucene/join/**'

module:luke:
  - changed-files:
      - any-glob-to-any-file: 'lucene/luke/**'

module:misc:
  - changed-files:
      - any-glob-to-any-file: 'lucene/misc/**'

module:monitor:
  - changed-files:
      - any-glob-to-any-file: 'lucene/monitor/**'

module:queries:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queries/**'

module:queryparser:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queryparser/**'

module:replicator:
  - changed-files:
      - any-glob-to-any-file: 'lucene/replicator/**'

module:sandbox:
  - changed-files:
      - any-glob-to-any-file: 'lucene/sandbox/**'

module:spatial:
  - changed-files:
      - any-glob-to-any-file: ['lucene/spatial-extras/**', 'lucene/spatial-test-fixtures/**']

module:spatial3d:
  - changed-files:
      - any-glob-to-any-file: 'lucene/spatial3d/**'

module:suggest:
  - changed-files:
      - any-glob-to-any-file: 'lucene/suggest/**'

module:test-framework:
  - changed-files:
      - any-glob-to-any-file: 'lucene/test-framework/**'

Addressing potential past iteration of intoBitSet
  lucene/core/src/java/org/apache/lucene/search/DenseConjunctionBulkScorer.java
  lucene/core/src/java/org/apache/lucene/search/DocIdSetIterator.java
  lucene/core/src/java/org/apache/lucene/search/comparators/TermOrdValComparator.java
Labels: module:core/search

Fix DISIDocIdStream::count so that it does not try to count beyond max (#14522)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/DISIDocIdStream.java
  lucene/core/src/test/org/apache/lucene/search/TestDISIDocIdStream.java
Labels: module:core/search

Fix DISIDocIdStream::count so that it does not try to count beyond max (#14522)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/DISIDocIdStream.java
  lucene/core/src/test/org/apache/lucene/search/TestDISIDocIdStream.java
Labels: module:core/search

Fix DISIDocIdStream::count so that it does not try to count beyond max (#14522)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/DISIDocIdStream.java
  lucene/core/src/test/org/apache/lucene/search/TestDISIDocIdStream.java
Labels: module:core/search

address two other strange places for intoBitSet, adding checks that are similar to other impls
  lucene/core/src/java/org/apache/lucene/search/DisjunctionDISIApproximation.java
  lucene/core/src/java/org/apache/lucene/search/comparators/NumericComparator.java
Labels: module:core/search

formatting fixes
  lucene/core/src/java/org/apache/lucene/search/DocIdSetIterator.java
Labels: module:core/search

reverting some changes
  lucene/core/src/java/org/apache/lucene/search/DenseConjunctionBulkScorer.java
  lucene/core/src/java/org/apache/lucene/search/DisjunctionDISIApproximation.java
  lucene/core/src/java/org/apache/lucene/search/DocIdSetIterator.java
Labels: module:core/search

Extensive relevance test and tidy output
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/AnytimeRankingBenchmark.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingSearchQuality.java
Labels: module:core/search

Make task executor non-final
  lucene/core/src/java/org/apache/lucene/search/TaskExecutor.java
Labels: module:core/search

Add tests for ApproximateDocGraphBuilder
  lucene/core/src/test/org/apache/lucene/codecs/TestApproximateDocGraphBuilder.java
Labels: module:core/codecs

Use TopKnnCollector for second pass so we correctly collect total top K
  lucene/core/src/java/org/apache/lucene/search/AbstractKnnVectorQuery.java
Labels: module:core/search

always iterate docsWithField
  lucene/core/src/java/org/apache/lucene/search/comparators/TermOrdValComparator.java
Labels: module:core/search

Add benchmark, fix tests
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/BinningGraphBuilderBenchmark.java
  lucene/core/src/test/org/apache/lucene/codecs/TestApproximateDocBinner.java
  lucene/core/src/test/org/apache/lucene/index/TestBinScoreUtil.java
Labels: module:core/codecs, module:core/index

fixes to benchmark
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/BinningGraphBuilderBenchmark.java
Labels: none

Addressing inadvertent change
  lucene/core/src/java/org/apache/lucene/geo/Rectangle.java
Labels: none

Fix tests consistency, benchmark and tidy output
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/BinningGraphBuilderBenchmark.java
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/BinningIndexingLatencyBenchmark.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingRelevanceMatch.java
Labels: module:core/search

Ignore exception
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/BinningGraphBuilderBenchmark.java
Labels: none

Adding small benchmark
  lucene/core/src/test/org/apache/lucene/geo/TestSimpleRectangleBenchmark.java
Labels: none

Fixing ecjLintTest
  lucene/core/src/test/org/apache/lucene/geo/TestSimpleRectangleBenchmark.java
Labels: none

Use Arrays#mismatch in FSTEnum#rewindPrefix.
  lucene/core/src/java/org/apache/lucene/util/fst/BytesRefFSTEnum.java
  lucene/core/src/java/org/apache/lucene/util/fst/FSTEnum.java
  lucene/core/src/java/org/apache/lucene/util/fst/IntsRefFSTEnum.java
Labels: module:core/FSTs

Add tests and a new benchmark
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/BinningIndexingLatencyBenchmark.java
  lucene/core/src/java/org/apache/lucene/codecs/ApproximateDocBinner.java
  lucene/core/src/java/org/apache/lucene/codecs/ApproximateDocGraphBuilder.java
  lucene/core/src/test/org/apache/lucene/search/TestApproximateVsExactBinning.java
Labels: module:core/codecs, module:core/search

Adding TestSpanWithinQuery with basic test cases for SpanWithinQuery (#14405)
  lucene/CHANGES.txt
  lucene/queries/src/test/org/apache/lucene/queries/spans/TestSpanWithinQuery.java
Labels: module:queries

Fix Changes entry for #14405
  lucene/CHANGES.txt
Labels: none

Adding TestSpanWithinQuery with basic test cases for SpanWithinQuery (#14405)
  lucene/queries/src/test/org/apache/lucene/queries/spans/TestSpanWithinQuery.java
Labels: module:queries

Fix Changes entry for #14405
  lucene/CHANGES.txt
Labels: none

Optimize doc approximate doc graph builder and add more tests
  lucene/core/src/java/org/apache/lucene/codecs/ApproximateDocBinner.java
  lucene/core/src/java/org/apache/lucene/codecs/ApproximateDocGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsFormat.java
  lucene/core/src/test/org/apache/lucene/search/TestApproximateVsExactBinning.java
Labels: module:core/codecs, module:core/search

Remove redundant variable
  lucene/core/src/java/org/apache/lucene/codecs/ApproximateDocGraphBuilder.java
Labels: module:core/codecs

Add missing licenses
  lucene/core/src/java/org/apache/lucene/codecs/ApproximateDocBinner.java
  lucene/core/src/test/org/apache/lucene/search/TestApproximateVsExactBinning.java
Labels: module:core/codecs, module:core/search

removing unnecessary changes, adding test
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/DisjunctionDISIApproximation.java
  lucene/core/src/java/org/apache/lucene/search/comparators/NumericComparator.java
  lucene/core/src/java/org/apache/lucene/search/comparators/TermOrdValComparator.java
  lucene/core/src/test/org/apache/lucene/search/comparators/TestTermOrdValComparator.java
Labels: module:core/search

Make TestIndexWriterDelete.testDeleteAllRepeated a monster test and force FSDirectory to prevent OOM. #14508
  lucene/core/src/test/org/apache/lucene/index/TestIndexWriterDelete.java
Labels: module:core/index

formatting
  lucene/core/src/test/org/apache/lucene/search/comparators/TestTermOrdValComparator.java
Labels: module:core/search

Correct TermOrdValComparator competitive iterator intoBitSet implementation (#14523)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/DocIdSetIterator.java
  lucene/core/src/java/org/apache/lucene/search/comparators/TermOrdValComparator.java
  lucene/core/src/test/org/apache/lucene/search/comparators/TestTermOrdValComparator.java
Labels: module:core/search

Correct TermOrdValComparator competitive iterator intoBitSet implementation (#14523)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/DocIdSetIterator.java
  lucene/core/src/java/org/apache/lucene/search/comparators/TermOrdValComparator.java
  lucene/core/src/test/org/apache/lucene/search/comparators/TestTermOrdValComparator.java
Labels: module:core/search

Correct TermOrdValComparator competitive iterator intoBitSet implementation (#14523)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/DocIdSetIterator.java
  lucene/core/src/java/org/apache/lucene/search/comparators/TermOrdValComparator.java
  lucene/core/src/test/org/apache/lucene/search/comparators/TestTermOrdValComparator.java
Labels: module:core/search

Update tests and allow tuning of high frequency terms being used as criterion for graph building
  lucene/core/src/java/org/apache/lucene/codecs/ApproximateDocGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsFormat.java
  lucene/core/src/test/org/apache/lucene/codecs/TestApproximateDocGraphBuilder.java
Labels: module:core/codecs

Update setting maxDocFreq through config and update test cutoff
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsFormat.java
  lucene/core/src/test/org/apache/lucene/codecs/TestApproximateDocGraphBuilder.java
Labels: module:core/codecs

Tidy output
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsFormat.java
Labels: module:core/codecs

Lift limit on default changeover for approximate binning
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsFormat.java
Labels: module:core/codecs

More optimizations and benchmarks
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/HeavyDocIndexingBenchmark.java
  lucene/core/src/java/org/apache/lucene/codecs/ApproximateDocBinner.java
  lucene/core/src/java/org/apache/lucene/codecs/ApproximateDocGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/InMemorySparseEdgeGraph.java
  lucene/core/src/java/org/apache/lucene/codecs/SparseEdgeGraph.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsFormat.java
Labels: module:core/codecs

Update really ignore
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/HeavyDocIndexingBenchmark.java
Labels: none
