Repository apache/lucene, changes with the labels that .github/labeler.yml gives for each.
All labels: module:analysis, module:benchmark, module:classification, module:core/codecs, module:core/FSTs, module:core/hnsw, module:core/index, module:core/search, module:core/store, module:demo, module:expressions, module:facet, module:grouping, module:highlighter, module:join, module:luke, module:misc, module:monitor, module:queries, module:queryparser, module:replicator, module:sandbox, module:spatial, module:spatial3d, module:suggest, module:test-framework

.github/labeler.yml:

# This file defines module label mappings for the Lucene project.
# Each module is associated with a set of file globs that, when matched,
# will trigger the corresponding label to be applied to pull requests.
#
# This configuration is used by the workflow defined in .github/workflows/label-pull-request.yml.
# If we are adding new labels or refactoring modules, we will need to modify this file globs here to ensure that the correct labels are applied.

# For more information on how to define globs, visit: https://github.com/actions/labeler

module:analysis:
  - changed-files:
      - any-glob-to-any-file: 'lucene/analysis/**'

module:benchmark:
  - changed-files:
      - any-glob-to-any-file: 'lucene/benchmark/**'

module:classification:
  - changed-files:
      - any-glob-to-any-file: 'lucene/classification/**'

module:core/codecs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/codecs/**', 'lucene/core/src/test/org/apache/lucene/codecs/**']

module:core/FSTs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/fst/**', 'lucene/core/src/test/org/apache/lucene/util/fst/**']

module:core/hnsw:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/hnsw/**', 'lucene/core/src/test/org/apache/lucene/util/hnsw/**']

module:core/index:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/index/**', 'lucene/core/src/test/org/apache/lucene/index/**']

module:core/search:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/search/**', 'lucene/core/src/test/org/apache/lucene/search/**']

module:core/store:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/store/**', 'lucene/core/src/test/org/apache/lucene/store/**']

module:core/other:
  - all:
      - changed-files:
          - any-glob-to-any-file: ['lucene/core/**']
          - all-globs-to-all-files:
              - '!lucene/core/src/java/org/apache/lucene/codecs/**'
              - '!lucene/core/src/test/org/apache/lucene/codecs/**'
              - '!lucene/core/src/java/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/test/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/java/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/test/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/java/org/apache/lucene/index/**'
              - '!lucene/core/src/test/org/apache/lucene/index/**'
              - '!lucene/core/src/java/org/apache/lucene/search/**'
              - '!lucene/core/src/test/org/apache/lucene/search/**'
              - '!lucene/core/src/java/org/apache/lucene/store/**'
              - '!lucene/core/src/test/org/apache/lucene/store/**'

module:demo:
  - changed-files:
      - any-glob-to-any-file: 'lucene/demo/**'

module:expressions:
  - changed-files:
      - any-glob-to-any-file: 'lucene/expressions/**'

module:facet:
  - changed-files:
      - any-glob-to-any-file: 'lucene/facet/**'

module:grouping:
  - changed-files:
      - any-glob-to-any-file: 'lucene/grouping/**'

module:highlighter:
  - changed-files:
      - any-glob-to-any-file: 'lucene/highlighter/**'

module:join:
  - changed-files:
      - any-glob-to-any-file: 'lucene/join/**'

module:luke:
  - changed-files:
      - any-glob-to-any-file: 'lucene/luke/**'

module:misc:
  - changed-files:
      - any-glob-to-any-file: 'lucene/misc/**'

module:monitor:
  - changed-files:
      - any-glob-to-any-file: 'lucene/monitor/**'

module:queries:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queries/**'

module:queryparser:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queryparser/**'

module:replicator:
  - changed-files:
      - any-glob-to-any-file: 'lucene/replicator/**'

module:sandbox:
  - changed-files:
      - any-glob-to-any-file: 'lucene/sandbox/**'

module:spatial:
  - changed-files:
      - any-glob-to-any-file: ['lucene/spatial-extras/**', 'lucene/spatial-test-fixtures/**']

module:spatial3d:
  - changed-files:
      - any-glob-to-any-file: 'lucene/spatial3d/**'

module:suggest:
  - changed-files:
      - any-glob-to-any-file: 'lucene/suggest/**'

module:test-framework:
  - changed-files:
      - any-glob-to-any-file: 'lucene/test-framework/**'

Update .github/dependabot.yml
  .github/dependabot.yml
Labels: none

Map from IOContext to ReadAdvice
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene50/Lucene50CompoundReader.java
  lucene/codecs/src/java/org/apache/lucene/codecs/simpletext/SimpleTextCompoundFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90CompoundReader.java
  lucene/core/src/java/org/apache/lucene/store/DefaultIOContext.java
  lucene/core/src/java/org/apache/lucene/store/Directory.java
  lucene/core/src/java/org/apache/lucene/store/IOContext.java
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
  lucene/core/src/java21/org/apache/lucene/store/MemorySegmentIndexInputProvider.java
  lucene/core/src/test/org/apache/lucene/store/TestDirectory.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/MockDirectoryWrapper.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/SerialIOCountingDirectory.java
Labels: module:core/codecs, module:core/store, module:test-framework

iter.
  lucene/core/src/java/org/apache/lucene/util/fst/BytesRefFSTEnum.java
  lucene/core/src/java/org/apache/lucene/util/fst/FSTEnum.java
  lucene/core/src/java/org/apache/lucene/util/fst/IntsRefFSTEnum.java
Labels: module:core/FSTs

iter.
  lucene/core/src/java/org/apache/lucene/util/fst/BytesRefFSTEnum.java
  lucene/core/src/java/org/apache/lucene/util/fst/FSTEnum.java
  lucene/core/src/java/org/apache/lucene/util/fst/IntsRefFSTEnum.java
Labels: module:core/FSTs

Move version catalog and enable dependabot scanning of gradle dependencies (#14495)
  .github/dependabot.yml
  build-tools/build-infra/settings.gradle
  build-tools/missing-doclet/settings.gradle
  gradle/libs.versions.toml
  gradle/validation/dependencies.gradle
  help/dependencies.txt
  settings.gradle
Labels: none

PR comments
  lucene/core/src/java/org/apache/lucene/store/ByteBuffersDirectory.java
  lucene/core/src/java/org/apache/lucene/store/DefaultIOContext.java
  lucene/core/src/java/org/apache/lucene/store/Directory.java
  lucene/core/src/java/org/apache/lucene/store/IOContext.java
  lucene/core/src/test/org/apache/lucene/store/TestDirectory.java
  lucene/test-framework/src/java/module-info.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/BaseDirectoryTestCase.java
  lucene/test-framework/src/test/org/apache/lucene/tests/store/TestMockDirectoryWrapper.java
Labels: module:core/store, module:test-framework

Move some DocValuesConsumer merge logic to helper methods. (#14459)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/codecs/DocValuesConsumer.java
Labels: module:core/codecs

Move some DocValuesConsumer merge logic to helper methods. (#14459)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/codecs/DocValuesConsumer.java
Labels: module:core/codecs

[10.x] Move some DocValuesConsumer merge logic to helper methods. (#14500)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/codecs/DocValuesConsumer.java
Labels: module:core/codecs

Remove dependabot pr limit=1 for java and actions ecosystems
  .github/dependabot.yml
Labels: none

Remove dependabot pr limit=1 for java and actions ecosystems (#14501)
  .github/dependabot.yml
Labels: none

Update sha for the upgraded dependency.
  lucene/licenses/randomizedtesting-runner-2.8.1.jar.sha1
  lucene/licenses/randomizedtesting-runner-2.8.3.jar.sha1
Labels: none

Update sha for the upgraded dependency.
  lucene/licenses/xercesImpl-2.12.0.jar.sha1
  lucene/licenses/xercesImpl-2.12.2.jar.sha1
Labels: none

apply writeLocks.
  versions.lock
Labels: none

apply writeLocks.
  versions.lock
Labels: none

versions.toml is no longer at the root level. #14507.
  dev-tools/scripts/smokeTestRelease.py
Labels: none

Apply python formatting. #14507.
  dev-tools/scripts/smokeTestRelease.py
Labels: none

Bump smoketester validation workflow to use Java 24 ga. #14379
  .github/workflows/run-nightly-smoketester.yml
Labels: none

Bump smoketester validation workflow to use Java 24 ga. #14379
  .github/workflows/run-nightly-smoketester.yml
Labels: none

Update lucene/sandbox/src/java/org/apache/lucene/sandbox/search/DocValuesMultiRangeQuery.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/DocValuesMultiRangeQuery.java
Labels: module:sandbox

Update lucene/sandbox/src/java/org/apache/lucene/sandbox/search/SortedNumericDocValuesMultiRangeQuery.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/SortedNumericDocValuesMultiRangeQuery.java
Labels: module:sandbox

Use a hint for READONCE
  lucene/core/src/java/org/apache/lucene/store/Directory.java
  lucene/core/src/java/org/apache/lucene/store/IOContext.java
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
  lucene/core/src/java/org/apache/lucene/store/ReadOnceHint.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/MockDirectoryWrapper.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/LuceneTestCase.java
Labels: module:core/store, module:test-framework

Remove ReadAdvice from IOContext
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene50/Lucene50CompoundReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene912/Lucene912PostingsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene99/Lucene99PostingsReader.java
  lucene/codecs/src/java/org/apache/lucene/codecs/memory/FSTTermsReader.java
  lucene/codecs/src/java/org/apache/lucene/codecs/simpletext/SimpleTextCompoundFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/Lucene101PostingsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene102/Lucene102BinaryQuantizedVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90CompoundReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90DocValuesProducer.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90NormsProducer.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90PointsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/Lucene90BlockTreeTermsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/compressing/FieldsIndexReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/compressing/Lucene90CompressingStoredFieldsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/compressing/Lucene90CompressingTermVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99FlatVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99FlatVectorsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99HnswVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99ScalarQuantizedVectorsReader.java
  lucene/core/src/java/org/apache/lucene/store/DefaultIOContext.java
  lucene/core/src/java/org/apache/lucene/store/Directory.java
  lucene/core/src/java/org/apache/lucene/store/FileDataHint.java
  lucene/core/src/java/org/apache/lucene/store/IOContext.java
  lucene/core/src/test/org/apache/lucene/store/TestMMapDirectory.java
  lucene/test-framework/src/test/org/apache/lucene/tests/store/TestSerializedIOCountingDirectory.java
Labels: module:core/codecs, module:core/store, module:test-framework

Add more benchmarks and relevance tests
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/AnytimeMultiSegmentBenchmark.java
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/AnytimeQueryLatencyVarianceBenchmark.java
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/AnytimeRankingRecallStressBenchmark.java
  lucene/core/src/java/org/apache/lucene/codecs/ApproximateDocGraphBuilder.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingRelevanceMatch.java
  lucene/core/src/test/org/apache/lucene/search/TestArcaneRelevanceBoost.java
Labels: module:core/codecs, module:core/search

Fix compile
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/Lucene103BlockTreeTermsReader.java
Labels: module:core/codecs

Ensuring skip list is read for fields indexed with only DOCS
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsReader.java
Labels: module:core/codecs

Remove redundant benchmarks
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/AnytimeRankingRecallStressBenchmark.java
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/AnytimeSLARelevanceBenchmark.java
Labels: none

Enabling PointTreeBulkCollector using query in weight and adding unit test
  lucene/core/src/java/org/apache/lucene/util/ArrayUtil.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/HistogramCollector.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/PointTreeBulkCollector.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/facet/plain/histograms/TestHistogramCollectorManager.java
Labels: module:sandbox

Removing usage of java random
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/PointTreeBulkCollector.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/facet/plain/histograms/TestHistogramCollectorManager.java
Labels: module:sandbox

Cleanup, tidy output and add javadocs
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/AnytimeMultiSegmentBenchmark.java
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/AnytimeQueryLatencyVarianceBenchmark.java
  lucene/core/src/java/org/apache/lucene/codecs/ApproximateDocGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/BinMapReader.java
  lucene/core/src/java/org/apache/lucene/codecs/BinMapWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/BinningSupport.java
  lucene/core/src/java/org/apache/lucene/codecs/BinningUtil.java
  lucene/core/src/java/org/apache/lucene/codecs/DocBinningGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/FieldsLeafReader.java
  lucene/core/src/java/org/apache/lucene/codecs/SparseEdgeGraph.java
  lucene/core/src/java/org/apache/lucene/index/BinScoreLeafReader.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingRelevanceMatch.java
  lucene/core/src/test/org/apache/lucene/search/TestArcaneRelevanceBoost.java
Labels: module:core/codecs, module:core/index, module:core/search

More cleanups
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingNDCG.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingRelevanceMatch.java
  lucene/core/src/test/org/apache/lucene/search/TestBinningRelevanceBoost.java
Labels: module:core/search

More cleanups
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/AnytimeRankingBenchmark.java
Labels: none

more cleanup
  lucene/core/src/java/org/apache/lucene/codecs/DocGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/InMemorySparseEdgeGraph.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/Lucene101PostingsWriter.java
  lucene/core/src/java/org/apache/lucene/search/NearDuplicateFinder.java
Labels: module:core/codecs, module:core/search

And more cleanup
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/BinningIndexingLatencyBenchmark.java
Labels: none

More cleanup
  lucene/core/src/java/org/apache/lucene/codecs/BinMapReader.java
  lucene/core/src/java/org/apache/lucene/search/BinBoostCalculator.java
  lucene/core/src/test/org/apache/lucene/search/TestNearDuplicateFinder.java
Labels: module:core/codecs, module:core/search

Continued cleanups
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/IndexingLatencyBenchmark.java
  lucene/core/src/java/org/apache/lucene/codecs/BinMapReader.java
  lucene/core/src/java/org/apache/lucene/search/BinBoostCalculator.java
Labels: module:core/codecs, module:core/search

More cleanup
  lucene/core/src/test/org/apache/lucene/index/TestBinScoreUtil.java
Labels: module:core/index

fix for stored fields force merge regression
  lucene/core/src/java/org/apache/lucene/codecs/StoredFieldsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/StoredFieldsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/compressing/Lucene90CompressingStoredFieldsReader.java
Labels: module:core/codecs

Remove sloppySin calculations
  lucene/core/src/java/org/apache/lucene/geo/GeoUtils.java
  lucene/core/src/java/org/apache/lucene/geo/Rectangle.java
Labels: none

RANDOM_PRELOAD is still checked here
  lucene/core/src/java/org/apache/lucene/store/DefaultIOContext.java
  lucene/core/src/java/org/apache/lucene/store/Directory.java
Labels: module:core/store
