Repository apache/lucene, changes with the labels that .github/labeler.yml gives for each.
All labels: module:analysis, module:benchmark, module:classification, module:core/codecs, module:core/FSTs, module:core/hnsw, module:core/index, module:core/search, module:core/store, module:demo, module:expressions, module:facet, module:grouping, module:highlighter, module:join, module:luke, module:misc, module:monitor, module:queries, module:queryparser, module:replicator, module:sandbox, module:spatial, module:spatial3d, module:suggest, module:test-framework

tests: mark TestVectorScorer.testLarge() @Monster (#14449)
  lucene/core/src/test/org/apache/lucene/internal/vectorization/TestVectorScorer.java
Labels: none

simplify
  lucene/queries/src/test/org/apache/lucene/queries/function/TestLongNormValueSource.java
Labels: module:queries

Modify tests and CHANGES.txt
  lucene/CHANGES.txt
  lucene/test-framework/src/java/org/apache/lucene/tests/index/ThreadedIndexingAndSearchingTestCase.java
Labels: module:test-framework

update
  lucene/core/src/java/org/apache/lucene/index/IndexWriter.java
  lucene/core/src/test/org/apache/lucene/index/TestIndexWriterWithThreads.java
Labels: module:core/index

Add benchmarks and relevance tests
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/AnytimeRankingBenchmark.java
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/AnytimeSLARelevanceBenchmark.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingNDCG.java
Labels: module:core/search

Rename to fieldLength. Add Similarity.decodeNormToLength
  lucene/core/src/java/org/apache/lucene/search/similarities/Similarity.java
  lucene/queries/src/java/org/apache/lucene/queries/function/IndexReaderFunctions.java
  lucene/queries/src/test/org/apache/lucene/queries/function/TestIndexReaderFunctions.java
Labels: module:core/search, module:queries

always refresh taxonomy on to the latest commit
  lucene/facet/src/java/org/apache/lucene/facet/taxonomy/SearcherTaxonomyManager.java
Labels: module:facet

fix test
  lucene/facet/src/test/org/apache/lucene/facet/taxonomy/TestSearcherTaxonomyManager.java
Labels: module:facet

Move changes entry to 10.3
  lucene/CHANGES.txt
Labels: none

Support modifying segmentInfos.counter in IndexWriter (#14417)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/index/IndexWriter.java
  lucene/core/src/test/org/apache/lucene/index/TestIndexWriter.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/ThreadedIndexingAndSearchingTestCase.java
Labels: module:core/index, module:test-framework

Support modifying segmentInfos.counter in IndexWriter (#14417)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/index/IndexWriter.java
  lucene/core/src/test/org/apache/lucene/index/TestIndexWriter.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/ThreadedIndexingAndSearchingTestCase.java
Labels: module:core/index, module:test-framework

Tests: TestLongNormValueSource, AssertingScorable (#14448)
  lucene/queries/src/test/org/apache/lucene/queries/function/TestLongNormValueSource.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingScorable.java
Labels: module:queries, module:test-framework

review iter
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/TrieBuilder.java
Labels: module:core/codecs

fix distribution test
  lucene/backward-codecs/src/java/module-info.java
Labels: none

Update comment.
  lucene/core/src/java/org/apache/lucene/search/ConjunctionDISI.java
Labels: module:core/search

Strenghen assertion.
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingScorer.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingWeight.java
Labels: module:test-framework

tests: set a socket timeout on replicator tests
  lucene/replicator/src/test/org/apache/lucene/replicator/nrt/Connection.java
Labels: module:replicator

Indexing benchmark:
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/BinningIndexingLatencyBenchmark.java
Labels: none

Add an IndexDeletion policy that retains the last N commits
  lucene/core/src/java/org/apache/lucene/index/KeepLastNCommitsDeletionPolicy.java
  lucene/core/src/test/org/apache/lucene/index/TestDeletionPolicy.java
Labels: module:core/index

Move some DocValuesConsumer merge logic to helper methods.
  lucene/core/src/java/org/apache/lucene/codecs/DocValuesConsumer.java
Labels: module:core/codecs

confirm tests passed
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/TestInt7HnswBackwardsCompatibility.java
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/int7_hnsw.10.1.0.zip
Labels: none

delete PostingIndexInput for lucene101
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene101/PostingIndexInput.java
Labels: none

fix javadoc for public fields
  lucene/backward-codecs/src/generated/checksums/generateForUtil101.json
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene101/ForUtil.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene101/Lucene101PostingsFormat.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene101/gen_ForUtil.py
Labels: none

added jdocs
  lucene/core/src/java/org/apache/lucene/codecs/DocValuesConsumer.java
Labels: module:core/codecs

fix TestInt7HnswBackwardsCompatibility
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/TestInt7HnswBackwardsCompatibility.java
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/int7_hnsw.10.1.0.zip
Labels: none

DOAP changes for release 10.2.0
  dev-tools/doap/lucene.rdf
Labels: none

DOAP changes for release 10.2.0
  dev-tools/doap/lucene.rdf
Labels: none

DOAP changes for release 10.2.0
  dev-tools/doap/lucene.rdf
Labels: none

Add next bugfix version 10.2.1
  build.gradle
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/util/Version.java
Labels: none

Add back-compat indices for 10.2.0
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/index.10.2.0-cfs.zip
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/index.10.2.0-nocfs.zip
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/int7_hnsw.10.2.0.zip
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/sorted.10.2.0.zip
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/versions.txt
Labels: none

Add back-compat indices for 10.2.0
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/index.10.2.0-cfs.zip
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/index.10.2.0-nocfs.zip
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/int7_hnsw.10.2.0.zip
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/sorted.10.2.0.zip
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/versions.txt
Labels: none

Add back-compat indices for 10.2.0
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/index.10.2.0-cfs.zip
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/index.10.2.0-nocfs.zip
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/int7_hnsw.10.2.0.zip
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/sorted.10.2.0.zip
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/versions.txt
Labels: none

fix TestInt7HnswBackwardsCompatibility (#14460)
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/TestInt7HnswBackwardsCompatibility.java
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/int7_hnsw.10.1.0.zip
Labels: none

fix TestInt7HnswBackwardsCompatibility (#14460)
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/TestInt7HnswBackwardsCompatibility.java
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/int7_hnsw.10.1.0.zip
Labels: none

fix TestInt7HnswBackwardsCompatibility (#14460)
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/TestInt7HnswBackwardsCompatibility.java
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/int7_hnsw.10.1.0.zip
Labels: none

fix TestInt7HnswBackwardsCompatibility (#14460)
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/TestInt7HnswBackwardsCompatibility.java
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/int7_hnsw.10.1.0.zip
Labels: none

tests: set a socket timeout on replicator tests (#14457)
  lucene/replicator/src/test/org/apache/lucene/replicator/nrt/Connection.java
Labels: module:replicator

tests: set a socket timeout on replicator tests (#14457)
  lucene/replicator/src/test/org/apache/lucene/replicator/nrt/Connection.java
Labels: module:replicator

fix 10.2.0.zip
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/int7_hnsw.10.2.0.zip
Labels: none

10.2.0
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/int7_hnsw.10.2.0.zip
Labels: none

.github/labeler.yml:

# This file defines module label mappings for the Lucene project.
# Each module is associated with a set of file globs that, when matched,
# will trigger the corresponding label to be applied to pull requests.
#
# This configuration is used by the workflow defined in .github/workflows/label-pull-request.yml.
# If we are adding new labels or refactoring modules, we will need to modify this file globs here to ensure that the correct labels are applied.

# For more information on how to define globs, visit: https://github.com/actions/labeler

module:analysis:
  - changed-files:
      - any-glob-to-any-file: 'lucene/analysis/**'

module:benchmark:
  - changed-files:
      - any-glob-to-any-file: 'lucene/benchmark/**'

module:classification:
  - changed-files:
      - any-glob-to-any-file: 'lucene/classification/**'

module:core/codecs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/codecs/**', 'lucene/core/src/test/org/apache/lucene/codecs/**']

module:core/FSTs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/fst/**', 'lucene/core/src/test/org/apache/lucene/util/fst/**']

module:core/hnsw:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/hnsw/**', 'lucene/core/src/test/org/apache/lucene/util/hnsw/**']

module:core/index:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/index/**', 'lucene/core/src/test/org/apache/lucene/index/**']

module:core/search:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/search/**', 'lucene/core/src/test/org/apache/lucene/search/**']

module:core/store:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/store/**', 'lucene/core/src/test/org/apache/lucene/store/**']

module:core/other:
  - all:
      - changed-files:
          - any-glob-to-any-file: ['lucene/core/**']
          - all-globs-to-all-files:
              - '!lucene/core/src/java/org/apache/lucene/codecs/**'
              - '!lucene/core/src/test/org/apache/lucene/codecs/**'
              - '!lucene/core/src/java/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/test/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/java/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/test/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/java/org/apache/lucene/index/**'
              - '!lucene/core/src/test/org/apache/lucene/index/**'
              - '!lucene/core/src/java/org/apache/lucene/search/**'
              - '!lucene/core/src/test/org/apache/lucene/search/**'
              - '!lucene/core/src/java/org/apache/lucene/store/**'
              - '!lucene/core/src/test/org/apache/lucene/store/**'

module:demo:
  - changed-files:
      - any-glob-to-any-file: 'lucene/demo/**'

module:expressions:
  - changed-files:
      - any-glob-to-any-file: 'lucene/expressions/**'

module:facet:
  - changed-files:
      - any-glob-to-any-file: 'lucene/facet/**'

module:grouping:
  - changed-files:
      - any-glob-to-any-file: 'lucene/grouping/**'

module:highlighter:
  - changed-files:
      - any-glob-to-any-file: 'lucene/highlighter/**'

module:join:
  - changed-files:
      - any-glob-to-any-file: 'lucene/join/**'

module:luke:
  - changed-files:
      - any-glob-to-any-file: 'lucene/luke/**'

module:misc:
  - changed-files:
      - any-glob-to-any-file: 'lucene/misc/**'

module:monitor:
  - changed-files:
      - any-glob-to-any-file: 'lucene/monitor/**'

module:queries:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queries/**'

module:queryparser:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queryparser/**'

module:replicator:
  - changed-files:
      - any-glob-to-any-file: 'lucene/replicator/**'

module:sandbox:
  - changed-files:
      - any-glob-to-any-file: 'lucene/sandbox/**'

module:spatial:
  - changed-files:
      - any-glob-to-any-file: ['lucene/spatial-extras/**', 'lucene/spatial-test-fixtures/**']

module:spatial3d:
  - changed-files:
      - any-glob-to-any-file: 'lucene/spatial3d/**'

module:suggest:
  - changed-files:
      - any-glob-to-any-file: 'lucene/suggest/**'

module:test-framework:
  - changed-files:
      - any-glob-to-any-file: 'lucene/test-framework/**'
