Repository apache/lucene, changes with the labels that .github/labeler.yml gives for each.
All labels: module:analysis, module:benchmark, module:classification, module:core/codecs, module:core/FSTs, module:core/hnsw, module:core/index, module:core/search, module:core/store, module:demo, module:expressions, module:facet, module:grouping, module:highlighter, module:join, module:luke, module:misc, module:monitor, module:queries, module:queryparser, module:replicator, module:sandbox, module:spatial, module:spatial3d, module:suggest, module:test-framework

Remove slices creation overhead from IndexSearcher constructor
  lucene/core/src/java/org/apache/lucene/search/IndexSearcher.java
  lucene/core/src/java/org/apache/lucene/search/TaskExecutor.java
Labels: module:core/search

Revert "Add UnwrappingReuseStrategy for AnalyzerWrapper (#14154)"
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/analysis/Analyzer.java
  lucene/core/src/java/org/apache/lucene/analysis/AnalyzerWrapper.java
  lucene/core/src/java/org/apache/lucene/analysis/DelegatingAnalyzerWrapper.java
  lucene/core/src/test/org/apache/lucene/analysis/TestAnalyzerWrapper.java
Labels: none

iter
  lucene/core/src/java/org/apache/lucene/search/IndexSearcher.java
Labels: module:core/search

Revert "Add UnwrappingReuseStrategy for AnalyzerWrapper (#14154)" (#14430)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/analysis/Analyzer.java
  lucene/core/src/java/org/apache/lucene/analysis/AnalyzerWrapper.java
  lucene/core/src/java/org/apache/lucene/analysis/DelegatingAnalyzerWrapper.java
  lucene/core/src/test/org/apache/lucene/analysis/TestAnalyzerWrapper.java
Labels: none

Revert "Add UnwrappingReuseStrategy for AnalyzerWrapper (#14154)"
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/analysis/Analyzer.java
  lucene/core/src/java/org/apache/lucene/analysis/AnalyzerWrapper.java
  lucene/core/src/java/org/apache/lucene/analysis/DelegatingAnalyzerWrapper.java
  lucene/core/src/test/org/apache/lucene/analysis/TestAnalyzerWrapper.java
Labels: none

Interleaving slice level information within the query profile tree
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QueryProfilerBreakdown.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QueryProfilerIndexSearcher.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QueryProfilerResult.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QueryProfilerTree.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QuerySliceProfilerBreakdown.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QuerySliceProfilerResult.java
Labels: module:sandbox

Revert "Add UnwrappingReuseStrategy for AnalyzerWrapper (#14154)" (#14432)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/analysis/Analyzer.java
  lucene/core/src/java/org/apache/lucene/analysis/AnalyzerWrapper.java
  lucene/core/src/java/org/apache/lucene/analysis/DelegatingAnalyzerWrapper.java
  lucene/core/src/test/org/apache/lucene/analysis/TestAnalyzerWrapper.java
Labels: none

Fixing unit tests to accommodate slice level breakdowns
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QueryProfilerBreakdown.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QueryProfilerResult.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QuerySliceProfilerBreakdown.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/search/TestQueryProfilerIndexSearcher.java
Labels: module:sandbox

Removing unnecessary null check
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QuerySliceProfilerResult.java
Labels: module:sandbox

New IndexReaderFunctions.positionLength from the norm
  lucene/core/src/java/org/apache/lucene/search/LongValues.java
  lucene/queries/src/java/org/apache/lucene/queries/function/IndexReaderFunctions.java
  lucene/queries/src/test/org/apache/lucene/queries/function/TestIndexReaderFunctions.java
Labels: module:core/search, module:queries

Fix TestHnswQueueSaturationCollector#testEarlyExitRelation with k==0
  lucene/core/src/test/org/apache/lucene/search/TestHnswQueueSaturationCollector.java
Labels: module:core/search

Fix TestHnswQueueSaturationCollector#testEarlyExitRelation with k==0 (#14434)
  lucene/core/src/test/org/apache/lucene/search/TestHnswQueueSaturationCollector.java
Labels: module:core/search

Fix TestHnswQueueSaturationCollector#testEarlyExitRelation with k==0 (#14434)
  lucene/core/src/test/org/apache/lucene/search/TestHnswQueueSaturationCollector.java
Labels: module:core/search

Fix TestHnswQueueSaturationCollector#testEarlyExitRelation with k==0 (#14434)
  lucene/core/src/test/org/apache/lucene/search/TestHnswQueueSaturationCollector.java
Labels: module:core/search

iter
  lucene/core/src/java/org/apache/lucene/search/IndexSearcher.java
Labels: module:core/search

KeywordField.newSetQuery() reuses prefixed terms.
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/document/KeywordField.java
  lucene/core/src/java/org/apache/lucene/search/TermInSetQuery.java
Labels: module:core/search

clean unused param
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/Lucene103BlockTreeTermsWriter.java
Labels: module:core/codecs

Disable HNSW connectedComponents (#14214)
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphBuilder.java
Labels: module:core/hnsw

add changes
  lucene/CHANGES.txt
Labels: none

Revert "Add UnwrappingReuseStrategy for AnalyzerWrapper (#14154)"
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/analysis/Analyzer.java
  lucene/core/src/java/org/apache/lucene/analysis/AnalyzerWrapper.java
  lucene/core/src/java/org/apache/lucene/analysis/DelegatingAnalyzerWrapper.java
  lucene/core/src/test/org/apache/lucene/analysis/TestAnalyzerWrapper.java
Labels: none

Revert "Add UnwrappingReuseStrategy for AnalyzerWrapper (#14154)" (#14437)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/analysis/Analyzer.java
  lucene/core/src/java/org/apache/lucene/analysis/AnalyzerWrapper.java
  lucene/core/src/java/org/apache/lucene/analysis/DelegatingAnalyzerWrapper.java
  lucene/core/src/test/org/apache/lucene/analysis/TestAnalyzerWrapper.java
Labels: none

Disable HNSW connectedComponents (#14214) (#14436)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphBuilder.java
Labels: module:core/hnsw

Disable HNSW connectedComponents (#14214) (#14436)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphBuilder.java
Labels: module:core/hnsw

Disable HNSW connectedComponents (#14214) (#14436)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphBuilder.java
Labels: module:core/hnsw

Update forbiddenapis to 3.9 (for Java 24+25 compatibility)
  lucene/CHANGES.txt
  versions.toml
Labels: none

Update forbiddenapis to 3.9 (for Java 24+25 compatibility)
  lucene/CHANGES.txt
  versions.toml
Labels: none

Enable Decompressor to implement Closeable interface.
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/compressing/CompressionMode.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/compressing/Decompressor.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene50/Lucene50StoredFieldsFormat.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene87/DeflateWithPresetDictCompressionMode.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene87/LZ4WithPresetDictCompressionMode.java
  lucene/core/src/java/org/apache/lucene/codecs/compressing/CompressionMode.java
  lucene/core/src/java/org/apache/lucene/codecs/compressing/Decompressor.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/DeflateWithPresetDictCompressionMode.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/LZ4WithPresetDictCompressionMode.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/compressing/Lucene90CompressingStoredFieldsReader.java
  lucene/core/src/java/org/apache/lucene/index/SortingStoredFieldsConsumer.java
  lucene/test-framework/src/java/org/apache/lucene/tests/codecs/compressing/dummy/DummyCompressingCodec.java
Labels: module:core/codecs, module:core/index, module:test-framework

Adding logic for collecting histogram using Point Trees
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/HistogramCollector.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/PointTreeTraversal.java
Labels: module:sandbox

Adding license and NonFinalStaticField fix
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/PointTreeTraversal.java
Labels: module:sandbox

Fixing static field error
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/PointTreeTraversal.java
Labels: module:sandbox

label map
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/FieldReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/TrieBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/TrieReader.java
  lucene/core/src/java/org/apache/lucene/util/FixedBitSet.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene103/blocktree/TestTrie.java
Labels: module:core/codecs

supplier
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/FieldReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/TrieReader.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene103/blocktree/TestTrie.java
Labels: module:core/codecs

iter
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/FieldReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/TrieReader.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene103/blocktree/TestTrie.java
Labels: module:core/codecs

review iter
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/TrieBuilder.java
Labels: module:core/codecs

change 101
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/Lucene101PostingsFormat.java
Labels: module:core/codecs

use file extension as category
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene90/Lucene90HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene91/Lucene91HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene92/Lucene92HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene94/Lucene94HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene95/Lucene95HnswVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/KnnVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene102/Lucene102BinaryQuantizedVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99FlatVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99HnswVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99ScalarQuantizedVectorsReader.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene102/TestLucene102HnswBinaryQuantizedVectorsFormat.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseKnnVectorsFormatTestCase.java
Labels: module:core/codecs, module:test-framework

Tidying the code
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/PointTreeTraversal.java
Labels: module:sandbox

remove redundant method
  lucene/core/src/java/org/apache/lucene/search/TermInSetQuery.java
Labels: module:core/search

null map for continuous value range
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/TrieBuilder.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene103/blocktree/TestTrie.java
Labels: module:core/codecs

KeywordField.newSetQuery() to reuse prefixed terms in IndexOrDocValuesQuery (#14435)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/document/KeywordField.java
  lucene/core/src/java/org/apache/lucene/search/TermInSetQuery.java
Labels: module:core/search

.github/labeler.yml:

# This file defines module label mappings for the Lucene project.
# Each module is associated with a set of file globs that, when matched,
# will trigger the corresponding label to be applied to pull requests.
#
# This configuration is used by the workflow defined in .github/workflows/label-pull-request.yml.
# If we are adding new labels or refactoring modules, we will need to modify this file globs here to ensure that the correct labels are applied.

# For more information on how to define globs, visit: https://github.com/actions/labeler

module:analysis:
  - changed-files:
      - any-glob-to-any-file: 'lucene/analysis/**'

module:benchmark:
  - changed-files:
      - any-glob-to-any-file: 'lucene/benchmark/**'

module:classification:
  - changed-files:
      - any-glob-to-any-file: 'lucene/classification/**'

module:core/codecs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/codecs/**', 'lucene/core/src/test/org/apache/lucene/codecs/**']

module:core/FSTs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/fst/**', 'lucene/core/src/test/org/apache/lucene/util/fst/**']

module:core/hnsw:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/hnsw/**', 'lucene/core/src/test/org/apache/lucene/util/hnsw/**']

module:core/index:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/index/**', 'lucene/core/src/test/org/apache/lucene/index/**']

module:core/search:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/search/**', 'lucene/core/src/test/org/apache/lucene/search/**']

module:core/store:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/store/**', 'lucene/core/src/test/org/apache/lucene/store/**']

module:core/other:
  - all:
      - changed-files:
          - any-glob-to-any-file: ['lucene/core/**']
          - all-globs-to-all-files:
              - '!lucene/core/src/java/org/apache/lucene/codecs/**'
              - '!lucene/core/src/test/org/apache/lucene/codecs/**'
              - '!lucene/core/src/java/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/test/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/java/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/test/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/java/org/apache/lucene/index/**'
              - '!lucene/core/src/test/org/apache/lucene/index/**'
              - '!lucene/core/src/java/org/apache/lucene/search/**'
              - '!lucene/core/src/test/org/apache/lucene/search/**'
              - '!lucene/core/src/java/org/apache/lucene/store/**'
              - '!lucene/core/src/test/org/apache/lucene/store/**'

module:demo:
  - changed-files:
      - any-glob-to-any-file: 'lucene/demo/**'

module:expressions:
  - changed-files:
      - any-glob-to-any-file: 'lucene/expressions/**'

module:facet:
  - changed-files:
      - any-glob-to-any-file: 'lucene/facet/**'

module:grouping:
  - changed-files:
      - any-glob-to-any-file: 'lucene/grouping/**'

module:highlighter:
  - changed-files:
      - any-glob-to-any-file: 'lucene/highlighter/**'

module:join:
  - changed-files:
      - any-glob-to-any-file: 'lucene/join/**'

module:luke:
  - changed-files:
      - any-glob-to-any-file: 'lucene/luke/**'

module:misc:
  - changed-files:
      - any-glob-to-any-file: 'lucene/misc/**'

module:monitor:
  - changed-files:
      - any-glob-to-any-file: 'lucene/monitor/**'

module:queries:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queries/**'

module:queryparser:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queryparser/**'

module:replicator:
  - changed-files:
      - any-glob-to-any-file: 'lucene/replicator/**'

module:sandbox:
  - changed-files:
      - any-glob-to-any-file: 'lucene/sandbox/**'

module:spatial:
  - changed-files:
      - any-glob-to-any-file: ['lucene/spatial-extras/**', 'lucene/spatial-test-fixtures/**']

module:spatial3d:
  - changed-files:
      - any-glob-to-any-file: 'lucene/spatial3d/**'

module:suggest:
  - changed-files:
      - any-glob-to-any-file: 'lucene/suggest/**'

module:test-framework:
  - changed-files:
      - any-glob-to-any-file: 'lucene/test-framework/**'
