Repository apache/lucene, changes with the labels that .github/labeler.yml gives for each.
All labels: module:analysis, module:benchmark, module:classification, module:core/codecs, module:core/FSTs, module:core/hnsw, module:core/index, module:core/search, module:core/store, module:demo, module:expressions, module:facet, module:grouping, module:highlighter, module:join, module:luke, module:misc, module:monitor, module:queries, module:queryparser, module:replicator, module:sandbox, module:spatial, module:spatial3d, module:suggest, module:test-framework

.github/labeler.yml:

# This file defines module label mappings for the Lucene project.
# Each module is associated with a set of file globs that, when matched,
# will trigger the corresponding label to be applied to pull requests.
#
# This configuration is used by the workflow defined in .github/workflows/label-pull-request.yml.
# If we are adding new labels or refactoring modules, we will need to modify this file globs here to ensure that the correct labels are applied.

# For more information on how to define globs, visit: https://github.com/actions/labeler

module:analysis:
  - changed-files:
      - any-glob-to-any-file: 'lucene/analysis/**'

module:benchmark:
  - changed-files:
      - any-glob-to-any-file: 'lucene/benchmark/**'

module:classification:
  - changed-files:
      - any-glob-to-any-file: 'lucene/classification/**'

module:core/codecs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/codecs/**', 'lucene/core/src/test/org/apache/lucene/codecs/**']

module:core/FSTs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/fst/**', 'lucene/core/src/test/org/apache/lucene/util/fst/**']

module:core/hnsw:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/hnsw/**', 'lucene/core/src/test/org/apache/lucene/util/hnsw/**']

module:core/index:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/index/**', 'lucene/core/src/test/org/apache/lucene/index/**']

module:core/search:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/search/**', 'lucene/core/src/test/org/apache/lucene/search/**']

module:core/store:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/store/**', 'lucene/core/src/test/org/apache/lucene/store/**']

module:core/other:
  - all:
      - changed-files:
          - any-glob-to-any-file: ['lucene/core/**']
          - all-globs-to-all-files:
              - '!lucene/core/src/java/org/apache/lucene/codecs/**'
              - '!lucene/core/src/test/org/apache/lucene/codecs/**'
              - '!lucene/core/src/java/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/test/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/java/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/test/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/java/org/apache/lucene/index/**'
              - '!lucene/core/src/test/org/apache/lucene/index/**'
              - '!lucene/core/src/java/org/apache/lucene/search/**'
              - '!lucene/core/src/test/org/apache/lucene/search/**'
              - '!lucene/core/src/java/org/apache/lucene/store/**'
              - '!lucene/core/src/test/org/apache/lucene/store/**'

module:demo:
  - changed-files:
      - any-glob-to-any-file: 'lucene/demo/**'

module:expressions:
  - changed-files:
      - any-glob-to-any-file: 'lucene/expressions/**'

module:facet:
  - changed-files:
      - any-glob-to-any-file: 'lucene/facet/**'

module:grouping:
  - changed-files:
      - any-glob-to-any-file: 'lucene/grouping/**'

module:highlighter:
  - changed-files:
      - any-glob-to-any-file: 'lucene/highlighter/**'

module:join:
  - changed-files:
      - any-glob-to-any-file: 'lucene/join/**'

module:luke:
  - changed-files:
      - any-glob-to-any-file: 'lucene/luke/**'

module:misc:
  - changed-files:
      - any-glob-to-any-file: 'lucene/misc/**'

module:monitor:
  - changed-files:
      - any-glob-to-any-file: 'lucene/monitor/**'

module:queries:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queries/**'

module:queryparser:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queryparser/**'

module:replicator:
  - changed-files:
      - any-glob-to-any-file: 'lucene/replicator/**'

module:sandbox:
  - changed-files:
      - any-glob-to-any-file: 'lucene/sandbox/**'

module:spatial:
  - changed-files:
      - any-glob-to-any-file: ['lucene/spatial-extras/**', 'lucene/spatial-test-fixtures/**']

module:spatial3d:
  - changed-files:
      - any-glob-to-any-file: 'lucene/spatial3d/**'

module:suggest:
  - changed-files:
      - any-glob-to-any-file: 'lucene/suggest/**'

module:test-framework:
  - changed-files:
      - any-glob-to-any-file: 'lucene/test-framework/**'

KeywordField.newSetQuery() to reuse prefixed terms in IndexOrDocValuesQuery (#14435)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/document/KeywordField.java
  lucene/core/src/java/org/apache/lucene/search/TermInSetQuery.java
Labels: module:core/search

KeywordField.newSetQuery() to reuse prefixed terms in IndexOrDocValuesQuery (#14435) (#14442)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/document/KeywordField.java
  lucene/core/src/java/org/apache/lucene/search/TermInSetQuery.java
Labels: module:core/search

unused var remove
  lucene/core/src/test/org/apache/lucene/search/TestSearcherManager.java
Labels: module:core/search

start UT
  lucene/core/src/java/org/apache/lucene/search/RefreshCommitSupplier.java
  lucene/core/src/test/org/apache/lucene/search/TestSearcherManager.java
Labels: module:core/search

tidy
  lucene/core/src/test/org/apache/lucene/search/TestSearcherManager.java
  lucene/facet/src/java/org/apache/lucene/facet/taxonomy/SearcherTaxonomyManager.java
  lucene/facet/src/test/org/apache/lucene/facet/taxonomy/TestSearcherTaxonomyManager.java
Labels: module:core/search, module:facet

fix doc string
  lucene/core/src/java/org/apache/lucene/search/RefreshCommitSupplier.java
Labels: module:core/search

add refresh commit supplier to Searcher, Taxonomy, and Reader managers
  lucene/core/src/java/org/apache/lucene/index/ReaderManager.java
  lucene/core/src/java/org/apache/lucene/search/RefreshCommitSupplier.java
  lucene/core/src/java/org/apache/lucene/search/SearcherManager.java
  lucene/facet/src/java/org/apache/lucene/facet/taxonomy/SearcherTaxonomyManager.java
Labels: module:core/index, module:core/search, module:facet

tidy
  lucene/core/src/java/org/apache/lucene/index/ReaderManager.java
  lucene/core/src/java/org/apache/lucene/search/RefreshCommitSupplier.java
  lucene/core/src/java/org/apache/lucene/search/SearcherManager.java
  lucene/facet/src/java/org/apache/lucene/facet/taxonomy/SearcherTaxonomyManager.java
Labels: module:core/index, module:core/search, module:facet

docstring;
  lucene/core/src/java/org/apache/lucene/index/ReaderManager.java
  lucene/core/src/java/org/apache/lucene/search/SearcherManager.java
  lucene/facet/src/java/org/apache/lucene/facet/taxonomy/SearcherTaxonomyManager.java
Labels: module:core/index, module:core/search, module:facet

restore ReaderManager to main branch version
  lucene/core/src/java/org/apache/lucene/index/ReaderManager.java
Labels: module:core/index

test taxo refresh after searcher
  lucene/core/src/java/org/apache/lucene/search/RefreshCommitSupplier.java
  lucene/facet/src/java/org/apache/lucene/facet/taxonomy/SearcherTaxonomyManager.java
  lucene/facet/src/test/org/apache/lucene/facet/taxonomy/TestSearcherTaxonomyManager.java
Labels: module:core/search, module:facet

test next commit in searcher manager
  lucene/core/src/test/org/apache/lucene/search/TestSearcherManager.java
Labels: module:core/search

pass directory reader and let impl. list out commits
  lucene/core/src/java/org/apache/lucene/index/ReaderManager.java
  lucene/core/src/java/org/apache/lucene/search/RefreshCommitSupplier.java
  lucene/core/src/java/org/apache/lucene/search/SearcherManager.java
  lucene/facet/src/java/org/apache/lucene/facet/taxonomy/SearcherTaxonomyManager.java
Labels: module:core/index, module:core/search, module:facet

tidy
  lucene/core/src/java/org/apache/lucene/search/RefreshCommitSupplier.java
  lucene/core/src/test/org/apache/lucene/search/TestSearcherManager.java
Labels: module:core/search

move util methods to SearcherManager
  lucene/core/src/java/org/apache/lucene/search/SearcherManager.java
  lucene/core/src/test/org/apache/lucene/search/TestSearcherManager.java
Labels: module:core/search

simplify Searcher Taxonomy manager
  lucene/facet/src/java/org/apache/lucene/facet/taxonomy/SearcherTaxonomyManager.java
Labels: module:facet

add step wise commit test
  lucene/core/src/test/org/apache/lucene/search/TestSearcherManager.java
Labels: module:core/search

add searcher taxo mgr tests
  lucene/core/src/java/org/apache/lucene/search/SearcherManager.java
  lucene/core/src/test/org/apache/lucene/search/TestSearcherManager.java
  lucene/facet/src/java/org/apache/lucene/facet/taxonomy/SearcherTaxonomyManager.java
  lucene/facet/src/test/org/apache/lucene/facet/taxonomy/TestSearcherTaxonomyManager.java
Labels: module:core/search, module:facet

add license
  lucene/core/src/java/org/apache/lucene/search/RefreshCommitSupplier.java
Labels: module:core/search

Mention threadId explicitly instead of sliceId
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QueryProfilerBreakdown.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QueryProfilerResult.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QuerySliceProfilerResult.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/search/TestQueryProfilerIndexSearcher.java
Labels: module:sandbox

Replacing few more references
  lucene/sandbox/src/test/org/apache/lucene/sandbox/search/TestQueryProfilerIndexSearcher.java
Labels: module:sandbox

Tidying the code
  lucene/sandbox/src/test/org/apache/lucene/sandbox/search/TestQueryProfilerIndexSearcher.java
Labels: module:sandbox

Initial implementation of binning with term vectors
  lucene/core/src/java/org/apache/lucene/codecs/BinMapReader.java
  lucene/core/src/java/org/apache/lucene/codecs/BinMapWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/DocBinningGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/DocGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/InMemorySparseEdgeGraph.java
  lucene/core/src/java/org/apache/lucene/codecs/SparseEdgeGraph.java
  lucene/core/src/java/org/apache/lucene/codecs/TVLeafReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/Lucene101PostingsWriter.java
  lucene/core/src/java/org/apache/lucene/index/BinScoreLeafReader.java
  lucene/core/src/java/org/apache/lucene/index/BinScoreReader.java
  lucene/core/src/java/org/apache/lucene/index/BinScoreUtil.java
  lucene/core/src/java/org/apache/lucene/search/AnytimeRankingCollector.java
  lucene/core/src/java/org/apache/lucene/search/AnytimeRankingCollectorManager.java
  lucene/core/src/java/org/apache/lucene/search/AnytimeRankingSearcher.java
  lucene/core/src/java/org/apache/lucene/search/BinBoostCalculator.java
  lucene/core/src/test/org/apache/lucene/codecs/TestBinMapReaderWriter.java
  lucene/core/src/test/org/apache/lucene/codecs/TestDocBinningGraphBuilder.java
  lucene/core/src/test/org/apache/lucene/codecs/TestDocGraphBuilder.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene101/TestLucene101PostingsFormat.java
  lucene/core/src/test/org/apache/lucene/index/TVLeafReader.java
  lucene/core/src/test/org/apache/lucene/index/TestBinScoreUtil.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingRelevanceSearch.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingSearch.java
Labels: module:core/codecs, module:core/index, module:core/search

Intermediate commit for moving to postings based binning
  lucene/core/src/java/org/apache/lucene/codecs/BinningSupport.java
  lucene/core/src/java/org/apache/lucene/codecs/FieldsLeafReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/BinningPostingsWriter.java
Labels: module:core/codecs

Intermediate commit for moving to postings based binning2
  lucene/core/src/java/org/apache/lucene/codecs/DocBinningGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/DocGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/BinningPostingsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/Lucene101PostingsFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/Lucene101PostingsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/perfield/PerFieldPostingsFormat.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingSearch.java
Labels: module:core/codecs, module:core/search

One tidy and intermittent commit
  lucene/core/src/java/org/apache/lucene/codecs/BinMapReader.java
  lucene/core/src/java/org/apache/lucene/codecs/BinMapWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/DocBinningGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/DocGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/FieldsLeafReader.java
  lucene/core/src/java/org/apache/lucene/codecs/InMemorySparseEdgeGraph.java
  lucene/core/src/java/org/apache/lucene/codecs/SparseEdgeGraph.java
  lucene/core/src/java/org/apache/lucene/codecs/TVLeafReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/BinningPostingsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/Lucene101PostingsFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/Lucene101PostingsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/perfield/PerFieldPostingsFormat.java
  lucene/core/src/java/org/apache/lucene/index/BinScoreLeafReader.java
  lucene/core/src/java/org/apache/lucene/index/BinScoreReader.java
  lucene/core/src/java/org/apache/lucene/index/BinScoreUtil.java
  lucene/core/src/java/org/apache/lucene/search/AnytimeRankingCollector.java
  lucene/core/src/java/org/apache/lucene/search/AnytimeRankingCollectorManager.java
  lucene/core/src/java/org/apache/lucene/search/AnytimeRankingSearcher.java
  lucene/core/src/java/org/apache/lucene/search/BinBoostCalculator.java
  lucene/core/src/test/org/apache/lucene/codecs/TestBinMapReaderWriter.java
  lucene/core/src/test/org/apache/lucene/codecs/TestDocBinningGraphBuilder.java
  lucene/core/src/test/org/apache/lucene/codecs/TestDocGraphBuilder.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene101/TestLucene101PostingsFormat.java
  lucene/core/src/test/org/apache/lucene/index/TVLeafReader.java
  lucene/core/src/test/org/apache/lucene/index/TestBinScoreUtil.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingRelevanceSearch.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingSearch.java
Labels: module:core/codecs, module:core/index, module:core/search

Fix cleanup
  lucene/core/src/java/org/apache/lucene/index/BinScoreUtil.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingSearch.java
Labels: module:core/index, module:core/search

Fix merging and test
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/Lucene101PostingsFormat.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene101/TestLucene101PostingsFormat.java
Labels: module:core/codecs

Anonymous classes
  lucene/core/src/java/org/apache/lucene/store/FlushIOContext.java
  lucene/core/src/java/org/apache/lucene/store/IOContext.java
  lucene/core/src/java/org/apache/lucene/store/MergeIOContext.java
Labels: module:core/store

Minor cleanups
  lucene/core/src/test/org/apache/lucene/codecs/lucene101/TestLucene101PostingsFormat.java
  lucene/core/src/test/org/apache/lucene/search/TestAnytimeRankingRelevanceSearch.java
Labels: module:core/codecs, module:core/search

compute the doc range more efficiently when flushing doc block
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/Lucene101PostingsWriter.java
Labels: module:core/codecs

BinUtil for utility methods
  lucene/core/src/java/org/apache/lucene/codecs/BinningUtil.java
Labels: module:core/codecs

TestLongNormValueSource: improve AssortingScorable: don't wrap needlessly
  lucene/queries/src/test/org/apache/lucene/queries/function/TestLongNormValueSource.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingScorable.java
Labels: module:queries, module:test-framework

tests: mark TestVectorScorer.testLarge() @Monster
  lucene/core/src/test/org/apache/lucene/internal/vectorization/TestVectorScorer.java
Labels: none

Use the same DocIdSetIterator impl for #all, #range and #empty.
  lucene/core/src/java/org/apache/lucene/search/DocIdSetIterator.java
  lucene/core/src/test/org/apache/lucene/search/TestDocIdSetIterator.java
Labels: module:core/search

Clean up how the test framework creates asserting scorables.
  lucene/core/src/test/org/apache/lucene/search/TestSloppyPhraseQuery.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingScorable.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingScorer.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingWeight.java
Labels: module:core/search, module:test-framework

Reduce polymorphism of DocIdSetIterator#docID().
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/IndexedDISI.java
  lucene/core/src/java/org/apache/lucene/search/AbstractDocIdSetIterator.java
  lucene/core/src/java/org/apache/lucene/search/BlockMaxConjunctionScorer.java
  lucene/core/src/java/org/apache/lucene/search/ConjunctionDISI.java
  lucene/core/src/java/org/apache/lucene/search/DisjunctionDISIApproximation.java
  lucene/core/src/java/org/apache/lucene/search/DocIdSetIterator.java
  lucene/core/src/java/org/apache/lucene/search/DocValuesRangeIterator.java
  lucene/core/src/java/org/apache/lucene/search/FilteredDocIdSetIterator.java
  lucene/core/src/java/org/apache/lucene/search/ImpactsDISI.java
  lucene/core/src/java/org/apache/lucene/search/IndexSortSortedNumericDocValuesRangeQuery.java
  lucene/core/src/java/org/apache/lucene/search/ReqOptSumScorer.java
  lucene/core/src/java/org/apache/lucene/search/TwoPhaseIterator.java
  lucene/core/src/java/org/apache/lucene/search/comparators/DocComparator.java
  lucene/core/src/java/org/apache/lucene/search/comparators/MinDocIterator.java
  lucene/core/src/java/org/apache/lucene/search/comparators/NumericComparator.java
  lucene/core/src/java/org/apache/lucene/search/comparators/TermOrdValComparator.java
  lucene/core/src/java/org/apache/lucene/util/BitSetIterator.java
  lucene/core/src/java/org/apache/lucene/util/DocBaseBitSetIterator.java
  lucene/core/src/java/org/apache/lucene/util/IntArrayDocIdSet.java
  lucene/core/src/java/org/apache/lucene/util/NotDocIdSet.java
  lucene/core/src/java/org/apache/lucene/util/RoaringDocIdSet.java
  lucene/core/src/java/org/apache/lucene/util/bkd/BKDReader.java
  lucene/core/src/test/org/apache/lucene/search/IntArrayDocIdSet.java
  lucene/facet/src/java/org/apache/lucene/facet/FacetUtils.java
  lucene/join/src/test/org/apache/lucene/search/join/TestToParentJoinKnnResults.java
  lucene/queries/src/test/org/apache/lucene/queries/spans/AssertingSpans.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QueryProfilerScorer.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingLeafCollector.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingScorer.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/RandomApproximationQuery.java
Labels: module:core/codecs, module:core/search, module:facet, module:join, module:queries, module:sandbox, module:test-framework

tests: mark TestVectorScorer.testLarge() @Monster (#14449)
  lucene/core/src/test/org/apache/lucene/internal/vectorization/TestVectorScorer.java
Labels: none

Use the same DocIdSetIterator impl for #all, #range and #empty. (#14451)
  lucene/core/src/java/org/apache/lucene/search/DocIdSetIterator.java
  lucene/core/src/test/org/apache/lucene/search/TestDocIdSetIterator.java
Labels: module:core/search

Use the same DocIdSetIterator impl for #all, #range and #empty. (#14451)
  lucene/core/src/java/org/apache/lucene/search/DocIdSetIterator.java
  lucene/core/src/test/org/apache/lucene/search/TestDocIdSetIterator.java
Labels: module:core/search
