Repository apache/lucene, changes with the labels that .github/labeler.yml gives for each.
All labels: module:analysis, module:benchmark, module:classification, module:core/codecs, module:core/FSTs, module:core/hnsw, module:core/index, module:core/search, module:core/store, module:demo, module:expressions, module:facet, module:grouping, module:highlighter, module:join, module:luke, module:misc, module:monitor, module:queries, module:queryparser, module:replicator, module:sandbox, module:spatial, module:spatial3d, module:suggest, module:test-framework

Fix changelog verifier
  .github/workflows/verify-changelog-and-set-milestone.yml
Labels: none

Fix changelog verifier (#14606)
  .github/workflows/verify-changelog-and-set-milestone.yml
Labels: none

better naming and comments
  lucene/core/src/java/org/apache/lucene/index/IndexWriter.java
  lucene/core/src/java/org/apache/lucene/index/SegmentInfos.java
Labels: module:core/index

Check and refetch gradle-wrapper.jar if its checksum doesn't match. Use sha256sum on each invocation. Use standard sha256sum format for the .sha256 file.
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/WrapperDownloader.java
  gradle/wrapper/gradle-wrapper.jar.sha256
  gradlew
Labels: none

Always check the consistency of gradle-wrapper.jar file on Windows.
  gradlew.bat
Labels: none

Add support for sha256 precheck using certutil.
  gradlew.bat
Labels: none

Always check gradle wrapper sha checksum and download if necessary (#14608)
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/WrapperDownloader.java
  gradle/wrapper/gradle-wrapper.jar.sha256
  gradlew
  gradlew.bat
Labels: none

Always check gradle wrapper sha checksum and download if necessary (#14608)
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/WrapperDownloader.java
  gradle/wrapper/gradle-wrapper.jar.sha256
  gradlew
  gradlew.bat
Labels: none

Overrides rewrite in PointRangeQuery to handle cases where the query range either fully contains or fully excludes all documents within the shard.
  lucene/core/src/java/org/apache/lucene/search/PointRangeQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestLRUQueryCache.java
  lucene/core/src/test/org/apache/lucene/search/TestPointQueries.java
Labels: module:core/search

Fixes wildcarded imports
  lucene/core/src/java/org/apache/lucene/search/PointRangeQuery.java
Labels: module:core/search

Null check on values
  lucene/core/src/java/org/apache/lucene/search/PointRangeQuery.java
Labels: module:core/search

Update jdk requirements in README to OpenJDK 24
  README.md
Labels: none

Update jdk requirements in README to OpenJDK 24 (#14610)
  README.md
Labels: none

Fix for Windows (spaces in paths) #14608
  gradlew.bat
Labels: none

Fix for Windows (spaces in paths) #14608
  gradlew.bat
Labels: none

Rewrite APIJAR extractor to use Java 24 classfile API and kill ASM dependency also for build system
  gradle/generation/extract-jdk-apis.gradle
  gradle/generation/extract-jdk-apis/ExtractJdkApis.java
  gradle/libs.versions.toml
  lucene/core/src/generated/jdk/README.md
  lucene/core/src/generated/jdk/jdk24.apijar
Labels: none

add CHANGES.txt
  lucene/CHANGES.txt
Labels: none

fix descrtpion/messages to no longer contain "foreign"
  gradle/generation/extract-jdk-apis.gradle
Labels: none

attribute => annotation
  gradle/generation/extract-jdk-apis/ExtractJdkApis.java
Labels: none

small cleanup
  gradle/generation/extract-jdk-apis/ExtractJdkApis.java
Labels: none

Add check to make sure all referenced classes are available or part of java.base module
  gradle/generation/extract-jdk-apis/ExtractJdkApis.java
  lucene/core/src/generated/jdk/jdk24.apijar
Labels: none

OptimisticKnnVectorQuery (#14226)
  lucene/core/src/java/org/apache/lucene/search/AbstractKnnVectorQuery.java
  lucene/core/src/java/org/apache/lucene/search/SeededKnnVectorQuery.java
  lucene/core/src/test/org/apache/lucene/search/BaseKnnVectorQueryTestCase.java
  lucene/core/src/test/org/apache/lucene/search/TestKnnFloatVectorQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestSeededKnnByteVectorQuery.java
Labels: module:core/search

CHANGES entry for #14226 (optimistic KNN Query)
  lucene/CHANGES.txt
Labels: none

Fix FuzzySet#getEstimatedNumberUniqueValuesAllowingForCollisions to properly account for hashCount
  lucene/codecs/src/java/org/apache/lucene/codecs/bloom/FuzzySet.java
Labels: none

Some cleanup
  gradle/generation/extract-jdk-apis/ExtractJdkApis.java
Labels: none

Shrink the public surface area of FuzzySet
  lucene/codecs/src/java/org/apache/lucene/codecs/bloom/FuzzySet.java
Labels: none

Fix FuzzySet#createSetBasedOnMaxMemory to honor bytes not bits
  lucene/codecs/src/java/org/apache/lucene/codecs/bloom/FuzzySet.java
Labels: none

Make sure all referenced classes including outer classes are collected lazily
  gradle/generation/extract-jdk-apis/ExtractJdkApis.java
Labels: none

update OnHeapHnswGraph ramBytesUsed method
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/NeighborArray.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/OnHeapHnswGraph.java
Labels: module:core/hnsw

impl intoBitset and docIdRunEnd for wrappers
  lucene/core/src/java/org/apache/lucene/index/SingletonSortedNumericDocValues.java
  lucene/core/src/java/org/apache/lucene/index/SingletonSortedSetDocValues.java
Labels: module:core/index

review iter
  lucene/core/src/java/org/apache/lucene/index/ReadersAndUpdates.java
Labels: module:core/index

review iter
  lucene/core/src/java/org/apache/lucene/index/ReadersAndUpdates.java
Labels: module:core/index

fix
  lucene/core/src/java/org/apache/lucene/index/ReadersAndUpdates.java
Labels: module:core/index

.github/labeler.yml:

# This file defines module label mappings for the Lucene project.
# Each module is associated with a set of file globs that, when matched,
# will trigger the corresponding label to be applied to pull requests.
#
# This configuration is used by the workflow defined in .github/workflows/label-pull-request.yml.
# If we are adding new labels or refactoring modules, we will need to modify this file globs here to ensure that the correct labels are applied.

# For more information on how to define globs, visit: https://github.com/actions/labeler

module:analysis:
  - changed-files:
      - any-glob-to-any-file: 'lucene/analysis/**'

module:benchmark:
  - changed-files:
      - any-glob-to-any-file: 'lucene/benchmark/**'

module:classification:
  - changed-files:
      - any-glob-to-any-file: 'lucene/classification/**'

module:core/codecs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/codecs/**', 'lucene/core/src/test/org/apache/lucene/codecs/**']

module:core/FSTs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/fst/**', 'lucene/core/src/test/org/apache/lucene/util/fst/**']

module:core/hnsw:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/hnsw/**', 'lucene/core/src/test/org/apache/lucene/util/hnsw/**']

module:core/index:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/index/**', 'lucene/core/src/test/org/apache/lucene/index/**']

module:core/search:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/search/**', 'lucene/core/src/test/org/apache/lucene/search/**']

module:core/store:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/store/**', 'lucene/core/src/test/org/apache/lucene/store/**']

module:core/other:
  - all:
      - changed-files:
          - any-glob-to-any-file: ['lucene/core/**']
          - all-globs-to-all-files:
              - '!lucene/core/src/java/org/apache/lucene/codecs/**'
              - '!lucene/core/src/test/org/apache/lucene/codecs/**'
              - '!lucene/core/src/java/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/test/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/java/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/test/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/java/org/apache/lucene/index/**'
              - '!lucene/core/src/test/org/apache/lucene/index/**'
              - '!lucene/core/src/java/org/apache/lucene/search/**'
              - '!lucene/core/src/test/org/apache/lucene/search/**'
              - '!lucene/core/src/java/org/apache/lucene/store/**'
              - '!lucene/core/src/test/org/apache/lucene/store/**'

module:demo:
  - changed-files:
      - any-glob-to-any-file: 'lucene/demo/**'

module:expressions:
  - changed-files:
      - any-glob-to-any-file: 'lucene/expressions/**'

module:facet:
  - changed-files:
      - any-glob-to-any-file: 'lucene/facet/**'

module:grouping:
  - changed-files:
      - any-glob-to-any-file: 'lucene/grouping/**'

module:highlighter:
  - changed-files:
      - any-glob-to-any-file: 'lucene/highlighter/**'

module:join:
  - changed-files:
      - any-glob-to-any-file: 'lucene/join/**'

module:luke:
  - changed-files:
      - any-glob-to-any-file: 'lucene/luke/**'

module:misc:
  - changed-files:
      - any-glob-to-any-file: 'lucene/misc/**'

module:monitor:
  - changed-files:
      - any-glob-to-any-file: 'lucene/monitor/**'

module:queries:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queries/**'

module:queryparser:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queryparser/**'

module:replicator:
  - changed-files:
      - any-glob-to-any-file: 'lucene/replicator/**'

module:sandbox:
  - changed-files:
      - any-glob-to-any-file: 'lucene/sandbox/**'

module:spatial:
  - changed-files:
      - any-glob-to-any-file: ['lucene/spatial-extras/**', 'lucene/spatial-test-fixtures/**']

module:spatial3d:
  - changed-files:
      - any-glob-to-any-file: 'lucene/spatial3d/**'

module:suggest:
  - changed-files:
      - any-glob-to-any-file: 'lucene/suggest/**'

module:test-framework:
  - changed-files:
      - any-glob-to-any-file: 'lucene/test-framework/**'
