Repository apache/lucene, changes with the labels that .github/labeler.yml gives for each.
All labels: module:analysis, module:benchmark, module:classification, module:core/codecs, module:core/FSTs, module:core/hnsw, module:core/index, module:core/search, module:core/store, module:demo, module:expressions, module:facet, module:grouping, module:highlighter, module:join, module:luke, module:misc, module:monitor, module:queries, module:queryparser, module:replicator, module:sandbox, module:spatial, module:spatial3d, module:suggest, module:test-framework

simplify
  lucene/core/src/java/org/apache/lucene/index/DocValuesFieldUpdates.java
  lucene/core/src/java/org/apache/lucene/index/NumericDocValuesFieldUpdates.java
  lucene/core/src/java/org/apache/lucene/index/ReadersAndUpdates.java
Labels: module:core/index

tidy
  lucene/core/src/java/org/apache/lucene/index/ReadersAndUpdates.java
Labels: module:core/index

iter
  lucene/core/src/java/org/apache/lucene/index/ReadersAndUpdates.java
Labels: module:core/index

PointInSetQuery early exit on non-matching segments (#14268)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/PointInSetQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestPointQueries.java
Labels: module:core/search

Reduce comparisons for equalPoint case
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/PointRangeQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestPointQueries.java
Labels: module:core/search

Add comment.
  lucene/core/src/java/org/apache/lucene/util/fst/FSTCompiler.java
Labels: module:core/FSTs

add a test
  lucene/core/src/test/org/apache/lucene/index/TestMixedDocValuesUpdates.java
Labels: module:core/index

Fix flaky test in TestMergeSchedulerExternal #13547
  lucene/core/src/test/org/apache/lucene/TestMergeSchedulerExternal.java
Labels: none

Remove TODO in FSTCompiler#freezeTail. (#13923)
  lucene/core/src/java/org/apache/lucene/util/fst/FSTCompiler.java
Labels: module:core/FSTs

Remove TODO in FSTCompiler#freezeTail. (#13923)
  lucene/core/src/java/org/apache/lucene/util/fst/FSTCompiler.java
Labels: module:core/FSTs

Fix flaky test in TestMergeSchedulerExternal #13547 (#14562)
  lucene/core/src/test/org/apache/lucene/TestMergeSchedulerExternal.java
Labels: none

Fix flaky test in TestMergeSchedulerExternal #13547 (#14562)
  lucene/core/src/test/org/apache/lucene/TestMergeSchedulerExternal.java
Labels: none

Fix flaky test in TestMergeSchedulerExternal #13547 (#14562)
  lucene/core/src/test/org/apache/lucene/TestMergeSchedulerExternal.java
Labels: none

Addressing review comments
  lucene/CHANGES.txt
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/HistogramCollector.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/facet/plain/histograms/TestHistogramCollectorManager.java
Labels: module:sandbox

Update to gradle 8.14, official.
  gradle/wrapper/gradle-wrapper.jar.sha256
  gradle/wrapper/gradle-wrapper.jar.version
  gradle/wrapper/gradle-wrapper.properties
Labels: none

Replace ecj compiler dependency with a download of ecj compiler drop from Eclipse's p2 repositories.
  gradle/libs.versions.toml
  gradle/validation/ecj-lint.gradle
Labels: none

Remove abstractions of MMapDirectory and MR-JAR support and move it to main sourceSet
  gradle/generation/extract-jdk-apis.gradle
  gradle/generation/extract-jdk-apis/ExtractJdkApis.java
  gradle/java/core-mrjar.gradle
  gradle/libs.versions.toml
  lucene/core/src/generated/jdk/jdk21.apijar
  lucene/core/src/generated/jdk/jdk23.apijar
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
  lucene/core/src/java/org/apache/lucene/store/MemorySegmentAccessInput.java
  lucene/core/src/java/org/apache/lucene/store/MemorySegmentIndexInput.java
  lucene/core/src/java/org/apache/lucene/store/NativeAccess.java
  lucene/core/src/java/org/apache/lucene/store/PosixNativeAccess.java
  lucene/core/src/java/org/apache/lucene/store/RefCountedSharedArena.java
  lucene/core/src/java21/org/apache/lucene/store/MemorySegmentIndexInputProvider.java
  lucene/core/src/java23/org/apache/lucene/internal/vectorization/Lucene99MemorySegmentByteVectorScorer.java
  lucene/core/src/java23/org/apache/lucene/internal/vectorization/Lucene99MemorySegmentByteVectorScorerSupplier.java
  lucene/core/src/java23/org/apache/lucene/internal/vectorization/Lucene99MemorySegmentFlatVectorsScorer.java
  lucene/core/src/java23/org/apache/lucene/internal/vectorization/MemorySegmentPostingDecodingUtil.java
  lucene/core/src/java23/org/apache/lucene/internal/vectorization/PanamaVectorConstants.java
  lucene/core/src/java23/org/apache/lucene/internal/vectorization/PanamaVectorUtilSupport.java
  lucene/core/src/java23/org/apache/lucene/internal/vectorization/PanamaVectorizationProvider.java
  lucene/core/src/test/org/apache/lucene/store/TestMMapDirectory.java
  lucene/distribution.tests/src/test/org/apache/lucene/distribution/TestModularLayer.java
  lucene/licenses/asm-9.6.jar.sha1
  lucene/licenses/asm-9.8.jar.sha1
  lucene/licenses/asm-commons-9.6.jar.sha1
  lucene/licenses/asm-commons-9.8.jar.sha1
  lucene/licenses/asm-tree-9.6.jar.sha1
  lucene/licenses/asm-tree-9.8.jar.sha1
Labels: module:core/store

update locks
  versions.lock
Labels: none

Remove toReadAdvice from Directory
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene50/Lucene50CompoundReader.java
  lucene/codecs/src/java/org/apache/lucene/codecs/simpletext/SimpleTextCompoundFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90CompoundReader.java
  lucene/core/src/java/org/apache/lucene/store/Directory.java
  lucene/core/src/java/org/apache/lucene/store/IndexInput.java
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
  lucene/core/src/java21/org/apache/lucene/store/MemorySegmentIndexInput.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/MockDirectoryWrapper.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/MockIndexInputWrapper.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/SerialIOCountingDirectory.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/SlowClosingMockIndexInputWrapper.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/SlowOpeningMockIndexInputWrapper.java
Labels: module:core/codecs, module:core/store, module:test-framework

Make ECJ happy (previously it did not check that class)
  lucene/core/src/java/org/apache/lucene/store/MemorySegmentIndexInput.java
Labels: module:core/store

remove preview warning suppressions
  lucene/core/src/java/org/apache/lucene/store/MemorySegmentIndexInput.java
  lucene/core/src/java/org/apache/lucene/store/NativeAccess.java
  lucene/core/src/java/org/apache/lucene/store/PosixNativeAccess.java
  lucene/core/src/java/org/apache/lucene/store/RefCountedSharedArena.java
Labels: module:core/store

Remove Java 21 compatibility code
  lucene/core/src/java/org/apache/lucene/store/MemorySegmentIndexInput.java
Labels: module:core/store

PR comments
  lucene/core/src/java/org/apache/lucene/store/DefaultIOContext.java
  lucene/core/src/java/org/apache/lucene/store/FileDataHint.java
  lucene/test-framework/src/java/module-info.java
Labels: module:core/store, module:test-framework

make check better readable
  lucene/core/src/java/org/apache/lucene/store/MemorySegmentIndexInput.java
Labels: module:core/store

add CHANGES.txt
  lucene/CHANGES.txt
Labels: none

small code cleanups
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
Labels: module:core/store

Cleanup Javadocs from outdated cruft
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
Labels: module:core/store

Upgrade to Gradle 8.14 and Java 24 minimum (#14533)
  .github/actions/prepare-for-build/action.yml
  .github/workflows/run-checks-all.yml
  .github/workflows/run-checks-gradle-upgrade.yml
  .github/workflows/run-nightly-smoketester.yml
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/WrapperDownloader.java
  gradle/libs.versions.toml
  gradle/validation/ecj-lint.gradle
  gradle/wrapper/gradle-wrapper.jar.sha256
  gradle/wrapper/gradle-wrapper.jar.version
  gradle/wrapper/gradle-wrapper.properties
  lucene/analysis/common/src/generated/checksums/generateTlds.json
  lucene/analysis/common/src/generated/checksums/generateUAX29URLEmailTokenizer.json
  lucene/analysis/common/src/java/org/apache/lucene/analysis/email/ASCIITLD.jflex
  lucene/analysis/common/src/test/org/apache/lucene/analysis/email/TLDs.txt
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
Labels: module:analysis, module:core/store

Upgrade to Java 24
  gradle/generation/extract-jdk-apis.gradle
  gradle/generation/extract-jdk-apis/ExtractJdkApis.java
  lucene/core/src/generated/jdk/jdk23.apijar
  lucene/core/src/generated/jdk/jdk24.apijar
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/Lucene99MemorySegmentByteVectorScorer.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/Lucene99MemorySegmentByteVectorScorerSupplier.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/Lucene99MemorySegmentFlatVectorsScorer.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/MemorySegmentPostingDecodingUtil.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/PanamaVectorConstants.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/PanamaVectorUtilSupport.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/PanamaVectorizationProvider.java
Labels: none

Bugfix: Make sure that it only generates a MR-JAR when the compilation version is greater than minimum java version
  gradle/java/core-mrjar.gradle
Labels: none

Bugfix: Make sure that it only generates a MR-JAR when the compilation version is greater than minimum java version
  gradle/java/core-mrjar.gradle
Labels: none

./gradlew writeLocks && ./gradlew updateLicenses
  lucene/licenses/junit-4.13.1.jar.sha1
  lucene/licenses/junit-4.13.2.jar.sha1
  versions.lock
Labels: none

./gradlew writeLocks && ./gradlew updateLicenses
  lucene/licenses/hamcrest-2.2.jar.sha1
  lucene/licenses/hamcrest-3.0.jar.sha1
  versions.lock
Labels: none

deps: set pip/actions to monthly, unbottleneck (#14544)
  .github/dependabot.yml
Labels: none

./gradlew writeLocks && ./gradlew updateLicenses
  lucene/licenses/nekohtml-1.9.17.jar.sha1
  lucene/licenses/nekohtml-1.9.22.jar.sha1
  versions.lock
Labels: none

./gradlew regenerate --rerun-tasks
  lucene/analysis/common/src/generated/checksums/generateTlds.json
  lucene/analysis/common/src/generated/checksums/generateUAX29URLEmailTokenizer.json
  lucene/analysis/common/src/java/org/apache/lucene/analysis/email/ASCIITLD.jflex
  lucene/analysis/common/src/java/org/apache/lucene/analysis/email/UAX29URLEmailTokenizerImpl.java
  lucene/analysis/common/src/test/org/apache/lucene/analysis/email/TLDs.txt
  lucene/queryparser/src/generated/checksums/javaccParserClassic.json
  lucene/queryparser/src/generated/checksums/javaccParserFlexible.json
  lucene/queryparser/src/generated/checksums/javaccParserSurround.json
  lucene/queryparser/src/java/org/apache/lucene/queryparser/classic/TokenMgrError.java
  lucene/queryparser/src/java/org/apache/lucene/queryparser/flexible/standard/parser/TokenMgrError.java
  lucene/queryparser/src/java/org/apache/lucene/queryparser/surround/parser/TokenMgrError.java
Labels: module:analysis, module:queryparser

./gradlew writeLocks && ./gradlew updateLicenses
  lucene/licenses/asm-9.6.jar.sha1
  lucene/licenses/asm-9.8.jar.sha1
  lucene/licenses/asm-commons-9.6.jar.sha1
  lucene/licenses/asm-commons-9.8.jar.sha1
  lucene/licenses/asm-tree-9.6.jar.sha1
  lucene/licenses/asm-tree-9.8.jar.sha1
  versions.lock
Labels: none

./gradlew writeLocks && ./gradlew updateLicenses
  lucene/licenses/commons-codec-1.17.2.jar.sha1
  lucene/licenses/commons-codec-1.18.0.jar.sha1
  versions.lock
Labels: none

./gradlew writeLocks && ./gradlew updateLicenses
  lucene/licenses/opennlp-tools-2.5.3.jar.sha1
  lucene/licenses/opennlp-tools-2.5.4.jar.sha1
  lucene/licenses/slf4j-api-2.0.16.jar.sha1
  lucene/licenses/slf4j-api-2.0.17.jar.sha1
  versions.lock
Labels: none

./gradlew regenerate --rerun-tasks
  lucene/analysis/common/src/generated/checksums/generateClassicTokenizer.json
  lucene/analysis/common/src/generated/checksums/generateHTMLStripCharFilter.json
  lucene/analysis/common/src/generated/checksums/generateUAX29URLEmailTokenizer.json
  lucene/analysis/common/src/generated/checksums/generateWikipediaTokenizer.json
  lucene/analysis/common/src/java/org/apache/lucene/analysis/charfilter/HTMLStripCharFilter.java
  lucene/analysis/common/src/java/org/apache/lucene/analysis/classic/ClassicTokenizerImpl.java
  lucene/analysis/common/src/java/org/apache/lucene/analysis/email/UAX29URLEmailTokenizerImpl.java
  lucene/analysis/common/src/java/org/apache/lucene/analysis/wikipedia/WikipediaTokenizerImpl.java
  lucene/core/src/generated/checksums/generateStandardTokenizer.json
  lucene/core/src/java/org/apache/lucene/analysis/standard/StandardTokenizerImpl.java
Labels: module:analysis

.github/labeler.yml:

# This file defines module label mappings for the Lucene project.
# Each module is associated with a set of file globs that, when matched,
# will trigger the corresponding label to be applied to pull requests.
#
# This configuration is used by the workflow defined in .github/workflows/label-pull-request.yml.
# If we are adding new labels or refactoring modules, we will need to modify this file globs here to ensure that the correct labels are applied.

# For more information on how to define globs, visit: https://github.com/actions/labeler

module:analysis:
  - changed-files:
      - any-glob-to-any-file: 'lucene/analysis/**'

module:benchmark:
  - changed-files:
      - any-glob-to-any-file: 'lucene/benchmark/**'

module:classification:
  - changed-files:
      - any-glob-to-any-file: 'lucene/classification/**'

module:core/codecs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/codecs/**', 'lucene/core/src/test/org/apache/lucene/codecs/**']

module:core/FSTs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/fst/**', 'lucene/core/src/test/org/apache/lucene/util/fst/**']

module:core/hnsw:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/hnsw/**', 'lucene/core/src/test/org/apache/lucene/util/hnsw/**']

module:core/index:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/index/**', 'lucene/core/src/test/org/apache/lucene/index/**']

module:core/search:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/search/**', 'lucene/core/src/test/org/apache/lucene/search/**']

module:core/store:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/store/**', 'lucene/core/src/test/org/apache/lucene/store/**']

module:core/other:
  - all:
      - changed-files:
          - any-glob-to-any-file: ['lucene/core/**']
          - all-globs-to-all-files:
              - '!lucene/core/src/java/org/apache/lucene/codecs/**'
              - '!lucene/core/src/test/org/apache/lucene/codecs/**'
              - '!lucene/core/src/java/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/test/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/java/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/test/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/java/org/apache/lucene/index/**'
              - '!lucene/core/src/test/org/apache/lucene/index/**'
              - '!lucene/core/src/java/org/apache/lucene/search/**'
              - '!lucene/core/src/test/org/apache/lucene/search/**'
              - '!lucene/core/src/java/org/apache/lucene/store/**'
              - '!lucene/core/src/test/org/apache/lucene/store/**'

module:demo:
  - changed-files:
      - any-glob-to-any-file: 'lucene/demo/**'

module:expressions:
  - changed-files:
      - any-glob-to-any-file: 'lucene/expressions/**'

module:facet:
  - changed-files:
      - any-glob-to-any-file: 'lucene/facet/**'

module:grouping:
  - changed-files:
      - any-glob-to-any-file: 'lucene/grouping/**'

module:highlighter:
  - changed-files:
      - any-glob-to-any-file: 'lucene/highlighter/**'

module:join:
  - changed-files:
      - any-glob-to-any-file: 'lucene/join/**'

module:luke:
  - changed-files:
      - any-glob-to-any-file: 'lucene/luke/**'

module:misc:
  - changed-files:
      - any-glob-to-any-file: 'lucene/misc/**'

module:monitor:
  - changed-files:
      - any-glob-to-any-file: 'lucene/monitor/**'

module:queries:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queries/**'

module:queryparser:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queryparser/**'

module:replicator:
  - changed-files:
      - any-glob-to-any-file: 'lucene/replicator/**'

module:sandbox:
  - changed-files:
      - any-glob-to-any-file: 'lucene/sandbox/**'

module:spatial:
  - changed-files:
      - any-glob-to-any-file: ['lucene/spatial-extras/**', 'lucene/spatial-test-fixtures/**']

module:spatial3d:
  - changed-files:
      - any-glob-to-any-file: 'lucene/spatial3d/**'

module:suggest:
  - changed-files:
      - any-glob-to-any-file: 'lucene/suggest/**'

module:test-framework:
  - changed-files:
      - any-glob-to-any-file: 'lucene/test-framework/**'
