Repository apache/lucene, changes with the labels that .github/labeler.yml gives for each.
All labels: module:analysis, module:benchmark, module:classification, module:core/codecs, module:core/FSTs, module:core/hnsw, module:core/index, module:core/search, module:core/store, module:demo, module:expressions, module:facet, module:grouping, module:highlighter, module:join, module:luke, module:misc, module:monitor, module:queries, module:queryparser, module:replicator, module:sandbox, module:spatial, module:spatial3d, module:suggest, module:test-framework

Tidying the code
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QueryLeafProfilerAggregator.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QueryLeafProfilerThreadAggregator.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QueryProfilerBreakdown.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QueryProfilerResult.java
Labels: module:sandbox

Adding apache license header
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QueryLeafProfilerAggregator.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QueryLeafProfilerThreadAggregator.java
Labels: module:sandbox

Adding getter for aggregation type
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QueryProfilerResult.java
Labels: module:sandbox

Add a hints field
  lucene/core/src/java/org/apache/lucene/store/DefaultIOContext.java
  lucene/core/src/java/org/apache/lucene/store/IOContext.java
Labels: module:core/store

Dump hprof on OOM from tests #14481
  gradle/testing/defaults-tests.gradle
Labels: none

Dump hprof on OOM from tests #14481
  gradle/testing/defaults-tests.gradle
Labels: none

Add hint classes and validation method
  lucene/core/src/java/org/apache/lucene/store/DataAccessHint.java
  lucene/core/src/java/org/apache/lucene/store/Directory.java
  lucene/core/src/java/org/apache/lucene/store/FileDataHint.java
  lucene/core/src/java/org/apache/lucene/store/FileTypeHint.java
Labels: module:core/store

Add calls to validate and a test
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene50/Lucene50CompoundReader.java
  lucene/core/src/java/org/apache/lucene/index/ConcurrentMergeScheduler.java
  lucene/core/src/java/org/apache/lucene/store/ByteBuffersDirectory.java
  lucene/core/src/java/org/apache/lucene/store/DataAccessHint.java
  lucene/core/src/java/org/apache/lucene/store/Directory.java
  lucene/core/src/java/org/apache/lucene/store/FSDirectory.java
  lucene/core/src/java/org/apache/lucene/store/FilterDirectory.java
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
  lucene/core/src/java/org/apache/lucene/store/NIOFSDirectory.java
  lucene/core/src/test/org/apache/lucene/store/TestDirectory.java
  lucene/misc/src/java/org/apache/lucene/misc/store/DirectIODirectory.java
  lucene/misc/src/java/org/apache/lucene/misc/store/RAFDirectory.java
Labels: module:core/index, module:core/store, module:misc

implement me
  lucene/core/src/java/org/apache/lucene/index/SlowCodecReaderWrapper.java
Labels: module:core/index

tests
  lucene/backward-codecs/src/test/org/apache/lucene/backward_codecs/lucene99/TestLucene99HnswScalarQuantizedVectorsFormat.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene102/TestLucene102HnswBinaryQuantizedVectorsFormat.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene99/TestLucene99HnswVectorsFormat.java
Labels: module:core/codecs

unused import
  lucene/backward-codecs/src/test/org/apache/lucene/backward_codecs/lucene99/TestLucene99HnswScalarQuantizedVectorsFormat.java
Labels: none

tidy
  lucene/backward-codecs/src/test/org/apache/lucene/backward_codecs/lucene99/TestLucene99HnswScalarQuantizedVectorsFormat.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene99/TestLucene99HnswVectorsFormat.java
Labels: module:core/codecs

mr manager basic fns
  lucene/core/src/java/org/apache/lucene/index/IndexReader.java
  lucene/core/src/java/org/apache/lucene/index/MultiReaderManager.java
Labels: module:core/index

ctor docstring
  lucene/core/src/java/org/apache/lucene/index/MultiReaderManager.java
Labels: module:core/index

tidy
  lucene/core/src/java/org/apache/lucene/index/IndexReader.java
  lucene/core/src/java/org/apache/lucene/index/MultiReaderManager.java
Labels: module:core/index

mr manager impl
  lucene/core/src/java/org/apache/lucene/index/MultiReaderManager.java
Labels: module:core/index

fix_TestTrie
  lucene/core/src/test/org/apache/lucene/codecs/lucene103/blocktree/TestTrie.java
Labels: module:core/codecs

test: AwaitFix TestIndexWriterMergePolicy.stressUpdateSameDocumentWithMergeOnX
  lucene/core/src/test/org/apache/lucene/index/TestIndexWriterMergePolicy.java
Labels: module:core/index

Fix OOM of TestTrie (#14488)
  lucene/core/src/test/org/apache/lucene/codecs/lucene103/blocktree/TestTrie.java
Labels: module:core/codecs

ci: pin github actions versions in use
  .github/actions/prepare-for-build/action.yml
  .github/workflows/activity-report.yml
  .github/workflows/label-pull-request.yml
  .github/workflows/mark-stale-PRs.yml
  .github/workflows/run-checks-all.yml
  .github/workflows/run-checks-gradle-upgrade.yml
  .github/workflows/run-checks-mod-analysis-common-hunspell.yml
  .github/workflows/run-checks-mod-distribution.tests.yml
  .github/workflows/run-checks-python.yml
  .github/workflows/run-nightly-smoketester.yml
  .github/workflows/run-scheduled-hunspell.yml
  .github/workflows/verify-changelog-and-set-milestone.yml
Labels: none

Move version catalog to gradle/libs.versions.toml. #14490
  build-tools/build-infra/settings.gradle
  build-tools/missing-doclet/settings.gradle
  gradle/libs.versions.toml
  gradle/validation/dependencies.gradle
  help/dependencies.txt
  settings.gradle
Labels: none

Fix RegExp.toString generating invalid RE for CHAR and CHAR_RANGE
  lucene/core/src/java/org/apache/lucene/util/automaton/RegExp.java
  lucene/core/src/test/org/apache/lucene/util/automaton/TestRegExpParsing.java
  lucene/queries/src/test/org/apache/lucene/queries/intervals/TestIntervals.java
Labels: module:queries

added CHANGELOG entry
  lucene/CHANGES.txt
Labels: none

Add dependabot for gradle deps.
  .github/dependabot.yml
Labels: none

test: AwaitFix TestIndexWriterMergePolicy.stressUpdateSameDocumentWithMergeOnX (#14489)
  lucene/core/src/test/org/apache/lucene/index/TestIndexWriterMergePolicy.java
Labels: module:core/index

test: AwaitFix TestIndexWriterMergePolicy.stressUpdateSameDocumentWithMergeOnX (#14489)
  lucene/core/src/test/org/apache/lucene/index/TestIndexWriterMergePolicy.java
Labels: module:core/index

Trying again.
  .github/dependabot.yml
Labels: none

Extract logic the select leaves to merge from createOrdinalMapForSortedSetDV(...) to avoid passing around a list that gets mutated.
  lucene/core/src/java/org/apache/lucene/codecs/DocValuesConsumer.java
Labels: module:core/codecs

Submit gradle dependencies using submission api.
  .github/workflows/dependabot-dependency-submission.yml
Labels: none

Extract logic the select leaves to merge from createOrdinalMapForSortedSetDV(...) to avoid passing around a list that gets mutated.
  lucene/core/src/java/org/apache/lucene/codecs/DocValuesConsumer.java
Labels: module:core/codecs

ci: pin github actions versions in use (#14492)
  .github/actions/prepare-for-build/action.yml
  .github/workflows/activity-report.yml
  .github/workflows/label-pull-request.yml
  .github/workflows/mark-stale-PRs.yml
  .github/workflows/run-checks-all.yml
  .github/workflows/run-checks-gradle-upgrade.yml
  .github/workflows/run-checks-mod-analysis-common-hunspell.yml
  .github/workflows/run-checks-mod-distribution.tests.yml
  .github/workflows/run-checks-python.yml
  .github/workflows/run-nightly-smoketester.yml
  .github/workflows/run-scheduled-hunspell.yml
  .github/workflows/verify-changelog-and-set-milestone.yml
Labels: none

unnecessary diff
  lucene/core/src/java/org/apache/lucene/util/FixedBitSet.java
Labels: none

iter
  lucene/core/src/test/org/apache/lucene/codecs/lucene103/blocktree/TestTrie.java
Labels: module:core/codecs

Revert "Submit gradle dependencies using submission api."
  .github/workflows/dependabot-dependency-submission.yml
Labels: none

default impl
  lucene/core/src/java/org/apache/lucene/codecs/KnnVectorsReader.java
Labels: module:core/codecs

Add support for determining off-heap memory requirements for KnnVectorsReader (#14426)
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene90/Lucene90HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene91/Lucene91HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene92/Lucene92HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene94/Lucene94HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene95/Lucene95HnswVectorsReader.java
  lucene/backward-codecs/src/test/org/apache/lucene/backward_codecs/lucene99/TestLucene99HnswScalarQuantizedVectorsFormat.java
  lucene/codecs/src/java/org/apache/lucene/codecs/simpletext/SimpleTextKnnVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/KnnVectorsFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/KnnVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene102/Lucene102BinaryQuantizedVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99FlatVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99HnswVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99ScalarQuantizedVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/perfield/PerFieldKnnVectorsFormat.java
  lucene/core/src/java/org/apache/lucene/index/SlowCodecReaderWrapper.java
  lucene/core/src/java/org/apache/lucene/index/SlowCompositeCodecReaderWrapper.java
  lucene/core/src/java/org/apache/lucene/index/SortingCodecReader.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene102/TestLucene102HnswBinaryQuantizedVectorsFormat.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene99/TestLucene99HnswVectorsFormat.java
  lucene/test-framework/src/java/org/apache/lucene/tests/codecs/asserting/AssertingKnnVectorsFormat.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseKnnVectorsFormatTestCase.java
Labels: module:core/codecs, module:core/index, module:test-framework

Add changelog for #14426
  lucene/CHANGES.txt
Labels: none

Add support for determining off-heap memory requirements for KnnVectorsReader (#14426)
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene90/Lucene90HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene91/Lucene91HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene92/Lucene92HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene94/Lucene94HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene95/Lucene95HnswVectorsReader.java
  lucene/backward-codecs/src/test/org/apache/lucene/backward_codecs/lucene99/TestLucene99HnswScalarQuantizedVectorsFormat.java
  lucene/codecs/src/java/org/apache/lucene/codecs/simpletext/SimpleTextKnnVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/KnnVectorsFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/KnnVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene102/Lucene102BinaryQuantizedVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99FlatVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99HnswVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99ScalarQuantizedVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/perfield/PerFieldKnnVectorsFormat.java
  lucene/core/src/java/org/apache/lucene/index/SlowCodecReaderWrapper.java
  lucene/core/src/java/org/apache/lucene/index/SlowCompositeCodecReaderWrapper.java
  lucene/core/src/java/org/apache/lucene/index/SortingCodecReader.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene102/TestLucene102HnswBinaryQuantizedVectorsFormat.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene99/TestLucene99HnswVectorsFormat.java
  lucene/test-framework/src/java/org/apache/lucene/tests/codecs/asserting/AssertingKnnVectorsFormat.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseKnnVectorsFormatTestCase.java
Labels: module:core/codecs, module:core/index, module:test-framework

[10.x] Add support for determining off-heap memory requirements for KnnVectorsReader (#14426) (#14497)
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene90/Lucene90HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene91/Lucene91HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene92/Lucene92HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene94/Lucene94HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene95/Lucene95HnswVectorsReader.java
  lucene/backward-codecs/src/test/org/apache/lucene/backward_codecs/lucene99/TestLucene99HnswScalarQuantizedVectorsFormat.java
  lucene/codecs/src/java/org/apache/lucene/codecs/simpletext/SimpleTextKnnVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/KnnVectorsFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/KnnVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene102/Lucene102BinaryQuantizedVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99FlatVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99HnswVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99ScalarQuantizedVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/perfield/PerFieldKnnVectorsFormat.java
  lucene/core/src/java/org/apache/lucene/index/SlowCodecReaderWrapper.java
  lucene/core/src/java/org/apache/lucene/index/SlowCompositeCodecReaderWrapper.java
  lucene/core/src/java/org/apache/lucene/index/SortingCodecReader.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene102/TestLucene102HnswBinaryQuantizedVectorsFormat.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene99/TestLucene99HnswVectorsFormat.java
  lucene/test-framework/src/java/org/apache/lucene/tests/codecs/asserting/AssertingKnnVectorsFormat.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseKnnVectorsFormatTestCase.java
Labels: module:core/codecs, module:core/index, module:test-framework

Add changelog for #14426
  lucene/CHANGES.txt
Labels: none

.github/labeler.yml:

# This file defines module label mappings for the Lucene project.
# Each module is associated with a set of file globs that, when matched,
# will trigger the corresponding label to be applied to pull requests.
#
# This configuration is used by the workflow defined in .github/workflows/label-pull-request.yml.
# If we are adding new labels or refactoring modules, we will need to modify this file globs here to ensure that the correct labels are applied.

# For more information on how to define globs, visit: https://github.com/actions/labeler

module:analysis:
  - changed-files:
      - any-glob-to-any-file: 'lucene/analysis/**'

module:benchmark:
  - changed-files:
      - any-glob-to-any-file: 'lucene/benchmark/**'

module:classification:
  - changed-files:
      - any-glob-to-any-file: 'lucene/classification/**'

module:core/codecs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/codecs/**', 'lucene/core/src/test/org/apache/lucene/codecs/**']

module:core/FSTs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/fst/**', 'lucene/core/src/test/org/apache/lucene/util/fst/**']

module:core/hnsw:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/hnsw/**', 'lucene/core/src/test/org/apache/lucene/util/hnsw/**']

module:core/index:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/index/**', 'lucene/core/src/test/org/apache/lucene/index/**']

module:core/search:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/search/**', 'lucene/core/src/test/org/apache/lucene/search/**']

module:core/store:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/store/**', 'lucene/core/src/test/org/apache/lucene/store/**']

module:core/other:
  - all:
      - changed-files:
          - any-glob-to-any-file: ['lucene/core/**']
          - all-globs-to-all-files:
              - '!lucene/core/src/java/org/apache/lucene/codecs/**'
              - '!lucene/core/src/test/org/apache/lucene/codecs/**'
              - '!lucene/core/src/java/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/test/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/java/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/test/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/java/org/apache/lucene/index/**'
              - '!lucene/core/src/test/org/apache/lucene/index/**'
              - '!lucene/core/src/java/org/apache/lucene/search/**'
              - '!lucene/core/src/test/org/apache/lucene/search/**'
              - '!lucene/core/src/java/org/apache/lucene/store/**'
              - '!lucene/core/src/test/org/apache/lucene/store/**'

module:demo:
  - changed-files:
      - any-glob-to-any-file: 'lucene/demo/**'

module:expressions:
  - changed-files:
      - any-glob-to-any-file: 'lucene/expressions/**'

module:facet:
  - changed-files:
      - any-glob-to-any-file: 'lucene/facet/**'

module:grouping:
  - changed-files:
      - any-glob-to-any-file: 'lucene/grouping/**'

module:highlighter:
  - changed-files:
      - any-glob-to-any-file: 'lucene/highlighter/**'

module:join:
  - changed-files:
      - any-glob-to-any-file: 'lucene/join/**'

module:luke:
  - changed-files:
      - any-glob-to-any-file: 'lucene/luke/**'

module:misc:
  - changed-files:
      - any-glob-to-any-file: 'lucene/misc/**'

module:monitor:
  - changed-files:
      - any-glob-to-any-file: 'lucene/monitor/**'

module:queries:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queries/**'

module:queryparser:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queryparser/**'

module:replicator:
  - changed-files:
      - any-glob-to-any-file: 'lucene/replicator/**'

module:sandbox:
  - changed-files:
      - any-glob-to-any-file: 'lucene/sandbox/**'

module:spatial:
  - changed-files:
      - any-glob-to-any-file: ['lucene/spatial-extras/**', 'lucene/spatial-test-fixtures/**']

module:spatial3d:
  - changed-files:
      - any-glob-to-any-file: 'lucene/spatial3d/**'

module:suggest:
  - changed-files:
      - any-glob-to-any-file: 'lucene/suggest/**'

module:test-framework:
  - changed-files:
      - any-glob-to-any-file: 'lucene/test-framework/**'
