Repository apache/lucene, changes with the labels that .github/labeler.yml gives for each.
All labels: module:analysis, module:benchmark, module:classification, module:core/codecs, module:core/FSTs, module:core/hnsw, module:core/index, module:core/search, module:core/store, module:demo, module:expressions, module:facet, module:grouping, module:highlighter, module:join, module:luke, module:misc, module:monitor, module:queries, module:queryparser, module:replicator, module:sandbox, module:spatial, module:spatial3d, module:suggest, module:test-framework

.github/labeler.yml:

# This file defines module label mappings for the Lucene project.
# Each module is associated with a set of file globs that, when matched,
# will trigger the corresponding label to be applied to pull requests.
#
# This configuration is used by the workflow defined in .github/workflows/label-pull-request.yml.
# If we are adding new labels or refactoring modules, we will need to modify this file globs here to ensure that the correct labels are applied.

# For more information on how to define globs, visit: https://github.com/actions/labeler

module:analysis:
  - changed-files:
      - any-glob-to-any-file: 'lucene/analysis/**'

module:benchmark:
  - changed-files:
      - any-glob-to-any-file: 'lucene/benchmark/**'

module:classification:
  - changed-files:
      - any-glob-to-any-file: 'lucene/classification/**'

module:core/codecs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/codecs/**', 'lucene/core/src/test/org/apache/lucene/codecs/**']

module:core/FSTs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/fst/**', 'lucene/core/src/test/org/apache/lucene/util/fst/**']

module:core/hnsw:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/hnsw/**', 'lucene/core/src/test/org/apache/lucene/util/hnsw/**']

module:core/index:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/index/**', 'lucene/core/src/test/org/apache/lucene/index/**']

module:core/search:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/search/**', 'lucene/core/src/test/org/apache/lucene/search/**']

module:core/store:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/store/**', 'lucene/core/src/test/org/apache/lucene/store/**']

module:core/other:
  - all:
      - changed-files:
          - any-glob-to-any-file: ['lucene/core/**']
          - all-globs-to-all-files:
              - '!lucene/core/src/java/org/apache/lucene/codecs/**'
              - '!lucene/core/src/test/org/apache/lucene/codecs/**'
              - '!lucene/core/src/java/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/test/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/java/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/test/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/java/org/apache/lucene/index/**'
              - '!lucene/core/src/test/org/apache/lucene/index/**'
              - '!lucene/core/src/java/org/apache/lucene/search/**'
              - '!lucene/core/src/test/org/apache/lucene/search/**'
              - '!lucene/core/src/java/org/apache/lucene/store/**'
              - '!lucene/core/src/test/org/apache/lucene/store/**'

module:demo:
  - changed-files:
      - any-glob-to-any-file: 'lucene/demo/**'

module:expressions:
  - changed-files:
      - any-glob-to-any-file: 'lucene/expressions/**'

module:facet:
  - changed-files:
      - any-glob-to-any-file: 'lucene/facet/**'

module:grouping:
  - changed-files:
      - any-glob-to-any-file: 'lucene/grouping/**'

module:highlighter:
  - changed-files:
      - any-glob-to-any-file: 'lucene/highlighter/**'

module:join:
  - changed-files:
      - any-glob-to-any-file: 'lucene/join/**'

module:luke:
  - changed-files:
      - any-glob-to-any-file: 'lucene/luke/**'

module:misc:
  - changed-files:
      - any-glob-to-any-file: 'lucene/misc/**'

module:monitor:
  - changed-files:
      - any-glob-to-any-file: 'lucene/monitor/**'

module:queries:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queries/**'

module:queryparser:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queryparser/**'

module:replicator:
  - changed-files:
      - any-glob-to-any-file: 'lucene/replicator/**'

module:sandbox:
  - changed-files:
      - any-glob-to-any-file: 'lucene/sandbox/**'

module:spatial:
  - changed-files:
      - any-glob-to-any-file: ['lucene/spatial-extras/**', 'lucene/spatial-test-fixtures/**']

module:spatial3d:
  - changed-files:
      - any-glob-to-any-file: 'lucene/spatial3d/**'

module:suggest:
  - changed-files:
      - any-glob-to-any-file: 'lucene/suggest/**'

module:test-framework:
  - changed-files:
      - any-glob-to-any-file: 'lucene/test-framework/**'

Disable debug-only mode for stale workflow
  .github/workflows/mark-stale-PRs.yml
Labels: none

changelog
  lucene/CHANGES.txt
Labels: none

apply comment
  lucene/backward-codecs/src/test/org/apache/lucene/backward_codecs/lucene101/Lucene101PostingsWriter.java
Labels: none

Compute the doc range more efficiently when flushing doc block (#14447)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsWriter.java
Labels: module:core/codecs

Fix TestForTooMuchCloning increasing 6 times per segment to 7
  lucene/core/src/test/org/apache/lucene/index/TestForTooMuchCloning.java
Labels: module:core/index

Move the hint assertion into IOContext
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene50/Lucene50CompoundReader.java
  lucene/core/src/java/org/apache/lucene/index/ConcurrentMergeScheduler.java
  lucene/core/src/java/org/apache/lucene/store/ByteBuffersDirectory.java
  lucene/core/src/java/org/apache/lucene/store/DefaultIOContext.java
  lucene/core/src/java/org/apache/lucene/store/Directory.java
  lucene/core/src/java/org/apache/lucene/store/FSDirectory.java
  lucene/core/src/java/org/apache/lucene/store/FilterDirectory.java
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
  lucene/core/src/java/org/apache/lucene/store/NIOFSDirectory.java
  lucene/misc/src/java/org/apache/lucene/misc/store/DirectIODirectory.java
  lucene/misc/src/java/org/apache/lucene/misc/store/RAFDirectory.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/BaseDirectoryTestCase.java
  lucene/test-framework/src/test/org/apache/lucene/tests/store/TestMockDirectoryWrapper.java
Labels: module:core/index, module:core/store, module:misc, module:test-framework

Fix TestForTooMuchCloning (#14547)
  lucene/core/src/test/org/apache/lucene/index/TestForTooMuchCloning.java
Labels: module:core/index

simplify dense
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/IndexedDISI.java
Labels: module:core/codecs

fit contract of ensureCapacity
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/IndexedDISI.java
Labels: module:core/codecs

better grow
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/IndexedDISI.java
Labels: module:core/codecs

Addressing review comments
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/HistogramCollector.java
Labels: module:sandbox

Converted local-settings.gradle.
  build-tools/build-infra/build.gradle
  build-tools/build-infra/src/main/groovy/conventionplugins/lucene.rootproject.utilities.gradle
  build-tools/missing-doclet/build.gradle
  build.gradle
  gradle/_to-remove/conventions.gradle
  gradle/generation/local-settings.gradle
Labels: none

Adding null check
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/HistogramCollector.java
Labels: module:sandbox

Change several test assertions to use assertThat (#14518)
  lucene/core/src/test/org/apache/lucene/document/TestDocument.java
  lucene/core/src/test/org/apache/lucene/index/TestAddIndexes.java
  lucene/core/src/test/org/apache/lucene/search/TestBooleanScorer.java
  lucene/core/src/test/org/apache/lucene/util/TestArrayUtil.java
  lucene/core/src/test/org/apache/lucene/util/TestPriorityQueue.java
  lucene/core/src/test/org/apache/lucene/util/TestRadixSelector.java
  lucene/core/src/test/org/apache/lucene/util/automaton/TestIntSet.java
  lucene/core/src/test/org/apache/lucene/util/automaton/TestRegExp.java
  lucene/test-framework/src/java/module-info.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseCompressingDocValuesFormatTestCase.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/BaseDirectoryTestCase.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/LuceneTestCase.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/TestUtil.java
  lucene/test-framework/src/test/org/apache/lucene/tests/store/TestSerializedIOCountingDirectory.java
Labels: module:core/index, module:core/search, module:test-framework

Change several test assertions to use assertThat (#14518)
  lucene/core/src/test/org/apache/lucene/document/TestDocument.java
  lucene/core/src/test/org/apache/lucene/index/TestAddIndexes.java
  lucene/core/src/test/org/apache/lucene/search/TestBooleanScorer.java
  lucene/core/src/test/org/apache/lucene/util/TestArrayUtil.java
  lucene/core/src/test/org/apache/lucene/util/TestPriorityQueue.java
  lucene/core/src/test/org/apache/lucene/util/TestRadixSelector.java
  lucene/core/src/test/org/apache/lucene/util/automaton/TestIntSet.java
  lucene/core/src/test/org/apache/lucene/util/automaton/TestRegExp.java
  lucene/test-framework/src/java/module-info.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseCompressingDocValuesFormatTestCase.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/BaseDirectoryTestCase.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/LuceneTestCase.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/TestUtil.java
  lucene/test-framework/src/test/org/apache/lucene/tests/store/TestSerializedIOCountingDirectory.java
Labels: module:core/index, module:core/search, module:test-framework

review iter
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/IndexedDISI.java
  lucene/core/src/java/org/apache/lucene/index/DocValuesIterator.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene90/TestIndexedDISI.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/AssertingLeafReader.java
Labels: module:core/codecs, module:core/index, module:test-framework

unnecessay diff
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/IndexedDISI.java
Labels: module:core/codecs

iter
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/IndexedDISI.java
Labels: module:core/codecs

doc
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/IndexedDISI.java
Labels: module:core/codecs

Return MergeSpec for IndexWriter forceMergeDeletes API
  lucene/core/src/java/org/apache/lucene/index/IndexWriter.java
  lucene/core/src/test/org/apache/lucene/index/TestIndexWriterMerging.java
Labels: module:core/index

review iter
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/IndexedDISI.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene90/TestIndexedDISI.java
Labels: module:core/codecs

incorrect diff
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/IndexedDISI.java
Labels: module:core/codecs

Added some words to stopwords.txt file
  lucene/analysis/common/src/resources/org/apache/lucene/analysis/tr/stopwords.txt
Labels: module:analysis

review iter
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/IndexedDISI.java
Labels: module:core/codecs

Remove DISIDocIdStream.
  lucene/core/src/java/org/apache/lucene/search/DISIDocIdStream.java
  lucene/core/src/java/org/apache/lucene/search/DenseConjunctionBulkScorer.java
  lucene/core/src/test/org/apache/lucene/search/TestDISIDocIdStream.java
Labels: module:core/search

Remove DISIDocIdStream.
  lucene/core/src/java/org/apache/lucene/search/DISIDocIdStream.java
  lucene/core/src/java/org/apache/lucene/search/DenseConjunctionBulkScorer.java
  lucene/core/src/test/org/apache/lucene/search/TestDISIDocIdStream.java
Labels: module:core/search

Impl intoBitset for IndexedDISI and Docvalues (#14529)
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/IndexedDISI.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90DocValuesProducer.java
  lucene/core/src/java/org/apache/lucene/index/DocValuesIterator.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene90/TestIndexedDISI.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/AssertingLeafReader.java
Labels: module:core/codecs, module:core/index, module:test-framework

Impl intoBitset for IndexedDISI and Docvalues (#14529)
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/IndexedDISI.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90DocValuesProducer.java
  lucene/core/src/java/org/apache/lucene/index/DocValuesIterator.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene90/TestIndexedDISI.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/AssertingLeafReader.java
Labels: module:core/codecs, module:core/index, module:test-framework

speed up flush of softdelete by intoBitset
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/IndexedDISI.java
  lucene/core/src/java/org/apache/lucene/index/DocValuesFieldUpdates.java
  lucene/core/src/java/org/apache/lucene/index/NumericDocValuesFieldUpdates.java
  lucene/core/src/java/org/apache/lucene/index/ReadersAndUpdates.java
  lucene/core/src/java/org/apache/lucene/index/SingletonSortedNumericDocValues.java
Labels: module:core/codecs, module:core/index

has -> have
  lucene/core/src/java/org/apache/lucene/index/DocValuesFieldUpdates.java
  lucene/core/src/java/org/apache/lucene/index/NumericDocValuesFieldUpdates.java
  lucene/core/src/java/org/apache/lucene/index/ReadersAndUpdates.java
Labels: module:core/index

Adding name to changelog entry
  lucene/CHANGES.txt
Labels: none

allow docID == NO_MORE_DOCS for asserting leaf reader
  lucene/test-framework/src/java/org/apache/lucene/tests/index/AssertingLeafReader.java
Labels: module:test-framework

allow docID == NO_MORE_DOCS for asserting leaf reader
  lucene/test-framework/src/java/org/apache/lucene/tests/index/AssertingLeafReader.java
Labels: module:test-framework

support mergedIterator
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90DocValuesConsumer.java
  lucene/core/src/java/org/apache/lucene/index/DocValuesFieldUpdates.java
Labels: module:core/codecs, module:core/index

exclude bad change
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90DocValuesConsumer.java
Labels: module:core/codecs

exclude bad change
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90DocValuesConsumer.java
Labels: module:core/codecs

tests: mark TestVectorScorer.testLarge() @Monster (#14449)
  lucene/core/src/test/org/apache/lucene/internal/vectorization/TestVectorScorer.java
Labels: none

Add a ReadAdvice override function
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
Labels: module:core/store

Logic for collecting Histogram efficiently using Point Trees (#14439)
  lucene/CHANGES.txt
  lucene/benchmark-jmh/build.gradle
  lucene/benchmark-jmh/src/java/module-info.java
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/HistogramCollectorBenchmark.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/HistogramCollector.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/HistogramCollectorManager.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/PointTreeBulkCollector.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/facet/plain/histograms/TestHistogramCollectorManager.java
Labels: module:sandbox

Logic for collecting Histogram efficiently using Point Trees (#14439)
  lucene/CHANGES.txt
  lucene/benchmark-jmh/build.gradle
  lucene/benchmark-jmh/src/java/module-info.java
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/HistogramCollectorBenchmark.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/HistogramCollector.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/HistogramCollectorManager.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/PointTreeBulkCollector.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/facet/plain/histograms/TestHistogramCollectorManager.java
Labels: module:sandbox
