Repository apache/lucene, changes with the labels that .github/labeler.yml gives for each.
All labels: module:analysis, module:benchmark, module:classification, module:core/codecs, module:core/FSTs, module:core/hnsw, module:core/index, module:core/search, module:core/store, module:demo, module:expressions, module:facet, module:grouping, module:highlighter, module:join, module:luke, module:misc, module:monitor, module:queries, module:queryparser, module:replicator, module:sandbox, module:spatial, module:spatial3d, module:suggest, module:test-framework

Remove instances of Arrays.copyOf
  lucene/core/src/java/org/apache/lucene/codecs/InMemorySparseEdgeGraph.java
Labels: module:core/codecs

More additions
  lucene/core/src/java/org/apache/lucene/codecs/InMemorySparseEdgeGraph.java
Labels: module:core/codecs

Remove redundant token
  lucene/core/src/java/org/apache/lucene/codecs/InMemorySparseEdgeGraph.java
Labels: module:core/codecs

Tidy output
  lucene/core/src/java/org/apache/lucene/codecs/InMemorySparseEdgeGraph.java
Labels: module:core/codecs

Update and tidy output
  lucene/core/src/java/org/apache/lucene/codecs/ApproximateDocBinner.java
Labels: module:core/codecs

Make graph structure more strict
  lucene/core/src/java/org/apache/lucene/codecs/InMemorySparseEdgeGraph.java
  lucene/core/src/java/org/apache/lucene/codecs/SparseEdgeGraph.java
  lucene/core/src/test/org/apache/lucene/codecs/TestApproximateDocGraphBuilder.java
Labels: module:core/codecs

Update forbidden API and tidy output
  lucene/core/src/java/org/apache/lucene/codecs/InMemorySparseEdgeGraph.java
Labels: module:core/codecs

More fixes and get self loop to not be added and add more tests for that
  lucene/core/src/java/org/apache/lucene/codecs/ApproximateDocGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/InMemorySparseEdgeGraph.java
Labels: module:core/codecs

add missing licenses
  lucene/core/src/java/org/apache/lucene/codecs/ApproximateDocGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/InMemorySparseEdgeGraph.java
Labels: module:core/codecs

Javadocs and tidy
  lucene/core/src/java/org/apache/lucene/codecs/ApproximateDocGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/codecs/InMemorySparseEdgeGraph.java
Labels: module:core/codecs

Add heavy document indexing benchmark
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/HeavyDocIndexingBenchmark.java
Labels: none

Tidy output
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/HeavyDocIndexingBenchmark.java
Labels: none

Adding jmh benchmark
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/RectangleBenchmark.java
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/SloppyMathBenchmark.java
Labels: none

Revert "Addressing inadvertent change"
  lucene/core/src/java/org/apache/lucene/geo/Rectangle.java
Labels: none

Revert "Remove sloppySin calculations"
  lucene/core/src/java/org/apache/lucene/geo/GeoUtils.java
  lucene/core/src/java/org/apache/lucene/geo/Rectangle.java
Labels: none

Adding specific benchmark for Rectangle
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/RectangleBenchmark.java
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/SloppySinBenchmark.java
Labels: none

Removing benchmark written as test
  lucene/core/src/test/org/apache/lucene/geo/TestSimpleRectangleBenchmark.java
Labels: none

Moving sloppySin from GeoUtils to SloppyMath
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/RectangleBenchmark.java
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/SloppySinBenchmark.java
  lucene/core/src/java/org/apache/lucene/geo/GeoUtils.java
  lucene/core/src/java/org/apache/lucene/geo/Rectangle.java
  lucene/core/src/java/org/apache/lucene/util/SloppyMath.java
Labels: none

Fixing sloppySin reference
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/SloppySinBenchmark.java
Labels: none

use FloatArrayList\IntArrayList to replace float[]\int[]
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/NeighborArray.java
Labels: module:core/hnsw

use getScores(int i) to replace scores()
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/NeighborArray.java
  lucene/core/src/test/org/apache/lucene/util/hnsw/TestNeighborArray.java
Labels: module:core/hnsw

add more tests
  lucene/core/src/test/org/apache/lucene/util/hnsw/TestNeighborArray.java
Labels: module:core/hnsw

Fix broken intellij 2025.1 gradle import.
  gradle/java/core-mrjar.gradle
Labels: none

Gradle has become impossible to understand, sadly.
  gradle/java/core-mrjar.gradle
Labels: none

impl IndexedDISI intoBitset
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/IndexedDISI.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene90/TestIndexedDISI.java
Labels: module:core/codecs

Lucene90DocValuesProducer
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90DocValuesProducer.java
Labels: module:core/codecs

fix
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/IndexedDISI.java
Labels: module:core/codecs

advance doc instead of offset
  lucene/core/src/java/org/apache/lucene/search/comparators/TermOrdValComparator.java
Labels: module:core/search

CHANGES
  lucene/CHANGES.txt
Labels: none

compute the doc range more efficiently when flushing doc block
  lucene/backward-codecs/src/test/org/apache/lucene/backward_codecs/lucene101/Lucene101PostingsWriter.java
Labels: none

update
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsWriter.java
Labels: module:core/codecs

speed up numDeletesToMerge
  lucene/core/src/java/org/apache/lucene/index/SoftDeletesRetentionMergePolicy.java
Labels: module:core/index

Fix broken intellij 2025.1 gradle import. (#14528)
  gradle/java/core-mrjar.gradle
Labels: none

Fix broken intellij 2025.1 gradle import. (#14528)
  gradle/java/core-mrjar.gradle
Labels: none

Fix broken intellij 2025.1 gradle import. (#14528)
  gradle/java/core-mrjar.gradle
Labels: none

Initial test for convention plugins.
  build-tools/build-infra/build.gradle
  build.gradle
Labels: none

Initial test for convention plugins.
  build-tools/build-infra/src/main/groovy/bar/lucene.foo.gradle
Labels: none

Moved the help.gradle to a convention plugin and cleaned it up. The help now omits gradle's default boilerplate.
  build-tools/build-infra/src/main/groovy/bar/lucene.foo.gradle
  build-tools/build-infra/src/main/groovy/convention-plugins/lucene.help.gradle
  build.gradle
  gradle/help.gradle
Labels: none

Add spotless formatting of convention plugins written in groovy.
  build-tools/build-infra/build.gradle
  build-tools/build-infra/src/main/groovy/convention-plugins/lucene.help.gradle
  build-tools/build-infra/src/main/groovy/conventionplugins/lucene.help.gradle
  build-tools/build-infra/src/main/groovy/conventionplugins/validation/lucene.spotless-groovy.gradle
  build.gradle
Labels: none

Make competitive iterators more robust.
  lucene/core/src/java/org/apache/lucene/search/comparators/DocComparator.java
  lucene/core/src/java/org/apache/lucene/search/comparators/MinDocIterator.java
  lucene/core/src/java/org/apache/lucene/search/comparators/NumericComparator.java
  lucene/core/src/java/org/apache/lucene/search/comparators/TermOrdValComparator.java
  lucene/core/src/java/org/apache/lucene/search/comparators/UpdateableDocIdSetIterator.java
  lucene/core/src/test/org/apache/lucene/search/comparators/TestTermOrdValComparator.java
  lucene/core/src/test/org/apache/lucene/search/comparators/TestUpdateableDocIdSetIterator.java
Labels: module:core/search

.github/labeler.yml:

# This file defines module label mappings for the Lucene project.
# Each module is associated with a set of file globs that, when matched,
# will trigger the corresponding label to be applied to pull requests.
#
# This configuration is used by the workflow defined in .github/workflows/label-pull-request.yml.
# If we are adding new labels or refactoring modules, we will need to modify this file globs here to ensure that the correct labels are applied.

# For more information on how to define globs, visit: https://github.com/actions/labeler

module:analysis:
  - changed-files:
      - any-glob-to-any-file: 'lucene/analysis/**'

module:benchmark:
  - changed-files:
      - any-glob-to-any-file: 'lucene/benchmark/**'

module:classification:
  - changed-files:
      - any-glob-to-any-file: 'lucene/classification/**'

module:core/codecs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/codecs/**', 'lucene/core/src/test/org/apache/lucene/codecs/**']

module:core/FSTs:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/fst/**', 'lucene/core/src/test/org/apache/lucene/util/fst/**']

module:core/hnsw:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/util/hnsw/**', 'lucene/core/src/test/org/apache/lucene/util/hnsw/**']

module:core/index:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/index/**', 'lucene/core/src/test/org/apache/lucene/index/**']

module:core/search:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/search/**', 'lucene/core/src/test/org/apache/lucene/search/**']

module:core/store:
  - changed-files:
      - any-glob-to-any-file: ['lucene/core/src/java/org/apache/lucene/store/**', 'lucene/core/src/test/org/apache/lucene/store/**']

module:core/other:
  - all:
      - changed-files:
          - any-glob-to-any-file: ['lucene/core/**']
          - all-globs-to-all-files:
              - '!lucene/core/src/java/org/apache/lucene/codecs/**'
              - '!lucene/core/src/test/org/apache/lucene/codecs/**'
              - '!lucene/core/src/java/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/test/org/apache/lucene/util/fst/**'
              - '!lucene/core/src/java/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/test/org/apache/lucene/util/hnsw/**'
              - '!lucene/core/src/java/org/apache/lucene/index/**'
              - '!lucene/core/src/test/org/apache/lucene/index/**'
              - '!lucene/core/src/java/org/apache/lucene/search/**'
              - '!lucene/core/src/test/org/apache/lucene/search/**'
              - '!lucene/core/src/java/org/apache/lucene/store/**'
              - '!lucene/core/src/test/org/apache/lucene/store/**'

module:demo:
  - changed-files:
      - any-glob-to-any-file: 'lucene/demo/**'

module:expressions:
  - changed-files:
      - any-glob-to-any-file: 'lucene/expressions/**'

module:facet:
  - changed-files:
      - any-glob-to-any-file: 'lucene/facet/**'

module:grouping:
  - changed-files:
      - any-glob-to-any-file: 'lucene/grouping/**'

module:highlighter:
  - changed-files:
      - any-glob-to-any-file: 'lucene/highlighter/**'

module:join:
  - changed-files:
      - any-glob-to-any-file: 'lucene/join/**'

module:luke:
  - changed-files:
      - any-glob-to-any-file: 'lucene/luke/**'

module:misc:
  - changed-files:
      - any-glob-to-any-file: 'lucene/misc/**'

module:monitor:
  - changed-files:
      - any-glob-to-any-file: 'lucene/monitor/**'

module:queries:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queries/**'

module:queryparser:
  - changed-files:
      - any-glob-to-any-file: 'lucene/queryparser/**'

module:replicator:
  - changed-files:
      - any-glob-to-any-file: 'lucene/replicator/**'

module:sandbox:
  - changed-files:
      - any-glob-to-any-file: 'lucene/sandbox/**'

module:spatial:
  - changed-files:
      - any-glob-to-any-file: ['lucene/spatial-extras/**', 'lucene/spatial-test-fixtures/**']

module:spatial3d:
  - changed-files:
      - any-glob-to-any-file: 'lucene/spatial3d/**'

module:suggest:
  - changed-files:
      - any-glob-to-any-file: 'lucene/suggest/**'

module:test-framework:
  - changed-files:
      - any-glob-to-any-file: 'lucene/test-framework/**'
