Repository apache/lucene, pull requests merged in 2022-08, with the labels that each got.

#1066 LUCENE-10654: Fix Shape Bounding Box Inconsistencies
  lucene/core/src/java/org/apache/lucene/geo/Tessellator.java
  lucene/core/src/test/org/apache/lucene/document/TestShapeDocValues.java
Labels: type:bug

#1067 LUCENE-10654: Fix ShapeDocValue Bounding Box failure (#1066)
  lucene/core/src/java/org/apache/lucene/geo/Tessellator.java
  lucene/core/src/test/org/apache/lucene/document/TestShapeDocValues.java
Labels: type:bug

#11718 Fix classloading deadlock in analysis factories / AnalysisSPILoader initialization
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/analysis/CharFilterFactory.java
  lucene/core/src/java/org/apache/lucene/analysis/TokenFilterFactory.java
  lucene/core/src/java/org/apache/lucene/analysis/TokenizerFactory.java
Labels: type:bug, fix-version:9.4

#11723 Document about Milestone for release planning
  dev-docs/github-issues-howto.md
Labels: type:documentation
