Repository apache/lucene, pull requests merged in 2022-09, with the labels that each got.

#11766 Retry gradle wrapper download on http 500 and 503.
  buildSrc/src/main/java/org/apache/lucene/gradle/WrapperDownloader.java
Labels: tool:build

#11789 GitHub Workflows security hardening
  .github/workflows/distribution.yml
  .github/workflows/gradle-precommit.yml
Labels: tool:build

#11734 Fix repeating token sentence boundary bug
  lucene/CHANGES.txt
  lucene/analysis/opennlp/src/java/org/apache/lucene/analysis/opennlp/OpenNLPChunkerFilter.java
  lucene/analysis/opennlp/src/java/org/apache/lucene/analysis/opennlp/OpenNLPLemmatizerFilter.java
  lucene/analysis/opennlp/src/java/org/apache/lucene/analysis/opennlp/OpenNLPPOSFilter.java
  lucene/analysis/opennlp/src/java/org/apache/lucene/analysis/opennlp/OpenNLPTokenizer.java
  lucene/analysis/opennlp/src/java/org/apache/lucene/analysis/opennlp/SentenceAttributeExtractor.java
  lucene/analysis/opennlp/src/test-files/org/apache/lucene/analysis/opennlp/data/early-exit-bug-input.txt
  lucene/analysis/opennlp/src/test-files/org/apache/lucene/analysis/opennlp/data/early-exit-bug-output.txt
  lucene/analysis/opennlp/src/test/org/apache/lucene/analysis/opennlp/TestOpenNLPChunkerFilterFactory.java
  lucene/analysis/opennlp/src/test/org/apache/lucene/analysis/opennlp/TestOpenNLPLemmatizerFilterFactory.java
  lucene/analysis/opennlp/src/test/org/apache/lucene/analysis/opennlp/TestOpenNLPPOSFilterFactory.java
  lucene/core/src/java/org/apache/lucene/analysis/tokenattributes/SentenceAttribute.java
  lucene/core/src/java/org/apache/lucene/analysis/tokenattributes/SentenceAttributeImpl.java
Labels: type:bug

#11812 Upgrade several build dependencies.
  build.gradle
  buildSrc/scriptDepVersions.gradle
  gradle/validation/error-prone.gradle
  lucene/core/src/java/org/apache/lucene/document/FieldType.java
  lucene/core/src/java/org/apache/lucene/geo/Polygon.java
  lucene/core/src/java/org/apache/lucene/store/ByteBuffersDataInput.java
  lucene/core/src/java/org/apache/lucene/store/ByteBuffersDataOutput.java
  lucene/core/src/java/org/apache/lucene/util/RamUsageEstimator.java
  lucene/core/src/java/org/apache/lucene/util/automaton/Automaton.java
  versions.props
Labels: tool:build

#912 MR-JAR rewrite of MMapDirectory with JDK-19 preview Panama APIs (>= JDK-19-ea+23)
  gradle/generation/local-settings.gradle
  gradle/java/javac.gradle
  gradle/testing/defaults-tests.gradle
  gradle/validation/ecj-lint.gradle
  gradle/validation/error-prone.gradle
  gradle/validation/forbidden-apis.gradle
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
  lucene/core/src/java/org/apache/lucene/store/MappedByteBufferIndexInputProvider.java
  lucene/core/src/java19/org/apache/lucene/store/MemorySegmentIndexInput.java
  lucene/core/src/java19/org/apache/lucene/store/MemorySegmentIndexInputProvider.java
  lucene/core/src/test/org/apache/lucene/store/TestMmapDirectory.java
  lucene/core/src/test/org/apache/lucene/store/TestMultiMMap.java
  lucene/distribution.tests/src/test/org/apache/lucene/distribution/TestModularLayer.java
Labels: type:enhancement, module:core/store
