Repository apache/lucene, pull requests merged in 2022-11, with the labels that each got.

#11905 Fix integer overflow when seeking the vector index for connections
  lucene/CHANGES.txt
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene91/Lucene91HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene92/Lucene92HnswVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene94/Lucene94HnswVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene94/Lucene94HnswVectorsWriter.java
  lucene/core/src/test/org/apache/lucene/document/TestManyKnnDocs.java
Labels: legacy-jira-priority:Blocker

#11918 Port generic exception handling from MemorySegmentIndexInput to ByteBufferIndexInput
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/store/ByteBufferIndexInput.java
  lucene/core/src/java19/org/apache/lucene/store/MemorySegmentIndexInput.java
  lucene/core/src/test/org/apache/lucene/store/TestMultiMMap.java
Labels: type:enhancement, legacy-jira-priority:Blocker

#11985 ExitableTerms to override getMin and getMax
  lucene/core/src/java/org/apache/lucene/index/ExitableDirectoryReader.java
  lucene/core/src/test/org/apache/lucene/index/TestExitableDirectoryReader.java
Labels: type:enhancement, module:core/index
