Repository apache/lucene, pull requests merged in 2023-08, with the labels that each got.

#12481 Fix `DefaultBulkScorer` to not advance the competitive iterator beyond the end of the window.
  lucene/core/src/java/org/apache/lucene/search/Weight.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingLeafCollector.java
Labels: type:bug

#12434 Add ParentJoin KNN support
  lucene/CHANGES.txt
  lucene/analysis/common/src/java/org/apache/lucene/analysis/synonym/word2vec/Word2VecSynonymProvider.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene90/Lucene90HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene90/Lucene90OnHeapHnswGraph.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene91/Lucene91HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene92/Lucene92HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene92/OffHeapFloatVectorValues.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene94/Lucene94HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene94/OffHeapByteVectorValues.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene94/OffHeapFloatVectorValues.java
  lucene/backward-codecs/src/test/org/apache/lucene/backward_codecs/lucene91/Lucene91HnswGraphBuilder.java
  lucene/codecs/src/java/org/apache/lucene/codecs/simpletext/SimpleTextKnnVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/KnnVectorsFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/KnnVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene95/Lucene95HnswVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene95/OffHeapByteVectorValues.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene95/OffHeapFloatVectorValues.java
  lucene/core/src/java/org/apache/lucene/codecs/perfield/PerFieldKnnVectorsFormat.java
  lucene/core/src/java/org/apache/lucene/index/CheckIndex.java
  lucene/core/src/java/org/apache/lucene/index/CodecReader.java
  lucene/core/src/java/org/apache/lucene/index/DocValuesLeafReader.java
  lucene/core/src/java/org/apache/lucene/index/ExitableDirectoryReader.java
  lucene/core/src/java/org/apache/lucene/index/FilterLeafReader.java
  lucene/core/src/java/org/apache/lucene/index/LeafReader.java
  lucene/core/src/java/org/apache/lucene/index/ParallelLeafReader.java
  lucene/core/src/java/org/apache/lucene/index/SlowCodecReaderWrapper.java
  lucene/core/src/java/org/apache/lucene/index/SortingCodecReader.java
  lucene/core/src/java/org/apache/lucene/search/AbstractKnnCollector.java
  lucene/core/src/java/org/apache/lucene/search/KnnByteVectorQuery.java
  lucene/core/src/java/org/apache/lucene/search/KnnCollector.java
  lucene/core/src/java/org/apache/lucene/search/KnnFloatVectorQuery.java
  lucene/core/src/java/org/apache/lucene/search/TopKnnCollector.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphSearcher.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/IntToIntFunction.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/NeighborQueue.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/OrdinalTranslatedKnnCollector.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/RandomAccessVectorValues.java
  lucene/core/src/test/org/apache/lucene/index/TestSegmentToThreadMapping.java
  lucene/core/src/test/org/apache/lucene/search/BaseKnnVectorQueryTestCase.java
  lucene/core/src/test/org/apache/lucene/search/TestTopKnnResults.java
  lucene/core/src/test/org/apache/lucene/util/hnsw/HnswGraphTestCase.java
  lucene/core/src/test/org/apache/lucene/util/hnsw/TestHnswFloatVectorGraph.java
  lucene/highlighter/src/java/org/apache/lucene/search/highlight/TermVectorLeafReader.java
  lucene/join/src/java/org/apache/lucene/search/join/ToParentBlockJoinByteKnnVectorQuery.java
  lucene/join/src/java/org/apache/lucene/search/join/ToParentBlockJoinFloatKnnVectorQuery.java
  lucene/join/src/java/org/apache/lucene/search/join/ToParentJoinKnnCollector.java
  lucene/join/src/test/org/apache/lucene/search/join/ParentBlockJoinKnnVectorQueryTestCase.java
  lucene/join/src/test/org/apache/lucene/search/join/TestBlockJoin.java
  lucene/join/src/test/org/apache/lucene/search/join/TestParentBlockJoinByteKnnVectorQuery.java
  lucene/join/src/test/org/apache/lucene/search/join/TestParentBlockJoinFloatKnnVectorQuery.java
  lucene/join/src/test/org/apache/lucene/search/join/TestToParentJoinKnnResults.java
  lucene/memory/src/java/org/apache/lucene/index/memory/MemoryIndex.java
  lucene/test-framework/src/java/org/apache/lucene/tests/codecs/asserting/AssertingKnnVectorsFormat.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/MergeReaderWrapper.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/MismatchedLeafReader.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/QueryUtils.java
Labels: vector-based-search

#12500 Fix flaky testToString method for Knn Vector queries
  lucene/core/src/test/org/apache/lucene/search/BaseKnnVectorQueryTestCase.java
  lucene/core/src/test/org/apache/lucene/search/TestKnnByteVectorQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestKnnFloatVectorQuery.java
Labels: vector-based-search

#12504 ToParentBlockJoin[Byte|Float]KnnVectorQuery needs to handle the case when parents are missing
  lucene/join/src/java/org/apache/lucene/search/join/ToParentBlockJoinByteKnnVectorQuery.java
  lucene/join/src/java/org/apache/lucene/search/join/ToParentBlockJoinFloatKnnVectorQuery.java
  lucene/join/src/test/org/apache/lucene/search/join/ParentBlockJoinKnnVectorQueryTestCase.java
Labels: vector-based-search

#12479 GITHUB#12342 Add new maximum inner product vector similarity method
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/index/VectorSimilarityFunction.java
  lucene/core/src/java/org/apache/lucene/util/VectorUtil.java
  lucene/core/src/test/org/apache/lucene/search/BaseKnnVectorQueryTestCase.java
  lucene/luke/src/java/org/apache/lucene/luke/app/desktop/components/DocumentsPanelProvider.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseKnnVectorsFormatTestCase.java
Labels: vector-based-search

#12510 Adjust ToParentBlockJoin[Byte|Float]KnnVectorQuery to return highest score child doc ID by parent id
  lucene/join/src/java/org/apache/lucene/search/join/DiversifyingChildrenByteKnnVectorQuery.java
  lucene/join/src/java/org/apache/lucene/search/join/DiversifyingChildrenFloatKnnVectorQuery.java
  lucene/join/src/java/org/apache/lucene/search/join/DiversifyingNearestChildrenKnnCollector.java
  lucene/join/src/test/org/apache/lucene/search/join/ParentBlockJoinKnnVectorQueryTestCase.java
  lucene/join/src/test/org/apache/lucene/search/join/TestBlockJoin.java
  lucene/join/src/test/org/apache/lucene/search/join/TestParentBlockJoinByteKnnVectorQuery.java
  lucene/join/src/test/org/apache/lucene/search/join/TestParentBlockJoinFloatKnnVectorQuery.java
  lucene/join/src/test/org/apache/lucene/search/join/TestToParentJoinKnnResults.java
Labels: vector-based-search

#12499 Simplify task executor for concurrent operations
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/IndexSearcher.java
  lucene/core/src/java/org/apache/lucene/search/QueueSizeBasedExecutor.java
  lucene/core/src/java/org/apache/lucene/search/TaskExecutor.java
  lucene/core/src/test/org/apache/lucene/search/TestIndexSearcher.java
Labels: type:enhancement
