Repository apache/lucene, pull requests merged in 2023-10, with the labels that each got.

#12607 Add missing create github release step to release wizard
  dev-tools/scripts/releaseWizard.yaml
Labels: tool:release-wizard

#12616 Minor refactor for HNSW graph merging logic
  lucene/core/src/java/org/apache/lucene/codecs/HnswGraphProvider.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene95/Lucene95HnswVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene95/Lucene95HnswVectorsWriter.java
Labels: vector-based-search

#12523 TaskExecutor waits for all tasks to complete before returning
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/TaskExecutor.java
  lucene/core/src/test/org/apache/lucene/search/TestTaskExecutor.java
Labels: type:enhancement

#12629 Refactor Lucene95 to allow off heap vector reader reuse
  lucene/core/src/java/org/apache/lucene/codecs/lucene95/Lucene95HnswVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene95/Lucene95HnswVectorsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene95/OffHeapByteVectorValues.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene95/OffHeapFloatVectorValues.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene95/OrdToDocDISIReaderConfiguration.java
Labels: vector-based-search

#12676 Improve logging for vector support
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/internal/vectorization/VectorizationProvider.java
  lucene/core/src/java20/org/apache/lucene/internal/vectorization/PanamaVectorizationProvider.java
Labels: type:enhancement

#12677 Better detect vector module in non-default setups (e.g., custom module layers)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/internal/vectorization/VectorizationProvider.java
Labels: type:enhancement

#12705 Improve handling of NullPointerException in MMapDirectory's IndexInputs (check the "closed" condition)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/store/ByteBufferGuard.java
  lucene/core/src/java/org/apache/lucene/store/ByteBufferIndexInput.java
  lucene/core/src/java19/org/apache/lucene/store/MemorySegmentIndexInput.java
  lucene/core/src/java20/org/apache/lucene/store/MemorySegmentIndexInput.java
  lucene/core/src/java21/org/apache/lucene/store/MemorySegmentIndexInput.java
  lucene/core/src/test/org/apache/lucene/store/TestMmapDirectory.java
Labels: type:enhancement

#12293 Capture build scans on ge.apache.org to benefit from deep build insights
  .github/workflows/distribution.yml
  .github/workflows/gradle-precommit.yml
  .github/workflows/hunspell.yml
  gradle/ge.gradle
  settings.gradle
Labels: tool:build

#12718 Make IndexSearcher#getSlices final and clarify docs
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/IndexSearcher.java
Labels: type:enhancement

#12724 Fix test failures for TestCoreParser#testSpanNearQueryWithoutSlopXML
  lucene/queryparser/src/test/org/apache/lucene/queryparser/xml/TestCoreParser.java
Labels: type:test

#12728 Add back maxConn & beamWidth HNSW codec ctor
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99HnswVectorsFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99ScalarQuantizedVectorsWriter.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene99/TestLucene99HnswVectorsFormat.java
  lucene/core/src/test/org/apache/lucene/codecs/perfield/TestPerFieldKnnVectorsFormat.java
  lucene/core/src/test/org/apache/lucene/index/TestKnnGraph.java
  lucene/core/src/test/org/apache/lucene/util/hnsw/HnswGraphTestCase.java
  lucene/test-framework/src/java/org/apache/lucene/tests/codecs/vector/ConfigurableMCodec.java
Labels: vector-based-search

#12727 Ensure negative scores are not returned by vector similarity functions
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/index/VectorSimilarityFunction.java
  lucene/core/src/test/org/apache/lucene/util/TestVectorUtil.java
Labels: vector-based-search

#12731 Speedup float cosine vectors, use FMA where fast and available to reduce error
  lucene/CHANGES.txt
  lucene/core/src/java20/org/apache/lucene/internal/vectorization/PanamaVectorUtilSupport.java
  lucene/core/src/java20/org/apache/lucene/internal/vectorization/PanamaVectorizationProvider.java
Labels: vector-based-search
