Repository apache/lucene, pull requests merged in 2023-01, with the labels that each got.

#12058 Fix detection of Hotspot in TestRamUsageEstimator so it works with OpenJ9 that has the bean, but without properties
  lucene/CHANGES.txt
  lucene/core/src/test/org/apache/lucene/util/TestRamUsageEstimator.java
Labels: type:bug, legacy-jira-label:IBM-J9

#12046 Out of boundary in CombinedFieldQuery#addTerm
  lucene/CHANGES.txt
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/CombinedFieldQuery.java
Labels: type:bug

#12066 Retire/deprecate per-instance MMapDirectory#setUseUnmap
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
  lucene/core/src/java/org/apache/lucene/store/MappedByteBufferIndexInputProvider.java
  lucene/core/src/java19/org/apache/lucene/store/MemorySegmentIndexInputProvider.java
  lucene/core/src/test/org/apache/lucene/store/TestDirectory.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/BaseChunkedDirectoryTestCase.java
Labels: type:enhancement

#12072 Fix exponential runtime for Boolean#rewrite
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/BooleanQuery.java
  lucene/core/src/java/org/apache/lucene/search/ConstantScoreQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestBooleanRewrites.java
Labels: type:bug

#12078 Enhance XXXField#newRangeQuery
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/document/IntField.java
  lucene/core/src/java/org/apache/lucene/document/LongField.java
  lucene/core/src/java/org/apache/lucene/search/IndexSortSortedNumericDocValuesRangeQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestIndexSortSortedNumericDocValuesRangeQuery.java
Labels: type:enhancement

#12102 Replace BytesRef usages in byte vectors API with byte[]
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene90/Lucene90HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene91/Lucene91HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene92/Lucene92HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene94/Lucene94HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene94/OffHeapByteVectorValues.java
  lucene/backward-codecs/src/test/org/apache/lucene/backward_codecs/lucene90/Lucene90HnswVectorsWriter.java
  lucene/backward-codecs/src/test/org/apache/lucene/backward_codecs/lucene91/Lucene91HnswVectorsWriter.java
  lucene/backward-codecs/src/test/org/apache/lucene/backward_codecs/lucene92/Lucene92HnswVectorsWriter.java
  lucene/backward-codecs/src/test/org/apache/lucene/backward_codecs/lucene94/Lucene94HnswVectorsWriter.java
  lucene/codecs/src/java/org/apache/lucene/codecs/simpletext/SimpleTextKnnVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/BufferingKnnVectorsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/KnnVectorsFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/KnnVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/KnnVectorsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene95/Lucene95HnswVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene95/Lucene95HnswVectorsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene95/OffHeapByteVectorValues.java
  lucene/core/src/java/org/apache/lucene/codecs/perfield/PerFieldKnnVectorsFormat.java
  lucene/core/src/java/org/apache/lucene/document/KnnByteVectorField.java
  lucene/core/src/java/org/apache/lucene/index/ByteVectorValues.java
  lucene/core/src/java/org/apache/lucene/index/CodecReader.java
  lucene/core/src/java/org/apache/lucene/index/DocValuesLeafReader.java
  lucene/core/src/java/org/apache/lucene/index/ExitableDirectoryReader.java
  lucene/core/src/java/org/apache/lucene/index/FilterLeafReader.java
  lucene/core/src/java/org/apache/lucene/index/IndexingChain.java
  lucene/core/src/java/org/apache/lucene/index/LeafReader.java
  lucene/core/src/java/org/apache/lucene/index/ParallelLeafReader.java
  lucene/core/src/java/org/apache/lucene/index/SlowCodecReaderWrapper.java
  lucene/core/src/java/org/apache/lucene/index/SortingCodecReader.java
  lucene/core/src/java/org/apache/lucene/index/VectorSimilarityFunction.java
  lucene/core/src/java/org/apache/lucene/search/KnnByteVectorQuery.java
  lucene/core/src/java/org/apache/lucene/search/VectorScorer.java
  lucene/core/src/java/org/apache/lucene/util/VectorUtil.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphSearcher.java
  lucene/core/src/test/org/apache/lucene/document/TestField.java
  lucene/core/src/test/org/apache/lucene/index/TestSegmentToThreadMapping.java
  lucene/core/src/test/org/apache/lucene/search/BaseKnnVectorQueryTestCase.java
  lucene/core/src/test/org/apache/lucene/search/TestKnnByteVectorQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestKnnVectorQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestVectorScorer.java
  lucene/core/src/test/org/apache/lucene/util/TestVectorUtil.java
  lucene/core/src/test/org/apache/lucene/util/hnsw/HnswGraphTestCase.java
  lucene/core/src/test/org/apache/lucene/util/hnsw/KnnGraphTester.java
  lucene/core/src/test/org/apache/lucene/util/hnsw/MockByteVectorValues.java
  lucene/core/src/test/org/apache/lucene/util/hnsw/TestHnswByteVectorGraph.java
  lucene/highlighter/src/java/org/apache/lucene/search/highlight/TermVectorLeafReader.java
  lucene/memory/src/java/org/apache/lucene/index/memory/MemoryIndex.java
  lucene/test-framework/src/java/org/apache/lucene/tests/codecs/asserting/AssertingKnnVectorsFormat.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseKnnVectorsFormatTestCase.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/MergeReaderWrapper.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/QueryUtils.java
Labels: type:enhancement
