Repository apache/lucene, pull requests merged in 2023-12, with the labels that each got.

#12873 Rewrite JavaScriptCompiler to use modern JVM features (Java 17)
  gradle/testing/randomization/policies/replicator-tests.policy
  gradle/testing/randomization/policies/tests.policy
  gradle/validation/jar-checks.gradle
  lucene/CHANGES.txt
  lucene/MIGRATE.md
  lucene/benchmark-jmh/build.gradle
  lucene/benchmark-jmh/src/java/module-info.java
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/ExpressionsBenchmark.java
  lucene/expressions/src/java/org/apache/lucene/expressions/js/JavascriptCompiler.java
  lucene/expressions/src/test/org/apache/lucene/expressions/js/CompilerTestCase.java
  lucene/expressions/src/test/org/apache/lucene/expressions/js/TestCustomFunctions.java
  lucene/expressions/src/test/org/apache/lucene/expressions/js/TestJavascriptCompiler.java
  lucene/expressions/src/test/org/apache/lucene/expressions/js/TestJavascriptFunction.java
  lucene/licenses/asm-7.2.jar.sha1
  lucene/licenses/asm-9.6.jar.sha1
  lucene/licenses/asm-analysis-7.2.jar.sha1
  lucene/licenses/asm-commons-7.2.jar.sha1
  lucene/licenses/asm-commons-9.6.jar.sha1
  lucene/licenses/asm-tree-7.2.jar.sha1
  lucene/licenses/asm-tree-9.6.jar.sha1
  lucene/licenses/opennlp-tools-1.9.4.jar.sha1
  versions.lock
  versions.props
Labels: type:enhancement, module:expressions

#12878 Fix the declared Exceptions of Expression#evaluate to match those of DoubleValues#doubleValue
  lucene/CHANGES.txt
  lucene/MIGRATE.md
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/ExpressionsBenchmark.java
  lucene/expressions/src/java/org/apache/lucene/expressions/Expression.java
  lucene/expressions/src/java/org/apache/lucene/expressions/js/JavascriptCompiler.java
  lucene/expressions/src/test/org/apache/lucene/expressions/js/TestAPISanity.java
Labels: type:bug

#12679 Add support for similarity-based vector searches
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/AbstractVectorSimilarityQuery.java
  lucene/core/src/java/org/apache/lucene/search/ByteVectorSimilarityQuery.java
  lucene/core/src/java/org/apache/lucene/search/FloatVectorSimilarityQuery.java
  lucene/core/src/java/org/apache/lucene/search/VectorSimilarityCollector.java
  lucene/core/src/test/org/apache/lucene/search/BaseVectorSimilarityQueryTestCase.java
  lucene/core/src/test/org/apache/lucene/search/TestByteVectorSimilarityQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestFloatVectorSimilarityQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestVectorSimilarityCollector.java
Labels: vector-based-search

#12937 Prevent the common zero-width code points and detect invalid UTF-8 encoding in our sources and selected resource files
  gradle/validation/validate-source-patterns.gradle
  lucene/CHANGES.txt
  lucene/analysis/common/src/generated/checksums/generateUAX29URLEmailTokenizer.json
  lucene/analysis/common/src/java/org/apache/lucene/analysis/email/UAX29URLEmailTokenizerImpl.jflex
  lucene/core/src/generated/checksums/generateStandardTokenizer.json
  lucene/core/src/java/org/apache/lucene/analysis/standard/StandardTokenizerImpl.jflex
  lucene/queryparser/docs/xml/cctree.js
  lucene/queryparser/docs/xml/dtreeStyle.css
Labels: tool:build
