Repository apache/lucene, pull requests merged in 2023-06, with the labels that each got.

#12353 [Tessellator] Improve the checks that validate the diagonal between two polygon nodes
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/geo/Tessellator.java
  lucene/core/src/test/org/apache/lucene/geo/TestTessellator.java
  lucene/test-framework/src/resources/org/apache/lucene/tests/geo/github-12352-1.geojson.gz
  lucene/test-framework/src/resources/org/apache/lucene/tests/geo/github-12352-2.geojson.gz
Labels: type:bug

#12294 Implement MMapDirectory with Java 21 Project Panama Preview API
  buildSrc/scriptDepVersions.gradle
  gradle/generation/extract-jdk-apis.gradle
  gradle/generation/extract-jdk-apis/ExtractJdkApis.java
  gradle/template.gradle.properties
  lucene/CHANGES.txt
  lucene/core/src/generated/jdk/jdk21.apijar
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
  lucene/core/src/java21/org/apache/lucene/store/MemorySegmentIndexInput.java
  lucene/core/src/java21/org/apache/lucene/store/MemorySegmentIndexInputProvider.java
  lucene/core/src/test/org/apache/lucene/store/TestMmapDirectory.java
  lucene/distribution.tests/src/test/org/apache/lucene/distribution/TestModularLayer.java
Labels: type:enhancement, legacy-jira-priority:Blocker

#12363 Implement VectorUtilProvider with Java 21 Project Pamana Vector API
  gradle/generation/extract-jdk-apis.gradle
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/util/VectorUtilProvider.java
  lucene/core/src/java21/org/apache/lucene/util/VectorUtilPanamaProvider.txt
Labels: type:enhancement

#12369 Increased the likelihood of leveraging inter-segment concurrency in tests
  lucene/test-framework/src/java/org/apache/lucene/tests/util/LuceneTestCase.java
Labels: type:test

#12376 Allow VectorUtilProvider tests to be executed although hardware may not fully support vectorization or if C2 is not enabled
  lucene/core/src/java/org/apache/lucene/util/VectorUtil.java
  lucene/core/src/java/org/apache/lucene/util/VectorUtilProvider.java
  lucene/core/src/java20/org/apache/lucene/util/VectorUtilPanamaProvider.java
  lucene/core/src/test/org/apache/lucene/util/TestVectorUtilProviders.java
Labels: type:test

#12372 Reuse neighborqueue during hnsw index build (attempt 2)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphSearcher.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/NeighborQueue.java
Labels: vector-based-search

#12398 Share concurrent execution code into TaskExecutor
  lucene/core/src/java/org/apache/lucene/search/AbstractKnnVectorQuery.java
  lucene/core/src/java/org/apache/lucene/search/IndexSearcher.java
  lucene/core/src/java/org/apache/lucene/search/QueueSizeBasedExecutor.java
  lucene/core/src/java/org/apache/lucene/search/TaskExecutor.java
  lucene/core/src/test/org/apache/lucene/search/TestIndexSearcher.java
Labels: type:enhancement

#12404 Remove usage and add some legacy java.util classes to forbiddenapis (Stack, Hashtable, Vector)
  gradle/validation/forbidden-apis/defaults.all.txt
  lucene/CHANGES.txt
  lucene/analysis/common/src/java/org/apache/lucene/analysis/compound/hyphenation/TernaryTree.java
  lucene/benchmark/src/java/org/apache/lucene/benchmark/byTask/feeds/DirContentSource.java
  lucene/facet/src/java/org/apache/lucene/facet/sortedset/DefaultSortedSetDocValuesReaderState.java
  lucene/facet/src/test/org/apache/lucene/facet/sortedset/TestSortedSetDocValuesFacets.java
  lucene/misc/src/java/org/apache/lucene/misc/search/DiversifiedTopDocsCollector.java
  lucene/queryparser/src/java/org/apache/lucene/queryparser/flexible/core/nodes/QueryNodeImpl.java
  lucene/suggest/src/java/org/apache/lucene/search/suggest/tst/TSTAutocomplete.java
  lucene/test-framework/src/test/org/apache/lucene/tests/util/TestJUnitRuleOrder.java
Labels: type:enhancement
