Repository apache/lucene, pull requests merged in 2023-05, with the labels that each got.

#12265 Fix MMapDirectory documentation for Java 20
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
Labels: type:documentation

#12270 Don't generate stacktrace in CollectionTerminatedException
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/CollectionTerminatedException.java
Labels: type:enhancement

#12272 Update javadocs for QueryTimeout
  lucene/core/src/java/org/apache/lucene/index/QueryTimeout.java
Labels: type:documentation

#12315 Make sure APIJAR reproduces with different timezone
  gradle/generation/panama-foreign.gradle
  lucene/core/src/generated/jdk/panama-foreign-jdk19.apijar
  lucene/core/src/generated/jdk/panama-foreign-jdk20.apijar
Labels: type:bug

#12233 [MINOR] Update javadoc in Query class
  lucene/core/src/java/org/apache/lucene/search/Query.java
Labels: type:documentation

#12329 Handle jdk.internal classes mentioned in vector superclass or interfaces during extraction
  gradle/generation/extract-jdk-apis/ExtractJdkApis.java
  lucene/core/src/generated/jdk/jdk20.apijar
Labels: type:bug

#12325 Parallelize knn query rewrite across slices rather than segments
  lucene/core/src/java/org/apache/lucene/search/AbstractKnnVectorQuery.java
  lucene/core/src/java/org/apache/lucene/search/IndexSearcher.java
Labels: type:enhancement

#12268 add BitSet.clear()
  lucene/CHANGES.txt
  lucene/analysis/common/src/java/org/apache/lucene/analysis/hunspell/TrigramAutomaton.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene80/IndexedDISI.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/IndexedDISI.java
  lucene/core/src/java/org/apache/lucene/util/BitSet.java
  lucene/core/src/java/org/apache/lucene/util/FixedBitSet.java
  lucene/core/src/java/org/apache/lucene/util/SparseFixedBitSet.java
  lucene/core/src/java/org/apache/lucene/util/automaton/Operations.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphSearcher.java
  lucene/facet/src/java/org/apache/lucene/facet/range/OverlappingLongRangeCounter.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/BaseBitSetTestCase.java
Labels: type:enhancement

#12335 Don't generate stacktrace for TimeExceededException
  lucene/core/src/java/org/apache/lucene/search/TimeLimitingBulkScorer.java
Labels: type:enhancement
