Repository apache/lucene, pull requests merged in 2023-11, with the labels that each got.

#12745 Fix javac task inputs so that they include modular dependencies #12742
  gradle/java/modules.gradle
  lucene/CHANGES.txt
Labels: type:bug, tool:build

#12752 tests.multiplier could be omitted in failed test reproduce line
  gradle/testing/randomization.gradle
  lucene/CHANGES.txt
  lucene/test-framework/src/java/org/apache/lucene/tests/util/LuceneTestCase.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/RunListenerPrintReproduceInfo.java
Labels: tool:build

#12754 Refactor access to VM options and move some VM options to oal.util.Constants
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/internal/vectorization/VectorizationProvider.java
  lucene/core/src/java/org/apache/lucene/util/Constants.java
  lucene/core/src/java/org/apache/lucene/util/HotspotVMOptions.java
  lucene/core/src/java/org/apache/lucene/util/RamUsageEstimator.java
  lucene/core/src/java20/org/apache/lucene/internal/vectorization/PanamaVectorUtilSupport.java
  lucene/core/src/java20/org/apache/lucene/internal/vectorization/PanamaVectorizationProvider.java
Labels: type:enhancement

#12737 Speed up vectorutil float scalar methods, unroll properly, use fma where possible
  lucene/core/src/java/org/apache/lucene/internal/vectorization/DefaultVectorUtilSupport.java
  lucene/core/src/java/org/apache/lucene/util/Constants.java
  lucene/core/src/java/org/apache/lucene/util/VectorUtil.java
  lucene/core/src/java20/org/apache/lucene/internal/vectorization/PanamaVectorUtilSupport.java
  lucene/core/src/java20/org/apache/lucene/internal/vectorization/PanamaVectorizationProvider.java
Labels: vector-based-search

#12765 Limit vectorization API to Hotspot VMs (and rename some constants and fix Javadocs)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/internal/vectorization/VectorizationProvider.java
  lucene/core/src/java/org/apache/lucene/util/Constants.java
  lucene/core/src/java/org/apache/lucene/util/HotspotVMOptions.java
  lucene/core/src/java/org/apache/lucene/util/RamUsageEstimator.java
Labels: vector-based-search

#12780 Normalize written scalar quantized vectors when using cosine similarity
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99ScalarQuantizedVectorsWriter.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene99/TestLucene99HnswQuantizedVectorsFormat.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseKnnVectorsFormatTestCase.java
Labels: vector-based-search

#12785 Redo #12707: Do not rely on isAlive() status of MemorySegment#Scope and make sure IndexInput#close() does not throw IllegalStateException and waits instead
  lucene/CHANGES.txt
  lucene/core/src/java19/org/apache/lucene/store/MemorySegmentIndexInput.java
  lucene/core/src/java20/org/apache/lucene/store/MemorySegmentIndexInput.java
  lucene/core/src/java21/org/apache/lucene/store/MemorySegmentIndexInput.java
  lucene/core/src/test/org/apache/lucene/store/TestMmapDirectory.java
Labels: type:bug

#12808 Fix errorprone with alternative runtime
  gradle/validation/error-prone.gradle
Labels: tool:build

#12807 Close all files when hitting an I/O exception with vectors.
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99HnswVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99ScalarQuantizedVectorsReader.java
Labels: vector-based-search

#12806 Utilize exact kNN search when gathering k > numVectors in a segment
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99HnswVectorsReader.java
  lucene/core/src/test/org/apache/lucene/search/BaseKnnVectorQueryTestCase.java
Labels: vector-based-search

#12626 Fix segmentInfos replace doesn't set userData
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/index/SegmentInfos.java
  lucene/core/src/test/org/apache/lucene/index/TestIndexWriter.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/LuceneTestCase.java
Labels: type:bug

#12836 Move MergeState.DocMap to a FunctionalInterface
  lucene/core/src/java/org/apache/lucene/index/IndexWriter.java
  lucene/core/src/java/org/apache/lucene/index/MergeState.java
  lucene/core/src/java/org/apache/lucene/index/MultiSorter.java
  lucene/core/src/test/org/apache/lucene/index/TestDocIDMerger.java
  lucene/core/src/test/org/apache/lucene/util/bkd/TestBKD.java
Labels: module:core/index, affects-version:10.0, affects-version:9.3
