Repository apache/lucene, pull requests merged in 2023-09, with the labels that each got.

#12516 Unwrap execution exceptions cause and rethrow as is when possible
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/AbstractKnnVectorQuery.java
  lucene/core/src/java/org/apache/lucene/search/TaskExecutor.java
  lucene/core/src/test/org/apache/lucene/search/BaseKnnVectorQueryTestCase.java
  lucene/core/src/test/org/apache/lucene/search/TestTaskExecutor.java
Labels: type:enhancement

#12515 Offload single slice to executor
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/IndexSearcher.java
  lucene/core/src/test/org/apache/lucene/search/TestIndexSearcher.java
Labels: type:enhancement

#12544 Close index readers in tests
  lucene/core/src/test/org/apache/lucene/search/TestSort.java
  lucene/monitor/src/test/org/apache/lucene/monitor/TestForceNoBulkScoringQuery.java
  lucene/queries/src/test/org/apache/lucene/queries/payloads/TestPayloadSpans.java
Labels: type:test

#12529 Introduce a random vector scorer in HNSW builder/searcher
  lucene/analysis/common/src/java/org/apache/lucene/analysis/synonym/word2vec/Word2VecSynonymProvider.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene90/Lucene90HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene91/Lucene91HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene92/Lucene92HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene92/OffHeapFloatVectorValues.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene94/Lucene94HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene94/OffHeapByteVectorValues.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene94/OffHeapFloatVectorValues.java
  lucene/backward-codecs/src/test/org/apache/lucene/backward_codecs/lucene91/Lucene91HnswGraphBuilder.java
  lucene/backward-codecs/src/test/org/apache/lucene/backward_codecs/lucene92/Lucene92HnswVectorsWriter.java
  lucene/backward-codecs/src/test/org/apache/lucene/backward_codecs/lucene94/Lucene94HnswVectorsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene95/Lucene95HnswVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene95/Lucene95HnswVectorsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene95/OffHeapByteVectorValues.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene95/OffHeapFloatVectorValues.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphSearcher.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/NeighborArray.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/OrdinalTranslatedKnnCollector.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/RandomVectorScorer.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/RandomVectorScorerSupplier.java
  lucene/core/src/test/org/apache/lucene/util/hnsw/HnswGraphTestCase.java
  lucene/core/src/test/org/apache/lucene/util/hnsw/TestHnswFloatVectorGraph.java
Labels: vector-based-search

#12571 Fix HNSW graph reading with excessive connections
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/codecs/lucene95/Lucene95HnswVectorsReader.java
Labels: vector-based-search

#12577 Resolve CompileJava task cache miss
  gradle/generation/extract-jdk-apis.gradle
  gradle/java/core-mrjar.gradle
Labels: tool:build

#12588 Shared executor for LuceneTestCase#newSearcher callers
  lucene/test-framework/src/java/org/apache/lucene/tests/util/LuceneTestCase.java
Labels: type:test
