Repository apache/lucene, pull requests merged in 2024-02, with the labels that each got.

#12951 Use growNoCopy in some places
  lucene/analysis/kuromoji/src/java/org/apache/lucene/analysis/ja/dict/TokenInfoDictionaryBuilder.java
  lucene/analysis/kuromoji/src/java/org/apache/lucene/analysis/ja/dict/UserDictionary.java
  lucene/analysis/nori/src/java/org/apache/lucene/analysis/ko/dict/TokenInfoDictionaryBuilder.java
  lucene/analysis/nori/src/java/org/apache/lucene/analysis/ko/dict/UserDictionary.java
  lucene/codecs/src/java/org/apache/lucene/codecs/simpletext/SimpleTextDocValuesReader.java
  lucene/codecs/src/java/org/apache/lucene/codecs/simpletext/SimpleTextFieldsReader.java
  lucene/codecs/src/java/org/apache/lucene/codecs/simpletext/SimpleTextTermVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/TermVectorsWriter.java
  lucene/core/src/java/org/apache/lucene/index/FreqProxFields.java
  lucene/core/src/java/org/apache/lucene/util/ByteBlockPool.java
  lucene/core/src/java/org/apache/lucene/util/BytesRefArray.java
  lucene/core/src/java/org/apache/lucene/util/BytesRefBuilder.java
  lucene/core/src/java/org/apache/lucene/util/IntsRefBuilder.java
  lucene/core/src/java/org/apache/lucene/util/OfflineSorter.java
  lucene/core/src/java/org/apache/lucene/util/fst/Util.java
  lucene/suggest/src/java/org/apache/lucene/search/suggest/analyzing/AnalyzingSuggester.java
  lucene/suggest/src/java/org/apache/lucene/search/suggest/document/CompletionFieldsConsumer.java
  lucene/suggest/src/java/org/apache/lucene/search/suggest/fst/FSTCompletionBuilder.java
  lucene/suggest/src/java/org/apache/lucene/search/suggest/fst/FSTCompletionLookup.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/fst/FSTTester.java
Labels: Stale

#12831 Make FSTCompiler.compile() to only return the FSTMetadata
  lucene/CHANGES.txt
  lucene/analysis/common/src/java/org/apache/lucene/analysis/charfilter/NormalizeCharMap.java
  lucene/analysis/common/src/java/org/apache/lucene/analysis/hunspell/ConvTable.java
  lucene/analysis/common/src/java/org/apache/lucene/analysis/hunspell/Dictionary.java
  lucene/analysis/common/src/java/org/apache/lucene/analysis/miscellaneous/StemmerOverrideFilter.java
  lucene/analysis/common/src/java/org/apache/lucene/analysis/synonym/SynonymMap.java
  lucene/analysis/kuromoji/src/java/org/apache/lucene/analysis/ja/dict/TokenInfoDictionaryBuilder.java
  lucene/analysis/kuromoji/src/java/org/apache/lucene/analysis/ja/dict/UserDictionary.java
  lucene/analysis/nori/src/java/org/apache/lucene/analysis/ko/dict/TokenInfoDictionaryBuilder.java
  lucene/analysis/nori/src/java/org/apache/lucene/analysis/ko/dict/UserDictionary.java
  lucene/backward-codecs/src/test/org/apache/lucene/backward_codecs/lucene40/blocktree/Lucene40BlockTreeTermsWriter.java
  lucene/classification/src/java/org/apache/lucene/classification/BooleanPerceptronClassifier.java
  lucene/codecs/src/java/org/apache/lucene/codecs/blockterms/VariableGapTermsIndexWriter.java
  lucene/codecs/src/java/org/apache/lucene/codecs/blocktreeords/OrdsBlockTreeTermsWriter.java
  lucene/codecs/src/java/org/apache/lucene/codecs/memory/FSTTermsWriter.java
  lucene/codecs/src/java/org/apache/lucene/codecs/simpletext/SimpleTextFieldsReader.java
  lucene/codecs/src/java/org/apache/lucene/codecs/uniformsplit/FSTDictionary.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/Lucene90BlockTreeTermsWriter.java
  lucene/core/src/java/org/apache/lucene/util/fst/FST.java
  lucene/core/src/java/org/apache/lucene/util/fst/FSTCompiler.java
  lucene/core/src/java/org/apache/lucene/util/fst/package-info.java
  lucene/core/src/test/org/apache/lucene/util/fst/Test2BFST.java
  lucene/core/src/test/org/apache/lucene/util/fst/Test2BFSTOffHeap.java
  lucene/core/src/test/org/apache/lucene/util/fst/TestFSTDirectAddressing.java
  lucene/core/src/test/org/apache/lucene/util/fst/TestFSTs.java
  lucene/core/src/test/org/apache/lucene/util/fst/TestUtil.java
  lucene/demo/src/java/org/apache/lucene/demo/knn/KnnVectorDict.java
  lucene/misc/src/test/org/apache/lucene/misc/util/fst/TestFSTsMisc.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/codecs/idversion/VersionBlockTreeTermsWriter.java
  lucene/suggest/src/java/org/apache/lucene/search/suggest/analyzing/AnalyzingSuggester.java
  lucene/suggest/src/java/org/apache/lucene/search/suggest/analyzing/FreeTextSuggester.java
  lucene/suggest/src/java/org/apache/lucene/search/suggest/document/NRTSuggesterBuilder.java
  lucene/suggest/src/java/org/apache/lucene/search/suggest/fst/FSTCompletionBuilder.java
  lucene/suggest/src/java/org/apache/lucene/search/suggest/fst/WFSTCompletionLookup.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/fst/FSTTester.java
Labels: Stale

#888 LUCENE-10572: Add support for varhandles in native byte order (still randomized during tests)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/util/BitUtil.java
  lucene/core/src/java/org/apache/lucene/util/compress/LZ4.java
Labels: type:enhancement

#13032 in BytesRefHash constructor avoid duplicate BytesStartArray.bytesUsed() call
  lucene/core/src/java/org/apache/lucene/util/BytesRefHash.java
Labels: Stale

#12706 Enable MemorySegment in MMapDirectory for Java 22+ and Vectorization (incubation) for exact Java 22
  gradle/generation/extract-jdk-apis.gradle
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/internal/vectorization/VectorizationProvider.java
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
  lucene/core/src/java21/org/apache/lucene/store/MemorySegmentIndexInput.java
  lucene/core/src/java21/org/apache/lucene/store/MemorySegmentIndexInputProvider.java
  lucene/core/src/test/org/apache/lucene/store/TestMMapDirectory.java
Labels: type:enhancement

#13132 Remove hardcoded "--release" from renderJavadoc task
  gradle/documentation/render-javadoc.gradle
Labels: type:enhancement, tool:build

#13146 Remove ByteBufferIndexInput and update all Panama implementations (MMap and Vector) to Java 21
  gradle/generation/extract-jdk-apis.gradle
  gradle/generation/extract-jdk-apis/ExtractJdkApis.java
  gradle/testing/defaults-tests.gradle
  gradle/testing/randomization/policies/replicator-tests.policy
  gradle/testing/randomization/policies/tests.policy
  lucene/core.tests/src/test/org/apache/lucene/core/tests/TestMMap.java
  lucene/core/src/generated/jdk/jdk19.apijar
  lucene/core/src/generated/jdk/jdk20.apijar
  lucene/core/src/generated/jdk/jdk21.apijar
  lucene/core/src/java/module-info.java
  lucene/core/src/java/org/apache/lucene/index/IndexWriter.java
  lucene/core/src/java/org/apache/lucene/internal/vectorization/VectorizationProvider.java
  lucene/core/src/java/org/apache/lucene/store/ByteBufferGuard.java
  lucene/core/src/java/org/apache/lucene/store/ByteBufferIndexInput.java
  lucene/core/src/java/org/apache/lucene/store/ByteBuffersDirectory.java
  lucene/core/src/java/org/apache/lucene/store/FSDirectory.java
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
  lucene/core/src/java/org/apache/lucene/store/MappedByteBufferIndexInputProvider.java
  lucene/core/src/java/org/apache/lucene/store/NRTCachingDirectory.java
  lucene/core/src/java19/org/apache/lucene/store/MemorySegmentIndexInput.java
  lucene/core/src/java19/org/apache/lucene/store/MemorySegmentIndexInputProvider.java
  lucene/core/src/java20/org/apache/lucene/store/MemorySegmentIndexInput.java
  lucene/core/src/java20/org/apache/lucene/store/MemorySegmentIndexInputProvider.java
  lucene/core/src/java21/org/apache/lucene/internal/vectorization/PanamaVectorUtilSupport.java
  lucene/core/src/java21/org/apache/lucene/internal/vectorization/PanamaVectorizationProvider.java
  lucene/core/src/java21/org/apache/lucene/store/MemorySegmentIndexInputProvider.java
  lucene/core/src/java21/org/apache/lucene/util/VectorUtilPanamaProvider.txt
  lucene/core/src/test/org/apache/lucene/index/Test4GBStoredFields.java
  lucene/core/src/test/org/apache/lucene/index/TestIndexWriter.java
  lucene/core/src/test/org/apache/lucene/store/TestByteBuffersDirectory.java
  lucene/core/src/test/org/apache/lucene/store/TestDirectory.java
  lucene/core/src/test/org/apache/lucene/store/TestMMapDirectory.java
  lucene/core/src/test/org/apache/lucene/store/TestMultiMMap.java
  lucene/core/src/test/org/apache/lucene/util/fst/Test2BFST.java
  lucene/core/src/test/org/apache/lucene/util/fst/Test2BFSTOffHeap.java
  lucene/distribution.tests/src/test/org/apache/lucene/distribution/TestModularLayer.java
  lucene/expressions/src/java/org/apache/lucene/expressions/js/JavascriptCompiler.java
  lucene/suggest/src/java/org/apache/lucene/search/suggest/document/NRTSuggester.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseStoredFieldsFormatTestCase.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/LuceneTestCase.java
Labels: legacy-jira-label:cleanup

#13148 Do not place Panama Java 21 class files in MR-JAR section of core.jar file
  gradle/java/core-mrjar.gradle
  lucene/CHANGES.txt
  lucene/distribution.tests/src/test/org/apache/lucene/distribution/TestModularLayer.java
Labels: type:enhancement
