Repository apache/lucene, pull requests merged in 2024-10, with the labels that each got.

#13842 Fix simple text byte vector iteration
  lucene/codecs/src/java/org/apache/lucene/codecs/simpletext/SimpleTextKnnVectorsReader.java
Labels: type:bug

#13843 Release wizard to split clean and check calls to separate calls
  dev-tools/scripts/buildAndPushRelease.py
Labels: discussion, tool:build

#13851 Add test for float vector values in FlatVectorsScorer impls
  lucene/core/src/test/org/apache/lucene/internal/vectorization/TestVectorScorer.java
Labels: type:test

#13852 Reassign the knn values iterator in TestSortingCodecReader
  lucene/core/src/test/org/apache/lucene/index/TestSortingCodecReader.java
Labels: type:test

#13895 Avoid allocating liveDocs when no soft-deletes
  lucene/core/src/java/org/apache/lucene/index/PendingSoftDeletes.java
  lucene/core/src/test/org/apache/lucene/index/TestSoftDeletesDirectoryReaderWrapper.java
Labels: type:bug
