Repository apache/lucene, pull requests merged in 2024-03, with the labels that each got.

#12915 Add new token filters for Japanese sutegana (捨て仮名)
  lucene/CHANGES.txt
  lucene/analysis/kuromoji/src/java/module-info.java
  lucene/analysis/kuromoji/src/java/org/apache/lucene/analysis/ja/JapaneseHiraganaUppercaseFilter.java
  lucene/analysis/kuromoji/src/java/org/apache/lucene/analysis/ja/JapaneseHiraganaUppercaseFilterFactory.java
  lucene/analysis/kuromoji/src/java/org/apache/lucene/analysis/ja/JapaneseKatakanaUppercaseFilter.java
  lucene/analysis/kuromoji/src/java/org/apache/lucene/analysis/ja/JapaneseKatakanaUppercaseFilterFactory.java
  lucene/analysis/kuromoji/src/resources/META-INF/services/org.apache.lucene.analysis.TokenFilterFactory
  lucene/analysis/kuromoji/src/test/org/apache/lucene/analysis/ja/TestJapaneseHiraganaUppercaseFilter.java
  lucene/analysis/kuromoji/src/test/org/apache/lucene/analysis/ja/TestJapaneseHiraganaUppercaseFilterFactory.java
  lucene/analysis/kuromoji/src/test/org/apache/lucene/analysis/ja/TestJapaneseKatakanaUppercaseFilter.java
  lucene/analysis/kuromoji/src/test/org/apache/lucene/analysis/ja/TestJapaneseKatakanaUppercaseFilterFactory.java
Labels: Stale

#13204 Fix equals/hashcode of IOContext
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/store/IOContext.java
Labels: type:bug

#13163 Fix demo application, if no knn dict was provided and over 100 docs are indexed
  lucene/demo/src/java/org/apache/lucene/demo/IndexFiles.java
Labels: Stale

#13196 Add support for posix_madvise to Java 21 MMapDirectory
  gradle/testing/defaults-tests.gradle
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/store/IOContext.java
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
  lucene/core/src/java21/org/apache/lucene/store/MemorySegmentIndexInputProvider.java
  lucene/core/src/java21/org/apache/lucene/store/NativeAccess.java
  lucene/core/src/java21/org/apache/lucene/store/PosixNativeAccess.java
  lucene/core/src/test/org/apache/lucene/store/TestMMapDirectory.java
Labels: type:enhancement

#13205 Convert IOContext, MergeInfo, and FlushInfo to record classes
  dev-tools/missing-doclet/build.gradle
  dev-tools/missing-doclet/src/main/java/org/apache/lucene/missingdoclet/MissingDoclet.java
  lucene/CHANGES.txt
  lucene/MIGRATE.md
  lucene/codecs/src/java/org/apache/lucene/codecs/blockterms/VariableGapTermsIndexReader.java
  lucene/codecs/src/java/org/apache/lucene/codecs/memory/DirectPostingsFormat.java
  lucene/core/src/java/org/apache/lucene/index/ConcurrentMergeScheduler.java
  lucene/core/src/java/org/apache/lucene/index/SegmentMerger.java
  lucene/core/src/java/org/apache/lucene/store/BufferedIndexInput.java
  lucene/core/src/java/org/apache/lucene/store/FlushInfo.java
  lucene/core/src/java/org/apache/lucene/store/IOContext.java
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
  lucene/core/src/java/org/apache/lucene/store/MergeInfo.java
  lucene/core/src/java/org/apache/lucene/store/NRTCachingDirectory.java
  lucene/core/src/java21/org/apache/lucene/store/PosixNativeAccess.java
  lucene/misc/src/java/org/apache/lucene/misc/store/ByteWritesTrackingDirectoryWrapper.java
  lucene/misc/src/java/org/apache/lucene/misc/store/DirectIODirectory.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseCompoundFormatTestCase.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BasePostingsFormatTestCase.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/LuceneTestCase.java
Labels: type:enhancement, legacy-jira-label:refactoring

#13219 Replace boolean flags on `IOContext` with an enum.
  lucene/CHANGES.txt
  lucene/MIGRATE.md
  lucene/codecs/src/java/org/apache/lucene/codecs/blockterms/VariableGapTermsIndexReader.java
  lucene/codecs/src/java/org/apache/lucene/codecs/memory/FSTTermsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90PointsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/Lucene90BlockTreeTermsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/compressing/FieldsIndexReader.java
  lucene/core/src/java/org/apache/lucene/store/IOContext.java
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
  lucene/core/src/java/org/apache/lucene/store/ReadAdvice.java
  lucene/core/src/java21/org/apache/lucene/store/MemorySegmentIndexInputProvider.java
  lucene/core/src/java21/org/apache/lucene/store/NativeAccess.java
  lucene/core/src/java21/org/apache/lucene/store/PosixNativeAccess.java
Labels: type:enhancement

#13206 Subtract deleted file size from the cache size of NRTCachingDirectory.
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/store/NRTCachingDirectory.java
  lucene/core/src/test/org/apache/lucene/store/TestNRTCachingDirectory.java
Labels: type:bug

#13225 Test KNN query works seamlessly regardless of underlying format
  lucene/core/src/test/org/apache/lucene/search/BaseKnnVectorQueryTestCase.java
  lucene/test-framework/src/java/module-info.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/LuceneTestCase.java
Labels: type:test

#13128 Make `OneMerge#reorder` preserve blocks.
  lucene/core/src/java/org/apache/lucene/index/IndexWriter.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/MockRandomMergePolicy.java
  lucene/test-framework/src/test/org/apache/lucene/tests/index/TestMockRandomMergePolicy.java
Labels: Stale

#13245 Optimization: Use precalculated IOContexts for withReadAdvice() to not create new instances all the time
  lucene/core/src/java/org/apache/lucene/store/IOContext.java
Labels: type:enhancement, legacy-jira-label:optimization
