Repository apache/lucene, pull requests merged in 2024-01, with the labels that each got.

#12958 Reduce contention on flushControl.isFullFlush().
  lucene/core/src/java/org/apache/lucene/index/DocumentsWriter.java
  lucene/core/src/java/org/apache/lucene/index/DocumentsWriterFlushControl.java
Labels: Stale

#12914 Clean up sleep in TestBackwardsCompatibility#testCreateMoreTermsIndex
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/TestBackwardsCompatibility.java
Labels: Stale

#12856 [Minor] Fix the only use of java.lang.String#toLowerCase() with no Locale
  buildSrc/src/main/java/org/apache/lucene/gradle/Checksum.java
Labels: Stale

#12969 Fix broken testAllVersionHaveCfsAndNocfs()
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/TestBackwardsCompatibility.java
Labels: Stale

#13027 Fix NPE when sampling for quantization in Lucene99HnswScalarQuantizedVectorsFormat
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99ScalarQuantizedVectorsWriter.java
  lucene/core/src/java/org/apache/lucene/util/ScalarQuantizer.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene99/TestLucene99HnswQuantizedVectorsFormat.java
  lucene/core/src/test/org/apache/lucene/util/TestScalarQuantizedVectorSimilarity.java
  lucene/core/src/test/org/apache/lucene/util/TestScalarQuantizer.java
Labels: vector-based-search

#12287 Fix a bug in ShapeTestUtil
  lucene/CHANGES.txt
  lucene/test-framework/src/java/org/apache/lucene/tests/geo/ShapeTestUtil.java
Labels: Stale

#12984 Improve Javadoc for Lucene90StoredFieldsFormat
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90StoredFieldsFormat.java
Labels: Stale

#13048 Use orElseGet() to avoid unnecessary object allocation
  lucene/CHANGES.txt
  lucene/luke/src/java/org/apache/lucene/luke/app/desktop/components/SearchPanelProvider.java
  lucene/luke/src/java/org/apache/lucene/luke/app/desktop/components/dialog/documents/AddDocumentDialogFactory.java
  lucene/luke/src/java/org/apache/lucene/luke/models/analysis/AnalysisImpl.java
Labels: type:enhancement
