Repository apache/lucene, pull requests merged in 2024-09, with the labels that each got.

#13704 Fix integer overflow in GeoEncodingUtils#Grid implementations
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/geo/GeoEncodingUtils.java
  lucene/test-framework/src/java/org/apache/lucene/tests/geo/BaseGeoPointTestCase.java
Labels: type:bug

#13713 Reduce size of queue in TestBoolean2#testRandomQueries
  lucene/core/src/test/org/apache/lucene/search/TestBoolean2.java
Labels: type:test

#13712 Dry up TestScorerPerf
  lucene/core/src/test/org/apache/lucene/search/TestScorerPerf.java
Labels: type:test

#13726 Remove leftover search(Query, Collector) usages in TestTaxonomyFacetAssociations
  lucene/facet/src/test/org/apache/lucene/facet/taxonomy/TestTaxonomyFacetAssociations.java
Labels: type:test

#13733 Replace static FacetsCollector#search methods
  lucene/CHANGES.txt
  lucene/MIGRATE.md
  lucene/demo/src/java/org/apache/lucene/demo/facet/AssociationsFacetsExample.java
  lucene/demo/src/java/org/apache/lucene/demo/facet/ExpressionAggregationFacetsExample.java
  lucene/demo/src/java/org/apache/lucene/demo/facet/MultiCategoryListsFacetsExample.java
  lucene/demo/src/java/org/apache/lucene/demo/facet/RangeFacetsExample.java
  lucene/demo/src/java/org/apache/lucene/demo/facet/SimpleFacetsExample.java
  lucene/demo/src/java/org/apache/lucene/demo/facet/SimpleSortedSetFacetsExample.java
  lucene/demo/src/java/org/apache/lucene/demo/facet/StringValueFacetCountsExample.java
  lucene/demo/src/java/org/apache/lucene/demo/facet/package-info.java
  lucene/facet/src/java/org/apache/lucene/facet/FacetsCollector.java
  lucene/facet/src/java/org/apache/lucene/facet/FacetsCollectorManager.java
  lucene/facet/src/java/org/apache/lucene/facet/package-info.java
  lucene/facet/src/test/org/apache/lucene/facet/TestDrillDownQuery.java
  lucene/facet/src/test/org/apache/lucene/facet/TestMultipleIndexFields.java
  lucene/facet/src/test/org/apache/lucene/facet/sortedset/TestSortedSetDocValuesFacets.java
  lucene/facet/src/test/org/apache/lucene/facet/taxonomy/TestOrdinalMappingLeafReader.java
  lucene/facet/src/test/org/apache/lucene/facet/taxonomy/TestTaxonomyFacetCounts.java
  lucene/facet/src/test/org/apache/lucene/facet/taxonomy/TestTaxonomyFacetValueSource.java
Labels: type:enhancement

#13542 Add support for intra-segment search concurrency
  lucene/CHANGES.txt
  lucene/MIGRATE.md
  lucene/core/src/java/org/apache/lucene/search/BulkScorer.java
  lucene/core/src/java/org/apache/lucene/search/CollectorManager.java
  lucene/core/src/java/org/apache/lucene/search/IndexSearcher.java
  lucene/core/src/java/org/apache/lucene/search/LRUQueryCache.java
  lucene/core/src/java/org/apache/lucene/search/TotalHitCountCollector.java
  lucene/core/src/java/org/apache/lucene/search/TotalHitCountCollectorManager.java
  lucene/core/src/java/org/apache/lucene/search/Weight.java
  lucene/core/src/test/org/apache/lucene/index/TestForTooMuchCloning.java
  lucene/core/src/test/org/apache/lucene/index/TestSegmentToThreadMapping.java
  lucene/core/src/test/org/apache/lucene/search/TestBlockMaxConjunction.java
  lucene/core/src/test/org/apache/lucene/search/TestBooleanOr.java
  lucene/core/src/test/org/apache/lucene/search/TestIndexSearcher.java
  lucene/core/src/test/org/apache/lucene/search/TestMaxScoreBulkScorer.java
  lucene/core/src/test/org/apache/lucene/search/TestReqExclBulkScorer.java
  lucene/core/src/test/org/apache/lucene/search/TestSortRandom.java
  lucene/core/src/test/org/apache/lucene/search/TestSynonymQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestTaskExecutor.java
  lucene/core/src/test/org/apache/lucene/search/TestTermScorer.java
  lucene/core/src/test/org/apache/lucene/search/TestTopDocsCollector.java
  lucene/core/src/test/org/apache/lucene/search/TestTopDocsMerge.java
  lucene/core/src/test/org/apache/lucene/search/TestTotalHitCountCollector.java
  lucene/facet/src/java/org/apache/lucene/facet/FacetsCollector.java
  lucene/facet/src/java/org/apache/lucene/facet/FacetsCollectorManager.java
  lucene/facet/src/java/org/apache/lucene/facet/RandomSamplingFacetsCollector.java
  lucene/facet/src/test/org/apache/lucene/facet/TestDrillSideways.java
  lucene/facet/src/test/org/apache/lucene/facet/range/TestRangeFacetCounts.java
  lucene/facet/src/test/org/apache/lucene/facet/rangeonrange/TestRangeOnRangeFacetCounts.java
  lucene/grouping/src/test/org/apache/lucene/search/grouping/TestGrouping.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/facet/TestRangeFacet.java
  lucene/suggest/src/java/org/apache/lucene/search/suggest/document/SuggestIndexSearcher.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingBulkScorer.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingIndexSearcher.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/CheckHits.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/ScorerIndexSearcher.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/LuceneTestCase.java
Labels: type:enhancement

#13475 This commit adds a new test CMS that always provides intra-merge parallelism
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/index/MergeState.java
  lucene/core/src/java/org/apache/lucene/index/SegmentMerger.java
  lucene/core/src/test/org/apache/lucene/index/TestIndexWriterForceMerge.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/LuceneTestCase.java
Labels: Stale

#13641 Unify how missing field entries are handle in knn formats
  lucene/CHANGES.txt
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene90/Lucene90HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene91/Lucene91HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene92/Lucene92HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene94/Lucene94HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene95/Lucene95HnswVectorsReader.java
  lucene/backward-codecs/src/test/org/apache/lucene/backward_codecs/lucene90/TestLucene90HnswVectorsFormat.java
  lucene/backward-codecs/src/test/org/apache/lucene/backward_codecs/lucene91/TestLucene91HnswVectorsFormat.java
  lucene/backward-codecs/src/test/org/apache/lucene/backward_codecs/lucene92/TestLucene92HnswVectorsFormat.java
  lucene/backward-codecs/src/test/org/apache/lucene/backward_codecs/lucene95/Lucene95HnswVectorsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/KnnVectorsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99FlatVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99HnswVectorsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99ScalarQuantizedVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99ScalarQuantizedVectorsWriter.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseKnnVectorsFormatTestCase.java
Labels: Stale

#13746 Introduce ProfilerCollectorManager
  lucene/CHANGES.txt
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/ProfilerCollectorManager.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/search/TestProfilerCollector.java
Labels: type:enhancement

#13787 Fix comment on compare suffix and target in SegmentTermsEnumFrame.
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/SegmentTermsEnumFrame.java
Labels: Stale
