Repository apache/lucene, pull requests merged in 2024-05, with the labels that each got.

#13321 Improve int4 compressed comparisons performance
  lucene/CHANGES.txt
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/VectorUtilBenchmark.java
  lucene/core/src/java/org/apache/lucene/codecs/hnsw/ScalarQuantizedVectorScorer.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene95/OffHeapByteVectorValues.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene95/OffHeapFloatVectorValues.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99ScalarQuantizedVectorScorer.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99ScalarQuantizedVectorsFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/OffHeapQuantizedByteVectorValues.java
  lucene/core/src/java/org/apache/lucene/internal/vectorization/DefaultVectorUtilSupport.java
  lucene/core/src/java/org/apache/lucene/internal/vectorization/VectorUtilSupport.java
  lucene/core/src/java/org/apache/lucene/util/VectorUtil.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/RandomAccessVectorValues.java
  lucene/core/src/java/org/apache/lucene/util/quantization/RandomAccessQuantizedByteVectorValues.java
  lucene/core/src/java/org/apache/lucene/util/quantization/ScalarQuantizedRandomVectorScorer.java
  lucene/core/src/java/org/apache/lucene/util/quantization/ScalarQuantizedRandomVectorScorerSupplier.java
  lucene/core/src/java21/org/apache/lucene/internal/vectorization/PanamaVectorUtilSupport.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene99/TestLucene99ScalarQuantizedVectorScorer.java
  lucene/core/src/test/org/apache/lucene/internal/vectorization/TestVectorUtilSupport.java
Labels: vector-based-search

#13351 Add a separate option to allow running Panama Vectorization for all tests with suitable C2 defaults
  gradle/testing/defaults-tests.gradle
  gradle/testing/randomization.gradle
  lucene/core/src/java/org/apache/lucene/internal/vectorization/VectorizationProvider.java
Labels: type:test

#13320 Remove unnecessary bit conversion for IndexSorter
  lucene/core/src/java/org/apache/lucene/index/IndexSorter.java
Labels: Stale

#13302 Align toString methods in geo module
  lucene/core/src/java/org/apache/lucene/geo/Circle.java
  lucene/core/src/java/org/apache/lucene/geo/Line.java
  lucene/core/src/java/org/apache/lucene/geo/Polygon.java
  lucene/core/src/java/org/apache/lucene/geo/Rectangle2D.java
  lucene/core/src/java/org/apache/lucene/geo/XYCircle.java
  lucene/core/src/java/org/apache/lucene/geo/XYLine.java
  lucene/core/src/java/org/apache/lucene/geo/XYPoint.java
  lucene/core/src/java/org/apache/lucene/geo/XYPolygon.java
Labels: Stale

#13374 Fix bug in SQ when just a single vector present in a segment
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/util/quantization/ScalarQuantizer.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene99/TestLucene99ScalarQuantizedVectorScorer.java
Labels: vector-based-search

#13379 lucene-monitor: make TermFilteredPresearcher.ANYTOKEN[_FIELD] public
  lucene/monitor/src/java/org/apache/lucene/monitor/TermFilteredPresearcher.java
Labels: module:monitor

#13276 Add 'passageSortComparator' option in FieldHighlighter
  lucene/CHANGES.txt
  lucene/highlighter/src/java/org/apache/lucene/search/uhighlight/FieldHighlighter.java
  lucene/highlighter/src/java/org/apache/lucene/search/uhighlight/UnifiedHighlighter.java
  lucene/highlighter/src/test/org/apache/lucene/search/uhighlight/visibility/TestUnifiedHighlighterExtensibility.java
Labels: Stale

#13412 lucene-monitor: remove now-unused Scorable in QueryIndex.DataValues
  lucene/monitor/src/java/org/apache/lucene/monitor/QueryIndex.java
  lucene/monitor/src/java/org/apache/lucene/monitor/ReadonlyQueryIndex.java
  lucene/monitor/src/java/org/apache/lucene/monitor/WritableQueryIndex.java
Labels: module:monitor

#13413 lucene-monitor: replace wildcard imports
  lucene/monitor/src/java/org/apache/lucene/monitor/ForceNoBulkScoringQuery.java
  lucene/monitor/src/java/org/apache/lucene/monitor/ReadonlyQueryIndex.java
  lucene/monitor/src/java/org/apache/lucene/monitor/SuffixingNGramTokenFilter.java
Labels: module:monitor
