Repository apache/lucene, pull requests merged in 2024-07, with the labels that each got.

#13472 TaskExecutor should not fork unnecessarily
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/TaskExecutor.java
  lucene/core/src/test/org/apache/lucene/search/TestIndexSearcher.java
  lucene/core/src/test/org/apache/lucene/search/TestTaskExecutor.java
Labels: type:enhancement

#13359 Use `IndexInput#prefetch` for terms dictionary lookups.
  lucene/codecs/src/java/org/apache/lucene/codecs/bloom/BloomFilteringPostingsFormat.java
  lucene/codecs/src/java/org/apache/lucene/codecs/uniformsplit/sharedterms/STMergingTermsEnum.java
  lucene/core/src/java/org/apache/lucene/codecs/DocValuesConsumer.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/SegmentTermsEnum.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/blocktree/SegmentTermsEnumFrame.java
  lucene/core/src/java/org/apache/lucene/index/BaseTermsEnum.java
  lucene/core/src/java/org/apache/lucene/index/CheckIndex.java
  lucene/core/src/java/org/apache/lucene/index/FilterLeafReader.java
  lucene/core/src/java/org/apache/lucene/index/FilteredTermsEnum.java
  lucene/core/src/java/org/apache/lucene/index/TermStates.java
  lucene/core/src/java/org/apache/lucene/index/TermsEnum.java
  lucene/core/src/java/org/apache/lucene/search/BlendedTermQuery.java
  lucene/core/src/java/org/apache/lucene/search/FuzzyTermsEnum.java
  lucene/core/src/java/org/apache/lucene/search/MultiPhraseQuery.java
  lucene/core/src/java/org/apache/lucene/search/PhraseQuery.java
  lucene/core/src/java/org/apache/lucene/search/SynonymQuery.java
  lucene/core/src/java/org/apache/lucene/search/TermQuery.java
  lucene/core/src/java/org/apache/lucene/util/IOBooleanSupplier.java
  lucene/core/src/test/org/apache/lucene/search/TestBooleanRewrites.java
  lucene/core/src/test/org/apache/lucene/search/TestBooleanScorer.java
  lucene/core/src/test/org/apache/lucene/search/TestTermQuery.java
  lucene/join/src/test/org/apache/lucene/search/join/TestBlockJoin.java
  lucene/queries/src/java/org/apache/lucene/queries/spans/SpanTermQuery.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/CombinedFieldQuery.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/PhraseWildcardQuery.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/TermAutomatonQuery.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/AssertingLeafReader.java
Labels: Stale

#13489 Minor cleanup in some Facet tests
  lucene/facet/src/test/org/apache/lucene/facet/FacetTestCase.java
  lucene/facet/src/test/org/apache/lucene/facet/TestLongValueFacetCounts.java
  lucene/facet/src/test/org/apache/lucene/facet/TestMultipleIndexFields.java
  lucene/facet/src/test/org/apache/lucene/facet/TestRandomSamplingFacetsCollector.java
  lucene/facet/src/test/org/apache/lucene/facet/TestStringValueFacetCounts.java
  lucene/facet/src/test/org/apache/lucene/facet/range/TestRangeFacetCounts.java
  lucene/facet/src/test/org/apache/lucene/facet/rangeonrange/TestRangeOnRangeFacetCounts.java
  lucene/facet/src/test/org/apache/lucene/facet/taxonomy/TestFacetLabel.java
  lucene/facet/src/test/org/apache/lucene/facet/taxonomy/TestSearcherTaxonomyManager.java
  lucene/facet/src/test/org/apache/lucene/facet/taxonomy/TestTaxonomyCombined.java
  lucene/facet/src/test/org/apache/lucene/facet/taxonomy/TestTaxonomyFacetAssociations.java
  lucene/facet/src/test/org/apache/lucene/facet/taxonomy/TestTaxonomyFacetCounts2.java
  lucene/facet/src/test/org/apache/lucene/facet/taxonomy/TestTaxonomyFacetValueSource.java
  lucene/facet/src/test/org/apache/lucene/facet/taxonomy/directory/TestAddTaxonomy.java
  lucene/facet/src/test/org/apache/lucene/facet/taxonomy/directory/TestConcurrentFacetedIndexing.java
  lucene/facet/src/test/org/apache/lucene/facet/taxonomy/directory/TestDirectoryTaxonomyReader.java
  lucene/facet/src/test/org/apache/lucene/facet/taxonomy/directory/TestDirectoryTaxonomyWriter.java
Labels: Stale

#12860 Add simple tool to diff entries in lucene's CHANGES.txt that should be identical
  dev-tools/scripts/diff_lucene_changes.py
Labels: Stale

#13600 Update TestTopDocsCollector to no longer rely on search(Query, Collector)
  lucene/core/src/test/org/apache/lucene/search/TestTopDocsCollector.java
Labels: type:test

#13601 Update TestTopDocsMerge to not rely on search(Query, Collector)
  lucene/core/src/test/org/apache/lucene/search/TestTopDocsMerge.java
Labels: type:test

#13607 [9.x] Do not randomize readOnce contexts in tests
  lucene/test-framework/src/java/org/apache/lucene/tests/util/LuceneTestCase.java
Labels: type:test

#13603 Introduce IndexSearcher#searchLeaf(LeafReaderContext, Weight, Collector) method
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/IndexSearcher.java
  lucene/core/src/test/org/apache/lucene/search/TestTopDocsMerge.java
  lucene/grouping/src/test/org/apache/lucene/search/grouping/TestGrouping.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/ScorerIndexSearcher.java
Labels: type:enhancement
