Repository apache/lucene, pull requests merged in 2024-08, with the labels that each got.

#13558 Fix testAddDocumentOnDiskFull to handle IllegalStateException from IndexWriter#close
  lucene/core/src/test/org/apache/lucene/index/TestIndexWriterOnDiskFull.java
Labels: Stale

#13696 Fix Gradle build sometimes gives spurious "unreferenced license file" warnings
  gradle/validation/jar-checks.gradle
  lucene/CHANGES.txt
Labels: type:bug, legacy-jira-label:build

#13602 Udpate ReadTask to not rely on search(Query, Collector)
  lucene/CHANGES.txt
  lucene/benchmark/conf/collector-small.alg
  lucene/benchmark/conf/collector.alg
  lucene/benchmark/src/java/org/apache/lucene/benchmark/byTask/tasks/ReadTask.java
  lucene/benchmark/src/java/org/apache/lucene/benchmark/byTask/tasks/SearchWithCollectorTask.java
Labels: type:enhancement
