Repository apache/lucene, pull requests merged in 2025-04, with the labels that each got.

#14268 PointInSetQuery early exit on non-matching segments
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/PointInSetQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestPointQueries.java
Labels: module:core/search

#14187 Disable the query cache by default.
  lucene/CHANGES.txt
  lucene/MIGRATE.md
  lucene/core/src/java/org/apache/lucene/search/IndexSearcher.java
Labels: module:core/search

#14094 Add a HNSW collector that exits early when nearest neighbor queue saturates
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/HnswQueueSaturationCollector.java
  lucene/core/src/java/org/apache/lucene/search/PatienceKnnVectorQuery.java
  lucene/core/src/java/org/apache/lucene/search/knn/KnnSearchStrategy.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/FilteredHnswGraphSearcher.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphSearcher.java
  lucene/core/src/test/org/apache/lucene/search/TestHnswQueueSaturationCollector.java
  lucene/core/src/test/org/apache/lucene/search/TestPatienceByteVectorQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestPatienceFloatVectorQuery.java
Labels: module:core/search, module:core/hnsw

#14430 Revert "Add UnwrappingReuseStrategy for AnalyzerWrapper (#14154)"
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/analysis/Analyzer.java
  lucene/core/src/java/org/apache/lucene/analysis/AnalyzerWrapper.java
  lucene/core/src/java/org/apache/lucene/analysis/DelegatingAnalyzerWrapper.java
  lucene/core/src/test/org/apache/lucene/analysis/TestAnalyzerWrapper.java
Labels: module:core/other

#14434 Fix TestHnswQueueSaturationCollector#testEarlyExitRelation with k==0
  lucene/core/src/test/org/apache/lucene/search/TestHnswQueueSaturationCollector.java
Labels: module:core/search

#14436 Disable HNSW connectedComponents (#14214)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphBuilder.java
Labels: module:core/hnsw

#14435 KeywordField.newSetQuery() to reuse prefixed terms in IndexOrDocValuesQuery
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/document/KeywordField.java
  lucene/core/src/java/org/apache/lucene/search/TermInSetQuery.java
Labels: module:core/search

#14449 tests: mark TestVectorScorer.testLarge() @Monster
  lucene/core/src/test/org/apache/lucene/internal/vectorization/TestVectorScorer.java
Labels: module:core/other

#14451 Use the same DocIdSetIterator impl for #all, #range and #empty.
  lucene/core/src/java/org/apache/lucene/search/DocIdSetIterator.java
  lucene/core/src/test/org/apache/lucene/search/TestDocIdSetIterator.java
Labels: module:core/search

#14417 Support modifying segmentInfos.counter in IndexWriter
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/index/IndexWriter.java
  lucene/core/src/test/org/apache/lucene/index/TestIndexWriter.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/ThreadedIndexingAndSearchingTestCase.java
Labels: module:core/index, module:test-framework

#14448 Tests: TestLongNormValueSource, AssertingScorable
  lucene/queries/src/test/org/apache/lucene/queries/function/TestLongNormValueSource.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingScorable.java
Labels: module:test-framework, module:queries

#14453 Reduce polymorphism of DocIdSetIterator#docID().
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/IndexedDISI.java
  lucene/core/src/java/org/apache/lucene/search/AbstractDocIdSetIterator.java
  lucene/core/src/java/org/apache/lucene/search/BlockMaxConjunctionScorer.java
  lucene/core/src/java/org/apache/lucene/search/ConjunctionDISI.java
  lucene/core/src/java/org/apache/lucene/search/DisjunctionDISIApproximation.java
  lucene/core/src/java/org/apache/lucene/search/DocIdSetIterator.java
  lucene/core/src/java/org/apache/lucene/search/DocValuesRangeIterator.java
  lucene/core/src/java/org/apache/lucene/search/FilteredDocIdSetIterator.java
  lucene/core/src/java/org/apache/lucene/search/ImpactsDISI.java
  lucene/core/src/java/org/apache/lucene/search/IndexSortSortedNumericDocValuesRangeQuery.java
  lucene/core/src/java/org/apache/lucene/search/ReqOptSumScorer.java
  lucene/core/src/java/org/apache/lucene/search/TwoPhaseIterator.java
  lucene/core/src/java/org/apache/lucene/search/comparators/DocComparator.java
  lucene/core/src/java/org/apache/lucene/search/comparators/MinDocIterator.java
  lucene/core/src/java/org/apache/lucene/search/comparators/NumericComparator.java
  lucene/core/src/java/org/apache/lucene/search/comparators/TermOrdValComparator.java
  lucene/core/src/java/org/apache/lucene/util/BitSetIterator.java
  lucene/core/src/java/org/apache/lucene/util/DocBaseBitSetIterator.java
  lucene/core/src/java/org/apache/lucene/util/IntArrayDocIdSet.java
  lucene/core/src/java/org/apache/lucene/util/NotDocIdSet.java
  lucene/core/src/java/org/apache/lucene/util/RoaringDocIdSet.java
  lucene/core/src/java/org/apache/lucene/util/bkd/BKDReader.java
  lucene/core/src/test/org/apache/lucene/search/IntArrayDocIdSet.java
  lucene/facet/src/java/org/apache/lucene/facet/FacetUtils.java
  lucene/join/src/test/org/apache/lucene/search/join/TestToParentJoinKnnResults.java
  lucene/queries/src/test/org/apache/lucene/queries/spans/AssertingSpans.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QueryProfilerScorer.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingLeafCollector.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingScorer.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/RandomApproximationQuery.java
Labels: module:core/search, module:core/codecs, module:facet, module:join, module:test-framework, module:sandbox, module:queries

#14424 Fix TestIndexWriterWithThreads#testIOExceptionDuringAbortWithThreadsOnlyOnce
  lucene/core/src/test/org/apache/lucene/index/TestIndexWriterWithThreads.java
Labels: module:core/index

#14458 Add an IndexDeletion policy that retains the last N commits
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/index/KeepLastNCommitsDeletionPolicy.java
  lucene/core/src/test/org/apache/lucene/index/TestDeletionPolicy.java
Labels: module:core/index

#14472 deps: remove unused python 'six' dependency
  dev-tools/scripts/requirements.txt
Labels: dependencies

#14474 Minor refactoring in ComponentTree
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/geo/ComponentTree.java
Labels: module:core/other

#14476 Removing unnecessary splitX in ComponentTree
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/geo/ComponentTree.java
Labels: module:core/other

#14488 Fix OOM of TestTrie
  lucene/core/src/test/org/apache/lucene/codecs/lucene103/blocktree/TestTrie.java
Labels: module:core/codecs

#14489 test: AwaitFix TestIndexWriterMergePolicy.stressUpdateSameDocumentWithMergeOnX
  lucene/core/src/test/org/apache/lucene/index/TestIndexWriterMergePolicy.java
Labels: module:core/index

#14459 Move some DocValuesConsumer merge logic to helper methods.
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/codecs/DocValuesConsumer.java
Labels: module:core/codecs

#14522 Fix DISIDocIdStream::count so that it does not try to count beyond max
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/DISIDocIdStream.java
  lucene/core/src/test/org/apache/lucene/search/TestDISIDocIdStream.java
Labels: type:bug, module:core/search

#14405 Adding TestSpanWithinQuery with basic test cases for SpanWithinQuery
  lucene/CHANGES.txt
  lucene/queries/src/test/org/apache/lucene/queries/spans/TestSpanWithinQuery.java
Labels: module:queries, Stale

#14523 Correct TermOrdValComparator competitive iterator intoBitSet implementation
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/DocIdSetIterator.java
  lucene/core/src/java/org/apache/lucene/search/comparators/TermOrdValComparator.java
  lucene/core/src/test/org/apache/lucene/search/comparators/TestTermOrdValComparator.java
Labels: module:core/search

#14530 Advance doc instead of offset in competitive iterator
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/comparators/TermOrdValComparator.java
Labels: module:core/search

#14447 Compute the doc range more efficiently when flushing doc block
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsWriter.java
Labels: module:core/codecs

#14547 Fix TestForTooMuchCloning
  lucene/core/src/test/org/apache/lucene/index/TestForTooMuchCloning.java
Labels: module:core/index

#14518 Use a non-deprecated assertThat, and change several test assertions to use assertThat
  lucene/core/src/test/org/apache/lucene/document/TestDocument.java
  lucene/core/src/test/org/apache/lucene/index/TestAddIndexes.java
  lucene/core/src/test/org/apache/lucene/search/TestBooleanScorer.java
  lucene/core/src/test/org/apache/lucene/util/TestArrayUtil.java
  lucene/core/src/test/org/apache/lucene/util/TestPriorityQueue.java
  lucene/core/src/test/org/apache/lucene/util/TestRadixSelector.java
  lucene/core/src/test/org/apache/lucene/util/automaton/TestIntSet.java
  lucene/core/src/test/org/apache/lucene/util/automaton/TestRegExp.java
  lucene/test-framework/src/java/module-info.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseCompressingDocValuesFormatTestCase.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/BaseDirectoryTestCase.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/LuceneTestCase.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/TestUtil.java
  lucene/test-framework/src/test/org/apache/lucene/tests/store/TestSerializedIOCountingDirectory.java
Labels: module:core/index, module:core/search, module:test-framework

#14529 Impl intoBitset for IndexedDISI and Docvalues
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/IndexedDISI.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90DocValuesProducer.java
  lucene/core/src/java/org/apache/lucene/index/DocValuesIterator.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene90/TestIndexedDISI.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/AssertingLeafReader.java
Labels: module:core/index, module:core/codecs, module:test-framework

#14439 Logic for collecting Histogram efficiently using Point Trees
  lucene/CHANGES.txt
  lucene/benchmark-jmh/build.gradle
  lucene/benchmark-jmh/src/java/module-info.java
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/HistogramCollectorBenchmark.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/HistogramCollector.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/HistogramCollectorManager.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/PointTreeBulkCollector.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/facet/plain/histograms/TestHistogramCollectorManager.java
Labels: module:sandbox

#14555 Allow docID == NO_MORE_DOCS for asserting leaf reader
  lucene/test-framework/src/java/org/apache/lucene/tests/index/AssertingLeafReader.java
Labels: module:test-framework

#14543 Fix leadCost calculation in BooleanScorerSupplier.requiredBulkScorer
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/BooleanScorerSupplier.java
  lucene/core/src/test/org/apache/lucene/search/TestBoolean2ScorerSupplier.java
Labels: module:core/search

#14511 Provide better impacts for fields indexed with IndexOptions.DOCS
  lucene/CHANGES.txt
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene101/Lucene101PostingsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsReader.java
Labels: module:core/codecs

#13923 Remove TODO in FSTCompiler#freezeTail.
  lucene/core/src/java/org/apache/lucene/util/fst/FSTCompiler.java
Labels: module:core/FSTs

#14562 Fix flaky test in TestMergeSchedulerExternal
  lucene/core/src/test/org/apache/lucene/TestMergeSchedulerExternal.java
Labels: module:core/other

#14533 Upgrade to Gradle 8.14 and Java 24 minimum
  .github/actions/prepare-for-build/action.yml
  .github/workflows/run-checks-all.yml
  .github/workflows/run-checks-gradle-upgrade.yml
  .github/workflows/run-nightly-smoketester.yml
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/WrapperDownloader.java
  gradle/libs.versions.toml
  gradle/validation/ecj-lint.gradle
  gradle/wrapper/gradle-wrapper.jar.sha256
  gradle/wrapper/gradle-wrapper.jar.version
  gradle/wrapper/gradle-wrapper.properties
  lucene/analysis/common/src/generated/checksums/generateTlds.json
  lucene/analysis/common/src/generated/checksums/generateUAX29URLEmailTokenizer.json
  lucene/analysis/common/src/java/org/apache/lucene/analysis/email/ASCIITLD.jflex
  lucene/analysis/common/src/test/org/apache/lucene/analysis/email/TLDs.txt
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
Labels: module:core/store, module:analysis

#14482 Create file open hints on IOContext to replace ReadAdvice
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene50/Lucene50CompoundReader.java
  lucene/codecs/src/java/org/apache/lucene/codecs/simpletext/SimpleTextCompoundFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90CompoundReader.java
  lucene/core/src/java/org/apache/lucene/index/DocumentsWriterPerThread.java
  lucene/core/src/java/org/apache/lucene/index/IndexWriter.java
  lucene/core/src/java/org/apache/lucene/index/ReadersAndUpdates.java
  lucene/core/src/java/org/apache/lucene/index/SortingTermVectorsConsumer.java
  lucene/core/src/java/org/apache/lucene/index/TermVectorsConsumer.java
  lucene/core/src/java/org/apache/lucene/store/DataAccessHint.java
  lucene/core/src/java/org/apache/lucene/store/DefaultIOContext.java
  lucene/core/src/java/org/apache/lucene/store/FileDataHint.java
  lucene/core/src/java/org/apache/lucene/store/FileTypeHint.java
  lucene/core/src/java/org/apache/lucene/store/IOContext.java
  lucene/core/src/java/org/apache/lucene/store/IndexInput.java
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
  lucene/core/src/java21/org/apache/lucene/store/MemorySegmentIndexInput.java
  lucene/core/src/java21/org/apache/lucene/store/MemorySegmentIndexInputProvider.java
  lucene/core/src/test/org/apache/lucene/index/TestDoc.java
  lucene/core/src/test/org/apache/lucene/index/TestSegmentMerger.java
  lucene/core/src/test/org/apache/lucene/index/TestStoredFieldsConsumer.java
  lucene/core/src/test/org/apache/lucene/store/TestNRTCachingDirectory.java
  lucene/misc/src/test/org/apache/lucene/misc/store/TestByteWritesTrackingDirectoryWrapper.java
  lucene/misc/src/test/org/apache/lucene/misc/store/TestDirectIODirectory.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseCompoundFormatTestCase.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseIndexFileFormatTestCase.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/RandomPostingsTester.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/MockDirectoryWrapper.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/MockIndexInputWrapper.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/SerialIOCountingDirectory.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/SlowClosingMockIndexInputWrapper.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/SlowOpeningMockIndexInputWrapper.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/LuceneTestCase.java
Labels: module:core/store, module:core/index, module:core/codecs, module:test-framework, module:misc

#14564 Remove abstractions of MMapDirectory and its "fake" MR-JAR support and move it to main sourceSet (vectors untouched)
  gradle/generation/extract-jdk-apis.gradle
  gradle/generation/extract-jdk-apis/ExtractJdkApis.java
  gradle/java/core-mrjar.gradle
  lucene/CHANGES.txt
  lucene/core/src/generated/jdk/jdk21.apijar
  lucene/core/src/generated/jdk/jdk24.apijar
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
  lucene/core/src/java/org/apache/lucene/store/MemorySegmentAccessInput.java
  lucene/core/src/java/org/apache/lucene/store/MemorySegmentIndexInput.java
  lucene/core/src/java/org/apache/lucene/store/NativeAccess.java
  lucene/core/src/java/org/apache/lucene/store/PosixNativeAccess.java
  lucene/core/src/java/org/apache/lucene/store/RefCountedSharedArena.java
  lucene/core/src/java21/org/apache/lucene/store/MemorySegmentIndexInputProvider.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/Lucene99MemorySegmentByteVectorScorer.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/Lucene99MemorySegmentByteVectorScorerSupplier.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/Lucene99MemorySegmentFlatVectorsScorer.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/MemorySegmentPostingDecodingUtil.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/PanamaVectorConstants.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/PanamaVectorUtilSupport.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/PanamaVectorizationProvider.java
  lucene/core/src/test/org/apache/lucene/store/TestMMapDirectory.java
  lucene/distribution.tests/src/test/org/apache/lucene/distribution/TestModularLayer.java
Labels: module:core/store, legacy-jira-label:cleanup

#14597 Rewrite expressions module with Java 24 classfile API
  gradle/libs.versions.toml
  lucene/CHANGES.txt
  lucene/expressions/build.gradle
  lucene/expressions/src/java/module-info.java
  lucene/expressions/src/java/org/apache/lucene/expressions/js/JavascriptCompiler.java
  lucene/licenses/asm-9.8.jar.sha1
  lucene/licenses/asm-LICENSE-BSD_LIKE.txt
  lucene/licenses/asm-NOTICE.txt
  lucene/licenses/asm-commons-9.8.jar.sha1
  lucene/licenses/asm-commons-LICENSE-BSD_LIKE.txt
  lucene/licenses/asm-commons-NOTICE.txt
  lucene/licenses/asm-tree-9.8.jar.sha1
  versions.lock
Labels: module:expressions
