Repository apache/lucene, pull requests merged in 2025-06, with the labels that each got.

#14739 Keep evaluating conjunction one doc-at-a-time until dynamic pruning kicks in.
  lucene/core/src/java/org/apache/lucene/search/BlockMaxConjunctionBulkScorer.java
Labels: module:core/search, skip-changelog-check

#14749 Add code comment about use of Collections#synchronizedMap in LRUQueryCache.
  lucene/core/src/java/org/apache/lucene/search/LRUQueryCache.java
Labels: module:core/search, skip-changelog-check

#14748 Merge DocAndFreqBuffer and DocAndScoreBuffer.
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsReader.java
  lucene/core/src/java/org/apache/lucene/index/CheckIndex.java
  lucene/core/src/java/org/apache/lucene/index/PostingsEnum.java
  lucene/core/src/java/org/apache/lucene/search/BatchScoreBulkScorer.java
  lucene/core/src/java/org/apache/lucene/search/BlockMaxConjunctionBulkScorer.java
  lucene/core/src/java/org/apache/lucene/search/BooleanScorer.java
  lucene/core/src/java/org/apache/lucene/search/DocAndFloatFeatureBuffer.java
  lucene/core/src/java/org/apache/lucene/search/DocAndScoreAccBuffer.java
  lucene/core/src/java/org/apache/lucene/search/DocAndScoreBuffer.java
  lucene/core/src/java/org/apache/lucene/search/MaxScoreBulkScorer.java
  lucene/core/src/java/org/apache/lucene/search/Scorer.java
  lucene/core/src/java/org/apache/lucene/search/TermScorer.java
  lucene/core/src/test/org/apache/lucene/search/TestTermScorer.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/AssertingLeafReader.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/RandomPostingsTester.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingScorer.java
Labels: module:core/index, module:core/search, module:core/codecs, module:test-framework, skip-changelog-check

#14747 Merge CombinedFieldQuery's WeightedDisiWrapper into DisiWrapper.
  lucene/core/src/java/org/apache/lucene/search/CombinedFieldQuery.java
  lucene/core/src/java/org/apache/lucene/search/DisiWrapper.java
Labels: module:core/search, skip-changelog-check

#14742 Fix: Include tests.jvmargs in "Reproduce with" output
  lucene/test-framework/src/java/org/apache/lucene/tests/util/RunListenerPrintReproduceInfo.java
Labels: module:test-framework

#14661 Updating skip-changelog label
  .github/dependabot.yml
  .github/workflows/verify-changelog-and-set-milestone.yml
Labels: Stale

#14757 Fix too many documents collected when only bool-filter condition is present
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/BooleanScorerSupplier.java
  lucene/core/src/test/org/apache/lucene/search/TestBooleanScorer.java
Labels: module:core/search

#14705 Swap out some simple PriorityQueue subclasses for one using a Comparator
  lucene/CHANGES.txt
  lucene/benchmark/src/java/org/apache/lucene/benchmark/quality/utils/QualityQueriesFinder.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90CompoundFormat.java
  lucene/core/src/java/org/apache/lucene/index/OrdinalMap.java
  lucene/core/src/java/org/apache/lucene/search/BooleanScorer.java
  lucene/core/src/java/org/apache/lucene/search/DisjunctionMaxBulkScorer.java
  lucene/core/src/java/org/apache/lucene/search/ExactPhraseMatcher.java
  lucene/core/src/java/org/apache/lucene/search/MultiPhraseQuery.java
  lucene/core/src/java/org/apache/lucene/search/MultiTermQueryConstantScoreBlendedWrapper.java
  lucene/core/src/java/org/apache/lucene/search/ScorerUtil.java
  lucene/core/src/java/org/apache/lucene/search/comparators/TermOrdValComparator.java
  lucene/core/src/java/org/apache/lucene/util/OfflineSorter.java
  lucene/core/src/java/org/apache/lucene/util/PriorityQueue.java
  lucene/core/src/test/org/apache/lucene/util/TestPriorityQueue.java
  lucene/facet/src/java/org/apache/lucene/facet/DrillSidewaysScorer.java
  lucene/grouping/src/java/org/apache/lucene/search/grouping/GroupFacetCollector.java
  lucene/highlighter/src/java/org/apache/lucene/search/matchhighlight/PassageSelector.java
  lucene/misc/src/java/org/apache/lucene/misc/HighFreqTerms.java
  lucene/queries/src/test/org/apache/lucene/queries/TestCommonTermsQuery.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/iterators/TopnOrdinalIterator.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/TermAutomatonScorer.java
Labels: module:core/index, module:core/search, module:highlighter, module:benchmark, module:core/codecs, module:facet, module:grouping, module:sandbox, module:misc, module:queries

#14753 Implement IndexedDISI#docIDRunEnd
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/IndexedDISI.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90DocValuesProducer.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene90/TestIndexedDISI.java
Labels: module:core/codecs

#14672 Dynamic pruning with DocValueSkipper
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/DocValuesRangeIterator.java
  lucene/core/src/java/org/apache/lucene/search/comparators/NumericComparator.java
  lucene/core/src/test/org/apache/lucene/search/TestSortOptimization.java
Labels: module:core/search

#14704 Better vectorize score computations.
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/TermScorer.java
  lucene/core/src/java/org/apache/lucene/search/similarities/BM25Similarity.java
  lucene/core/src/java/org/apache/lucene/search/similarities/Similarity.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/similarities/AssertingSimilarity.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/similarities/BaseSimilarityTestCase.java
Labels: module:core/search, module:test-framework

#14733 Fix java doc in IndexWriter.
  lucene/core/src/java/org/apache/lucene/index/IndexWriter.java
Labels: module:core/index, skip-changelog

#14725 No ruff violation
  dev-tools/scripts/create_line_file_docs.py
  dev-tools/scripts/pyproject.toml
  dev-tools/scripts/reproduceJenkinsFailures.py
Labels: Stale

#14728 [BlockJoin] Add ParentsChildrenBlockJoinQuery to support parent and c…
  lucene/CHANGES.txt
  lucene/join/src/java/org/apache/lucene/search/join/ParentsChildrenBlockJoinQuery.java
  lucene/join/src/test/org/apache/lucene/search/join/TestParentsChildrenBlockJoinQuery.java
Labels: module:join

#14780 Fix deprecated Gradle groovy dsl syntax on property assignments
  build-tools/build-infra/src/main/groovy/lucene.all-projects.conventions.gradle
  build-tools/build-infra/src/main/groovy/lucene.datasets.external-datasets.gradle
  build-tools/build-infra/src/main/groovy/lucene.documentation.changes-to-html.gradle
  build-tools/build-infra/src/main/groovy/lucene.java.modules.gradle
  build-tools/build-infra/src/main/groovy/lucene.java.tests-and-randomization.gradle
  build-tools/build-infra/src/main/groovy/lucene.publications.maven-to-nexus-releases.gradle
  build-tools/build-infra/src/main/groovy/lucene.publications.maven-to-nexus-snapshots.gradle
  build-tools/build-infra/src/main/groovy/lucene.regenerate.antlr.gradle
  build-tools/build-infra/src/main/groovy/lucene.regenerate.extract-jdk-apis.gradle
  build-tools/build-infra/src/main/groovy/lucene.regenerate.gradle
  build-tools/build-infra/src/main/groovy/lucene.regenerate.icu.gradle
  build-tools/build-infra/src/main/groovy/lucene.regenerate.jflex.gradle
  build-tools/build-infra/src/main/groovy/lucene.regenerate.kuromoji.gradle
  build-tools/build-infra/src/main/groovy/lucene.regenerate.moman.gradle
  build-tools/build-infra/src/main/groovy/lucene.regenerate.nori.gradle
  build-tools/build-infra/src/main/groovy/lucene.regenerate.unicode-test-classes.gradle
  build-tools/build-infra/src/main/groovy/lucene.root-project.setup.gradle
  build-tools/build-infra/src/main/groovy/lucene.validation.ecj-lint.gradle
  build-tools/build-infra/src/main/groovy/lucene.validation.owasp.gradle
  build-tools/build-infra/src/main/groovy/lucene.validation.spotless-java.gradle
  lucene/analysis/common/build.gradle
  lucene/distribution/binary-release.gradle
  lucene/distribution/build.gradle
Labels: module:analysis

#14776 Add a rescorer that uses DoubleValuesSource values to re-score first pass hits
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/DoubleValuesSourceRescorer.java
  lucene/core/src/java/org/apache/lucene/search/ScoreDoc.java
  lucene/core/src/test/org/apache/lucene/search/TestDoubleValuesSourceRescorer.java
Labels: module:core/search

#14793 Fix intermittent failure of TestDoubleValuesSourceRescorer
  lucene/core/src/test/org/apache/lucene/search/TestDoubleValuesSourceRescorer.java
Labels: type:test, module:core/search, skip-changelog

#14797 Adjust base knn format assert assertOffHeapByteSize
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseKnnVectorsFormatTestCase.java
Labels: module:test-framework, skip-changelog

#14784 Make `pack` methods public for `BigIntegerPoint` and `HalfFloatPoint`
  lucene/CHANGES.txt
  lucene/sandbox/src/java/org/apache/lucene/sandbox/document/BigIntegerPoint.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/document/HalfFloatPoint.java
Labels: module:sandbox

#14809 Correct rat source patterns to include build-infra sources
  build-tools/build-infra/src/main/groovy/lucene.validation.rat-sources.gradle
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/astgrep/AstGrepPlugin.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/gitinfo/GitInfoExtension.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/gitinfo/GitInfoPlugin.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/gitinfo/GitInfoValueSource.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/help/BuildOptionGroupsPlugin.java
Labels: skip-changelog

#14815 Fix 'private' method declared 'final' in PriorityQueue.
  lucene/core/src/java/org/apache/lucene/util/PriorityQueue.java
Labels: module:core/other, skip-changelog

#14811 error-prone: implement BanClassLoader with forbidden-apis instead
  build-tools/build-infra/src/main/groovy/lucene.validation.error-prone.gradle
  gradle/validation/forbidden-apis/defaults.all.txt
  lucene/expressions/src/java/org/apache/lucene/expressions/js/JavascriptCompiler.java
  lucene/luke/src/java/org/apache/lucene/luke/models/analysis/AnalysisImpl.java
Labels: module:luke, module:expressions

#14740 .editorconfig
  .editorconfig
  dev-tools/scripts/.editorconfig
Labels: skip-changelog

#14821 Make spotless gradle formatting an opt-in rather than default.
  .github/workflows/run-scheduled-spotless-groovy.yml
  build-tools/build-infra/src/main/groovy/lucene.validation.spotless-groovy.gradle
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/astgrep/AstGrepPlugin.java
  help/formatting.txt
Labels: skip-changelog

#14826 build: fix incorrect gradle dependency
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/astgrep/AstGrepPlugin.java
  lucene/core/src/java/org/apache/lucene/util/Version.java
Labels: module:core/other

#14824 Custom google java format tasks to replace spotless
  build-tools/build-infra-shadow/build.gradle
  build-tools/build-infra/build.gradle
  build-tools/build-infra/src/main/groovy/lucene.regenerate.antlr.gradle
  build-tools/build-infra/src/main/groovy/lucene.regenerate.forUtil.gradle
  build-tools/build-infra/src/main/groovy/lucene.regenerate.gradle
  build-tools/build-infra/src/main/groovy/lucene.regenerate.icu.gradle
  build-tools/build-infra/src/main/groovy/lucene.regenerate.javacc.gradle
  build-tools/build-infra/src/main/groovy/lucene.regenerate.jflex.gradle
  build-tools/build-infra/src/main/groovy/lucene.regenerate.moman.gradle
  build-tools/build-infra/src/main/groovy/lucene.regenerate.snowball.gradle
  build-tools/build-infra/src/main/groovy/lucene.regenerate.unicode-test-classes.gradle
  build-tools/build-infra/src/main/groovy/lucene.validation.ecj-lint.gradle
  build-tools/build-infra/src/main/groovy/lucene.validation.google-java-format.gradle
  build-tools/build-infra/src/main/groovy/lucene.validation.rat-sources.gradle
  build-tools/build-infra/src/main/groovy/lucene.validation.spotless-groovy.gradle
  build-tools/build-infra/src/main/groovy/lucene.validation.spotless-java.gradle
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/astgrep/AstGrepPlugin.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/help/BuildOptionGroupsPlugin.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/spotless/ApplyGoogleJavaFormatTask.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/spotless/CheckGoogleJavaFormatTask.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/spotless/ParentGoogleJavaFormatTask.java
  build.gradle
  gradle/libs.versions.toml
  gradle/template.gradle.properties
  lucene/analysis/common/src/generated/checksums/generateClassicTokenizer.json
  lucene/analysis/common/src/generated/checksums/generateWikipediaTokenizer.json
  lucene/analysis/common/src/java/org/apache/lucene/analysis/classic/ClassicTokenizerImpl.java
  lucene/analysis/common/src/java/org/apache/lucene/analysis/wikipedia/WikipediaTokenizerImpl.java
  lucene/core/src/generated/checksums/generateStandardTokenizer.json
  lucene/core/src/java/org/apache/lucene/analysis/standard/StandardTokenizerImpl.java
Labels: module:analysis, module:core/other

#14831 build: replace six simple error prone checks
  build-tools/build-infra/src/main/groovy/lucene.validation.error-prone.gradle
  gradle/validation/ast-grep/rules/errorprone.yml
  gradle/validation/ast-grep/tests/errorprone.yml
  gradle/validation/forbidden-apis/defaults.all.txt
  lucene/test-framework/src/test/org/apache/lucene/tests/util/TestBeforeAfterOverrides.java
Labels: module:test-framework

#14836 Sometimes use `FixedBitSet` when doing HNSW searches
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99HnswVectorsReader.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphSearcher.java
Labels: module:core/codecs, module:core/hnsw

#14838 Make it possible to extend Patience/Seeded knn queries
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/HnswQueueSaturationCollector.java
  lucene/core/src/java/org/apache/lucene/search/PatienceKnnVectorQuery.java
  lucene/core/src/java/org/apache/lucene/search/SeededKnnVectorQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestSeededKnnByteVectorQuery.java
Labels: type:bug, module:core/search

#14830 Optimize FieldExistsQuery to leverage index statistic in DocValuesSkipper
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/FieldExistsQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestFieldExistsQuery.java
Labels: module:core/search

#14848 Correct tests.seed to be reported on failures
  build-tools/build-infra/src/main/groovy/lucene.java.show-failed-tests-at-end.gradle
  build-tools/build-infra/src/main/groovy/lucene.java.tests-and-randomization.gradle
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/ErrorReportingTestListener.java
Labels: skip-changelog

#14772 Implement `ConstantScoreScorer#nextDocsAndScores`
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/ConstantScoreScorer.java
Labels: module:core/search

#14817 Convert some complex PriorityQueue implementations to comparators
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/index/MultiTermsEnum.java
  lucene/core/src/java/org/apache/lucene/search/DisjunctionMatchesIterator.java
  lucene/core/src/java/org/apache/lucene/util/PriorityQueue.java
  lucene/grouping/src/java/org/apache/lucene/search/grouping/BlockGroupingCollector.java
  lucene/highlighter/src/java/org/apache/lucene/search/highlight/Highlighter.java
  lucene/highlighter/src/java/org/apache/lucene/search/matchhighlight/PassageSelector.java
  lucene/join/src/java/org/apache/lucene/search/join/DiversifyingChildrenByteKnnVectorQuery.java
  lucene/join/src/java/org/apache/lucene/search/join/DiversifyingChildrenFloatKnnVectorQuery.java
  lucene/misc/src/java/org/apache/lucene/misc/HighFreqTerms.java
  lucene/queries/src/java/org/apache/lucene/queries/spans/NearSpansUnordered.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/SortedNumericDocValuesMultiRangeQuery.java
  lucene/suggest/src/java/org/apache/lucene/search/suggest/Lookup.java
  lucene/suggest/src/java/org/apache/lucene/search/suggest/document/SuggestScoreDocPriorityQueue.java
  lucene/suggest/src/java/org/apache/lucene/search/suggest/document/TopSuggestDocs.java
  lucene/suggest/src/java/org/apache/lucene/search/suggest/document/TopSuggestDocsCollector.java
  lucene/suggest/src/java/org/apache/lucene/search/suggest/tst/TSTLookup.java
Labels: module:core/index, module:core/search, module:highlighter, module:suggest, module:grouping, module:join, module:sandbox, module:misc, module:queries

#14777 Add list initial capacity in FirstPassGroupingCollector#getTopGroups.
  lucene/grouping/src/java/org/apache/lucene/search/grouping/FirstPassGroupingCollector.java
Labels: module:grouping, Stale

#14877 Use confidenceInterval=1.0 to stabilize test; fixes #14864
  lucene/core/src/test/org/apache/lucene/codecs/lucene99/TestLucene99ScalarQuantizedVectorsFormat.java
Labels: module:core/codecs
