Repository apache/lucene, pull requests merged in 2025-02, with the labels that each got.

#14199 Update package-info.java
  lucene/core/src/java/org/apache/lucene/analysis/package-info.java
Labels: module:core/other

#14197 Correct bug with seeded vector queries with incorrect entrypoint ids
  lucene/core/src/java/org/apache/lucene/search/SeededKnnVectorQuery.java
Labels: module:core/search

#14154 Add UnwrappingReuseStrategy for AnalyzerWrapper
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/analysis/Analyzer.java
  lucene/core/src/java/org/apache/lucene/analysis/AnalyzerWrapper.java
  lucene/core/src/java/org/apache/lucene/analysis/DelegatingAnalyzerWrapper.java
  lucene/core/src/test/org/apache/lucene/analysis/TestAnalyzerWrapper.java
Labels: module:core/other

#14201 Error prone back from the dead
  gradle/validation/error-prone.gradle
  lucene/core/src/java/org/apache/lucene/search/similarities/Axiomatic.java
  lucene/core/src/test/org/apache/lucene/util/quantization/TestScalarQuantizer.java
  versions.lock
  versions.toml
Labels: module:core/search

#14193 Add Automata.makeCharSet/makeCharClass to optimize regexp
  lucene/core/src/java/org/apache/lucene/util/automaton/Automata.java
  lucene/core/src/java/org/apache/lucene/util/automaton/Operations.java
  lucene/core/src/java/org/apache/lucene/util/automaton/RegExp.java
  lucene/core/src/test/org/apache/lucene/util/automaton/TestAutomaton.java
  lucene/core/src/test/org/apache/lucene/util/automaton/TestRegExpParsing.java
Labels: module:core/other

#14209 Deprecate Operations.concat(a1, a2) and Operations.union(a1, a2)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/util/automaton/Operations.java
  lucene/core/src/test/org/apache/lucene/analysis/TestGraphTokenizers.java
  lucene/core/src/test/org/apache/lucene/search/TestAutomatonQuery.java
  lucene/core/src/test/org/apache/lucene/util/automaton/TestAutomaton.java
  lucene/core/src/test/org/apache/lucene/util/automaton/TestDeterminism.java
  lucene/core/src/test/org/apache/lucene/util/automaton/TestFiniteStringsIterator.java
  lucene/core/src/test/org/apache/lucene/util/automaton/TestLevenshteinAutomata.java
  lucene/core/src/test/org/apache/lucene/util/automaton/TestLimitedFiniteStringsIterator.java
  lucene/core/src/test/org/apache/lucene/util/automaton/TestNFARunAutomaton.java
  lucene/core/src/test/org/apache/lucene/util/automaton/TestOperations.java
  lucene/core/src/test/org/apache/lucene/util/automaton/TestRegExpParsing.java
  lucene/suggest/src/java/org/apache/lucene/search/suggest/document/ContextQuery.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/automaton/AutomatonTestUtil.java
Labels: module:core/search, module:suggest, module:test-framework

#14198 Migrate OpenNLP 'ant train-test-models' to Gradle
  lucene/analysis/opennlp/build.gradle
  lucene/analysis/opennlp/src/test-files/org/apache/lucene/analysis/opennlp/en-test-chunker.bin
  lucene/analysis/opennlp/src/test-files/org/apache/lucene/analysis/opennlp/en-test-lemmatizer.bin
  lucene/analysis/opennlp/src/test-files/org/apache/lucene/analysis/opennlp/en-test-ner.bin
  lucene/analysis/opennlp/src/test-files/org/apache/lucene/analysis/opennlp/en-test-pos-maxent.bin
  lucene/analysis/opennlp/src/test-files/org/apache/lucene/analysis/opennlp/en-test-sent.bin
  lucene/analysis/opennlp/src/test-files/org/apache/lucene/analysis/opennlp/en-test-tokenizer.bin
  lucene/analysis/opennlp/src/test/org/apache/lucene/analysis/opennlp/TestOpenNLPChunkerFilterFactory.java
Labels: module:analysis

#14176 Reduce virtual calls when visiting bpv24-encoded doc ids in BKD leaves
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/util/bkd/DocIdsWriter.java
Labels: module:core/other

#14212 Fix Operations.reverse() to not add non-deterministic dead states
  lucene/core/src/java/org/apache/lucene/util/automaton/Automaton.java
  lucene/core/src/java/org/apache/lucene/util/automaton/Operations.java
  lucene/core/src/test/org/apache/lucene/util/automaton/TestAutomaton.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/automaton/AutomatonTestUtil.java
Labels: module:core/other, module:test-framework

#14207 Make Operations#union merge accept states that have no outgoing transition.
  lucene/core/src/java/org/apache/lucene/util/automaton/Operations.java
  lucene/core/src/test/org/apache/lucene/util/automaton/TestOperations.java
Labels: module:core/other

#14215 Bugfix/fix hnsw search termination check
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphSearcher.java
  lucene/core/src/test/org/apache/lucene/document/TestManyKnnDocs.java
Labels: module:core/hnsw

#14217 Correct hashCode of SynonymQuery
  lucene/core/src/java/org/apache/lucene/search/SynonymQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestSynonymQuery.java
Labels: module:core/search

#14221 Clean up public non-final statics
  lucene/analysis/smartcn/src/java/org/apache/lucene/analysis/cn/smart/AnalyzerProfile.java
  lucene/benchmark/src/java/org/apache/lucene/benchmark/Constants.java
  lucene/benchmark/src/java/org/apache/lucene/benchmark/byTask/tasks/TaskSequence.java
  lucene/benchmark/src/java/org/apache/lucene/benchmark/utils/ExtractWikipedia.java
  lucene/core/src/java/org/apache/lucene/store/SleepingLockWrapper.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraph.java
  lucene/core/src/test/org/apache/lucene/search/TestSimpleExplanationsWithFillerDocs.java
  lucene/luke/src/java/org/apache/lucene/luke/app/desktop/util/StyleConstants.java
  lucene/queries/src/test/org/apache/lucene/queries/spans/TestSpanCollection.java
  lucene/replicator/src/java/org/apache/lucene/replicator/nrt/Node.java
  lucene/suggest/src/java/org/apache/lucene/search/suggest/analyzing/BlendedInfixSuggester.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/DocHelper.java
Labels: module:core/store, module:analysis, module:core/search, module:benchmark, module:suggest, module:luke, module:test-framework, module:replicator, module:queries, module:core/hnsw

#14227 Fix failure found by TestOperations.testGetRandomAcceptedString
  lucene/core/src/java/org/apache/lucene/util/automaton/RegExp.java
  lucene/core/src/test/org/apache/lucene/util/automaton/TestOperations.java
  lucene/core/src/test/org/apache/lucene/util/automaton/TestRegExpParsing.java
Labels: module:core/other

#14223 Fixed a flaky test TestKnnFloatVectorQuery.testFindFewer
  lucene/CHANGES.txt
  lucene/core/src/test/org/apache/lucene/search/BaseKnnVectorQueryTestCase.java
Labels: module:core/search

#14231 Remove some randomness from flaky BaseVectorSimilarityQueryTestCase#testFallbackToExact
  lucene/core/src/test/org/apache/lucene/search/BaseVectorSimilarityQueryTestCase.java
Labels: module:core/search

#14160 Add new Acorn-esque filtered HNSW search heuristic
  lucene/CHANGES.txt
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene90/Lucene90HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene90/Lucene90OnHeapHnswGraph.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene91/Lucene91HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene91/Lucene91OnHeapHnswGraph.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene92/Lucene92HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene94/Lucene94HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene95/Lucene95HnswVectorsReader.java
  lucene/backward-codecs/src/test/org/apache/lucene/backward_codecs/lucene94/Lucene94HnswVectorsWriter.java
  lucene/backward-codecs/src/test/org/apache/lucene/backward_codecs/lucene95/Lucene95HnswVectorsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99HnswVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99HnswVectorsWriter.java
  lucene/core/src/java/org/apache/lucene/search/AbstractKnnVectorQuery.java
  lucene/core/src/java/org/apache/lucene/search/AbstractVectorSimilarityQuery.java
  lucene/core/src/java/org/apache/lucene/search/KnnByteVectorQuery.java
  lucene/core/src/java/org/apache/lucene/search/KnnCollector.java
  lucene/core/src/java/org/apache/lucene/search/KnnFloatVectorQuery.java
  lucene/core/src/java/org/apache/lucene/search/SeededKnnVectorQuery.java
  lucene/core/src/java/org/apache/lucene/search/VectorSimilarityCollector.java
  lucene/core/src/java/org/apache/lucene/search/knn/KnnSearchStrategy.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/FilteredHnswGraphSearcher.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraph.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphSearcher.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/OnHeapHnswGraph.java
  lucene/core/src/test/org/apache/lucene/search/BaseKnnVectorQueryTestCase.java
  lucene/core/src/test/org/apache/lucene/search/TestKnnByteVectorQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestKnnFloatVectorQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestSeededKnnByteVectorQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestSeededKnnFloatVectorQuery.java
  lucene/core/src/test/org/apache/lucene/util/hnsw/HnswGraphTestCase.java
  lucene/core/src/test/org/apache/lucene/util/hnsw/TestHnswUtil.java
  lucene/join/src/java/org/apache/lucene/search/join/DiversifyingChildrenByteKnnVectorQuery.java
  lucene/join/src/java/org/apache/lucene/search/join/DiversifyingChildrenFloatKnnVectorQuery.java
Labels: module:core/search, module:core/codecs, module:join, module:core/hnsw

#14232 Fix TestForTooMuchCloning flakiness
  lucene/core/src/test/org/apache/lucene/index/TestForTooMuchCloning.java
Labels: module:core/index

#14234 Remove duplicates from the hnsw recall testing
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseKnnVectorsFormatTestCase.java
Labels: module:test-framework

#14245 Adjust assert merge flakiness due to fencepost error
  lucene/core/src/test/org/apache/lucene/index/TestLogMergePolicy.java
Labels: module:core/index

#14239 hunspell: improve tolerateAffixRuleCountMismatches() for common problems
  lucene/CHANGES.txt
  lucene/analysis/common/src/java/org/apache/lucene/analysis/hunspell/Dictionary.java
  lucene/analysis/common/src/test/org/apache/lucene/analysis/hunspell/TestDictionary.java
  lucene/analysis/common/src/test/org/apache/lucene/analysis/hunspell/common-errors.aff
  lucene/analysis/common/src/test/org/apache/lucene/analysis/hunspell/common-errors.dic
Labels: module:analysis

#14246 Repeatable hunspell tests
  .github/workflows/run-checks-mod-analysis-common-hunspell.yml
  .github/workflows/run-scheduled-hunspell.yml
  lucene/analysis/common/build.gradle
  lucene/analysis/common/src/test/org/apache/lucene/analysis/hunspell/TestAllDictionaries.java
  lucene/core/src/java/module-info.java
Labels: module:analysis, module:core/other

#14238 [Unit] Increase Dynamic Range Faceting coverage by adding previously nonexistent unit tests
  lucene/CHANGES.txt
  lucene/facet/src/test/org/apache/lucene/facet/range/TestDynamicRangeUtil.java
Labels: module:facet

#14253 Revert "[Unit] Increase Dynamic Range Faceting coverage by adding previously nonexistent unit tests"
  lucene/CHANGES.txt
  lucene/facet/src/test/org/apache/lucene/facet/range/TestDynamicRangeUtil.java
Labels: module:facet

#14192 Unicode Support for Case Insensitive Matching in RegExp
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/util/automaton/CaseFolding.java
  lucene/core/src/java/org/apache/lucene/util/automaton/RegExp.java
  lucene/core/src/test/org/apache/lucene/search/TestRegexpQuery.java
  lucene/core/src/test/org/apache/lucene/util/automaton/TestRegExp.java
  lucene/core/src/test/org/apache/lucene/util/automaton/TestRegExpParsing.java
Labels: module:core/search

#14248 Strengthen calls to isDeterministic() in TestRegExpParsing
  lucene/core/src/test/org/apache/lucene/util/automaton/TestRegExpParsing.java
Labels: module:core/other

#14213 Support DataInput as source for StoredField
  lucene/CHANGES.txt
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene50/compressing/Lucene50CompressingStoredFieldsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/StoredFieldsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/compressing/Lucene90CompressingStoredFieldsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/compressing/Lucene90CompressingStoredFieldsWriter.java
  lucene/core/src/java/org/apache/lucene/document/Field.java
  lucene/core/src/java/org/apache/lucene/document/StoredField.java
  lucene/core/src/java/org/apache/lucene/document/StoredValue.java
  lucene/core/src/java/org/apache/lucene/index/SortingStoredFieldsConsumer.java
  lucene/core/src/java/org/apache/lucene/index/StoredFieldDataInput.java
  lucene/core/src/java/org/apache/lucene/index/StoredFieldVisitor.java
  lucene/core/src/java/org/apache/lucene/index/StoredFieldsConsumer.java
  lucene/core/src/test/org/apache/lucene/document/TestBinaryDocument.java
  lucene/core/src/test/org/apache/lucene/index/TestDirectoryReader.java
  lucene/core/src/test/org/apache/lucene/index/TestIndexWriterExceptions.java
  lucene/test-framework/src/java/org/apache/lucene/tests/codecs/asserting/AssertingStoredFieldsFormat.java
  lucene/test-framework/src/java/org/apache/lucene/tests/codecs/cranky/CrankyStoredFieldsFormat.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseIndexFileFormatTestCase.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseStoredFieldsFormatTestCase.java
Labels: module:core/index, module:core/codecs, module:test-framework

#14251 Improve user-facing docs.
  lucene/core/src/java/org/apache/lucene/document/package-info.java
  lucene/core/src/java/org/apache/lucene/index/package-info.java
  lucene/core/src/java/org/apache/lucene/search/package-info.java
  lucene/core/src/java/org/apache/lucene/search/similarities/package-info.java
  lucene/core/src/java/overview.html
Labels: module:core/index, module:core/search

#13974 SortedSet DV Multi Range query
  lucene/CHANGES.txt
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/DocValuesMultiRangeQuery.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/SortedSetDocValuesMultiRangeQuery.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/search/TestInetAddrSsDvMultiRangeQuery.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/search/TestSsDvMultiRangeQuery.java
Labels: module:sandbox

#14258 [Unit] Increase Dynamic Range Faceting coverage and address edge cases
  lucene/CHANGES.txt
  lucene/facet/src/test/org/apache/lucene/facet/range/TestDynamicRangeUtil.java
Labels: module:facet

#14249 Accept nodes where score == Math.nextUp(results.minCompetitiveSimilarity()) after #14215
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphSearcher.java
  lucene/core/src/test/org/apache/lucene/util/hnsw/HnswGraphTestCase.java
Labels: module:core/hnsw

#14259 Stop asserting on the max number of merged segments in TestTieredMergePolicy#testPartialMerge.
  lucene/core/src/test/org/apache/lucene/index/TestTieredMergePolicy.java
Labels: module:core/index

#14263 fix #14260 assert error TestSsDvMultiRangeQuery#testDuelWithStandardDisjunction
  lucene/sandbox/src/test/org/apache/lucene/sandbox/search/TestSsDvMultiRangeQuery.java
Labels: module:sandbox

#14204 Add histogram facet capabilities.
  lucene/CHANGES.txt
  lucene/sandbox/src/java/module-info.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/HistogramCollector.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/HistogramCollectorManager.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/package-info.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/package-info.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/facet/plain/histograms/TestHistogramCollectorManager.java
Labels: module:sandbox

#14265 Reduce knn recall test flakiness
  lucene/test-framework/src/java/org/apache/lucene/tests/codecs/asserting/AssertingKnnVectorsFormat.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseKnnVectorsFormatTestCase.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/RandomCodec.java
Labels: module:test-framework

#14269 Implement #intoBitset for DocIdSetIterator#all and DocIdSetIterator#range
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/DocIdSetIterator.java
  lucene/core/src/test/org/apache/lucene/search/TestDocIdSetIterator.java
Labels: module:core/search

#14271 Stop closing index input when loading NRTSuggester
  lucene/suggest/src/java/org/apache/lucene/search/suggest/document/CompletionsTermsReader.java
Labels: type:bug, module:suggest

#14272 Use DocIdSetIterator#range for continuous-id BKD leaves
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/util/bkd/DocIdsWriter.java
Labels: module:core/other

#14282 Remove field argument from DocIdSetBuilder constructor
  lucene/core/src/java/org/apache/lucene/document/LatLonPointDistanceQuery.java
  lucene/core/src/java/org/apache/lucene/document/RangeFieldQuery.java
  lucene/core/src/java/org/apache/lucene/document/SpatialQuery.java
  lucene/core/src/java/org/apache/lucene/document/XYPointInGeometryQuery.java
  lucene/core/src/java/org/apache/lucene/search/PointInSetQuery.java
  lucene/core/src/java/org/apache/lucene/search/PointRangeQuery.java
  lucene/core/src/java/org/apache/lucene/util/DocIdSetBuilder.java
  lucene/core/src/test/org/apache/lucene/util/TestDocIdSetBuilder.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/MultiRangeQuery.java
  lucene/spatial3d/src/java/org/apache/lucene/spatial3d/PointInGeo3DShapeQuery.java
Labels: type:enhancement, module:core/search, module:sandbox, module:spatial3d

#14284 Remove IOException from DocIdSet#iterator signature
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/DocIdSet.java
  lucene/core/src/java/org/apache/lucene/util/IntArrayDocIdSet.java
  lucene/core/src/java/org/apache/lucene/util/NotDocIdSet.java
  lucene/core/src/java/org/apache/lucene/util/RoaringDocIdSet.java
  lucene/core/src/test/org/apache/lucene/search/IntArrayDocIdSet.java
  lucene/spatial-extras/src/java/org/apache/lucene/spatial/prefix/ContainsPrefixTreeQuery.java
Labels: module:core/search, module:spatial

#14288 Remove unused DocIdSet#all method
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/DocIdSet.java
Labels: module:core/search

#14290 Remove bits method from DocIdSet
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/DocIdSet.java
  lucene/core/src/java/org/apache/lucene/util/BitDocIdSet.java
  lucene/core/src/java/org/apache/lucene/util/NotDocIdSet.java
  lucene/core/src/test/org/apache/lucene/util/TestFixedBitDocIdSet.java
  lucene/core/src/test/org/apache/lucene/util/TestNotDocIdSet.java
  lucene/core/src/test/org/apache/lucene/util/TestSparseFixedBitDocIdSet.java
  lucene/spatial-extras/src/java/org/apache/lucene/spatial/prefix/ContainsPrefixTreeQuery.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/BaseDocIdSetTestCase.java
Labels: module:core/search, module:spatial, module:test-framework

#14291 Remove IOException from ScorerSupplier#setTopLevelScoringClause signature
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/document/FeatureQuery.java
  lucene/core/src/java/org/apache/lucene/search/BooleanScorerSupplier.java
  lucene/core/src/java/org/apache/lucene/search/DisjunctionMaxQuery.java
  lucene/core/src/java/org/apache/lucene/search/ScorerSupplier.java
  lucene/core/src/java/org/apache/lucene/search/TermQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestBoolean2ScorerSupplier.java
  lucene/join/src/java/org/apache/lucene/search/join/ToParentBlockJoinQuery.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/QueryProfilerWeight.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingWeight.java
Labels: module:core/search, module:join, module:test-framework, module:sandbox

#14278 Enhance DictionaryCompoundWordTokenFilter
  lucene/CHANGES.txt
  lucene/analysis/common/src/java/org/apache/lucene/analysis/compound/DictionaryCompoundWordTokenFilter.java
  lucene/analysis/common/src/java/org/apache/lucene/analysis/compound/DictionaryCompoundWordTokenFilterFactory.java
  lucene/analysis/common/src/test/org/apache/lucene/analysis/compound/TestCompoundWordTokenFilter.java
Labels: module:analysis

#14296 Fix TestSysoutLimits occasionally failing.
  lucene/core/src/java/org/apache/lucene/internal/vectorization/VectorizationProvider.java
  lucene/test-framework/src/test/org/apache/lucene/tests/util/TestSysoutsLimits.java
Labels: module:core/other, module:test-framework

#14297 Remove BitDocIdSet#bits method
  lucene/core/src/java/org/apache/lucene/util/BitDocIdSet.java
  lucene/core/src/test/org/apache/lucene/util/TestFixedBitDocIdSet.java
  lucene/core/src/test/org/apache/lucene/util/TestSparseFixedBitDocIdSet.java
  lucene/join/src/java/org/apache/lucene/search/join/QueryBitSetProducer.java
Labels: module:core/other, module:join

#14300 Support JDK 24 in Panama Vectorization Provider
  build.gradle
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/internal/vectorization/VectorizationProvider.java
Labels: module:core/other

#14294 Fix optimization to help inline calls to live docs.
  lucene/core/src/java/org/apache/lucene/search/IndexSearcher.java
  lucene/core/src/java/org/apache/lucene/search/ScorerUtil.java
  lucene/core/src/java/org/apache/lucene/util/FixedBitSet.java
  lucene/core/src/java/org/apache/lucene/util/FixedBits.java
  lucene/core/src/test/org/apache/lucene/search/TestScorerUtil.java
Labels: module:core/search

#14306 Expose the ImpactsEnum impl in Lucene101PostingsFormat.
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/Lucene101PostingsFormat.java
  lucene/core/src/java/org/apache/lucene/search/ScorerUtil.java
Labels: module:core/search, module:core/codecs

#13470 Reciprocal Rank Fusion (RRF) in TopDocs
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/TopDocs.java
  lucene/core/src/test/org/apache/lucene/search/TestTopDocsRRF.java
Labels: module:core/search

#14293 Use DenseConjunctionBulkScorer for single queries sometimes.
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/document/SortedNumericDocValuesRangeQuery.java
  lucene/core/src/java/org/apache/lucene/document/SortedSetDocValuesRangeQuery.java
  lucene/core/src/java/org/apache/lucene/search/BooleanScorerSupplier.java
  lucene/core/src/java/org/apache/lucene/search/ConstantScoreScorerSupplier.java
  lucene/core/src/java/org/apache/lucene/search/DenseConjunctionBulkScorer.java
  lucene/core/src/java/org/apache/lucene/search/LRUQueryCache.java
  lucene/core/src/java/org/apache/lucene/search/MatchAllDocsQuery.java
  lucene/core/src/java/org/apache/lucene/search/MatchAllScorerSupplier.java
  lucene/core/src/java/org/apache/lucene/search/PointRangeQuery.java
  lucene/core/src/java/org/apache/lucene/search/TermQuery.java
  lucene/core/src/java/org/apache/lucene/search/comparators/NumericComparator.java
  lucene/core/src/java/org/apache/lucene/search/comparators/TermOrdValComparator.java
  lucene/core/src/test/org/apache/lucene/search/ReadAheadMatchAllDocsQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestConstantScoreQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestDenseConjunctionBulkScorer.java
  lucene/core/src/test/org/apache/lucene/search/TestSortOptimization.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingBulkScorer.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingLeafCollector.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingWeight.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/ScorerIndexSearcher.java
Labels: module:core/search, module:test-framework

#14039 Remove scoreAll() optimization from DefaultBulkScorer.
  lucene/core/src/java/org/apache/lucene/search/Weight.java
Labels: module:core/search, Stale

#14189 Bump floor segment size to 16MB.
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/index/LogByteSizeMergePolicy.java
  lucene/core/src/java/org/apache/lucene/index/TieredMergePolicy.java
Labels: module:core/index

#14310 Recommend multi-stage retrieval pipelines in oal.search javadocs.
  lucene/core/src/java/org/apache/lucene/search/package-info.java
Labels: module:core/search

#14309 Fix TestSysoutLimits by making nested test classes not extend LuceneTestCase
  lucene/test-framework/src/test/org/apache/lucene/tests/util/TestSysoutsLimits.java
Labels: module:test-framework
