Repository apache/lucene, pull requests merged in 2025-05, with the labels that each got.

#14601 Disallow EA versions to run Gradle
  gradle/validation/check-environment.gradle
Labels: tool:build

#14593 Remove RANDOM_PRELOAD read advice, which is not actually used
  lucene/MIGRATE.md
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene90/blocktree/Lucene90BlockTreeTermsReader.java
  lucene/codecs/src/java/org/apache/lucene/codecs/memory/FSTTermsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/Lucene103BlockTreeTermsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90PointsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/compressing/FieldsIndexReader.java
  lucene/core/src/java/org/apache/lucene/store/PosixNativeAccess.java
  lucene/core/src/java/org/apache/lucene/store/ReadAdvice.java
  lucene/core/src/test/org/apache/lucene/index/TestDefaultCodecParallelizesIO.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/SerialIOCountingDirectory.java
Labels: module:core/store, module:core/index, module:core/codecs, module:test-framework

#14404 MultiRange query for SortedNumeric DocValues
  lucene/CHANGES.txt
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/DocValuesMultiRangeQuery.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/SortedNumericDocValuesMultiRangeQuery.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/search/TestSortedDvMultiRangeQuery.java
Labels: module:sandbox

#14226 OptimisticKnnVectorQuery
  lucene/core/src/java/org/apache/lucene/search/AbstractKnnVectorQuery.java
  lucene/core/src/java/org/apache/lucene/search/SeededKnnVectorQuery.java
  lucene/core/src/test/org/apache/lucene/search/BaseKnnVectorQueryTestCase.java
  lucene/core/src/test/org/apache/lucene/search/TestKnnFloatVectorQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestSeededKnnByteVectorQuery.java
Labels: module:core/search

#14613 Rewrite APIJAR extractor to use Java 24 classfile API and kill ASM dependency also for build system
  gradle/generation/extract-jdk-apis.gradle
  gradle/generation/extract-jdk-apis/ExtractJdkApis.java
  gradle/libs.versions.toml
  lucene/CHANGES.txt
  lucene/core/src/generated/jdk/README.md
  lucene/core/src/generated/jdk/jdk24.apijar
Labels: module:core/other, tool:build

#14516 Move sloppySin into SloppyMath from GeoUtils
  lucene/CHANGES.txt
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/RectangleBenchmark.java
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/SloppySinBenchmark.java
  lucene/core/src/java/org/apache/lucene/geo/GeoUtils.java
  lucene/core/src/java/org/apache/lucene/geo/Rectangle.java
  lucene/core/src/java/org/apache/lucene/util/SloppyMath.java
  lucene/core/src/test/org/apache/lucene/util/TestSloppyMath.java
Labels: module:core/other

#14560 Enabling histogram collection for PointRangeQuery
  lucene/CHANGES.txt
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/HistogramCollector.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/PointTreeBulkCollector.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/facet/plain/histograms/TestHistogramCollectorManager.java
Labels: module:sandbox

#14534 Improve user-facing docs for geo package
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/geo/Circle.java
  lucene/core/src/java/org/apache/lucene/geo/GeoUtils.java
  lucene/core/src/java/org/apache/lucene/geo/Rectangle.java
  lucene/core/src/java/org/apache/lucene/geo/package-info.java
Labels: module:core/other

#14595 Fix tests: too many calls to IndexInput.clone during merging
  lucene/core/src/test/org/apache/lucene/index/TestForTooMuchCloning.java
Labels: module:core/index

#14627 Fix WindowsFS to support Windows
  lucene/CHANGES.txt
  lucene/core/src/test/org/apache/lucene/index/TestIndexWriter.java
  lucene/core/src/test/org/apache/lucene/store/TestFileSwitchDirectory.java
  lucene/misc/src/test/org/apache/lucene/misc/store/TestHardLinkCopyDirectoryWrapper.java
  lucene/test-framework/src/java/org/apache/lucene/tests/mockfile/WindowsFS.java
  lucene/test-framework/src/java/org/apache/lucene/tests/mockfile/WindowsPath.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/TestRuleTemporaryFilesCleanup.java
  lucene/test-framework/src/test/org/apache/lucene/tests/mockfile/TestWindowsFS.java
Labels: module:core/store, module:core/index, module:test-framework, module:misc

#14596 Simplify rootBlockFP
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/FieldReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/IntersectTermsEnum.java
Labels: module:core/codecs

#14510 Change uses of withReadAdvice to use hints instead
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene101/Lucene101PostingsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene50/Lucene50CompoundReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene90/blocktree/Lucene90BlockTreeTermsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene912/Lucene912PostingsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene99/Lucene99PostingsReader.java
  lucene/codecs/src/java/org/apache/lucene/codecs/memory/FSTTermsReader.java
  lucene/codecs/src/java/org/apache/lucene/codecs/simpletext/SimpleTextCompoundFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene102/Lucene102BinaryQuantizedVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/Lucene103BlockTreeTermsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90CompoundReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90DocValuesProducer.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90NormsProducer.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90PointsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/compressing/FieldsIndexReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/compressing/Lucene90CompressingStoredFieldsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/compressing/Lucene90CompressingTermVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99FlatVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99FlatVectorsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99HnswVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99ScalarQuantizedVectorsReader.java
  lucene/core/src/java/org/apache/lucene/store/DefaultIOContext.java
  lucene/core/src/java/org/apache/lucene/store/FileDataHint.java
  lucene/core/src/java/org/apache/lucene/store/IOContext.java
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
  lucene/core/src/java/org/apache/lucene/store/MemorySegmentIndexInput.java
  lucene/core/src/test/org/apache/lucene/store/TestMMapDirectory.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/SerialIOCountingDirectory.java
  lucene/test-framework/src/test/org/apache/lucene/tests/store/TestSerializedIOCountingDirectory.java
Labels: module:core/store, module:core/codecs, module:test-framework

#14604 Add a preload hint for preloading mmap data on specific open calls
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99HnswVectorsReader.java
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
  lucene/core/src/java/org/apache/lucene/store/PreloadHint.java
  lucene/core/src/test/org/apache/lucene/store/TestMMapDirectory.java
Labels: module:core/store, module:core/codecs

#14618 Impl intoBitset and docIdRunEnd for wrappers
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/index/SingletonSortedNumericDocValues.java
  lucene/core/src/java/org/apache/lucene/index/SingletonSortedSetDocValues.java
Labels: module:core/index

#14552 Speed up flush of softdelete by intoBitset
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/IndexedDISI.java
  lucene/core/src/java/org/apache/lucene/index/ReadersAndUpdates.java
  lucene/core/src/java/org/apache/lucene/util/FixedBitSet.java
  lucene/core/src/test/org/apache/lucene/index/TestMixedDocValuesUpdates.java
Labels: module:core/index, module:core/codecs

#14622 Adding benchmark for histogram collector over point range query
  lucene/CHANGES.txt
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/HistogramCollectorBenchmark.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/PointTreeBulkCollector.java
Labels: module:sandbox

#14609 Overrides rewrite in PointRangeQuery to optimize AllDocs/NoDocs cases
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/PointRangeQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestLRUQueryCache.java
  lucene/core/src/test/org/apache/lucene/search/TestPointQueries.java
Labels: module:core/search

#14356 removing constructor with deprecated attribute 'onlyLongestMatch
  lucene/analysis/common/src/java/module-info.java
  lucene/analysis/common/src/java/org/apache/lucene/analysis/compound/DictionaryCompoundWordTokenFilter.java
  lucene/analysis/common/src/java/org/apache/lucene/analysis/compound/DictionaryCompoundWordTokenFilterFactory.java
  lucene/analysis/common/src/test/org/apache/lucene/analysis/compound/TestCompoundWordTokenFilter.java
Labels: module:analysis, Stale

#14641 Remove deprecations in expressions
  lucene/expressions/src/java/org/apache/lucene/expressions/js/JavascriptCompiler.java
  lucene/expressions/src/test/org/apache/lucene/expressions/js/TestCustomFunctions.java
Labels: module:expressions

#14635 Clean up FileTypeHint a bit.
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/Lucene103BlockTreeTermsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/compressing/Lucene90CompressingTermVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99HnswVectorsReader.java
  lucene/core/src/java/org/apache/lucene/store/FileTypeHint.java
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/SerialIOCountingDirectory.java
Labels: module:core/store, module:core/codecs, module:test-framework

#14634 Use the preload hint on completion fields and memory terms dictionaries.
  lucene/codecs/src/java/org/apache/lucene/codecs/memory/FSTTermsReader.java
  lucene/suggest/src/java/org/apache/lucene/search/suggest/document/CompletionFieldsProducer.java
Labels: module:suggest

#14640 Don't perform additional KNN querying after timeout, fixes #14639
  lucene/core/src/java/org/apache/lucene/search/AbstractKnnVectorQuery.java
Labels: module:core/search

#14633 Catch and re-throw Throwable rather than using a success boolean
  lucene/analysis/common/src/java/org/apache/lucene/analysis/hunspell/SortingStrategy.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene101/Lucene101PostingsFormat.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene101/Lucene101PostingsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene50/compressing/FieldsIndexReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene95/Lucene95HnswVectorsReader.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene99/Lucene99PostingsFormat.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene99/Lucene99PostingsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene102/Lucene102BinaryQuantizedVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene102/Lucene102BinaryQuantizedVectorsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/Lucene103BlockTreeTermsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/blocktree/Lucene103BlockTreeTermsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90CompoundReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90DocValuesConsumer.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90DocValuesProducer.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90NormsConsumer.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90NormsProducer.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90PointsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90PointsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/compressing/Lucene90CompressingStoredFieldsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/compressing/Lucene90CompressingStoredFieldsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/compressing/Lucene90CompressingTermVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/compressing/Lucene90CompressingTermVectorsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99FlatVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99FlatVectorsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99HnswVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99HnswVectorsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99ScalarQuantizedVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99ScalarQuantizedVectorsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/perfield/PerFieldDocValuesFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/perfield/PerFieldKnnVectorsFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/perfield/PerFieldPostingsFormat.java
  lucene/core/src/java/org/apache/lucene/store/Directory.java
  lucene/core/src/java/org/apache/lucene/util/IOUtils.java
  lucene/core/src/test/org/apache/lucene/util/TestIOUtils.java
Labels: module:core/store, module:analysis, module:core/codecs

#14665 Fix termination condition in TestStressNRTReplication.
  lucene/replicator/src/test/org/apache/lucene/replicator/nrt/TestStressNRTReplication.java
Labels: module:replicator, skip-changelog-check

#14493 Fix RegExp.toString generating invalid RE for CHAR and CHAR_RANGE
  lucene/core/src/java/org/apache/lucene/util/automaton/RegExp.java
  lucene/core/src/test/org/apache/lucene/util/automaton/TestRegExpParsing.java
  lucene/queries/src/test/org/apache/lucene/queries/intervals/TestIntervals.java
Labels: module:core/other, module:queries, Stale

#14680 Use per-segment K in filtered KNN fallback logic (fixes 14671)
  lucene/core/src/java/org/apache/lucene/search/AbstractKnnVectorQuery.java
Labels: module:core/search, skip-changelog-check

#14654 Override ValueSource.FromDoubleValuesSource.getSortField
  lucene/CHANGES.txt
  lucene/queries/src/java/org/apache/lucene/queries/function/ValueSource.java
  lucene/queries/src/test/org/apache/lucene/queries/function/TestValueSources.java
Labels: module:queries, affects-version:9.11.0

#14670 tests: decrease maximum number of threads in seq number test to avoid OOM
  lucene/core/src/test/org/apache/lucene/index/TestIndexingSequenceNumbers.java
Labels: module:core/index

#14443 Support adaptive refresh in Searcher Managers.
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/RefreshCommitSupplier.java
  lucene/core/src/java/org/apache/lucene/search/SearcherManager.java
  lucene/core/src/test/org/apache/lucene/search/TestSearcherManager.java
  lucene/facet/src/java/org/apache/lucene/facet/taxonomy/SearcherTaxonomyManager.java
  lucene/facet/src/test/org/apache/lucene/facet/taxonomy/TestSearcherTaxonomyManager.java
Labels: module:core/search, module:facet

#14685 Don't run changelog verifier on draft PRs
  .github/workflows/verify-changelog-and-set-milestone.yml
Labels: skip-changelog-check

#14676 Added toString() method to BytesRefBuilder
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/util/BytesRefBuilder.java
  lucene/core/src/test/org/apache/lucene/search/TestPointQueries.java
Labels: module:core/search

#14688 Fix patience knn queries to work with seeded knn queries
  lucene/core/src/java/org/apache/lucene/search/HnswQueueSaturationCollector.java
  lucene/core/src/java/org/apache/lucene/search/PatienceKnnVectorQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestPatienceByteVectorQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestPatienceFloatVectorQuery.java
Labels: module:core/search

#14675 Implement AssertingPostingsEnum#intoBitSet.
  lucene/test-framework/src/java/org/apache/lucene/tests/index/AssertingLeafReader.java
Labels: module:test-framework, skip-changelog-check

#14550 Remove DISIDocIdStream.
  lucene/core/src/java/org/apache/lucene/search/DISIDocIdStream.java
  lucene/core/src/java/org/apache/lucene/search/DenseConjunctionBulkScorer.java
  lucene/core/src/test/org/apache/lucene/search/TestDISIDocIdStream.java
Labels: module:core/search

#14452 Clean up how the test framework creates asserting scorables.
  lucene/core/src/test/org/apache/lucene/search/TestSloppyPhraseQuery.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingScorable.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingScorer.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingWeight.java
Labels: module:core/search, module:test-framework

#14686 Specify and test that IOContext is immutable
  lucene/core/src/java/org/apache/lucene/store/IOContext.java
  lucene/core/src/test/org/apache/lucene/store/TestIOContext.java
Labels: module:core/store, skip-changelog-check

#14695 Minor access modifier adjustment to a couple of lucene90 backward compat types
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene90/blocktree/CompressionAlgorithm.java
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene90/blocktree/Lucene90BlockTreeTermsReader.java
Labels: skip-changelog-check

#14703 Use a temporary repository location to download certain ecj versions ("drops")
  gradle/libs.versions.toml
  gradle/validation/ecj-lint.gradle
Labels: skip-changelog-check

#14701 Refactor main top-n bulk scorers to evaluate hits in a more term-at-a-time fashion.
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/BlockMaxConjunctionBulkScorer.java
  lucene/core/src/java/org/apache/lucene/search/DocAndScoreAccBuffer.java
  lucene/core/src/java/org/apache/lucene/search/MaxScoreBulkScorer.java
  lucene/core/src/java/org/apache/lucene/search/ScorerUtil.java
Labels: module:core/search

#14709 Speed up TermQuery
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/BatchScoreBulkScorer.java
  lucene/core/src/java/org/apache/lucene/search/ImpactsDISI.java
  lucene/core/src/java/org/apache/lucene/search/TermQuery.java
  lucene/core/src/java/org/apache/lucene/search/TermScorer.java
  lucene/core/src/test/org/apache/lucene/search/TestBooleanScorer.java
Labels: module:core/search

#14721 Only run the labeller on the main branch of the lucene repository
  .github/workflows/label-pull-request.yml
Labels: skip-changelog-check

#14626 Avoid unnecessary comparison for CELL_CROSSES_QUERY cases
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/PointRangeQuery.java
Labels: module:core/search

#14509 Use a hint to specify READONCE IOContext
  lucene/core/src/java/org/apache/lucene/store/IOContext.java
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
  lucene/core/src/java/org/apache/lucene/store/ReadOnceHint.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/MockDirectoryWrapper.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/LuceneTestCase.java
Labels: module:core/store, module:test-framework

#14667 Fix documentation regarding benchmark running
  lucene/CHANGES.txt
  lucene/benchmark/conf/createLineFile.alg
  lucene/benchmark/conf/extractWikipedia.alg
  lucene/benchmark/conf/indexLineFile.alg
  lucene/benchmark/conf/readContentSource.alg
  lucene/benchmark/conf/tokenize.alg
  lucene/benchmark/src/java/org/apache/lucene/benchmark/byTask/package-info.java
Labels: module:benchmark, Stale

#14732 Fix IndexSortSortedNumericDocValuesRangeQuery for int sort
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/IndexSortSortedNumericDocValuesRangeQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestIndexSortSortedNumericDocValuesRangeQuery.java
Labels: type:bug, module:core/search

#14727 Fix resource leak in loadMainDataFromFile
  lucene/CHANGES.txt
  lucene/analysis/smartcn/src/java/org/apache/lucene/analysis/cn/smart/hhmm/BigramDictionary.java
  lucene/analysis/smartcn/src/java/org/apache/lucene/analysis/cn/smart/hhmm/WordDictionary.java
  lucene/benchmark/src/java/org/apache/lucene/benchmark/byTask/feeds/DirContentSource.java
  lucene/benchmark/src/java/org/apache/lucene/benchmark/quality/trec/QueryDriver.java
Labels: module:analysis, module:benchmark

#14720 Cache high-order bits of hashcode to speed up BytesRefHash
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/util/BytesRefHash.java
Labels: module:core/other
