Repository apache/lucene, pull requests merged in 2025-03, with the labels that each got.

#14276 Optimize single value ranges for multivalue sortedset docvalues ranges.
  lucene/CHANGES.txt
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/DocValuesMultiRangeQuery.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/search/SortedSetDocValuesMultiRangeQuery.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/search/TestInetAddrSsDvMultiRangeQuery.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/search/TestSsDvMultiRangeQuery.java
Labels: module:sandbox

#14320 Fix DirectIOIndexInput seek to not read when position is within buffer
  lucene/CHANGES.txt
  lucene/misc/src/java/org/apache/lucene/misc/store/DirectIODirectory.java
  lucene/misc/src/test/org/apache/lucene/misc/store/TestDirectIODirectory.java
Labels: module:misc

#14328 Avoid using time zones that emit warnings (jdk25+)
  lucene/test-framework/src/java/org/apache/lucene/tests/util/LuceneTestCase.java
Labels: module:test-framework

#14329 Remove some randomness in testRandomWithFilter
  lucene/core/src/test/org/apache/lucene/search/BaseKnnVectorQueryTestCase.java
Labels: module:core/search

#14078 Binary vector format for flat and hnsw vectors
  lucene/core/src/java/module-info.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/package-info.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene102/BinarizedByteVectorValues.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene102/Lucene102BinaryFlatVectorsScorer.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene102/Lucene102BinaryQuantizedVectorsFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene102/Lucene102BinaryQuantizedVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene102/Lucene102BinaryQuantizedVectorsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene102/Lucene102HnswBinaryQuantizedVectorsFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene102/OffHeapBinarizedVectorValues.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene102/package-info.java
  lucene/core/src/java/org/apache/lucene/internal/vectorization/DefaultVectorUtilSupport.java
  lucene/core/src/java/org/apache/lucene/internal/vectorization/VectorUtilSupport.java
  lucene/core/src/java/org/apache/lucene/util/VectorUtil.java
  lucene/core/src/java/org/apache/lucene/util/quantization/OptimizedScalarQuantizer.java
  lucene/core/src/java21/org/apache/lucene/internal/vectorization/PanamaVectorUtilSupport.java
  lucene/core/src/resources/META-INF/services/org.apache.lucene.codecs.KnnVectorsFormat
  lucene/core/src/test/org/apache/lucene/codecs/lucene102/TestLucene102BinaryQuantizedVectorsFormat.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene102/TestLucene102HnswBinaryQuantizedVectorsFormat.java
  lucene/core/src/test/org/apache/lucene/internal/vectorization/BaseVectorizationTestCase.java
  lucene/core/src/test/org/apache/lucene/internal/vectorization/TestVectorUtilSupport.java
  lucene/core/src/test/org/apache/lucene/util/TestVectorUtil.java
  lucene/core/src/test/org/apache/lucene/util/quantization/TestOptimizedScalarQuantizer.java
Labels: module:core/codecs

#14337 Make single value BKDReader instances lighter
  lucene/core/src/java/org/apache/lucene/util/bkd/BKDReader.java
Labels: module:core/other

#14336 Extract leaf-slice calculation path from IndexSearch#slices
  lucene/core/src/java/org/apache/lucene/search/IndexSearcher.java
Labels: module:core/search

#14312 Make Lucene better at skipping long runs of matches.
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/document/SortedNumericDocValuesRangeQuery.java
  lucene/core/src/java/org/apache/lucene/search/ConstantScoreScorerSupplier.java
  lucene/core/src/java/org/apache/lucene/search/DenseConjunctionBulkScorer.java
  lucene/core/src/java/org/apache/lucene/search/DocIdSetIterator.java
  lucene/core/src/java/org/apache/lucene/search/MatchAllDocsQuery.java
  lucene/core/src/java/org/apache/lucene/search/MatchAllScorerSupplier.java
  lucene/core/src/java/org/apache/lucene/search/PointRangeQuery.java
  lucene/core/src/test/org/apache/lucene/search/ReadAheadMatchAllDocsQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestDenseConjunctionBulkScorer.java
  lucene/core/src/test/org/apache/lucene/search/TestDocIdSetIterator.java
  lucene/core/src/test/org/apache/lucene/search/TestSortOptimization.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingLeafCollector.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingScorer.java
Labels: module:core/search, module:test-framework

#14343 Speedup slice calculation in IndexSearcher
  lucene/core/src/java/org/apache/lucene/search/IndexSearcher.java
Labels: module:core/search

#14311 introduce new parameter onlyLongestMatchNoSubwords replacing onlyLongestMatch
  lucene/CHANGES.txt
  lucene/analysis/common/src/java/org/apache/lucene/analysis/compound/DictionaryCompoundWordTokenFilter.java
  lucene/analysis/common/src/java/org/apache/lucene/analysis/compound/DictionaryCompoundWordTokenFilterFactory.java
  lucene/analysis/common/src/test/org/apache/lucene/analysis/compound/TestCompoundWordTokenFilter.java
Labels: module:analysis

#14345 Speed up scoring conjunctions a bit.
  lucene/core/src/java/org/apache/lucene/search/BlockMaxConjunctionBulkScorer.java
Labels: module:core/search

#14338 deduplicate standard BKDConfig records
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/util/bkd/BKDConfig.java
  lucene/core/src/java/org/apache/lucene/util/bkd/BKDReader.java
  lucene/core/src/test/org/apache/lucene/util/bkd/TestBKDConfig.java
Labels: module:core/other

#14353 Improve PointRangeQuery's "inverse" optimization.
  lucene/core/src/java/org/apache/lucene/search/PointRangeQuery.java
Labels: module:core/search

#14301 Avoid unnecessary evaluations and skipping documents
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/document/LongDistanceFeatureQuery.java
Labels: module:core/other

#14203 Decode doc ids in BKD leaves with auto-vectorized loops
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90PointsFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90PointsWriter.java
  lucene/core/src/java/org/apache/lucene/util/bkd/BKDReader.java
  lucene/core/src/java/org/apache/lucene/util/bkd/BKDWriter.java
  lucene/core/src/java/org/apache/lucene/util/bkd/DocIdsWriter.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene90/TestLucene90PointsFormatV0.java
  lucene/core/src/test/org/apache/lucene/util/bkd/TestDocIdsWriter.java
Labels: module:core/codecs

#14363 Implement #docIDRunEnd() on `DisjunctionDISIApproximation`.
  lucene/core/src/java/org/apache/lucene/search/DisjunctionDISIApproximation.java
  lucene/core/src/test/org/apache/lucene/search/TestDisjunctionDISIApproximation.java
Labels: module:core/search

#14361 Introduce new encoding of BPV 21 for DocIdsWriter used in BKD Tree
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90PointsFormat.java
  lucene/core/src/java/org/apache/lucene/util/bkd/BKDWriter.java
  lucene/core/src/java/org/apache/lucene/util/bkd/DocIdsWriter.java
Labels: module:core/codecs

#14368 Align comments with upgraded postings format
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene912/Lucene912PostingsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/Lucene101PostingsReader.java
Labels: module:core/codecs

#14364 Completion FSTs to be loaded off-heap at all times
  lucene/CHANGES.txt
  lucene/suggest/src/java/org/apache/lucene/search/suggest/document/Completion101PostingsFormat.java
  lucene/suggest/src/java/org/apache/lucene/search/suggest/document/Completion50PostingsFormat.java
  lucene/suggest/src/java/org/apache/lucene/search/suggest/document/Completion84PostingsFormat.java
  lucene/suggest/src/java/org/apache/lucene/search/suggest/document/Completion90PostingsFormat.java
  lucene/suggest/src/java/org/apache/lucene/search/suggest/document/Completion912PostingsFormat.java
  lucene/suggest/src/java/org/apache/lucene/search/suggest/document/Completion99PostingsFormat.java
  lucene/suggest/src/java/org/apache/lucene/search/suggest/document/CompletionFieldsProducer.java
  lucene/suggest/src/java/org/apache/lucene/search/suggest/document/CompletionPostingsFormat.java
  lucene/suggest/src/java/org/apache/lucene/search/suggest/document/CompletionsTermsReader.java
  lucene/suggest/src/java/org/apache/lucene/search/suggest/document/NRTSuggester.java
  lucene/suggest/src/java/org/apache/lucene/search/suggest/document/NRTSuggesterBuilder.java
  lucene/suggest/src/test/org/apache/lucene/search/suggest/document/TestSuggestField.java
Labels: module:suggest

#14365 Implement bulk adding methods for dynamic pruning.
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/index/PointValues.java
  lucene/core/src/java/org/apache/lucene/search/comparators/NumericComparator.java
  lucene/core/src/java/org/apache/lucene/util/DocIdSetBuilder.java
Labels: module:core/index, module:core/search

#14331 Speedup merging of HNSW graphs
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99HnswVectorsWriter.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/ConcurrentHnswMerger.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/IncrementalHnswGraphMerger.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/MergingHnswGraphBuilder.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/UpdateGraphsUtils.java
  lucene/core/src/test/org/apache/lucene/util/hnsw/HnswGraphTestCase.java
Labels: module:core/codecs, module:core/hnsw

#14383 Use FixedLengthBytesRefArray in OneDimensionBKDWriter to hold split values
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/util/FixedLengthBytesRefArray.java
  lucene/core/src/java/org/apache/lucene/util/bkd/BKDWriter.java
  lucene/core/src/test/org/apache/lucene/util/TestFixedLengthBytesRefArray.java
Labels: module:core/other

#14366 Adjust equivalent min similarity HNSW exploration logic
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphSearcher.java
  lucene/core/src/test/org/apache/lucene/index/TestKnnGraph.java
Labels: module:core/index, module:core/hnsw

#14384 build: generate CaseFolding.java from "gradle regenerate"
  gradle/generation/icu.gradle
  gradle/generation/icu/GenerateCaseFolding.groovy
  lucene/core/src/generated/checksums/generateUnicodeProps.json
  lucene/core/src/java/org/apache/lucene/util/automaton/CaseFolding.java
  lucene/core/src/java/org/apache/lucene/util/automaton/RegExp.java
  lucene/core/src/test/org/apache/lucene/util/automaton/TestRegExp.java
Labels: module:core/other

#14386 upgrade icu dependency from 74.2 -> 77.1
  lucene/CHANGES.txt
  lucene/analysis/common/src/generated/checksums/generateUnicodeProps.json
  lucene/analysis/common/src/java/org/apache/lucene/analysis/util/UnicodeProps.java
  lucene/analysis/icu/src/data/uax29/Default.rbbi
  lucene/analysis/icu/src/data/utr30/BasicFoldings.txt
  lucene/analysis/icu/src/data/utr30/DiacriticFolding.txt
  lucene/analysis/icu/src/data/utr30/NativeDigitFolding.txt
  lucene/analysis/icu/src/data/utr30/nfc.txt
  lucene/analysis/icu/src/data/utr30/nfkc.txt
  lucene/analysis/icu/src/data/utr30/nfkc_cf.txt
  lucene/analysis/icu/src/generated/checksums/genRbbi.json
  lucene/analysis/icu/src/generated/checksums/genUtr30DataFiles.json
  lucene/analysis/icu/src/resources/org/apache/lucene/analysis/icu/segmentation/Default.brk
  lucene/analysis/icu/src/resources/org/apache/lucene/analysis/icu/segmentation/MyanmarSyllable.brk
  lucene/analysis/icu/src/resources/org/apache/lucene/analysis/icu/utr30.nrm
  lucene/core/src/generated/checksums/generateUnicodeProps.json
  lucene/core/src/java/org/apache/lucene/util/automaton/CaseFolding.java
  lucene/licenses/icu4j-74.2.jar.sha1
  lucene/licenses/icu4j-77.1.jar.sha1
  versions.lock
  versions.toml
Labels: module:analysis, module:core/other

#14388 bump antlr 4.11.1 -> 4.13.2
  gradle/generation/antlr.gradle
  lucene/CHANGES.txt
  lucene/expressions/src/generated/checksums/generateAntlr.json
  lucene/expressions/src/java/org/apache/lucene/expressions/js/JavascriptLexer.java
  lucene/expressions/src/java/org/apache/lucene/expressions/js/JavascriptParser.java
  lucene/licenses/antlr4-runtime-4.11.1.jar.sha1
  lucene/licenses/antlr4-runtime-4.13.2.jar.sha1
  versions.lock
  versions.toml
Labels: module:expressions

#14373 Optimize ParallelLeafReader to improve term vector fetching efficienc
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/index/ParallelLeafReader.java
Labels: module:core/index

#14392 Fix comment typo
  lucene/core/src/java/org/apache/lucene/index/TermsHashPerField.java
Labels: module:core/index

#14394 Fix potential file handle leak in Lucene102BinaryQuantizedVectorsWriter
  lucene/core/src/java/org/apache/lucene/codecs/lucene102/Lucene102BinaryQuantizedVectorsWriter.java
Labels: module:core/codecs

#14391 Make PointValues.intersect iterative instead of recursive
  lucene/core/src/java/org/apache/lucene/index/PointValues.java
Labels: module:core/index

#14390 Implement #docIDRunEnd() on PostingsEnum.
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/Lucene101PostingsReader.java
  lucene/core/src/java/org/apache/lucene/index/CheckIndex.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BasePostingsFormatTestCase.java
Labels: module:core/index, module:core/codecs, module:test-framework

#14377 Remove nonexistent PackedBlockLength reference in document
  lucene/backward-codecs/src/java/org/apache/lucene/backward_codecs/lucene912/Lucene912PostingsFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene101/Lucene101PostingsFormat.java
Labels: module:core/codecs

#14398 Fix TestHnswByteVectorGraph.testBuildingJoinSet
  lucene/core/src/test/org/apache/lucene/util/hnsw/HnswGraphTestCase.java
Labels: module:test-framework, module:core/hnsw

#14393 Pack file pointers when merging BKD trees
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/util/bkd/BKDWriter.java
Labels: module:core/other

#14304 Create vectorized versions of ScalarQuantizer.quantize and recalculateCorrectiveOffset
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/internal/vectorization/DefaultVectorUtilSupport.java
  lucene/core/src/java/org/apache/lucene/internal/vectorization/VectorUtilSupport.java
  lucene/core/src/java/org/apache/lucene/util/VectorUtil.java
  lucene/core/src/java/org/apache/lucene/util/quantization/ScalarQuantizer.java
  lucene/core/src/java21/org/apache/lucene/internal/vectorization/PanamaVectorUtilSupport.java
  lucene/core/src/test/org/apache/lucene/internal/vectorization/TestVectorUtilSupport.java
Labels: module:core/other

#14274 knn search - add tests to perform exact search when filtering does not return enough results
  lucene/core/src/java/org/apache/lucene/search/AbstractKnnVectorQuery.java
  lucene/core/src/test/org/apache/lucene/search/BaseKnnVectorQueryTestCase.java
  lucene/core/src/test/org/apache/lucene/search/TestKnnByteVectorQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestKnnFloatVectorQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestSeededKnnByteVectorQuery.java
  lucene/core/src/test/org/apache/lucene/search/TestSeededKnnFloatVectorQuery.java
Labels: module:core/search

#14403 Fix test delta in minMaxScalarQuantize
  lucene/core/src/test/org/apache/lucene/internal/vectorization/TestVectorUtilSupport.java
Labels: module:core/other

#14273 Speed up histogram collection in a similar way as disjunction counts.
  lucene/core/src/java/org/apache/lucene/search/BitSetDocIdStream.java
  lucene/core/src/java/org/apache/lucene/search/BooleanScorer.java
  lucene/core/src/java/org/apache/lucene/search/DISIDocIdStream.java
  lucene/core/src/java/org/apache/lucene/search/DenseConjunctionBulkScorer.java
  lucene/core/src/java/org/apache/lucene/search/DocIdStream.java
  lucene/core/src/java/org/apache/lucene/search/RangeDocIdStream.java
  lucene/core/src/java/org/apache/lucene/util/FixedBitSet.java
  lucene/core/src/test/org/apache/lucene/search/TestBitSetDocIdStream.java
  lucene/core/src/test/org/apache/lucene/search/TestDISIDocIdStream.java
  lucene/core/src/test/org/apache/lucene/search/TestRangeDocIdStream.java
  lucene/core/src/test/org/apache/lucene/util/TestFixedBitSet.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/facet/plain/histograms/HistogramCollector.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingLeafCollector.java
Labels: module:core/search, module:test-framework, module:sandbox

#14420 For hnsw merger, do not pop from empty heap
  lucene/core/src/java/org/apache/lucene/util/hnsw/UpdateGraphsUtils.java
Labels: module:core/hnsw

#14400 Make DenseConjunctionBulkScorer align scoring windows with #docIDRunEnd().
  lucene/core/src/java/org/apache/lucene/search/DenseConjunctionBulkScorer.java
  lucene/core/src/test/org/apache/lucene/search/TestDenseConjunctionBulkScorer.java
Labels: module:core/search

#14171 Rename `mergeThreadCount` in ConcurrentMergeScheduler to avoid clashing with method of the same name
  lucene/core/src/java/org/apache/lucene/index/ConcurrentMergeScheduler.java
Labels: Stale

#14412 Allow skip cache factor to be updated dynamically
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/LRUQueryCache.java
  lucene/core/src/test/org/apache/lucene/search/TestLRUQueryCache.java
Labels: module:core/search

#14418 quick exit on filter query matching no docs when rewriting knn query
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/AbstractKnnVectorQuery.java
Labels: module:core/search

#14401 Enable collectors to take advantage of pre-aggregated data.
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/DenseConjunctionBulkScorer.java
  lucene/core/src/java/org/apache/lucene/search/LeafCollector.java
  lucene/core/src/java/org/apache/lucene/search/RangeDocIdStream.java
  lucene/test-framework/src/java/org/apache/lucene/tests/search/AssertingLeafCollector.java
Labels: module:core/search, module:test-framework
