Repository apache/lucene, pull requests merged in 2025-09, with the labels that each got.

#15131 Restrict visibility of `TieredMergePolicy.score()`
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/index/TieredMergePolicy.java
Labels: module:core/index

#15150 Remove unused parameter in TopFieldCollecter.countHit()
  lucene/core/src/java/org/apache/lucene/search/TopFieldCollector.java
Labels: module:core/search, skip-changelog

#15157 Support JDK 25 in Panama Vectorization Provider
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/internal/vectorization/VectorizationProvider.java
Labels: module:core/other

#15149 Add bulk-retrieval API to NumericDocValues.
  lucene/CHANGES.txt
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/PolymorphismBenchmark.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/Lucene90NormsProducer.java
  lucene/core/src/java/org/apache/lucene/index/CheckIndex.java
  lucene/core/src/java/org/apache/lucene/index/NumericDocValues.java
  lucene/core/src/java/org/apache/lucene/search/TermScorer.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/AssertingLeafReader.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseNormsFormatTestCase.java
Labels: module:core/index, module:core/search, module:core/codecs, module:test-framework

#15156 Optimize a bit two more prefix sums.
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsReader.java
Labels: module:core/codecs, skip-changelog

#15165 Optimize PForUtil.encode() with histogram-based bit selection
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/PForUtil.java
  lucene/core/src/java/org/apache/lucene/util/packed/PackedInts.java
  lucene/core/src/test/org/apache/lucene/util/packed/TestPackedInts.java
Labels: module:core/codecs

#15199 Fix conflict between #14863 and #15169
  lucene/core/src/java/org/apache/lucene/codecs/lucene104/Lucene104ScalarQuantizedVectorScorer.java
Labels: module:core/codecs, skip-changelog

#15168 Refactor FirstPassGroupingCollector to improve readability. (#15136)
  lucene/grouping/src/java/org/apache/lucene/search/grouping/FirstPassGroupingCollector.java
Labels: module:grouping, skip-changelog

#15204 Fix the build on missing .git
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/gitinfo/GitInfoPlugin.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/gitinfo/GitInfoValueSource.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/licenses/CheckLicensesPlugin.java
Labels: skip-changelog

#15198 Vectorise expand8 in ForUtil using JDK Vector API
  lucene/CHANGES.txt
  lucene/core/src/generated/checksums/generateForUtil.json
  lucene/core/src/java/org/apache/lucene/codecs/lucene104/ForUtil.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene104/gen_ForUtil.py
  lucene/core/src/java/org/apache/lucene/internal/vectorization/DefaultVectorUtilSupport.java
  lucene/core/src/java/org/apache/lucene/internal/vectorization/VectorUtilSupport.java
  lucene/core/src/java/org/apache/lucene/util/VectorUtil.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/PanamaVectorUtilSupport.java
Labels: module:core/codecs

#15124 [QueryCache] Use RamUsageEstimator instead of defaulting to 1024 bytes for non-accountable query size
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/LRUQueryCache.java
  lucene/core/src/test/org/apache/lucene/search/TestLRUQueryCache.java
Labels: module:core/search

#15241 Renamed :lucene:build-tools into actual path in the project.
  build-tools/build-infra/src/main/groovy/lucene.documentation.render-javadoc.gradle
  build-tools/build-infra/src/main/groovy/lucene.publications.maven.gradle
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/java/ApplyForbiddenApisPlugin.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/java/JavaFolderLayoutPlugin.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/java/JavacConfigurationPlugin.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/misc/ConfigureLockFilePlugin.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/spotless/GoogleJavaFormatPlugin.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/spotless/GradleGroovyFormatPlugin.java
  settings.gradle
  versions.lock
Labels: skip-changelog, module:build-infra

#15245 Move away from project.javaexec
  build-tools/build-infra/src/main/groovy/lucene.regenerate.antlr.gradle
  build-tools/build-infra/src/main/groovy/lucene.regenerate.icu.gradle
  build-tools/build-infra/src/main/groovy/lucene.regenerate.javacc.gradle
  build-tools/build-infra/src/main/groovy/lucene.regenerate.jflex.gradle
  build-tools/build-infra/src/main/groovy/lucene.regenerate.kuromoji.gradle
  build-tools/build-infra/src/main/groovy/lucene.regenerate.nori.gradle
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/help/ExecOperationsProvider.java
  lucene/analysis/common/build.gradle
  lucene/analysis/opennlp/build.gradle
Labels: module:analysis, module:build-infra

#15248 Clarify error message in BackwardsCompatibilityTestBase and fix resource leak in existence check
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/BackwardsCompatibilityTestBase.java
Labels: type:bug, skip-changelog

#15187 Change instance checks for PerFieldKnnVectorsFormat.FieldsReader to a non-specific method
  lucene/CHANGES.txt
  lucene/backward-codecs/src/test/org/apache/lucene/backward_codecs/lucene99/Lucene99ScalarQuantizedVectorsWriter.java
  lucene/backward-codecs/src/test/org/apache/lucene/backward_codecs/lucene99/TestLucene99HnswQuantizedVectorsFormat.java
  lucene/backward-codecs/src/test/org/apache/lucene/backward_codecs/lucene99/TestLucene99HnswScalarQuantizedVectorsFormat.java
  lucene/backward-codecs/src/test/org/apache/lucene/backward_codecs/lucene99/TestLucene99ScalarQuantizedVectorScorer.java
  lucene/backward-codecs/src/test/org/apache/lucene/backward_codecs/lucene99/TestLucene99ScalarQuantizedVectorsFormat.java
  lucene/backward-codecs/src/test/org/apache/lucene/backward_index/TestInt7HnswBackwardsCompatibility.java
  lucene/core/src/java/org/apache/lucene/codecs/KnnVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene102/Lucene102BinaryQuantizedVectorsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene104/Lucene104ScalarQuantizedVectorsWriter.java
  lucene/core/src/java/org/apache/lucene/codecs/perfield/PerFieldKnnVectorsFormat.java
  lucene/core/src/java/org/apache/lucene/index/CheckIndex.java
  lucene/core/src/java/org/apache/lucene/index/SlowCodecReaderWrapper.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswUtil.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene102/TestLucene102HnswBinaryQuantizedVectorsFormat.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene104/TestLucene104HnswScalarQuantizedVectorsFormat.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene99/TestLucene99HnswVectorsFormat.java
  lucene/core/src/test/org/apache/lucene/index/TestKnnGraph.java
  lucene/core/src/test/org/apache/lucene/util/hnsw/HnswGraphTestCase.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseKnnVectorsFormatTestCase.java
Labels: module:core/index, module:core/codecs, module:test-framework, module:core/hnsw

#15265 Enable branch and tag protection.
  .asf.yaml
Labels: skip-changelog
