Repository apache/lucene, pull requests merged in 2025-08, with the labels that each got.

#15025 flush segments in addIndexes, not in addIndexesReaderMerge; fixes #14994
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/index/IndexWriter.java
Labels: module:core/index

#15032 Backport: Remove full integrity check from SortingStoredFieldsConsumer
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/index/SortingStoredFieldsConsumer.java
Labels: module:core/index

#14932 GroupVarInt Encoding Implementation for HNSW Graphs
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99HnswVectorsFormat.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99HnswVectorsReader.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99HnswVectorsWriter.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene99/TestLucene99HnswVectorsFormatV0.java
Labels: module:core/codecs

#15036 Add minor utility method VectorUtil::normalizeToUnitInterval
  lucene/core/src/java/org/apache/lucene/index/VectorSimilarityFunction.java
  lucene/core/src/java/org/apache/lucene/util/VectorUtil.java
  lucene/core/src/test/org/apache/lucene/util/TestVectorUtil.java
Labels: module:core/index, skip-changelog

#15035 Add some basic tests and infra to allow to write small sanity tests for benchmarks
  lucene/benchmark-jmh/build.gradle
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/VectorScorerBenchmark.java
  lucene/benchmark-jmh/src/test/org/apache/lucene/benchmark/jmh/TestVectorScorerBenchmark.java
  versions.lock
Labels: module:benchmark, skip-changelog, module:build-infra

#15040 Change default ReadAdvice from RANDOM to NORMAL
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java
  lucene/core/src/java/org/apache/lucene/util/Constants.java
  lucene/core/src/test/org/apache/lucene/store/TestMMapDirectory.java
Labels: module:core/store

#15015 MultiIndexMergeScheduler: a production multi-tenant merge scheduler
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/index/ConcurrentMergeScheduler.java
  lucene/core/src/java/org/apache/lucene/index/MultiIndexMergeScheduler.java
  lucene/core/src/test/org/apache/lucene/index/TestMultiIndexMergeScheduler.java
Labels: module:core/index

#15004 Wraps all iterator with likelyImpactsEnum under BlockMaxConjunctionBulkScorer
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/BlockMaxConjunctionBulkScorer.java
Labels: module:core/search

#15049 Remove more merge instance asserts from AssertingKnnVectorsFormat
  lucene/test-framework/src/java/org/apache/lucene/tests/codecs/asserting/AssertingKnnVectorsFormat.java
Labels: module:test-framework, skip-changelog

#14934 Refactor Faiss-based vector format for easier backport
  lucene/sandbox/src/java/org/apache/lucene/sandbox/codecs/faiss/FaissKnnVectorsFormat.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/codecs/faiss/FaissKnnVectorsReader.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/codecs/faiss/FaissKnnVectorsWriter.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/codecs/faiss/FaissLibrary.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/codecs/faiss/FaissLibraryNativeImpl.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/codecs/faiss/FaissNativeWrapper.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/codecs/faiss/LibFaissC.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/codecs/faiss/package-info.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/codecs/faiss/TestFaissKnnVectorsFormat.java
Labels: module:sandbox

#15062 Rework off-heap float32 bulk scoring to reduce garbage creation
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/VectorScorerFloat32Benchmark.java
  lucene/benchmark-jmh/src/test/org/apache/lucene/benchmark/jmh/TestVectorScorerFloat32Benchmark.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/Lucene99MemorySegmentFloatVectorScorer.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/Lucene99MemorySegmentFloatVectorScorerSupplier.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/MemorySegmentBulkVectorOps.java
  lucene/core/src/test/org/apache/lucene/codecs/hnsw/TestFlatVectorScorer.java
Labels: module:core/codecs, skip-changelog

#15066 Reduce memory needed for multi-vector tests
  lucene/core/src/test/org/apache/lucene/search/TestLateInteractionFloatValuesSource.java
  lucene/core/src/test/org/apache/lucene/search/TestLateInteractionRescorer.java
Labels: module:core/search, skip-changelog

#15037 Add remaining bulk float32 off-heap scoring similarities
  lucene/CHANGES.txt
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/VectorScorerFloat32Benchmark.java
  lucene/benchmark-jmh/src/test/org/apache/lucene/benchmark/jmh/TestVectorScorerFloat32Benchmark.java
  lucene/core/src/java/org/apache/lucene/index/VectorSimilarityFunction.java
  lucene/core/src/java/org/apache/lucene/util/VectorUtil.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/Lucene99MemorySegmentFlatVectorsScorer.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/Lucene99MemorySegmentFloatVectorScorer.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/Lucene99MemorySegmentFloatVectorScorerSupplier.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/MemorySegmentBulkVectorOps.java
Labels: module:core/index

#15065 Speed up vint/vlong decoding
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/VIntBenchmark.java
  lucene/core/src/java/org/apache/lucene/store/DataInput.java
Labels: module:core/store

#15075 Fix assertion in testSearchWithVisitedLimit
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99HnswVectorsReader.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseKnnVectorsFormatTestCase.java
Labels: module:core/codecs, module:test-framework

#15074 Use READONCE to read segment infos
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/index/SegmentInfos.java
Labels: module:core/index

#15078 Reduce the default RefCountedSharedArena.DEFAULT_MAX_PERMITS to 64 (from 1024)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/store/RefCountedSharedArena.java
Labels: module:core/store

#15083 Rewrite SortedNumericDocValuesRangeQuery using DocValuesSkippers
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/document/SortedNumericDocValuesRangeQuery.java
  lucene/core/src/java/org/apache/lucene/index/DocValuesSkipper.java
  lucene/core/src/test/org/apache/lucene/search/TestDocValuesQueries.java
Labels: module:core/index, module:core/search

#15092 Hunspell suggestion: fix bug where outer isWorseCheck was ignored in `GeneratingSuggester`
  lucene/CHANGES.txt
  lucene/analysis/common/src/java/org/apache/lucene/analysis/hunspell/GeneratingSuggester.java
Labels: module:analysis

#15076 [bug] Fix Locale usage during lower-casing
  lucene/queryparser/src/java/org/apache/lucene/queryparser/xml/builders/PointRangeQueryBuilder.java
Labels: module:queryparser

#15101 Use BulkSimScorer on MultiNormsLeafSimScorer
  lucene/core/src/java/org/apache/lucene/search/MultiNormsLeafSimScorer.java
Labels: module:core/search, skip-changelog

#15104 Fix GroupVIntBenchmark and some tests to actually use DataInput#readGroupVInt; deprecate/remove obsolete long[] code
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/GroupVIntBenchmark.java
  lucene/core/src/java/org/apache/lucene/store/DataOutput.java
  lucene/core/src/java/org/apache/lucene/util/GroupVIntUtil.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/BaseChunkedDirectoryTestCase.java
  lucene/test-framework/src/java/org/apache/lucene/tests/store/BaseDirectoryTestCase.java
Labels: module:core/store, module:test-framework, skip-changelog

#15121 Fix incorrect attribute comment in StandardTokenizer
  lucene/core/src/java/org/apache/lucene/analysis/standard/StandardTokenizer.java
Labels: module:core/other

#15063 Add optimistic collection to DiversifyingNearestChildren* vector queries
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/AbstractKnnVectorQuery.java
  lucene/core/src/java/org/apache/lucene/search/HnswQueueSaturationCollector.java
  lucene/core/src/java/org/apache/lucene/search/PatienceKnnVectorQuery.java
  lucene/core/src/java/org/apache/lucene/search/knn/KnnCollectorManager.java
  lucene/core/src/java/org/apache/lucene/search/knn/KnnSearchStrategy.java
  lucene/core/src/java/org/apache/lucene/search/knn/TopKnnCollectorManager.java
  lucene/join/src/java/org/apache/lucene/search/join/DiversifyingNearestChildrenKnnCollectorManager.java
Labels: module:core/search, module:join

#15116 Rewrite of the GroupVInt optimization without lambdas, varhandles and no code in subclasses
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/GroupVIntBenchmark.java
  lucene/core/src/java/org/apache/lucene/store/BufferedIndexInput.java
  lucene/core/src/java/org/apache/lucene/store/ByteBuffersDataInput.java
  lucene/core/src/java/org/apache/lucene/store/ByteBuffersIndexInput.java
  lucene/core/src/java/org/apache/lucene/store/DataInput.java
  lucene/core/src/java/org/apache/lucene/store/MemorySegmentIndexInput.java
  lucene/core/src/java/org/apache/lucene/util/GroupVIntUtil.java
Labels: module:core/store, legacy-jira-label:performance

#14974 Tessellator should fail if it cannot process a hole
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/geo/Tessellator.java
  lucene/core/src/java/org/apache/lucene/geo/XYPolygon.java
  lucene/core/src/test/org/apache/lucene/document/TestShapeDocValues.java
  lucene/core/src/test/org/apache/lucene/geo/TestTessellator.java
Labels: module:core/other, Stale

#15045 Use FixedBitSet#cardinality for counting liveDocs in CheckIndex
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/index/CheckIndex.java
Labels: module:core/index

#15137 feat: implement asBulkSimScorer on FeatureFields's SimScorers
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/document/FeatureField.java
  lucene/core/src/test/org/apache/lucene/document/TestFeatureField.java
Labels: module:core/other
