Repository apache/lucene, pull requests merged in 2025-07, with the labels that each got.

#14880 Null exception occured when click on Luke desktop browser button
  lucene/luke/src/java/org/apache/lucene/luke/app/desktop/components/dialog/menubar/OpenIndexDialogFactory.java
Labels: module:luke

#14895 [10.x] Adjust base knn format assert assertOffHeapByteSize (#14797)
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseKnnVectorsFormatTestCase.java
Labels: skip-changelog

#14873 Make PriorityQueue use LessThan interface by default
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/index/MultiTermsEnum.java
  lucene/core/src/java/org/apache/lucene/search/FieldValueHitQueue.java
  lucene/core/src/java/org/apache/lucene/search/HitQueue.java
  lucene/core/src/java/org/apache/lucene/search/TopDocs.java
  lucene/core/src/java/org/apache/lucene/search/TopFieldCollector.java
  lucene/core/src/java/org/apache/lucene/search/TopFieldCollectorManager.java
  lucene/core/src/java/org/apache/lucene/util/PriorityQueue.java
  lucene/core/src/test/org/apache/lucene/util/TestPriorityQueue.java
  lucene/facet/src/java/org/apache/lucene/facet/TopOrdAndNumberQueue.java
  lucene/suggest/src/java/org/apache/lucene/search/spell/SuggestWordQueue.java
Labels: module:core/index, module:core/search, module:suggest, module:facet

#14847 Enable Faiss-based vector format to index larger number of vectors in a single segment
  lucene/CHANGES.txt
  lucene/sandbox/src/java/org/apache/lucene/sandbox/codecs/faiss/LibFaissC.java
  lucene/sandbox/src/test/org/apache/lucene/sandbox/codecs/faiss/TestFaissKnnVectorsFormat.java
Labels: module:sandbox

#14897 Moved lucene.java.tests-and-randomization.gradle and more scripts to java
  build-tools/build-infra/src/main/groovy/lucene.documentation.gradle
  build-tools/build-infra/src/main/groovy/lucene.documentation.markdown.gradle
  build-tools/build-infra/src/main/groovy/lucene.documentation.render-javadoc.gradle
  build-tools/build-infra/src/main/groovy/lucene.java-projects.conventions.gradle
  build-tools/build-infra/src/main/groovy/lucene.java.alternative-jdk-support.gradle
  build-tools/build-infra/src/main/groovy/lucene.java.beasting.gradle
  build-tools/build-infra/src/main/groovy/lucene.java.show-failed-tests-at-end.gradle
  build-tools/build-infra/src/main/groovy/lucene.java.tests-and-randomization.gradle
  build-tools/build-infra/src/main/groovy/lucene.publications.maven-to-nexus-releases.gradle
  build-tools/build-infra/src/main/groovy/lucene.publications.maven-to-nexus-snapshots.gradle
  build-tools/build-infra/src/main/groovy/lucene.root-project.setup.gradle
  build-tools/build-infra/src/main/groovy/lucene.validation.error-prone.gradle
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/LuceneGradlePlugin.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/globals/LuceneBuildGlobalsExtension.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/globals/RegisterBuildGlobalsPlugin.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/help/BuildOptionGroupsPlugin.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/java/AlternativeJdkSupportPlugin.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/java/ErrorReportingTestListener.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/java/PrefixedWriter.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/java/RenderJavadocTaskBase.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/java/SpillWriter.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/java/StdOutTeeWriter.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/java/TestsAndRandomizationPlugin.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/java/TestsBeastingPlugin.java
  build.gradle
  lucene/luke/build.gradle
Labels: module:luke, skip-changelog

#14907 build: enable more of javac 24's lints, fix some issues
  build-tools/build-infra/src/main/groovy/lucene.regenerate.javacc.gradle
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/java/JavacConfigurationPlugin.java
  lucene/analysis/common/src/java/org/apache/lucene/analysis/compound/hyphenation/HyphenationTree.java
  lucene/analysis/common/src/java/org/apache/lucene/analysis/compound/hyphenation/TernaryTree.java
  lucene/analysis/common/src/java/org/apache/lucene/analysis/de/GermanAnalyzer.java
  lucene/analysis/common/src/java/org/apache/lucene/analysis/en/KStemmer.java
  lucene/core/src/java/org/apache/lucene/store/PosixNativeAccess.java
  lucene/memory/src/java/org/apache/lucene/index/memory/MemoryIndex.java
  lucene/queryparser/src/generated/checksums/javaccParserClassic.json
  lucene/queryparser/src/generated/checksums/javaccParserFlexible.json
  lucene/queryparser/src/generated/checksums/javaccParserSurround.json
  lucene/queryparser/src/java/org/apache/lucene/queryparser/classic/QueryParserTokenManager.java
  lucene/queryparser/src/java/org/apache/lucene/queryparser/flexible/standard/parser/StandardSyntaxParserTokenManager.java
  lucene/queryparser/src/java/org/apache/lucene/queryparser/surround/parser/QueryParserTokenManager.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/codecs/faiss/FaissKnnVectorsReader.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/codecs/faiss/FaissKnnVectorsWriter.java
  lucene/sandbox/src/java/org/apache/lucene/sandbox/codecs/faiss/LibFaissC.java
  lucene/spatial3d/src/java/org/apache/lucene/spatial3d/geom/PlanetModel.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/LuceneTestCase.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/automaton/AutomatonTestUtil.java
Labels: module:core/store, module:analysis, module:queryparser, module:test-framework, module:sandbox, module:spatial3d

#14909 Rename the generated apijar files to -api.jar
  build-tools/build-infra/src/main/groovy/lucene.java.core.mrjar.gradle
  build-tools/build-infra/src/main/groovy/lucene.regenerate.extract-jdk-apis.gradle
  lucene/core/src/generated/jdk/README.md
  lucene/core/src/generated/jdk/jdk24-api.jar
Labels: module:core/other, skip-changelog

#14906 Use branchless way to speedup filterCompetitiveHits
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/ScorerUtil.java
Labels: module:core/search

#14914 Bring back path linting
  build-tools/build-infra/src/main/groovy/lucene.java.modules.gradle
  build-tools/build-infra/src/main/groovy/lucene.validation.spotless-groovy.gradle
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/java/JavacConfigurationPlugin.java
Labels: skip-changelog

#14898 Fix typo in Circle2D.java
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/geo/Circle2D.java
Labels: module:core/other

#14908 Fixes #14899 Deprecate MergeSpecification#segString(Directory)
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/index/MergePolicy.java
Labels: module:core/index

#14729 Support for Re-Ranking Queries using Late Interaction Model Multi-Vectors.
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/document/LateInteractionField.java
  lucene/core/src/java/org/apache/lucene/search/LateInteractionFloatValuesSource.java
  lucene/core/src/java/org/apache/lucene/search/LateInteractionRescorer.java
  lucene/core/src/java/org/apache/lucene/search/MultiVectorSimilarity.java
  lucene/core/src/java/org/apache/lucene/search/RescoreTopNQuery.java
  lucene/core/src/test/org/apache/lucene/document/TestLateInteractionField.java
  lucene/core/src/test/org/apache/lucene/search/TestLateInteractionFloatValuesSource.java
  lucene/core/src/test/org/apache/lucene/search/TestLateInteractionRescorer.java
  lucene/core/src/test/org/apache/lucene/search/TestRescoreTopNQuery.java
Labels: module:core/search

#14926 Add eclint instructions to formatting.txt and 'eclint -fix' to run as part of tidy
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/eclint/EditorConfigLintPlugin.java
  help/formatting.txt
Labels: skip-changelog

#14839 assertDocValuesEquals should support sparse sorted doc_values
  lucene/CHANGES.txt
  lucene/core/src/test/org/apache/lucene/index/TestDuelingCodecs.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/LuceneTestCase.java
Labels: module:core/index, module:test-framework

#14929 Fix TestLateInteractionField.testInputValidation
  lucene/core/src/test/org/apache/lucene/document/TestLateInteractionField.java
Labels: module:core/other

#14924 build: move forbidden-apis and more to java
  build-tools/build-infra-shadow/build.gradle
  build-tools/build-infra/build.gradle
  build-tools/build-infra/src/main/groovy/lucene.java-projects.conventions.gradle
  build-tools/build-infra/src/main/groovy/lucene.validation.forbidden-apis.gradle
  build-tools/build-infra/src/main/groovy/lucene.validation.spotless-groovy.gradle
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/SuppressForbidden.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/WrapperDownloader.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/globals/RegisterBuildGlobalsPlugin.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/java/ApplyForbiddenApisPlugin.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/java/ErrorReportingTestListener.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/java/JavaProjectConventionsPlugin.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/java/TestsBeastingPlugin.java
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/java/TestsSummaryPlugin.java
  gradle/validation/forbidden-apis/all/com.carrotsearch.randomizedtesting.randomizedtesting-runner.txt
  gradle/validation/forbidden-apis/all/commons-codec.commons-codec.txt
  gradle/validation/forbidden-apis/all/defaults.txt
  gradle/validation/forbidden-apis/all/junit.junit.txt
  gradle/validation/forbidden-apis/main-build-infra/defaults.txt
  gradle/validation/forbidden-apis/main/defaults.txt
  gradle/validation/forbidden-apis/non-standard/logging.txt
  gradle/validation/forbidden-apis/test/defaults.txt
  help/forbiddenApis.txt
  lucene/analysis/common/src/tools/java/org/apache/lucene/analysis/standard/GenerateJflexTLDMacros.java
  lucene/analysis/icu/src/tools/java/org/apache/lucene/analysis/icu/GenerateUTR30DataFiles.java
  lucene/analysis/icu/src/tools/java/org/apache/lucene/analysis/icu/RBBIRuleCompiler.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/PanamaVectorizationProvider.java
  lucene/spatial-extras/src/test/org/apache/lucene/spatial/StrategyTestCase.java
  lucene/spatial-extras/src/test/org/apache/lucene/spatial/prefix/TestHeatmapFacetCounter.java
  lucene/spatial-extras/src/test/org/apache/lucene/spatial/prefix/TestRandomSpatialOpFuzzyPrefixTree.java
Labels: module:analysis, module:core/other, module:spatial, skip-changelog

#14859 chore(java): fix typos
  lucene/highlighter/src/test/org/apache/lucene/search/vectorhighlight/TestFastVectorHighlighter.java
Labels: module:highlighter, Stale

#14935 Optimize bitset to array
  lucene/CHANGES.txt
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/BitsetToArrayBenchmark.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/BitSetUtil.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/Lucene103PostingsReader.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene103/TestBitSetUtil.java
Labels: module:core/codecs

#14942 Fail 'gradle check' on unchecked slow vector api feature usage (by using forbiddenapis)
  .gitignore
  build-tools/build-infra/src/main/groovy/lucene.java.core.mrjar.gradle
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/java/ApplyForbiddenApisPlugin.java
  gradle/validation/ast-grep/rules/java-patterns.yml
  gradle/validation/ast-grep/tests/java-patterns.yml
  gradle/validation/forbidden-apis/non-standard/incubator-vector.txt
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/PanamaVectorUtilSupport.java
Labels: module:core/other, legacy-jira-label:improvement, skip-changelog

#14945 Correct spelling mistakes
  lucene/highlighter/src/test/org/apache/lucene/search/vectorhighlight/TestFastVectorHighlighter.java
Labels: module:highlighter, skip-changelog

#14922 Updating Dense#intoBitSet to properly set upTo if it exceeds bitset size
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/codecs/lucene90/IndexedDISI.java
  lucene/core/src/test/org/apache/lucene/codecs/lucene90/TestIndexedDISI.java
Labels: module:core/codecs

#14936 Knn dont filter match all
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/AbstractKnnVectorQuery.java
  lucene/core/src/test/org/apache/lucene/search/BaseKnnVectorQueryTestCase.java
  lucene/test-framework/src/java/org/apache/lucene/tests/index/BaseKnnVectorsFormatTestCase.java
Labels: module:core/search, module:test-framework

#14896 Vectorize `filterCompetitiveHits`
  gradle/validation/forbidden-apis/non-standard/incubator-vector.txt
  lucene/CHANGES.txt
  lucene/benchmark-jmh/src/java/org/apache/lucene/benchmark/jmh/CompetitiveBenchmark.java
  lucene/core/src/java/org/apache/lucene/internal/vectorization/DefaultVectorUtilSupport.java
  lucene/core/src/java/org/apache/lucene/internal/vectorization/VectorUtilSupport.java
  lucene/core/src/java/org/apache/lucene/search/ScorerUtil.java
  lucene/core/src/java/org/apache/lucene/util/Constants.java
  lucene/core/src/java/org/apache/lucene/util/VectorUtil.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/PanamaVectorConstants.java
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/PanamaVectorUtilSupport.java
  lucene/core/src/test/org/apache/lucene/util/TestVectorUtil.java
Labels: module:core/search

#14806 Utilize `docIdRunEnd` on `ReqExclBulkScorer`
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/ReqExclBulkScorer.java
Labels: module:core/search, Stale

#14966 ecj: enable possibleAccidentalBooleanAssignment and fix issues
  gradle/validation/ecj-lint/ecj.javadocs.prefs
  lucene/core/src/java/org/apache/lucene/index/ConcurrentApproximatePriorityQueue.java
  lucene/spatial-extras/src/java/org/apache/lucene/spatial/bbox/BBoxStrategy.java
  lucene/spatial-extras/src/java/org/apache/lucene/spatial/vector/PointVectorStrategy.java
  lucene/test-framework/src/java/org/apache/lucene/tests/util/LuceneTestCase.java
Labels: module:core/index, module:spatial, module:test-framework

#14917 build: check vectors code with error-prone
  build-tools/build-infra/src/main/groovy/lucene.validation.error-prone.gradle
  lucene/core/src/java24/org/apache/lucene/internal/vectorization/MemorySegmentPostingDecodingUtil.java
Labels: module:core/other, skip-changelog, module:build-infra

#14979 Simplify ForDeltaUtil's prefix sum.
  lucene/core/src/generated/checksums/generateForDeltaUtil.json
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/ForDeltaUtil.java
  lucene/core/src/java/org/apache/lucene/codecs/lucene103/gen_ForDeltaUtil.py
Labels: module:core/codecs, skip-changelog

#14988 Move isolated-inheritdoc detection to an ast-grep rule
  build-tools/build-infra/src/main/groovy/lucene.validation.source-patterns.gradle
  gradle/validation/ast-grep/rules/java-patterns.yml
  gradle/validation/ast-grep/tests/java-patterns.yml
Labels: module:build-infra

#14990 misc: fix typos
  build-tools/build-infra/src/main/java/org/apache/lucene/gradle/plugins/java/TestsAndRandomizationPlugin.java
  build-tools/missing-doclet/src/java/org/apache/lucene/missingdoclet/MissingDoclet.java
  dev-docs/file-formats.md
  dev-tools/scripts/pyproject.toml
  dev-tools/scripts/releaseWizard.yaml
  help/regeneration.txt
  lucene/analysis/stempel/src/test/org/egothor/stemmer/TestStemmer.java
Labels: module:analysis, module:build-infra

#14991 Refactor for loop at PointRangeQuery hot path
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/search/PointRangeQuery.java
  lucene/core/src/java/org/apache/lucene/util/DocIdSetBuilder.java
Labels: module:core/search

#14978 Add a bulk scoring interface to RandomVectorScorer
  lucene/CHANGES.txt
  lucene/core/src/java/org/apache/lucene/codecs/lucene99/Lucene99HnswVectorsReader.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/HnswGraphSearcher.java
  lucene/core/src/java/org/apache/lucene/util/hnsw/RandomVectorScorer.java
  lucene/core/src/test/org/apache/lucene/codecs/hnsw/TestFlatVectorScorer.java
Labels: module:core/codecs, module:core/hnsw
